{% extends "base.html" %}

{% block content %}
{% if not search %}
<div class="main-new">
    <div class="results">
        <h1>Результаты</h1>
        <ul>
            {% for s in subjects %}
                <li><a href="{{s['info'].id}}">{{ s['info'].name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="news">
        <h1>
            <a>Новости {{ iti.name_on_page }}</a>
        </h1>
        {% for message in messages[::-1] %}
        <div class="message">
            <div class="container">
                <div class="">
                    <span class="message-title">
                        {{ message.title }}
                    </span><br>
                    <span class="message-date">
                        {% if not message.priority %}{{ moment(message.get_time()).format('Y-MM-D HH:mm') }}{% endif %}
                    </span>
                </div>
                <div class="col-12 message-content js-html-content">
                    {{ message.content }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        <br>
    </ul>
</div>
</div>
<div class="main-new">
    <div class="iti_list">
        <div class="col-auto">
            {% if not search %}
            <h1 id="page_end">Текущие ИТИ</h1>
                {% for i in itis %}{% if not i.block %}
                <a href="/{{ i.id }}">{{ i.name_in_list }}</a><br>
                {% endif %}{% endfor %}
            <br>
            {% endif %}
        </div>
    </div>
    <div class="iti_list">
        <h1>Все ИТИ</h1>
        {% for i in itis %}
            <a href="/{{ i.id }}">{{ i.name_in_list }}</a><br>
        {% endfor %}
    </div>
</div>
{% else %}

<center>
    <h2>{{ search }}</h2>
    {% if empty %} По вашему запросу ничего не найдено :(
    {% else %}
    <div class="col">
        <table border="1">
            <tr>
                <td width="10%">Предмет</td>
                <td width="10%">Место</td>
                <td width="10%">Баллы</td>
                <td width="10%">Балл в рейтинг</td>
            </tr>
            {% for data in searched_data %}
            <tr>
                {% for subdata in data %}
                <td>{{ subdata }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><center>Сумма*</center></td>
                <td>{{ summ }}</td>
            </tr>
        </table>
        <br>
        <p>* В итоговый рейтинг идёт только {{ iti.ind_res_per_day }} лучших результата за каждый день.</p>
    </div>
    {% endif %}
</center>
{% endif %}

<script>initHTMLContent()</script>
{% endblock %}
