
# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
htmlcov

# builds
dist
dist-ssr
backend/docs/_build/

# virtual environment, chaches and other
node_modules
*.local
.coverage
**/__pycache__/**
.venv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
