repos:
  # Python code style & format
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
  
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  # - repo: local
  #   hooks:
  #     - id: sphinx-build
  #       name: "Build sphinx docs"
  #       entry: python
  #       args: ["-m", "sphinx", "-b", "html", "backend/docs", "backend/docs/_build/html"]
  #       language: system
