aniso8601==9.0.1
Babel==2.14.0
blinker==1.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docxcompose==1.4.0
docxtpl==0.16.7
Flask==3.0.2
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Moment==1.0.5
Flask-RESTful==0.3.10
greenlet==3.0.3
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
lxml==5.1.0
MarkupSafe==2.1.5
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pillow==10.4.0
pyTelegramBotAPI==4.16.1
python-barcode==0.15.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.27
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
XlsxWriter==3.2.0
