aniso8601==9.0.1
babel==2.16.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
docxcompose==1.4.0
docxtpl==0.18.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Moment==1.0.6
Flask-RESTful==0.3.10
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
numpy==2.0.2
packaging==24.1
pandas==2.2.3
pyTelegramBotAPI==4.23.0
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.6
XlsxWriter==3.2.0
