{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2019</a>
/
Групповые туры
{% endblock %}

{% block content %}
<center>
    <h1>Групповые туры</h1>
    <table border="1" class="td-1">
        <tr>
            <td width="15%">Команда</td>
            <td width="8%">Карус.</td>
            <td width="8%">Пар. анг.</td>
            <td width="8%">Пар. лит.</td>
            <td width="8%">Изобр.</td>
            <td width="8%">Е-н. бои</td>
            <td width="8%">Ком. бои</td>
        </tr>
        <tr><td>Апельсин</td><td>300</td><td class="p2">700</td><td>500</td><td class="p2">700</td><td>200</td><td class="p3">600</td></tr>
        <tr><td>Бурлаки</td><td class="p2">700</td><td>200</td><td>200</td><td>300</td><td>300</td><td>450</td></tr>
        <tr><td>Ва-Банк</td><td class="p3">600</td><td>300</td><td>300</td><td class="p1">800</td><td>500</td><td>300</td></tr>
        <tr><td>Грамотеи</td><td>500</td><td>400</td><td class="p3">600</td><td>400</td><td class="p2">700</td><td>100</td></tr>
        <tr><td>Доминанта</td><td>200</td><td class="p3">600</td><td class="p1">800</td><td>150</td><td>400</td><td>450</td></tr>
        <tr><td>МТМ</td><td class="p1">800</td><td class="p1">800</td><td class="p2">700</td><td>150</td><td class="p3">600</td><td class="p2">700</td></tr>
        <tr><td>ИостальныЕ</td><td>400</td><td>500</td><td>100</td><td class="p3">600</td><td class="p1">800</td><td class="p1">800</td></tr>
        <tr><td>21 век</td><td>100</td><td>0</td><td>400</td><td>500</td><td>100</td><td>200</td></tr>
    </table>
</center>

{% endblock %}
