{% extends "base.html" %}

{% block content %}
<center>
	<h1>Индивидуальные туры</h1>
	<div class="row col-12 justify-content-center">
		<div class="col t-4"><center>
			<h2>История</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Рыбка</td><td class="p2">Сараев</td><td class="p3">Скоробогатько</td></tr>
				<tr><td>6</td><td class="p1">Катышева</td><td class="p2">Сабуров</td><td class="p3">Михеев</td></tr>
				<tr><td>7</td><td class="p1">Комарук</td><td class="p2">Казаков</td><td class="p3">Манько</td></tr>
				<tr><td>8</td><td class="p1">Фролов</td><td class="p2">Петрулевич</td><td class="p3">Бетехтин</td></tr>
				<tr><td>9</td><td class="p1">Самусенко</td><td class="p2">Ильюшкин</td><td class="p3">Пачковский</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Естествознание</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Костюнин</td><td class="p2">Скоробогатько</td><td class="p3">Легейда</td></tr>
				<tr><td>6</td><td class="p1">Громыко</td><td class="p2">Бурмистров</td><td class="p3">Боровская</td></tr>
				<tr><td>7</td><td class="p1">Шатров</td><td class="p2">Данилина</td><td class="p3">Бовтюк</td></tr>
				<tr><td>8</td><td class="p1">Ильяненко</td><td class="p2">Пономаренко</td><td class="p3">Леонкин</td></tr>
				<tr><td>9</td><td class="p1">Иванькина</td><td class="p2">Диденко</td><td class="p3">Козлова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Русский язык</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Рыбка</td><td class="p2">Костюнин</td><td class="p3">Сараев</td></tr>
				<tr><td>6</td><td class="p1">Морозова</td><td class="p2">Катышева</td><td class="p3">Ахметова</td></tr>
				<tr><td>7</td><td class="p1">Молошенко</td><td class="p2">Казанцева</td><td class="p3">Иванова</td></tr>
				<tr><td>8</td><td class="p1">Серебрякова</td><td class="p2">Лаврик</td><td class="p3">Камаева</td></tr>
				<tr><td>9</td><td class="p1">Кускова</td><td class="p2">Дамова</td><td class="p3">Зинченко</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Английский язык</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Потрочин</td><td class="p2">Скоробогатько</td><td class="p3">Жулина</td></tr>
				<tr><td>6</td><td class="p1">Катышева</td><td class="p2">Каручок</td><td class="p3">Арсенян</td></tr>
				<tr><td>7</td><td class="p1">Казаков</td><td class="p2">Усакова</td><td class="p3">Дудко</td></tr>
				<tr><td>8</td><td class="p1">Фролов</td><td class="p2">Хитрун</td><td class="p3">Алексеева</td></tr>
				<tr><td>9</td><td class="p1">Каменева</td><td class="p2">Степанова</td><td class="p3">Шахова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Информатика</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>8</td><td class="p1">Шестаков</td><td class="p2">Аникутин</td><td class="p3">Тимошков</td></tr>
				<tr><td>9</td><td class="p1">Кудрявцев</td><td class="p2">Степанова</td><td class="p3">Лободыров</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Математика</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Левченков</td><td class="p2">Воронова</td><td class="p3">Ченченко</td></tr>
				<tr><td>6</td><td class="p1">Коротков</td><td class="p2">Морозова</td><td class="p3">Пожидаев</td></tr>
				<tr><td>7</td><td class="p1">Шатров</td><td class="p2">Трегубович</td><td class="p3">Литвинцев</td></tr>
				<tr><td>8</td><td class="p1">Шестаков</td><td class="p2">Сивкова</td><td class="p3">Москвин</td></tr>
				<tr><td>9</td><td class="p1">Диденко</td><td class="p2">Зинченко</td><td class="p3">Козлова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Обществознание</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>7</td><td class="p1">Абрамов</td><td class="p2">Меркулов</td><td class="p3">Рудешко</td></tr>
				<tr><td>8</td><td class="p1">Шестаков</td><td class="p2">Москвин</td><td class="p3">Грищенко</td></tr>
				<tr><td>9</td><td class="p1">Манжула</td><td class="p2">Гаврикова</td><td class="p3">Гостюхина</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>ИЦН</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>6</td><td class="p1">Михеева</td><td class="p2">Антропова</td><td class="p3">Шалавина</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Литература</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Мягкова</td><td class="p2">Дьякова</td><td class="p3">Дырин</td></tr>
				<tr><td>6</td><td class="p1">Катышева</td><td class="p2">Камоцкая</td><td class="p3">Кириллова</td></tr>
				<tr><td>7</td><td class="p1">Распопина</td><td class="p2">Данилина</td><td class="p3">Иванова</td></tr>
				<tr><td>8</td><td class="p1">Ильяненко</td><td class="p2">Новикова</td><td class="p3">Жарова</td></tr>
				<tr><td>9</td><td class="p1">Дамова</td><td class="p2">Золотая</td><td class="p3">Кокоренко</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Искусство</h2>
			<table width="100%" border="1">
				<tr>
					<td width="5%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Скоробогатько</td><td class="p2">Дьякова</td><td class="p3">Шуппо</td></tr>
				<tr><td>6</td><td class="p1">Платонова</td><td class="p2">Юдина</td><td class="p3">Рылкина</td></tr>
				<tr><td>7</td><td class="p1">Злючевская</td><td class="p2">Шадрина</td><td class="p3">Антоненко</td></tr>
				<tr><td>8</td><td class="p1">Акулова</td><td class="p2">Алексеенко</td><td class="p3">Савченко</td></tr>
				<tr><td>9</td><td class="p1">Каменева</td><td class="p2">Филиппова</td><td class="p3">Гаврикова</td></tr>
			</table>
		</center></div>
	</div>
</center>
{% endblock %}
