{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2019</a>
/
Рейтинг
{% endblock %}

{% block content %}
<center>
    <h1>Рейтинг</h1>
    <table border="1">
        <tr>
            <td width="5%">Место</td>
            <td width="15%">Команда</td>
            <td width="16%">День 1 + День 2</td>
            <td width="8%">Карусель</td>
            <td width="8%">Английский</td>
            <td width="8%">Литература</td>
            <td width="8%">Изобретательство</td>
            <td width="8%">Естественно-научные бои</td>
            <td width="8%">Коммуникативные бои</td>
            <td width="8%">Командный</td>
            <td width="8%">Сумма</td>
        </tr>
        <tr><td>1</td><td>ИостальныЕ</td><td>3870</td><td>400</td><td>500</td><td>100</td><td class="p3">600</td><td class="p1">800</td><td class="p1">800</td><td class="p1">5600</td><td class="p1">12670</td></tr>
        <tr><td>2</td><td>Доминанта</td><td class="p2">4416</td><td>200</td><td class="p3">600</td><td class="p1">800</td><td>150</td><td>400</td><td>450</td><td class="p2">4900</td><td class="p2">11916</td></tr>
        <tr><td>3</td><td>Апельсин</td><td>3884</td><td>300</td><td class="p2">700</td><td>500</td><td class="p2">700</td><td>200</td><td class="p3">600</td><td>2800</td><td class="p3">9684</td></tr>
        <tr><td>4</td><td>МТМ</td><td class="p1">4442</td><td class="p1">800</td><td class="p1">800</td><td class="p2">700</td><td>150</td><td class="p3">600</td><td class="p2">700</td><td>1400</td><td>9592</td></tr>
        <tr><td>5</td><td>Бурлаки</td><td>3516</td><td class="p2">700</td><td>200</td><td>200</td><td>300</td><td>300</td><td>450</td><td>3500</td><td>9166</td></tr>
        <tr><td>6</td><td>Грамотеи</td><td>3388</td><td>500</td><td>400</td><td class="p3">600</td><td>400</td><td class="p2">700</td><td>100</td><td>2100</td><td>8188</td></tr>
        <tr><td>7</td><td>21 век</td><td>2262</td><td>100</td><td>0</td><td>400</td><td>500</td><td>100</td><td>200</td><td class="p3">4200</td><td>7762</td></tr>
        <tr><td>8</td><td>Ва-Банк</td><td class="p3">4072</td><td class="p3">600</td><td>300</td><td>300</td><td class="p1">800</td><td>500</td><td>300</td><td>700</td><td>7572</td></tr>
    </table>
    <br />
    <h2>Суперчемпионы:</h2>Шестаков Вячеслав 8«И», Катышева Арина 6«Д».
</center>
{% endblock %}
