{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html">ИТИ-2019</a>
                /
                Команды
            </font>
        </td>
    </tr>
</table>

<center>
    <h1>Команды</h1>
    <table width="30%" border="1">
        <tr>
            <td width="10%"><center>Вертикаль</center></td>
            <td width="90%"><center>Название</center></td>
        </tr>
        <tr><td>А</td><td>Апельсин</td></tr>
        <tr><td>Б</td><td>Бурлаки</td></tr>
        <tr><td>В</td><td>Ва-Банк</td></tr>
        <tr><td>Г</td><td>Грамотеи</td></tr>
        <tr><td>Д</td><td>Доминанта</td></tr>
        <tr><td>М</td><td>МТМ</td></tr>
        <tr><td>ИЕ</td><td>ИостальныЕ</td></tr>
        <tr><td>21</td><td>21 век</td></tr>
    </table>
</center>

{% endblock %}
