{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2019</a>
/
Командный тур
{% endblock %}

{% block content %}
<center>
    <h1>Командный тур</h1>
    <table border="1" class="t-3">
        <tr>
            <td width="5%">Место</td>
            <td width="15%">Команда</td>
            <td width="8%">Балл</td>
        </tr>
        <tr class="p1"><td>1</td><td>ИостальныЕ</td><td>5600</td></tr>
        <tr class="p2"><td>2</td><td>Доминанта</td><td>4900</td></tr>
        <tr class="p3"><td>3</td><td>21 век</td><td>4200</td></tr>
        <tr><td>4</td><td>Бурлаки</td><td>3500</td></tr>
        <tr><td>5</td><td>Апельсин</td><td>2800</td></tr>
        <tr><td>6</td><td>Грамотеи</td><td>2100</td></tr>
        <tr><td>7</td><td>МТМ</td><td>1400</td></tr>
        <tr><td>8</td><td>Ва-Банк</td><td>700</td></tr>
    </table>
</center>

{% endblock %}
