{% extends "base.html" %}

{% block content %}
<center><h1>Карусель</h1></center>
<p>Карусель — это командное соревнование по решению заданий из разных предметных областей. Побеждает в нём команда, набравшая наибольшее количество очков.</p>
<ol>
    <li><p><b>Порядок проведения.</b></p>
        <p>Задания решаются на двух рубежах — исходном и зачётном. В начале игры все члены команды располагаются на исходном рубеже, причем им присвоены номера
            от 1 до 6 (порядок нумерации людей команда выбирает сама). Задания на исходном и зачётном рубежах решаются независимо, при этом на каждом рубеже
            все находящиеся на нём члены команды решают одно задание.</p>
        <p>На каждом рубеже люди формируют очередь сдачи заданий. При этом изначально на исходном рубеже в начале очереди стоит 1, в конце — 6;
            а на зачётном рубеже очередь пуста (изначально на этом рубеже никого нет).</p>
    </li>
    <li><p><b>Исходный рубеж.</b></p>
        <p>Задания берутся и сдаются первым человеком из очереди этого рубежа.</p>
        <p>Если команда сдаёт правильный ответ, то человек, предъявивший задачу, переходит на зачётный стол и встаёт там в конец очереди.</p>
        <p>Если же команда сдаёт неверный ответ, то этот человек возвращается на исходный стол на своё место в очереди и продолжает получать и сдавать задачи.</p>
    </li>
    <li><p><b>Зачётный рубеж.</b></p>
        <p>Задания берутся и сдаются первым человеком из очереди этого рубежа.</p>
        <p>Если команда сдаёт правильный ответ, то человек, предъявивший задачу, возвращается на зачётный стол на своё место в очереди
            (следующим сдавать задачу снова будет он).</p>
        <p>Если же команда сдаёт неверный ответ, то этот человек переходит на исходный стол и встаёт в конец очереди исходного стола.</p>
    </li>
    <li><p><b>Сдача задач.</b></p>
        <p>Ответы предъявляются судье в письменном виде. Если задание имеет несколько вариантов
            решения, то правильным считается ответ, который содержит все варианты.</p>
        <p>И на исходном, и на зачётном рубежах команда может в любой момент отказаться от решения задания. При этом задание считается нерешённым.</p>
        <p>После сдачи решения (или отказа решать задачу) данный рубеж получает новое задание. Если на этом рубеже никого нет ни одного участника, то задание
            начинает решаться тогда, когда там появляется участник.</p>
    </li>
    <li><p><b>Окончание игры.</b></p>
        <p>Игра для команды оканчивается, если (а) кончилось время, или (б) кончились задания на зачётном рубеже, или (в) кончились задания на исходном рубеже,
            а на зачётном рубеже нет ни одного игрока.</p>
    </li>
    <li><p><b>Начисление баллов.</b></p>
        <p>За каждое верно решённое на исходном рубеже задание команда получает 1 балл.</p>
        <p>За первое верно решённое на зачётном рубеже задание команда получает 3 балла. Если команда на зачётном рубеже верно решает несколько заданий подряд,
            то за каждое следующее задание она получает на 1 балл больше, чем за предыдущее.</p>
        <p>Если задание на зачётном рубеже решено неверно, то цена следующего задания зависит от её цены следующим образом. Если неверно решённое задание стоило
            3 или 4 балла, то следующее задание стоит 3 балла. Если цена неверно решённого задания была 5 баллов, то следующее задание стоит 4 балла. Если цена
            неверно решенного задания была 6 баллов или больше, то следующее задание стоит 5 баллов.</p>
    </li>
    <li><p><b>Формат игры.</b></p>
        <p>Время игры: 1 час 40 минут.</p>
        <p>Количество заданий на исходном рубеже: 14.</p>
        <p>Количество заданий на зачётном рубеже: 22.</p>
    </li>
</ol>
{% endblock %}
