{% extends "base.html" %}

{% block content %}
<center><h1>Естественно-научные бои</h1></center>
<ol>
    <li><p><b>Порядок проведения.</b></p>
        <p>Тур состоит из двух основных частей: блиц-решения и «боёв». При необходимости после этих частей может проводиться блиц-турнир.</p>
    </li>
    <li><p><b>Подготовка к туру.</b></p>
        <p>Для решения задач «боёв», команды могут принести на тур свои книги, учебники и калькуляторы.</p>
        <p>Для блиц-турнира команды могут принести свои задачи, которые вместе с решениями нужно сдать жюри до начала тура. Жюри может не принять задачу.</p>
    </li>
    <li><p><b>Блиц-решения</b></p>
        <p>Всем командам выдаются одинаковые задачи, которые они решают в течении 15-20 минут. После этого ответы (решения не нужны) сдаются жюри.</p>
        <p>Жюри сверяет ответы с верными и выставляет баллы. Если команда не согласна с баллами, выставленными в блиц-решения,
            то она может обратиться к жюри для разяснения выставленных баллов (по итогам обращения жюри может изменить баллы как в меньшую, так и в большую сторону).</p>
        <p>Далее команды разбиваются на две лиги (высшую и нижнюю) по 4 команды в каждой. Высшая лига соревнуются за первые 4 места, нижняя — за 5-9 места.
            Если такое разбиение вызывает затруднения (несколько команд набрали одинаковое число баллов за блиц-решение), то между капитанами этих команд проводится дополнительный конкурс (как конкурс капитанов из «Бои»).</p>
        <p>После этого в каждой лиге производится жеребьёвка, разбивающая команды на пары (эти команды будут соперниками в «бою»).</p>
    </li>
    <li><p><b>Бой.</b></p>
        <p>«Бой» состоит из трёх основных частей: решение задач, конкурс капитанов и туры.</p>
        <ul>
            <li><p><b>Решение задач</b></p>
                <p>Выдаются задачи и на их решение отводится 30-40 минут (вся команда находится за одним столом и может решать по одному, парами и т.п.).</p>
                <p>Во время решения задач можно использовать любые книги, учебники, принесённые с собой. Можно использовать калькулятор, телефоны запрещены.</p>
            </li>
            <li><p><b>Конкурс капитанов</b></p>
                <p>По окончании времени на решения задач, к доске выходят капитаны и им устно задаётся задача. При необходимости можно делать записи.</p>
                <p>Если капитан считает, что он решил задачу, то он поднимает руку и говорит жюри свой ответ.</p>
                <p>Если ответ верный, то ответивший решает хочет ли его команда быть вызывающей или вызванной. При неправильном ответе данный выбор делает молчавший.</p>
                <p>После определения ролей начинается первый тур.</p>
            </li>
            <li><p><b>Туры</b></p>
                <p>Каждый тур состоит из вызова, рассказа и заключения.</p>
                <p>У команд есть по три тайм-аута длиной 30 секунд, которые можно брать до заключения (на время тайм-аута и докладчик и оппонент возвращаются к своим командам).</p>
                <p>Каждый участник команды выходит к доске не более одного раза.</p>
                <p>Можно поменять выступающего (докладчика или оппонента), это стоит 2 тайм-аута, а выход к доске засчитывается обоим.</p>
                <p>В каждом туре разыгрывается 12 баллов, часть из которых может заработать команда жюри.</p>
                <ol>
                    <li><p><b>Вызовы:</b></p>
                        <p>Вызывающая команда называет номер задачи, на которую хочет вызвать соперника или отказывается от последующих вызовов (в первом туре нельзя отказываться).</p>
                        <p>Если команда отказывается от вызовов то её участники больше не выходят к доске, и вторая команда рассказывает решение для жюри.</p>
                        <p>Соперник может принять вызов и тогда вызываемая команда выставляет докладчика, а вызывающая оппонента (оппонент не обязателен).</p>
                        <p>Соперник может совершить проверку корректности, если вызывающая команда принимает проверку, то она выставляет докладчика, а вызываемая — оппонента. Смена ролей не производится.</p>
                        <p>Если вызывающая команда отменяет проверку корректности, то вызывающая команда получает +0 баллов, а вызываемая — +6.</p>
                    </li>
                    <li><p><b>Рассказ:</b></p>
                        <p>Рассказ состоит из доклада, во время которого рассказывается решение и дискуссии, во время которой оппонент общается с докладчиком.</p>
                        <p>Во время доклада оппонент может просить повторить часть, разрешить пропустить докладчику часть рассуждений или задать вопросы по решению (если докладчик согласен на вопросы во время доклада).</p>
                        <p>Во время дискуссии оппонент также может просить повторить часть решения или уточнять высказывания докладчика.</p>
                        <p>Докладчик во время дискуссии может прочить повторить вопрос или не отвечать на него (если у него нет ответа, вопрос задан не по задаче и он уже отвечал на этот вопрос).</p>
                        <p>На протяжении всего рассказа докладчик не обязан сравнивать своё решение с другими, на оппонент не должен рассказывать своего решения.</p>
                    </li>
                    <li><p><b>Заключение:</b></p>
                        <p>Оппонент может согласиться с решением докладчика и после этого жюри общается только с докладчиком. Оппонент получает +0.</p>
                        <p>Оппонент может частично согласиться с решением, сказав, что есть «дыры». Жюри оценивает каждую дыру в 2n баллов.
                            Если докладчик её заделывает то оба (докладчик и оппонент) получают +n баллов.
                            Если «дыра» не заделана, то оппонент получает +n баллов, а докладчик +0; оставшиеся баллы оппонент может получить, если согласится на смену ролей.</p>
                        <p>Оппонент может считать решение полностью неверным (есть контрпример, разобраны не все случаи и т.д.).
                            Данное доказательство (контрпример, случай) отдаются жюри на проверку и в случаи их согласия с доводом, докладчику даётся минута на исправление.
                            Если докладчик не исправился, то возможна смена ролей.</p>
                        <p>Если «дыра» была исправлена до заключения, то она не оценивается.</p>
                    </li>
                    <li><p><b>Смена ролей:</b></p>
                        <p>Если происходит смена ролей из-за «дыры», неразыгранная стоимость которой n баллов,
                            то докладчик и оппонент меняются ролями и новый докладчик может получить не более n баллов, а оппонент — не более 0.5n.</p>
                        <p>Последующая смена ролей не производится.</p>
                    </li>
                </ol>
            </li>
            <li><p><b>Результат</b></p>
                <p>Когда прошли все туры, то баллы за них суммируются. Если разница между командами составляет менее 3 баллов, то бой считается ничейным.
                    Иначе выигрывает команда, набравшая большее количество баллов.</p>
            </li>
        </ul>
    </li>
    <li><p><b>Блиц-турнир</b></p>
        <p>Если по итогам игр в какой-то лиге есть команды, с разницей менее 3 баллов, то между ними производится блиц-турнир.</p>
        <p>Если какая-то команда не принесла задачу к началу тура, то она считается проигравшей в блиц-турнире.</p>
        <p>Если у обеих команд есть задачи, то они ими меняются и решают в течении 10 минут. По окончании этого времени решения сдаются жюри.</p>
        <p>После оценки решений жюри выносит решение о победителе и проигравшем.</p>
    </li>
</ol>
{% endblock %}
