{% extends "base.html" %}

{% block content %}
<center><h1>Бонус</h1></center>
<p>Бонусный тур — это не групповой тур, а просто дополнительные баллы, которые может заработать команда за различные активности.</p>
<ul>
    <li><p>До ИТИ-2022. Бонусного тура не было и команда не зарабатывала дополнительных очков.</p></li>
    <li><p class="current_year">ИТИ-2022. Бонусные баллы выставлялись за публичную защиту, всего разыгрывалось 100 баллов, которые поровну поделили две команды.</p></li>
</ul>
{% endblock %}
