{% extends "base.html" %}

{% block content %}
<center>
    <h1>Авторы сайта</h1>
    <p>Вахитова Екатерина Юрьевна (руководитель проекта)</p>
    <p>Шестаков Вячеслав Григорьевич (студент 3-го курса НИУ ВШЭ)</p>
    <p>Кассал Кирилл Романович (студент 3-го курса ФГАОУ ВО «СПбПУ»)</p>
    <p>Леонтьев Дмитрий Сергеевич (студент 1-го курса ГУАП)</p>
    <p>Поддубецкий Антон Максимович (ученик 11И)</p>
    <p>Ченченко Даниил Денисович (ученик 11И)</p>
    <p>Шатохин Данил Владимирович (ученик 11И)</p>
</center>
{% endblock %}
