{% extends "base.html" %}

{% block content %}
<h1>История ИТИ</h1>
<ol>
    <li>
        <p><b>Об ИТИ</b></p>
        <p>ИТИ — ежегодное соревнование внутри гимназии «Универс», а в 2023-ем году в них также участвовали ученики из других школ!</p>
        <p>ИТИ состоят из трёх состязательных частей: индивидуальные туры, групповые туры и командный тур. Конечно, формат ИТИ менялся с годами но основные составляющие всё же остаются.</p>
    </li>
    <li><p><b>Суперчемпионы в НШ</b></p>
        <p>Ниже Вы можете увидеть список суперчемпионов ИТИ, проведённых в начальной школе в последние учебные годы. Список может содержать ошибки.</p>
        <ul>
            <li>2021-2022 Костюнин Захар 3«Д»</li>
            <li>2022-2023 Шорохова Алиса 2«В», Янковская Ольга 4«В»</li>
            <li>2023-2024 Пилягина Дарья 3«В»</li>
        </ul>
    </li>
    <li><p><b>Суперчемпионы в ОШ</b></p>
        <p>Ниже Вы можете увидеть список суперчемпионов ИТИ, проведённых в основной школе в последние учебные годы. Список может содержать ошибки.</p>
        <ul>
            <li>2019-2020 Шестаков Вячеслав 8«И», Катышева Арина 6«Д»</li>
            <li>2020-2021 Горовенко Ульяна 5«Е»</li>
            <li>2021-2022 Казаков Максим 9«И»</li>
            <li>2022-2023 Скороходов Илья 7«М»</li>
            <li>2023-2024 Горовенко Ульяна 8«Е»</li>
        </ul>
    </li>
</ol>
{% endblock %}
