{% extends "page2.html" %}

{% block header %}
<a href="../">ИТИ</a>
/
Правила
{% endblock %}

{% block content %}
<center><h1>Правила</h1></center>
<ol>
    <li><p><b>Состав команд.</b></p>
        <p>В каждой команде должно быть 4 пятиклассника, 4 шестиклассника, 4 семиклассника, 4 восьмиклассника и 4 девятиклассника.
            Придерживаемся формирования команд по вертикалям (например «5а», «6а», «7а», «8а», «9а»).
            В случае, если в классе нет достойных желающих для участия в команде, то можно докомплектовать команду учениками любого класса параллели.
            Команды аертикалей «Е» и «И» могут дополняться учащимися разных классов.</p>
    </li>
    <li><p><b>Открытие ИТИ.</b></p>
        <p>На открытии у команд должен быть отличительный знак, название и кричалка.</p>
        <ul>
            <li><p class="current_year">ИТИ-2020. В качестве отличительного знака были предложены маски на лицо, рассписанные особенным образом.
                Маски обязательно должны быть рекомендованы детям на всё время проведения ИТИ.</p></li>
        </ul>
    </li>
    <li><p><b>Запасные участники.</b></p>
        <p>Каждая команда в кадой параллели набирается по одному дополнительному игроку.
            Псоле руководитель составляет подневный список «отдыхающих» игрноков (баллы, полученные ими, не идут в зачёт команды).</p>
        <ul>
            <li><p>Действовало только в ИТИ-2019.</p></li>
        </ul>
    </li>
    <li><p><b>Замены в командах.</b></p>
        <p>Замену в команде можно производить только по причине болезни участника команды, подтвержденной документально.
            Замена выбирается из числа школьников, не участвующих в других командах
            (нельзя забрать ребёнка из «6м» в вертикаль «М», если он уже зарегистрирован в команде «И»).</p>
    </li>
    <li><p><b>Индивидуальный тур.</b></p>
        <p>Участвуя в индивидуальных турах, каждый участник работает на индивидуальный рейтинг, на рейтинг своего класса и своей команды.
            !Оценивание тура!. В зачёт идёт два лучших результата за день !четыре за 2 дня?!.
        </p>
    </li>
    <li><p><b>Груповой тур.</b></p>
        <p>В групповом туре участвуют группы от 2 до 6 человек (все из одной команды).
            Команды обязаны приходить в полном составе (при неполном составе команда может участвовать в туре, но получает за него 0 баллов).</p>
        <p>Начисление баллов:</p>
        <ul>
            <li><p>ИТИ-2019. Победитель каждого тура получает 800 баллов, шаг между местами — 100 баллов.</p></li>
            <li><p class="current_year">ИТИ-2020. Пусть n — число участников тура.
                Тогда победитель получает 200n баллов, а шаг между местами составляет 25n баллов.</p></li>
        </ul>
        <p>Список туров:</p>
        <ul>
            <li><p><a href="12.html">Карусель</a> — полипредметная олимпиада (математика, словесность, естествознание).</p></li>
            <li><p><a href="13.html">Естественно-научные бои</a> — турнир по физике, математике, биологии, химии.</p></li>
            <li><p><a href="14.html">Коммуникативные бои</a></p></li>
            <li><p><a href="15.html">Парный тур по литературе</a></p></li>
            <li><p><a href="16.html">Парный тур по английскому языку</a></p></li>
            <li><p><a href="17.html">Театр</a></p></li>
            <li><p><a href="18.html">Изобретательство</a></p></li>
        </ul>
    </li>
    <li><p><b>Командный тур.</b></p>
        <p>Присутствует вся команда, в случае не полного состава команда получает 0 баллов за командный тур.</p>
        <p>Начисление баллов:</p>
        <ul>
            <li><p>ИТИ-2019. Победитель получает 5600 баллов, шаг между местами — 700 баллов.</p></li>
            <li><p class="current_year">ИТИ-2020. Победитель получает 4000 баллов, шаг между местами — 500 баллов.</p></li>
        </ul>
    </li>
</ol>

{% endblock %}
