{% extends "base.html" %}

{% block content %}
<h1>Правила ИТИ в ОШ</h1>
<ol>
    <li>
        <p><b>Состав команд.</b></p>
        <p>В каждой команде должно быть 4 пятиклассника, 4 шестиклассника, 4 семиклассника, 4 восьмиклассника и 4 девятиклассника.</p>
        <ul>
            <li><p>До ИТИ-2021. Придерживаемся формирования команд по вертикалям (например «5а», «6а», «7а», «8а», «9а»).
                В случае, если в классе нет достойных желающих для участия в команде, то можно докомплектовать команду учениками любого класса параллели.
                Команды аертикалей «Е» и «И» могут дополняться учащимися разных классов.</p></li>
            <li><p>ИТИ-2021. Лучшим 24 учащимся в параллели по итогам индивидуальных туров предлагается играть командные туры.
                Команды формируются автоматически, команды выбирать нельзя. Если кто-то отказывается, то приглашаются следующие по рейтингу ученики.
                Формирование происходит следующим образом: все школьники, подтвердившие своё участие в команде, сортируются по рейтингу за индивидуальные туры
                внутри параллелей. Пятиклассник с лучшим результатом отправляется в первую команду, лучший шестиклассник во вторую, и т.д, лучший
                девятиклаасник в пятую, пятиклассник со вторым результатом в шестую, и т.д. для всех последующих участников.</p></li>
            <li><p class="current_year">ИТИ-2022. Аналогично правилам ИТИ-2021, но в каждой команде по 5 учеников одной параллели (всего бралось по 30 лучших учащихся одной параллели)</p></li>
        </ul>
    </li>
    <li><p><b>Открытие ИТИ.</b></p>
        <p>На открытии у команд должен быть отличительный знак, название и кричалка.</p>
        <ul>
            <li><p>ИТИ-2020. В качестве отличительного знака были предложены маски на лицо, рассписанные особенным образом.
                Маски обязательно должны быть рекомендованы детям на всё время проведения ИТИ.</p></li>
        </ul>
    </li>
    <li><p><b>Запасные участники.</b></p>
        <p>Каждая команда в кадой параллели набирается по одному дополнительному игроку.
            Псоле руководитель составляет подневный список «отдыхающих» игрноков (баллы, полученные ими, не идут в зачёт команды).</p>
        <ul>
            <li><p>Действовало только в ИТИ-2019.</p></li>
        </ul>
    </li>
    <li><p><b>Замены в командах.</b></p>
        <ul>
            <li><p>До ИТИ-2021. Замену в команде можно производить только по причине болезни участника команды, подтвержденной документально.
                Замена выбирается из числа школьников, не участвующих в других командах
                (нельзя забрать ребёнка из «6м» в вертикаль «М», если он уже зарегистрирован в команде «И»).</p></li>
            <li><p class="current_year">ИТИ-2021 и ИТИ-2022. Болеющего участника команды можно заменить во время распределения на команды.
                Болезнь приравнивается к отказу участвовать в команде.</p></li>
        </ul>
    </li>
    <li><p><b>Индивидуальный тур.</b></p>
        <p>Участвуя в индивидуальных турах, каждый участник работает на индивидуальный рейтинг, на рейтинг своего класса и своей команды.
            Каждый день ученик может писать все предметы. Но только два лучших результата в день идет в зачет.</p>
        <ul>
            <li><p class="current_year">ИТИ-2021 и ИТИ-2022. Индивидуальный тур влияет на распределение по командам, но не учитывается в командном рейтинге.</p></li>
        </ul>
    </li>
    <li><p><b>Груповой тур.</b></p>
        <p>В групповом туре участвуют группы от 2 до 6 человек (все из одной команды).
            Команды обязаны приходить в полном составе (при неполном составе команда может участвовать в туре, но получает за него 0 баллов).</p>
        <p>Начисление баллов:</p>
        <ul>
            <li><p>ИТИ-2019. Победитель каждого тура получает 800 баллов, шаг между местами — 100 баллов.</p></li>
            <li><p>ИТИ-2020. Пусть n — число участников тура.
                Тогда победитель получает 200n баллов, а шаг между местами составляет 25n баллов.</p></li>
            <li><p class="current_year">ИТИ-2021 и ИТИ-2022. Победитель каждого тура получает 600 баллов, шаг между местами — 100 баллов.</p></li>
        </ul>
        <p>Список туров:</p>
        <ul>
            <li><p><a href="12.html">Карусель</a> — полипредметная олимпиада (математика, словесность, естествознание).</p></li>
            <li><p><a href="13.html">Естественно-научные бои</a> — турнир по физике, математике, биологии, химии.</p></li>
            <li><p><a href="14.html">Коммуникативные бои</a></p></li>
            <li><p><a href="15.html"> Литература</a></p></li>
            <li><p><a href="16.html"> Английский язык</a></p></li>
            <li><p><a href="17.html">Театр</a></p></li>
            <li><p><a href="18.html">Конструкторская задача</a></p></li>
            <li><p><a href="19.html"> Информатика</a></p></li>
            <li><p><a href="23.html">Настольные игры</a></p></li>
            <li><p><a href="24.html">Бонус</a> — дополнительные командные баллы.</p></li>
        </ul>
    </li>
    <li><p><b>Командный тур.</b></p>
        <p>Присутствует вся команда, в случае не полного состава команда получает 0 баллов за командный тур.</p>
        <p>Начисление баллов:</p>
        <ul>
            <li><p>ИТИ-2019. Победитель получает 5600 баллов, шаг между местами — 700 баллов.</p></li>
            <li><p>ИТИ-2020. Победитель получает 4000 баллов, шаг между местами — 500 баллов.</p></li>
            <li><p>ИТИ-2021. Победитель получает 3600 баллов, шаг между местами — 600 баллов.</p></li>
            <li><p class="current_year">ИТИ-2022. Победитель получает 4800 баллов, шаг между местами — 800 баллов.</p></li>
        </ul>
    </li>
    <li><p><b>Апелляции</b></p>
        <p>Апелляции можно подать на результат в индивидуальном туре. Также необходимо подавать апелляцию, если у работы участника нет результата.</p>
        <p>Апелляция подается в кабинете 2-08 с 9:00 до 13:00 дня следующего за тем, когда была написана работа.</p>
    </li>
    <li><p><b>О призах.</b></p>
        <p>Каждый участник, набравший хотя бы 1 балл получает памятные сувениры ИТИ</p>
        <p>Победители и призеры в индивидуальных турах получают грамоты и подарки, подарки не дублируют.
            Если у ученика 4 первых места 2 вторых места и 1 третье, то подарок будет один за 1 место, один за второе место, один за третье место.</p>
        <p>Класс, занявший первое место в параллели получает специальный приз директора ступени. Остальные классы грамоты.</p>
        <p>Награждение по итогам индивидуальных туров проходит в классе представителями администрации.</p>
        <p>В командных и парных турах победители и призеры получаются грамоты. По итогам двух командных дней соревнований команды получают призы.</p>
        <p>Обязательно вручается приз суперчемпиону. Суперчемпион — это ученик, которые занял больше всего первых мест в индивидуальных, групповых и командных состязаниях.
            Если у нескольких учеников этот показатель одинаковый, то считаются сначала вторые, а потом  и третьи места.</p>
    </li>
    <li><p><b>Информирование участников.</b></p>
        <p>Вся информация о результатх ИТИ размещается в холле второго этажа и на этом сайте с 2021 года. Более актуальные результаты туров на сайте.</p>
    </li>
    <li><p><b>Необходимые материалы.</b></p>
        <p>Для всех индивидуальных туров необходимы коды, выдаваемые в день начала ИТИ на браслетах. Если участник теряет свой код,
            то ему необходимо обратиться в 2-08 за его востановлением.</p>
        <p>На все туры необходимо приносить свою бумагу и письменные принадлежности.</p>
        <p>На тур по ИЗО участники должны принести удобные для них средства рисования (т.е. кто-то может принести цветные карандаши, кто-то гуашь,
            а кто-то черную гелевую ручку)</p>
        <p>Во время всех турах участникам запрещено использовать телефоны, в том числе и в коридорах. Если у какого-то будет замечен телефон, то его результаты
            за этот день будут анулированы.</p>
    </li>
</ol>
{% endblock %}
