{% extends "page2.html" %}

{% block header %}
<a href="../">ИТИ</a>
/
Поблагодарить организаторов
{% endblock %}

{% block content %}
<center>
    <h1>Поблагодарить организаторов</h1>
    <p>Если вам понравилось проведение ИТИ, или у вам есть другой отзыв,<br>
        то вы можете оставить его в форме обратной связи (ссылка внизу страницы).</p>
    <p>Также вы можете поддрежать ИТИ материально.<br>
        Для этого вы можете пожертвовать деньги в
        <a href="http://univers.su/parents/non-commercial-fund-universe/">фонд</a> Гимназии «Универс»
        (<a href="http://univers.su/upload/information_system_22/5/3/2/item_5328/information_items_property_12680.doc">реквизиты</a>)<br>
        или перечислить деньги на счёт автора сайта по телефону 8-967-609-05-22 («Сбербанк»).
    </p>
    <p>Участие в ИТИ бесплатно, все пожертвования добровольны.</p>
</center>

{% endblock %}
