{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2020</a>
/
Групповые туры
{% endblock %}

{% block content %}
<center>
    <h1>Групповые туры</h1>
    <table width="50%" border="1">
        <tr>
            <td width="15%">Команда</td>
            <td width="8%">Карусель</td>
            <td width="8%">Английский</td>
            <td width="8%">Литература*</td>
            <td width="8%">Коммуникативные бои</td>
            <td width="8%">Естественно-научные бои</td>
            <td width="8%">Театр</td>
        </tr>
        <tr><td>Апельсин</td><td class="p1">1200</td><td class="p1">400</td><td>152</td><td>150</td><td>200</td><td>100</td></tr>
        <tr><td>Бобры</td><td class="p2">1050</td><td>250</td><td>44</td><td>100</td><td>300</td><td>300</td></tr>
        <tr><td>Вдохновенье</td><td>450</td><td>100</td><td>152</td><td class="p3">300</td><td>400</td><td class="p2">700</td></tr>
        <tr><td>Искра гениальности</td><td>226</td><td>150</td><td>262</td><td>50</td><td>100</td><td>500</td></tr>
        <tr><td>Dead Pool</td><td>600</td><td class="p3">300</td><td>152</td><td>250</td><td>500</td><td class="p3">600</td></tr>
        <tr><td>Кириешки</td><td>226</td><td class="p2">350</td><td class="p2">350</td><td class="p1">400</td><td class="p1">800</td><td class="p1">800</td></tr>
        <tr><td>Идентификация</td><td class="p3">900</td><td>200</td><td>152</td><td class="p2">350</td><td class="p2">700</td><td>400</td></tr>
        <tr><td>Миксины</td><td>750</td><td>50</td><td class="p3">306</td><td>200</td><td class="p3">600</td><td>200</td></tr>
    </table>
    <p>*Первое место в парном туре по литературе не занял никто.</p>
</center>

{% endblock %}
