{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2020</a>
/
Рейтинг
{% endblock %}

{% block content %}
<center>
    <h1>Рейтинг</h1>
    <table border="1">
        <tr>
            <td width="5%">Место</td>
            <td width="15%">Команда</td>
            <td width="16%">День 1 + День 2</td>
            <td width="8%">Карусель</td>
            <td width="8%">Английский</td>
            <td width="8%">Литература*</td>
            <td width="8%">Коммуникативные бои</td>
            <td width="8%">Естественно-научные бои</td>
            <td width="8%">Театр</td>
            <td width="8%">Командный</td>
            <td width="8%">Сумма</td>
        </tr>
        <tr><td>1</td><td>Dead Pool</td><td class="p1">4755</td><td>600</td><td class="p3">300</td><td>152</td><td>250</td><td>500</td><td class="p3">600</td><td class="p1">4000</td><td class="p1">11157</td></tr>
        <tr><td>2</td><td>Идентификация</td><td>4211</td><td class="p3">900</td><td>200</td><td>152</td><td class="p2">350</td><td class="p2">700</td><td>400</td><td class="p2">3500</td><td class="p2">10413</td></tr>
        <tr><td>3</td><td>Кириешки</td><td class="p3">4470</td><td>226</td><td class="p2">350</td><td class="p2">350</td><td class="p1">400</td><td class="p1">800</td><td class="p1">800</td><td>2500</td><td class="p3">9896</td></tr>
        <tr><td>4</td><td>Апельсин</td><td>3276</td><td class="p1">1200</td><td class="p1">400</td><td>152</td><td>150</td><td>200</td><td>100</td><td class="p3">3000</td><td>8478</td></tr>
        <tr><td>5</td><td>Вдохновенье</td><td>4318</td><td>450</td><td>100</td><td>152</td><td class="p3">300</td><td>400</td><td class="p2">700</td><td>2000</td><td>8420</td></tr>
        <tr><td>6</td><td>Миксины</td><td class="p2">4568</td><td>750</td><td>50</td><td class="p3">306</td><td>200</td><td class="p3">600</td><td>200</td><td>1500</td><td>8174</td></tr>
        <tr><td>7</td><td>Бобры</td><td>3282</td><td class="p2">1050</td><td>250</td><td>44</td><td>100</td><td>300</td><td>300</td><td>500</td><td>5826</td></tr>
        <tr><td>8</td><td>Искра гениальности</td><td>2614</td><td>226</td><td>150</td><td>262</td><td>50</td><td>100</td><td>500</td><td>1000</td><td>4902</td></tr>
    </table>
    <p>*Первое место в парном туре по литературе не занял никто.</p>
    <br />
    <h2>Суперчемпион:</h2>Горовенко Ульяна 5«Е».
</center>
{% endblock %}
