{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2020</a>
/
Командный тур
{% endblock %}

{% block content %}
<center>
    <h1>Командный тур</h1>
    <table border="1" class="t-3">
        <tr>
            <td width="5%">Место</td>
            <td width="15%">Команда</td>
            <td width="8%">Балл</td>
        </tr>
        <tr class="p1"><td>1</td><td>Dead Pool</td><td>4000</td></tr>
        <tr class="p2"><td>2</td><td>Идентификация</td><td>3500</td></tr>
        <tr class="p3"><td>3</td><td>Апельсин</td><td>3000</td></tr>
        <tr><td>4</td><td>Кириешки</td><td>2500</td></tr>
        <tr><td>5</td><td>Вдохновенье</td><td>2000</td></tr>
        <tr><td>6</td><td>Миксины</td><td>1500</td></tr>
        <tr><td>7</td><td>Искра гениальности</td><td>1000</td></tr>
        <tr><td>8</td><td>Бобры</td><td>500</td></tr>
    </table>
</center>

{% endblock %}
