{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html">ИТИ-2020</a>
                /
                Командный тур
            </font>
        </td>
    </tr>
</table>
<center><h2><a href="#">Индивидуальные туры</a></h2></center>
Сюда можно добавить фото
<center><h2><a href="#">Групповые туры</a></h2></center>
Сюда тоже...
<center><h2><a href="#">Командный тур</a></h2></center>
И сюда...

{% endblock %}