<!-- login required -->
<!-- -1 -->
{% extends "codes_table.html" %}

{% block head %}
<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year --><!-- end --></a>
                /
                Коды участников
            </font>
        </td>
    </tr>
</table>
<center>
    <h1>Коды участников</h1><br>
    <a href="print_codes">Сгенерировать</a>
</center>
{% endblock %}

{% block codes_table1 %}
<!-- codes_table 1 -->
<!-- end -->
{% endblock %}

{% block codes_table2 %}
<!-- codes_table 2 -->
<!-- end -->
{% endblock %}

{% block codes_table3 %}
<!-- codes_table 3 -->
<!-- end -->
{% endblock %}
