{% extends "page2.html" %}
{% block content %}

<center><h2><a href="individual_tours.html">Индивидуальные туры</a></h2></center>
... Разместите описание здесь ...
<center><h2><a href="group_tours.html">Групповые туры</a></h2></center>
... Разместите описание здесь ...
<center><h2><a href="team_tour.html">Командный тур</a></h2></center>
... Разместите описание здесь ...
<center><h2><a href="rating.html">Рейтинг</a></h2></center>
... Разместите описание здесь ...
<center><h2><a href="teams.html">Команды</a></h2></center>
... Разместите описание здесь ...

{% endblock %}
