{% extends "rating_table.html" %}

{% block head %}
<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year --><!-- end --></a>
                /
                Рейтинг
            </font>
        </td>
    </tr>
</table>
<center>
    <h1>Рейтинг</h1>
    {% if not current_user.is_anonymous and current_user.can_do(-1) %}
    <p><a href="ratings_update">Обновить рейтинг</a></p>
    {% if error %} <p><font color="red">[ {{ error }} ]</font></p>{% endif %}
    {% endif %}
</center>
{% endblock %}

{% block rating_teams %}
<!-- rating_teams -->
<!-- end -->
{% endblock %}

{% block rating_student %}
<!-- rating_student -->
<!-- end -->
{% endblock %}

{% block rating_class %}
<!-- rating_class -->
<!-- end -->
{% endblock %}

{% block rating_parallel_5 %}
<!-- rating_parallel_5 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_6 %}
<!-- rating_parallel_6 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_7 %}
<!-- rating_parallel_7 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_8 %}
<!-- rating_parallel_8 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_9 %}
<!-- rating_parallel_9 -->
<!-- end -->
{% endblock %}
