{% extends "rating_table.html" %}

{% block head %}
<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year --><!-- end --></a>
                /
                Рейтинг
            </font>
        </td>
    </tr>
</table>
<center>
    <h1>Рейтинг</h1>
</center>
{% endblock %}

{% block rating_teams %}
<!-- rating_student -->
<!-- end -->
{% endblock %}

{% block rating_student %}
<!-- rating_student -->
<!-- end -->
{% endblock %}

{% block rating_class %}
<!-- rating_class -->
<!-- end -->
{% endblock %}

{% block rating_parallel_5 %}
<!-- rating_parallel_5 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_6 %}
<!-- rating_parallel_6 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_7 %}
<!-- rating_parallel_7 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_8 %}
<!-- rating_parallel_8 -->
<!-- end -->
{% endblock %}

{% block rating_parallel_9 %}
<!-- rating_parallel_9 -->
<!-- end -->
{% endblock %}
