{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- {year} --></a>
                /
                <a href="rating.html">Рейтинг</a>
                /
                7 класс
            </font>
        </td>
    </tr>
</table>

<center><h1>Рейтинг 7 класс</h1></center>

<table width="100%">
    <tr>
        <td width="33%" />
        <td width="33%" />
        <td width="33%" />
    </tr>
    <!-- results --><!-- end -->
</table>

{% endblock %}
