<!-- login required -->
<!-- -1 -->

{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year --><!-- end --></a>
                /
                Настройки ИТИ
            </font>
        </td>
    </tr>
</table>

<center><h1>Настройки ИТИ</h1></center>

<table width="100%">
    <tr>
        <td width="40%" valign="top">
            <form action="subject_year" method="post"><center>
                <h2>Предметы:</h2>
                <table width="100%">
                    <tr>
                        <td width="50%" valign="top">
                            <h3>Индивидуальные туры:</h3>
                            <!-- list of year_individual tours -->
                <!-- end -->
                        </td>
                        <td width="50%" valign="top">
                            <h3>Групповые туры:</h3>
                            <!-- list of year_group tours -->
                <!-- end -->
                            <h3>Другое:</h3>
                            <!-- list of year_another tours -->
                <!-- end -->
                        </td>
                    </tr>
                </table>

                {% if error1 %} <p><font color="red">[ {{ error1 }} ]</font></p>
                {% endif %}
                <input type="submit" value="Сохранить">
            </center></form>
        </td>
        <td width="40%" valign="top"><center>
            <h2>Команды:</h2>
            <table width="85%" border="1">
                <tr>
                    <td width="5%"><center>Номер</center></td>
                    <td width="5%"><center>Вертикаль</center></td>
                    <td width="30%"><center>Название</center></td>
                </tr>
                <!-- list of teams (full) --><!-- end -->
            </table>
            <form action="add_team" method="post"><center>
                <h3>Новая команда:</h3>
                <p>Название: <input type="text" name="name"></p>
                <p>Вертикаль: <input type="text" name="later"></p>
                {% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>
                {% endif %}
                <input type="submit" value="Добавить">
            </center></form>
            <form action="delete_team" method="post"><center>
                <h3>Удалить команду:</h3>
                <p>Номер: <input type="text" name="id"></p>
                {% if error3 %} <p><font color="red">[ {{ error3 }} ]</font></p>
                {% endif %}
                <input type="submit" value="Удалить">
            </center></form>
            <p><a href="#">Настройки команд</a></p>
        </center></td>
        <td width="20%" valign="top"><center>
            <h2>Участники команд:</h2>
            <form action="add_student_team" method="post"><center>
                <h3>Новый участник:</h3>
                <p>Команда (номер): <input type="text" name="team"></p>
                <p>Имя: <input type="text" name="name2"></p>
                <p>Фамилия: <input type="text" name="name1"></p>
                <p>Класс: <input type="text" name="class"></p>
                {% if error4 %} <p><font color="red">[ {{ error4 }} ]</font></p>
                {% endif %}
                <input type="submit" value="Добавить">
            </center></form>
            <form action="delete_student_team" method="post"><center>
                <h3>Удалить участника:</h3>
                <p>Команда (номер): <input type="text" name="team"></p>
                <p>Имя: <input type="text" name="name2"></p>
                <p>Фамилия: <input type="text" name="name1"></p>
                <p>Класс: <input type="text" name="class"></p>
                {% if error5 %} <p><font color="red">[ {{ error5 }} ]</font></p>
                {% endif %}
                <input type="submit" value="Удалить">
            </center></form>
        </center></td>
    </tr>
</table>

{% endblock %}