{% extends "page2.html" %}

{% block header %}
<a href="main.html"><!-- {year} --></a>
/
Команды
{% endblock %}

{% block content %}
<center>
    <h1>Команды</h1>
    <table width="30%" border="1">
        <tr>
            <td width="10%"><center>Вертикаль</center></td>
            <td width="90%"><center>Название</center></td>
        </tr>
        <!-- list of teams --><!-- end -->
    </table>
</center>
<br>
<table width="100%">
    <tr>
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
    </tr>
    <!-- list of students_in_team --><!-- end -->
</table>

{% endblock %}
