<!-- login required -->

{% extends "page2.html" %}

{% block header %}
<a href="main.html"><!-- {year} --></a>
/
Настройки команд
{% endblock %}

{% block content %}
<center>
    <h1>Настройки команд</h1>
    {% if not current_user.is_anonymous and current_user.can_do(-1) %}
        <br>
        <h3><a href="automatic_division">Автоматическое распределение</a></h3>
        {% if error9 %} <p><font color="red">[ {{ error9 }} ]</font></p> {% endif %}
    {% endif %}
</center>
<br>

<div class="row col-12 justify-content-center">
    {% if not current_user.is_anonymous and current_user.can_do(-1) %}
    <div class="col t-3"><center>
        <h2>Команды:</h2>
        <table width="85%" border="1">
            <tr>
                <td width="5%"><center>Номер</center></td>
                <td width="5%"><center>Вертикаль</center></td>
                <td width="30%"><center>Название</center></td>
            </tr>
            <!-- list of teams (full) -->
            <!-- end -->
        </table>
        <form action="add_team" method="post"><center>
            <h3>Новая команда:</h3>
            <p>Название: <input type="text" name="name"></p>
            <p>Вертикаль: <input type="text" name="later"></p>
            {% if error1 %} <p><font color="red">[ {{ error1 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Добавить">
            <p>Первая буква вертикали автоматически переводится в верхний регистр.</p>
        </center></form>
        <form action="edit_team" method="post"><center>
            <h3>Изменить команду:</h3>
            <p>Номер: <input type="text" name="id"></p>
            <p>Новое название: <input type="text" name="name"></p>
            <p>Новая вертикаль: <input type="text" name="later"></p>
            {% if error8 %} <p><font color="red">[ {{ error8 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Обновить">
        </center></form>
        <form action="delete_team" method="post"><center>
            <h3>Удалить команду:</h3>
            <p>Номер: <input type="text" name="id"></p>
            {% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Удалить">
        </center></form>
    </center></div>
    <div class="col t-3"><center>
        <h2>Руководители команд:</h2>
        <form action="add_user_team" method="post"><center>
            <h3>Добавить руководителя:</h3>
            <p>Логин: <input type="text" name="login"></p>
            <p>Номер команды: <input type="text" name="team"></p>
            {% if error6 %} <p><font color="red">[ {{ error6 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Добавить">
        </center></form>
        <form action="delete_user_team" method="post"><center>
            <h3>Удалить руководителя:</h3>
            <p>Логин: <input type="text" name="login"></p>
            <p>Номер команды: <input type="text" name="team"></p>
            {% if error7 %} <p><font color="red">[ {{ error7 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Добавить">
        </center></form>
    </center></div>
    <div class="col t-3"><center>
        <h2>Участники команд:</h2>
        <form action="add_student_team" method="post"><center>
            <h3>Новый участник:</h3>
            <p>Команда (номер): <input type="text" name="team"></p>
            <p>Имя: <input type="text" name="name2"></p>
            <p>Фамилия: <input type="text" name="name1"></p>
            <p>Класс: <input type="text" name="class"></p>
            {% if error3 %} <p><font color="red">[ {{ error3 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Добавить">
        </center></form>
        <form action="delete_student_team" method="post"><center>
            <h3>Удалить участника:</h3>
            <p>Команда (номер): <input type="text" name="team"></p>
            <p>Имя: <input type="text" name="name2"></p>
            <p>Фамилия: <input type="text" name="name1"></p>
            <p>Класс: <input type="text" name="class"></p>
            {% if error4 %} <p><font color="red">[ {{ error4 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Удалить">
        </center></form>
        <form action="rejection" method="post"><center>
            <h3>Отказ участвовать:</h3>
            <p>Команда (номер): <input type="text" name="team"></p>
            <p>Имя: <input type="text" name="name2"></p>
            <p>Фамилия: <input type="text" name="name1"></p>
            <p>Класс: <input type="text" name="class"></p>
            {% if error10 %} <p><font color="red">[ {{ error10 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Отказаться">
        </center></form>
        <form action="unrejection" method="post"><center>
            <h3>Передумать отказываться:</h3>
            <p>Имя: <input type="text" name="name2"></p>
            <p>Фамилия: <input type="text" name="name1"></p>
            <p>Класс: <input type="text" name="class"></p>
            {% if error11 %} <p><font color="red">[ {{ error11 }} ]</font></p>
            {% endif %}
            <input type="submit" value="Передумать">
        </center></form>
    </center></div>
    {% endif %}
    <div class="col t-2"><center>
        <h2>Ваши команды:</h2>
        {% for team in teams %}
            <form action="student_subject" method="post"><center>
                <h3>{{ team[0] }}</h3>
                <table border="1">
                    <tr>
                        <td width="10%">Класс</td>
                        <td width="45%">Фамилия</td>
                        <td width="45%">Имя</td>
                        {% if team[0] != 'Отказ' %}
                            {% for subject in subjects %}
                                <td width="5%">{{subject}}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% for x in team[1] %}
                        <tr>
                            {% for y in x %}{% if team[0] != 'Отказ' or not y[0] %}<td>
                                {% if not y[0] %} {{ y[1] }}
                                {% elif y[2] %}
                                    <input type="checkbox" name="subject" value="{{ y[0] }}_{{ y[1] }}" checked>
                                    <input type="checkbox" name="old_subject" value="{{ y[0] }}_{{ y[1] }}" checked hidden>
                                {% else %}
                                    <input type="checkbox" name="subject" value="{{ y[0] }}_{{ y[1] }}">
                                    <input type="checkbox" name="old_subject" value="{{ y[0] }}_{{ y[1] }}" hidden>
                                {% endif %}
                            </td>{% endif %}{% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <input type="submit" value="Сохранить">
            </center></form>
            <br>
        {% endfor %}
        {% if error5 %} <p><font color="red">[ {{ error5 }} ]</font></p>
        {% endif %}
    </center></div>
</div>

{% endblock %}
