{% extends "page2.html" %}

{% block header %}
<a href="main.html"><!-- {year} --></a>
/
Расписание
{% endblock %}

{% block content %}
<center><h1>Расписание</h1></center>
<table width="100%" border="1">
    <tr>
        <td width="10%">Дата</td>
        <td width="25%">Предмет</td>
        <td width="10%">Классы</td>
        <td width="10%">Начало</td>
        <td width="10%">Конец</td>
        <td width="35%">Кабинеты</td>
    </tr>
    <!-- timetable --><!-- end -->
</table>

<!-- message --><!-- end -->

{% endblock %}
