<!-- login required -->
<!-- -1 -->

{% extends "base.html" %}

{% block content %}
<center><h1>Блокировка ИТИ</h1></center>

<div class="row col-12 justify-content-center">
    <div class="col-auto"><center>
        {% if full %}
        <h1>Блокировка:</h1>
        <form onsubmit="iti_block(this); return false;"><center>
            <!-- is_block -->
                <p><input type="radio" name="block" value="0" checked>Разблокировано</p>
                <p><input type="radio" name="block" value="1">Заблокировано</p>
            <!-- end -->
            <p><input type="submit" value="Сохранить"></p>
        </center></form>
        {% else %}
        <p>Вы не можете заблокировать ИТИ :(</p>
        {% endif %}
    </center></div>
</div>
{% endblock %}
