{% extends "page3.html" %}

{% block page_num %}
{% if not current_user.is_anonymous and current_user.can_do(<!-- {page num} -->) %}
<a href="#" onclick="addResult(window)">Результаты</a>
{% endif %}
{% endblock %}

{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../main.html"><!-- year --><!-- end --></a>
				/
				<a href="../<!-- {ref} -->_tours.html"><!-- tour_name --><!-- end --></a>
				/
				<!-- subject_name --><!-- end -->
			</font>
		</td>
	</tr>
</table>
<center><h1><!-- subject_name --><!-- end --></h1></center>
<!-- results table --><!-- end -->
{% endblock %}
