<!-- login required -->
<!-- -2 -->
<!-- replace 1 -->

<center>
    <h1>Коды участников</h1>
    <p><a href="create_codes">Присвоить коды</a></p>
    <p><a href="print_codes">Вывести таблицу</a></p>
    <p><a href="get_codes">Скачать коды в Excel</a></p>
    {% raw %}{% if error %} <p class="error-msg">[ {{ error }} ]</p> {% endif %}{% endraw %}
</center>

<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Код</td>
            </tr>
            {% for s in codes1 %}
                <tr>
                    <td>{{ s[0].class_name() }}</td>
                    <td>{{ s[0].name_1 }}</td>
                    <td>{{ s[0].name_2 }}</td>
                    <td>{{ s[1][0] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Код</td>
            </tr>
            {% for s in codes2 %}
            <tr>
                <td>{{ s[0].class_name() }}</td>
                <td>{{ s[0].name_1 }}</td>
                <td>{{ s[0].name_2 }}</td>
                <td>{{ s[1][0] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Код</td>
            </tr>
            {% for s in codes3 %}
            <tr>
                <td>{{ s[0].class_name() }}</td>
                <td>{{ s[0].name_1 }}</td>
                <td>{{ s[0].name_2 }}</td>
                <td>{{ s[1][0] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!-- replace 2 -->
