<!-- replace 1 -->

<center>
    <h1>Рейтинг команд</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="js-table-color-place" id="sorted-table">
                <thead><tr>
                    <th width="10%">Место</th>
                    <th width="30%">Команда</th>
                    {% for subject_id, subject_name in team_subjects %}
                        <th width="5%">{{ subject_name }}</th>
                    {% endfor %}
                    <th width="30%">Сумма</th>
                </tr></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    {% for team in teams %}
        <div class="w-100"></div>
        <h2>{{ teams[team] }}</h2>
        <table>
            <thead><tr>
                <th width="10%">Класс</th>
                <th width="10%">Фамилия</th>
                <th width="10%">Имя</th>
                {% for subject_id, subject_name in ind_subjects %}
                    <th width="10%">{{ subject_name }}</th>
                {% endfor %}
                <th width="10%">Сумма</th>
            </tr></thead>
            <tbody>
                {% for student in team_student[team] %}
                    <tr>
                        <td>{{ students[student][2] }}</td>
                        <td>{{ students[student][0] }}</td>
                        <td>{{ students[student][1] }}</td>
                        {% set ns = namespace(sum=0) %}
                        {% for subject, _ in ind_subjects %}
                            {% if student in student_results and subject in student_results[student] %}
                                <td>{{ student_results[student][subject][0] }}</td>
                                {% set ns.sum = ns.sum + student_results[student][subject][0] %}
                            {% else %} <td>-</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ ns.sum }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</center>
<script>
    let results = {{ team_results | tojson }}, teams = {{ teams | tojson }}, subjects = {{ team_subjects | tojson }};
    let tableData = generateTeamsTableData();
    filterResults(null, -1, false);
    let cols = [];
    for(let row of tableData) {
        for(let i = 2; i < row.length; ++i) cols.push(i);
    }
    colorizePlacesCols(cols);
</script>

<!-- replace 2 -->
