<!-- replace 1 -->

<center>
    <h1>Рейтинг школьников</h1>
    {% set ns = namespace(prev=none) %}
    <button id="filter-all" onclick="setChecked(null, true)">Все классы</button>
    <button onclick="setChecked(null, false)">Никакие классы</button>
    <br>
    {% for cls in classes | sort %}
        {% set cur_class = cls[0] %}
        {% if cur_class != ns.prev %}
            {% if ns.prev is not none %}<br>{% endif %}
            <button onclick="setChecked('{{ cur_class }}', true)">Все {{ cur_class }}</button>
            <button onclick="setChecked('{{ cur_class }}', false)">Никакие {{ cur_class }}</button>
            {% set ns.prev = cur_class %}
        {% endif %}
        <label><input type="checkbox" name="class_value" value="{{ cls }}">{{ cls }}</label>
    {% endfor %}
    <p><button id="filter-do" onclick="filterResults(3, -1)">Фильтровать</button></p>
    <p><button onclick="TableToExcel.convert(document.getElementById('sorted-table'));">Скачать как Excel</button></p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="js-table-color-place" id="sorted-table">
                <thead><tr>
                    <th width="10%">Место</th>
                    <th width="30%">Фамилия</th>
                    <th width="30%">Имя</th>
                    <th width="10%">Класс</th>
                    {% for subject_id in subjects %}
                        <th width="5%">{{ subjects[subject_id] }}</th>
                    {% endfor %}
                    <th width="10%">Сумма</th>
                </tr></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</center>
<script>
    let results = {{ results | tojson }}, subjects = {{ subjects | tojson }}, students = {{ students | tojson }};
    let tableData = generateStudentsTableData();
    console.log(tableData);
    generateAllTable();
</script>

<!-- replace 2 -->
