<!-- replace 1 -->
<center><h1>{{ subject_name }}</h1></center>

<center><h2>Результаты</h2></center>
<div class="row justify-content-center">
    <table class="js-table-color-place">
        <thead>
            <tr>
                <th width="5%">Место</th>
                <th width="15%">Команда</th>
                <th width="10%">Балл в рейтинг</th>
                {% if results.__len__() > 0 and results[0].__len__() > 3 %}
                    <th width="60%" colspan="{{ results[0].__len__() - 3 }}"><center>Участники</center></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                {% for cell in row %}<td>{{ cell }}</td>{% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>colorizePlaces();</script>

<!-- replace 2 -->
