{% extends "base.html" %}{% block content %}
<script>let pre_filter = false;</script>
<center>
    <h1>Рейтинг классов</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Класс
                    <br>
                    <button id="filter-all" onclick="setChecked(null, null, null, true, pre_filter)">+</button>
                    <button id="filter-none" onclick="setChecked(null, null, null, false, pre_filter)">-</button>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>let classes = [];</script>
    <br>
    <p class="invisible"><button id="filter-do" onclick="filterResults(1, 2, 3, true, true, ['js-table-for-excel-body'])">Фильтровать</button></p>
    <p><button onclick="TableToExcel.convert(document.getElementById('sorted-table'));">Скачать таблицу как Excel</button></p>
    <p><a href="" onclick="getClassesExcel(10); return false;">Скачать данные по параллелям</a></p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="js-table-color-place" id="sorted-table" data-cols-width="10,10,10,18">
                <thead>
                    <tr class="js-table-for-excel-head-main"><th colspan="5" id="table-head-content"></th></tr>
                    <tr class="js-table-for-excel-head-main"></tr>
                    <tr class="js-table-for-excel-head-sub">
                        <th width="10%">Место</th>
                        <th width="10%">Школа</th>
                        <th width="10%">Класс</th>
                        <th width="30%">Сумма</th>
                        <th width="10%">Результативных участников</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</center>
<script>
    let students = {}, ind_subjects = {}, ind_results = {}, group_results = {};
    let group_subjects = {}, iti = {'id': 10, 'name_in_list': '123', 'name_on_page': '123', 'classes': '123', 'ind_days': 123, 'default_ind_score': 123, 'net_score_formula': 0, 'ind_res_per_day': 123, 'ind_prize_policy': 0, 'automatic_division': 0, 'auto_teams': '123', 'sum_ind_to_team': 0, 'sum_gr_to_ind_policy': 0, 'sum_gr_to_super': 0, 'super_open_policy': 0, 'students_in_team': 123, 'encoding_type': 0, 'description': '123', 'block': 0};
    let tableData = generateClassesTableData();
    generateAllTable();
    preparePageForConvert();
    initAutoFilter('class_value');
</script>
{% endblock %}
