{% extends "page4.html" %}
{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../../main.html">ИТИ-2021</a>
				/
				<a href="../../individual_tours.html">Индивидуальный тур</a>
				/
				<a href="../2.html">История</a>
				/
				Протокол 8 класс.
			</font>
		</td>
	</tr>
</table>
<center><h1>История. Протокол 8 класс.</h1></center>
<!-- results table --><table width="100%" border="1">
                    <tr>
                        <td width="5%">Место</td>
                        <td width="15%">Фамилия</td>
                        <td width="15%">Имя</td>
                        <td width="10%">Класс</td><td width="5%">№ 1</td>
<td width="5%">Балл</td>
                        <td width="5%">Балл в рейтинг</td>
                    </tr>
<tr><td>1</td><td>Место1</td><td>Имя8</td><td>8Г</td><td>49</td><td>49</td><td>49</td></tr>
<tr><td>2</td><td>Место2</td><td>Имя8</td><td>8Д</td><td>30</td><td>30</td><td>30</td></tr>
</table><!-- end -->
{% endblock %}
