<!-- replace 1 -->
<div class="row col-12 justify-content-center">
	<div class="col table-col-450px">
		<h1>Новый пользователь</h1>
		<form onsubmit="user_add(this); return false;">
			<p>Логин: <input type="text" name="login"></p>
			<p>Пароль: <input type="text" name="password"></p>
			<p>Подтверждение пароля: <input type="text" name="password2"></p>
			{% raw %}{% include "subjects.html" %}{% endraw %}
			<input type="submit" value="Создать">
		</form>
	</div>
	<div class="col table-col-450px">
		<h1>Изменить роль</h1>
		<form onsubmit="user_edit_status(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			{% raw %}{% include "subjects.html" %}{% endraw %}
			<input type="submit" value="Изменить">
		</form>
	</div>
	<div class="col table-col-450px">
		<h1>Удалить пользователя</h1>
		<form onsubmit="user_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
		<br>
		<table border="1">
			<thead><tr>
				<th width="5%">ID</th>
				<th width="10%">Логин</th>
				<th width="10%">Статус</th>
			</tr></thead>
			{% for user in users %}{% if not user.can_do(-2) %}
			<tr>
				<td>{{ user.id }}</td>
				<td>{{ user.login }}</td>
				<td>{{ user.subjects_str(subjects) }}</td>
			</tr>
			{% endif %}{% endfor %}
		</table>
	</div>
</div>
<!-- replace 2 -->
