{% extends "page3.html" %}

{% block page_num %}
{% if not current_user.is_anonymous and current_user.can_do(1) %}
<a href="#" onclick="addResult(window)">Результаты</a>
{% endif %}
{% if 'team' == 'individual' and not current_user.is_anonymous %}
<a href="#" onclick="addAppeal(window)">Апелляция</a>
{% endif %}
{% endblock %}

{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../main.html"><!-- year -->ИТИ-2021<!-- end --></a>
				/
				<a href="../team_tours.html"><!-- tour_name -->Командный тур<!-- end --></a>
				/
				<!-- subject_name -->Командный тур<!-- end -->
			</font>
		</td>
	</tr>
</table>
<center><h1><!-- subject_name -->Командный тур<!-- end --></h1></center>
<!-- results table --><center><h2>Результаты</h2>
<table width="30%" border="1">
                    <tr>
                        <td width="10%">Место</td>
                        <td width="30%">Команда</td>
                        <td width="10%">Балл в рейтинг</td>
                    </tr>
<tr><td>1</td><td>Апельсин</td><td>1000</td></tr>
<tr><td>2</td><td>Бобры</td><td>500</td></tr>
</table></center><!-- end -->
{% endblock %}
