{% extends "base.html" %}

{% block content %}
<center>
	<h1>Индивидуальные туры</h1>
	<div class="row col-12 justify-content-center">
		<div class="col t-4"><center>
			<h2>История</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Ореховская</td><td class="p2">Алябьев</td><td class="p3">Мастыкина</td></tr>
				<tr><td>6</td><td class="p1">Конуркина</td><td class="p2">Буркова</td><td class="p3">Рыбка</td></tr>
				<tr><td>7</td><td class="p1">Будяк</td><td class="p2">Михеева</td><td class="p3">Сабуров</td></tr>
				<tr><td>8</td><td class="p1">Данилина</td><td class="p2">Шевченко</td><td class="p3">Казаков</td></tr>
				<tr><td>9</td><td class="p1">Шестаков</td><td class="p2">Остапчук</td><td class="p3">Гнатюк</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Английский язык</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Горовенко</td><td class="p2">Фадеев</td><td class="p3">Ореховская</td></tr>
				<tr><td>6</td><td class="p1">Поторочин</td><td class="p2">Козлова</td><td class="p3">Скоробогатько</td></tr>
				<tr><td>7</td><td class="p1">Катышева</td><td class="p2">Конно</td><td class="p3">Войнова</td></tr>
				<tr><td>8</td><td class="p1">Дудко</td><td class="p2">Казаков</td><td class="p3">Комарук</td></tr>
				<tr><td>9</td><td class="p1">Алексеева</td><td class="p2">Фролов</td><td class="p3">Метелькова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Русский язык</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Горовенко</td><td class="p2">Мясников</td><td class="p3">Ячменёв</td></tr>
				<tr><td>6</td><td class="p1">Костюнин</td><td class="p2">Поддубецкий</td><td class="p3">Суворова</td></tr>
				<tr><td>7</td><td class="p1">Нешумаева</td><td class="p2">Катышева</td><td class="p3">Ахметова</td></tr>
				<tr><td>8</td><td class="p1">Мозговая</td><td class="p2">Самсонова</td><td class="p3">Распопина</td></tr>
				<tr><td>9</td><td class="p1">Надикова</td><td class="p2">Верёвкин</td><td class="p3">Бетехтин</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>ИЦН</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>6</td><td class="p1">Скоробогатько</td><td class="p2">Немировская</td><td class="p3">Шелудько</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Информатика</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>7</td><td class="p1">Пожидаев</td><td class="p2">Михеева</td><td class="p3">Патюкова</td></tr>
				<tr><td>8</td><td class="p1">Провалинский</td><td class="p2">Казаков</td><td class="p3">Фалеев</td></tr>
				<tr><td>9</td><td class="p1">Тимошков</td><td class="p2">Аникутин</td><td class="p3">Дмитриева</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Математика</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Ячменёв</td><td class="p2">Коротких</td><td class="p3">Кононов</td></tr>
				<tr><td>6</td><td class="p1">Поддубецкий</td><td class="p2">Фальковская</td><td class="p3">Годовалова</td></tr>
				<tr><td>7</td><td class="p1">Юрченко</td><td class="p2">Арсенян</td><td class="p3">Коротков</td></tr>
				<tr><td>8</td><td class="p1">Трегубович</td><td class="p2">Нам</td><td class="p3">Шатров</td></tr>
				<tr><td>9</td><td class="p1">Шестаков</td><td class="p2">Чебоксарова</td><td class="p3">Шестакова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Обществознание</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>7</td><td class="p1">Каручок</td><td class="p2">Катышева</td><td class="p3">Гусарова</td></tr>
				<tr><td>8</td><td class="p1">Казаков</td><td class="p2">Димитришина</td><td class="p3">Ёжкина</td></tr>
				<tr><td>9</td><td class="p1">Надикова</td><td class="p2">Остапчук</td><td class="p3">Семукова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Естествознание</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Соломенцев</td><td class="p2">Андреев</td><td class="p3">Камаев</td></tr>
				<tr><td>6</td><td class="p1">Костюнин</td><td class="p2">Ченченко</td><td class="p3">Мамирова</td></tr>
				<tr><td>7</td><td class="p1">Бурмистров</td><td class="p2">Громыко</td><td class="p3">Михеев</td></tr>
				<tr><td>8</td><td class="p1">Сюсина</td><td class="p2">Карпова</td><td class="p3">Данилина</td></tr>
				<tr><td>9</td><td class="p1">Шишацкий</td><td class="p2">Веревкин</td><td class="p3">Ильяненко</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Литература</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Горовенко</td><td class="p2">Ковалев</td><td class="p3">Беспалова</td></tr>
				<tr><td>6</td><td class="p1">Дырин</td><td class="p2">Дьякова</td><td class="p3">Шелудько</td></tr>
				<tr><td>7</td><td class="p1">Катышева</td><td class="p2">Морозова</td><td class="p3">Ягупова</td></tr>
				<tr><td>8</td><td class="p1">Иванова</td><td class="p2">Распопина</td><td class="p3">Смирнова</td></tr>
				<tr><td>9</td><td class="p1">Копылова</td><td class="p2">Хитрун</td><td class="p3">Акулова</td></tr>
			</table>
		</center></div>
		<div class="col t-4"><center>
			<h2>Искусство</h2>
			<table width="100%" border="1">
				<tr>
					<td width="25%">Класс</td>
					<td width="25%">1 место</td>
					<td width="25%">2 место</td>
					<td width="25%">3 место</td>
				</tr>
				<tr><td>5</td><td class="p1">Горовенко</td><td class="p2">Пестова</td><td class="p3">Одинец</td></tr>
				<tr><td>6</td><td class="p1">Дьякова</td><td class="p2">Коваленко</td><td class="p3">Легейда</td></tr>
				<tr><td>7</td><td class="p1">Низова</td><td class="p2">Камоцкая</td><td class="p3">Рылкина</td></tr>
				<tr><td>8</td><td class="p1">Гапанович</td><td class="p2">Иванова</td><td class="p3">Смирнова</td></tr>
				<tr><td>9</td><td class="p1">Акулова</td><td class="p2">Иванова</td><td class="p3">Тарнакина</td></tr>
			</table>
		</center></div>
	</div>
</center>
{% endblock %}
