{% raw %}{% extends "base.html" %}{% block content %}{% endraw %}

<center>
    <h1>Рейтинг команд</h1>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="js-table-color-place" id="sorted-table">
                <thead><tr>
                    <th width="10%">Место</th>
                    <th width="30%">Команда</th>
                    {% for subject_id, subject in team_subjects %}
                        <th width="5%">{{ subject['short_name'] }}</th>
                    {% endfor %}
                    <th width="30%">Сумма</th>
                </tr></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    {% set gray_students = namespace(exists=False, max_days=0) %}
    {% for team_id in teams %}
        <br>
        <div class="w-100"></div>
        <h2>{{ teams[team_id]['name'] }}</h2>
        <table>
            <thead><tr>
                <th width="10%">Школа</th>
                <th width="10%">Класс</th>
                <th width="10%">Фамилия</th>
                <th width="10%">Имя</th>
                {% for subject_id, subject in ind_subjects %}
                    <th width="10%">{{ subject['short_name'] }}</th>
                {% endfor %}
                {% raw %}{% if adm %}<th width="10%">Сумма</th>{% endif %}{% endraw %}
            </tr></thead>
            <tbody>
                {% set gns = namespace(rows=[], row=[]) %}
                {% for student_id in team_student[team_id] %}
                    {% set student_days = ind_day_students[student_id] if student_id in ind_day_students else [] %}
                    {% set _ = gns.row.append(students[student_id]['school']) %}
                    {% set _ = gns.row.append(students[student_id]['class']) %}
                    {% set _ = gns.row.append(students[student_id]['name1']) %}
                    {% set _ = gns.row.append(students[student_id]['name2']) %}
                    {% set _ = gns.row.append(student_days.__len__()) %}
                    {% set gray_students.max_days = gray_students.max_days if gray_students.max_days > gns.row[-1] else gns.row[-1] %}
                    {% set ns = namespace(sum={}, all_sum=0) %}
                    {% for ys_id, subject in ind_subjects %}
                        {% set subject_id = subject['id'] %}
                        {% if subject_id in ind_results and student_id in ind_results[subject_id] %}
                            {% set student_result = ind_results[subject_id][student_id]['score'] %}
                            {% set _ = gns.row.append(student_result) %}
                            {% set day = subject['day'] %}
                            {% if day not in ns.sum %}
                                {% set _ = ns.sum.__setitem__(day, []) %}
                            {% endif %}
                            {% set _ = ns.sum[day].append(student_result) %}
                        {% else %} {% set _ = gns.row.append("—") %}
                        {% endif %}
                    {% endfor %}
                    {% for day, res in ns.sum.items() %}
                        {% set ns.all_sum = ns.all_sum + ((res | sort(reverse=True)) [:iti.ind_res_per_day] | sum) %}
                    {% endfor %}
                    {% set _ = gns.row.append(ns.all_sum) %}
                    {% set _ = gns.rows.append(gns.row) %}
                    {% set gns.row = [] %}
                {% endfor %}
                {% for row in gns.rows|sort() %}
                    <tr {% if row[4] < gray_students.max_days %} class="student_no_ind" {% set gray_students.exists = True %} {% endif %}>
                        {% for item in row[:4] %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        {% for item in row[5:-1] %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        {% raw %}{% if adm %}{% endraw %}
                            <td>{{ row[-1] }}</td>
                        {% raw %}{% endif %}{% endraw %}
                    </tr>
                {% endfor %}
                <tr>
                    {% raw %}{% if adm %}{% endraw %}
                    <td colspan="4"><center>Сумма</center></td>
                    {% for i in range(ind_subjects.__len__() + 1) %}
                        {% set ns = namespace(sum=0) %}
                        {% for j in gns.rows %}
                            {% if j[i + 5] != "—" %}
                                {% set ns.sum = ns.sum + j[i + 5] %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ ns.sum }}</td>
                    {% endfor %}
                    {% raw %}{% endif %}{% endraw %}
                </tr>
            </tbody>
        </table>
    {% endfor %}
    {% if gray_students.exists %}
        <p>Школьники, выделенные <span class="student_no_ind">серым фоном</span>, заменили заболевших школьников, и их индивидуальные результаты не идут в рейтинг команд.</p>
    {% endif %}
</center>
<script>
    let results = {{ team_results }}, teams = {{ teams }}, subjects = {{ team_subjects }}, students = {{ students }};
    let ind_subjects = {{ ind_subjects }}, ind_results = {{ ind_results }}, iti = {{ iti.json() }};
    let team_student = {{ team_student }}, ind_day_students = {{ ind_day_students }};
    let tableData = generateTeamsTableData();
    filterResults(null, null, -1, false, false);
    let cols = [];
    for (let row of tableData) {
        for (let i = 2; i < row.length; ++i) cols.push(i);
        break;
    }
    colorizePlacesCols(cols);
</script>

{% raw %}{% endblock %}{% endraw %}
