{% raw %}{% extends "base.html" %}{% block content %}{% endraw %}

<script>
    let pre_filter = () => {
        let form = document.getElementById("form_save_student_teams");
        student_team_save(form);
    };
</script>
{% from "iti/macro_filters.html" import filter_classes %}

<center>
    <h1>Рейтинг школьников с галочками</h1>
    {{ filter_classes(classes) }}
    <br>
    <p class="invisible"><button id="filter-do" onclick="filterResults(3, 4, -1); addCheckBoxes(); find_checkboxes('js-rating-check')">Фильтровать</button></p>
    <p><button onclick="TableToExcel.convert(document.getElementById('sorted-table'));">Скачать как Excel</button></p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <form id="form_save_student_teams" onsubmit="pre_filter(); return false;">
                <p>
                    <input type="submit" value="Сохранить"> (автосохранение при новом фильтре)
                    <br>
                    Итого: + <span id="rating_students_check_plus">j</span> штук, - <span id="rating_students_check_minus">n</span> штук.
                </p>
                <table class="js-table-color-place" id="sorted-table">
                    <thead><tr>
                        <th width="10%">Место</th>
                        <th width="30%">Фамилия</th>
                        <th width="30%">Имя</th>
                        <th width="10%">Школа</th>
                        <th width="10%">Класс</th>
                        {% for subject_id, subject in ind_subjects %}
                            <th width="5%">{{ subject['short_name'] }}</th>
                        {% endfor %}
                        <th width="10%">Другие</th>
                        <th width="10%">ФИОК</th>
                        <th width="10%">ID</th>
                        <th width="10%">Сумма</th>
                        <th width="10%">Команда</th>
                    </tr></thead>
                    <tbody></tbody>
                </table>
            </form>
        </div>
    </div>
</center>
<script>
    let ind_results = {{ ind_results }}, ind_subjects = {{ ind_subjects }}, students = {{ students }}, checkMarks = {{ check_marks | tojson }};
    let iti = {{ iti.json() }}, group_results = {{ group_results }}, group_subjects = {{ group_subjects }};
    let tableData = generateStudentsTableData(true);
    generateNoneTable();
    initAutoFilter('class_value');
</script>

{% raw %}{% endblock %}{% endraw %}
