{% raw %}{% extends "base.html" %}{% block content %}{% endraw %}
<center><h1>{{ class_number }} класс</h1></center>

<div class="row justify-content-center">
    <div>
        <table width="100%" border="1">
            <tr>
                <td width="5%">ID</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Отчество</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
                <td width="10%">ID ЛД</td>
                <td width="10%">Школа</td>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name_1 }}</td>
                    <td>{{ student.name_2 }}</td>
                    <td>{% if student.name_3 is not none %}{{ student.name_3 }}{% endif %}</td>
                    <td>{{ student.class_name() }}</td>
                    <td>{{ student.get_gender() }}</td>
                    <td>{{ student.other_id }}</td>
                    <td>{{ schools[student.school_id].short_name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% raw %}{% endblock %}{% endraw %}
