{% raw %}{% extends "base.html" %}{% block content %}{% endraw %}
<center><h1>Настройки предметов ИТИ</h1></center>

<div class="row col-12 justify-content-center">
    <div class="col-auto">
        <form onsubmit="year_subject_save(this); return false;"><center>
            <h2>Предметы:</h2>
            <table width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <h3>Индивидуальные туры:</h3>
                        {% for subject in subjects %} {% if subject.type == 'i' %}
                            {% if subject.id in iti_subject %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}" checked>[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% else %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}">[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% endif %}
                        {% endif %} {% endfor %}
                    </td>
                    <td width="50%" valign="top">
                        <h3>Групповые туры:</h3>
                        {% for subject in subjects %} {% if subject.type == 'g' %}
                            {% if subject.id in iti_subject %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}" checked>[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% else %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}">[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% endif %}
                        {% endif %} {% endfor %}
                        <h3>Другое:</h3>
                        {% for subject in subjects %} {% if subject.type == 'a' %}
                            {% if subject.id in iti_subject %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}" checked>[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% else %}
                                <p><input type="checkbox" name="subject" value="{{ subject.id }}">[ {{ subject.id }} ] {{ subject.name }}</p>
                            {% endif %}
                        {% endif %} {% endfor %}
                    </td>
                </tr>
            </table>
            <input type="submit" value="Сохранить">
        </center></form>
    </div>
    <div class="col-auto"><center>
        <h2>Расписание:</h2>
        <form onsubmit="year_subject_edit(this, 'description'); return false;"><center>
            <p>Предмет (номер): <input type="text" name="subject"></p>
            <p>Классы: <input type="text" name="classes"></p>
            <p>Кабинет: <input type="text" name="place" size="40"></p>
            <p>
                День: <input type="date" name="date">
                Номер: <input type="text" name="n_d" size="5">
            </p>
            <p>
                Начало: <input type="time" name="start">
                Конец: <input type="time" name="end">
            </p>
            <p><input type="submit" value="Сохранить"></p>
        </center></form>
        <br>
        <h2><a href="public_description">Опубликовать расписание</a></h2>
        {% raw %}{% if error11 %} <p class="error-msg">[ {{ error11 }} ]</p>{% endif %}{% endraw %}
    </center></div>
</div>
{% raw %}{% endblock %}{% endraw %}
