{% raw %}{% extends "base.html" %}{% block content %}{% endraw %}
<center>
    <h1>Расписание</h1>
    <table border="1" class="table-timetable">
        <thead><tr>
            <th width="6%">День</th>
            <th width="14%">Дата</th>
            <th width="21%">Предмет</th>
            <th width="10%">Классы</th>
            <th width="8%">Начало</th>
            <th width="8%">Конец</th>
            <th width="35%">Кабинеты</th>
        </tr></thead>
        {% for subject in iti_subjects %}
            <tr>
                <td>{{ subject.n_d }}</td>
                <td>{{ krsk_moment(subject.start).strftime('%d %B %Y').replace('November', 'ноября') }}</td>
                <td>{{ subjects[subject.subject_id].name }}</td>
                <td>{{ subject.classes }}</td>
                <td>{{ krsk_moment(subject.start).strftime('%H:%M') }}</td>
                <td>{{ krsk_moment(subject.end).strftime('%H:%M') }}</td>
                <td>{{ subject.place }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Время в таблице указано красноярское.</p>
</center>
{% raw %}{% endblock %}{% endraw %}
