{% extends "page3.html" %}

{% block page_num %}
{% if not current_user.is_anonymous and current_user.can_do(2) %}
<a href="#" onclick="addResult(window)">Результаты</a>
{% endif %}
{% if 'individual' == 'individual' and not current_user.is_anonymous %}
<a href="#" onclick="addAppeal(window)">Апелляция</a>
{% endif %}
{% endblock %}

{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../main.html"><!-- year -->ИТИ-2021<!-- end --></a>
				/
				<a href="../individual_tours.html"><!-- tour_name -->Индивидуальный тур<!-- end --></a>
				/
				<!-- subject_name -->История<!-- end -->
			</font>
		</td>
	</tr>
</table>
<center><h1><!-- subject_name -->История<!-- end --></h1></center>
<!-- results table --><center><h2>Результаты</h2></center>
<table width="100%"><tr>
<td width="30%" valign="top">
            <center>
                <h3>8 класс</h3>
                <p>(Максимум: 100 баллов)</p>
            </center> <table width="100%" border="1">
                    <tr>
                        <td width="10%">Место</td>
                        <td width="30%">Фамилия</td>
                        <td width="30%">Имя</td>
                        <td width="10%">Класс</td>
                        <td width="10%">Балл</td>
                        <td width="10%">Балл в рейтинг</td>
                    </tr>
<tr class="p1"><td>1</td><td>Место1</td><td>Имя8</td><td>8Г</td><td>49</td><td>49</td></tr>
<tr class="p2"><td>2</td><td>Место2</td><td>Имя8</td><td>8Д</td><td>30</td><td>30</td></tr>
</table> </td>
<td width="5%"></td><td width="30%" valign="top">
            <center>
                <h3>9 класс</h3>
                <p>(Максимум: 100 баллов)</p>
            </center> <table width="100%" border="1">
                    <tr>
                        <td width="10%">Место</td>
                        <td width="30%">Фамилия</td>
                        <td width="30%">Имя</td>
                        <td width="10%">Класс</td>
                        <td width="10%">Балл</td>
                        <td width="10%">Балл в рейтинг</td>
                    </tr>
<tr class="p1"><td>1</td><td>Место 1</td><td>Имя</td><td>9А</td><td>100</td><td>100</td></tr>
<tr class="p1"><td>1</td><td>Место 3</td><td>Имя</td><td>9В</td><td>100</td><td>100</td></tr>
<tr class="p3"><td>3</td><td>Место 2</td><td>Имя</td><td>9Б</td><td>80</td><td>80</td></tr>
</table> </td>
</tr></table>
<center><h2>Протоколы</h2></center>
<p><a href="2/protocol_8.html">8 класс</a></p>
<p><a href="2/protocol_9.html">9 класс</a></p>
<!-- end -->
<center><h2>Файлы</h2></center>
<!-- files -->
<p><a href="/2021/individual/2/ИТИ 2021. История. Решения 9 класс.jpg">Решения 9 класс</a></p>
<!-- end -->
{% endblock %}
