{% extends "page3.html" %}

{% block page_num %}
{% if not current_user.is_anonymous and current_user.can_do(3) %}
<a class="dropdown-item" href="#" onclick="addResult(window)">Результаты</a>
{% endif %}
{% if 'individual' == 'individual' and not current_user.is_anonymous %}
<a class="dropdown-item" href="#" onclick="addAppeal(window)">Апелляция</a>
{% endif %}
{% endblock %}

{% block header %}
<a href="../main.html">ИТИ-2021</a>
/
<a href="../individual_tours.html">Индивидуальный тур</a>
/
Английский язык
{% endblock %}

{% block content %}
<center><h1>Английский язык</h1></center>
<!-- results table -->
<center><h2>Результаты</h2></center>
<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <center>
            <h3>5 класс</h3>
            <p>(Максимум: 70 баллов)</p>
        </center>
        <table width="100%" border="1">
            <tr>
                <td width="10%">Место</td>
                <td width="30%">Фамилия</td>
                <td width="30%">Имя</td>
                <td width="10%">Класс</td>
                <td width="10%">Балл</td>
                <td width="10%">Балл в рейтинг</td>
            </tr>
            <tr class="p1"><td>1</td><td>Место 1</td><td>Имя5</td><td>5Я</td><td>30</td><td>43</td></tr>
        </table>
    </div>
    <div class="col t-3">
        <center>
            <h3>7 класс</h3>
            <p>(Максимум: 80 баллов)</p>
        </center>
        <table width="100%" border="1">
            <tr>
                <td width="10%">Место</td>
                <td width="30%">Фамилия</td>
                <td width="30%">Имя</td>
                <td width="10%">Класс</td>
                <td width="10%">Балл</td>
                <td width="10%">Балл в рейтинг</td>
            </tr>
            <tr class="p1"><td>1</td><td>Место1</td><td>Имя7</td><td>7Е</td><td>70</td><td>100</td></tr>
        </table>
    </div>
    <div class="col t-3">
        <center>
            <h3>8 класс</h3>
            <p>(Максимум: 75 баллов)</p>
        </center>
        <table width="100%" border="1">
            <tr>
                <td width="10%">Место</td>
                <td width="30%">Фамилия</td>
                <td width="30%">Имя</td>
                <td width="10%">Класс</td>
                <td width="10%">Балл</td>
                <td width="10%">Балл в рейтинг</td>
            </tr>
            <tr class="p1"><td>1</td><td>Место1</td><td>Имя8</td><td>8Г</td><td>73</td><td>100</td></tr>
        </table>
    </div>
    <div class="col t-3">
        <center>
            <h3>9 класс</h3>
            <p>(Максимум: 70 баллов)</p>
        </center>
        <table width="100%" border="1">
            <tr>
                <td width="10%">Место</td>
                <td width="30%">Фамилия</td>
                <td width="30%">Имя</td>
                <td width="10%">Класс</td>
                <td width="10%">Балл</td>
                <td width="10%">Балл в рейтинг</td>
            </tr>
            <tr class="p1"><td>1</td><td>Место 1</td><td>Имя</td><td>9А</td><td>5</td><td>7</td></tr>
        </table>
    </div>
</div>
<center><h2>Протоколы</h2></center>
<p><a href="3/protocol_5.html">5 класс</a></p>
<p><a href="3/protocol_7.html">7 класс</a></p>
<p><a href="3/protocol_8.html">8 класс</a></p>
<p><a href="3/protocol_9.html">9 класс</a></p>
<!-- end -->

<!-- files --><!-- end -->

{% endblock %}
