{% extends "page3.html" %}

{% block page_num %}
{% if not current_user.is_anonymous and current_user.can_do(4) %}
<a href="#" onclick="addResult(window)">Результаты</a>
{% endif %}
{% if 'individual' == 'individual' and not current_user.is_anonymous %}
<a href="#" onclick="addAppeal(window)">Апелляция</a>
{% endif %}
{% endblock %}

{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../main.html"><!-- year -->ИТИ-2021<!-- end --></a>
				/
				<a href="../individual_tours.html"><!-- tour_name -->Индивидуальный тур<!-- end --></a>
				/
				<!-- subject_name -->Русский язык<!-- end -->
			</font>
		</td>
	</tr>
</table>
<center><h1><!-- subject_name -->Русский язык<!-- end --></h1></center>
<!-- results table --><!-- end -->
{% endblock %}
