{% extends "page1.html" %}

{% block header %}
<a href="/">ИТИ</a>
/
Ошибка 403
{% endblock %}

{% block content %}
<center>
    <h1>Ошибка доступа :(</h1>
    {% if current_user.is_anonymous %} <p>Для просмотра данной страницы необходимо зайти на сайт.</p>
    {% else %}
        <p>У вас недостаточно прав для просмотра данной страницы.</p>
        <p>Возможно, вы ввели некорректные данные или пытались отредактировать завершённое ИТИ.</p>
    {% endif %}
    <p><font color="red">[ Ошибка 403 ]</font></p>
</center>

{% endblock %}