<!-- login required -->
<!-- -2 -->
{% extends "page2.html" %}
{% block content %}

{% block head %}{% endblock %}

<center>
    <h2>Командный зачёт</h2>
    {% block rating_teams %}{% endblock %}
</center>
<br>
<div class="row col-12 justify-content-center">
    <div class="col t-2">
        <center><h2>Суперчемпион</h2></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">1 места</td>
                <td width="5%">2 места</td>
                <td width="5%">3 места</td>
            </tr>
            {% block rating_student %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h2>Лучший класс</h2></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_class %}{% endblock %}
        </table>
    </div>
</div>
<br>
<center><H2>Топ параллелей</H2></center>
<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <center><h3>Лучшие второклассники</h3><p><a href="rating_2.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="2" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_2 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие третьеклассники</h3><p><a href="rating_3.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="3" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_3 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error3 %} <p><font color="red">[ {{ error3 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие четвероклассники</h3><p><a href="rating_4.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="4" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_4 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error4 %} <p><font color="red">[ {{ error4 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
</div>
<script>find_checkboxes();</script>

{% endblock %}
