<!-- login required -->
{% extends "base.html" %}

{% block header %}
<a href="../../main.html">ИТИ-{{year}}</a>
/
<a href="../../{{h_type_1}}_tours.html">{{h_type_2}}</a>
/
<a href="../{{subject}}.html">{{h_sub_name}}</a>
/
Апелляция
{% endblock %}

{% block content %}
<center>
	<h1>Подать апелляцию</h1>
	<form action="add_appeal" method="post">
		<p>Код участника: <input type="text" name="code"></p>
		<p>Апеллируемые задачи: <input type="text" name="tasks"></p>
		<p>Причина апелляции:
			<textarea name="description" class="js-textarea"></textarea></p>
		<script>initTextArea()</script>
		{% if error1 %} <p class="error-msg">[ {{ error1 }} ]</p>
		{% endif %}
		<input type="submit" value="Подать">
	</form>
</center>

{% endblock %}
