<!-- login required -->
{% extends "page4.html" %}
{% block content %}

<table width="100%">
	<tr>
		<td>
			<font size="3">
				<a href="../../main.html">ИТИ-{{year}}</a>
				/
				<a href="../../{{h_type_1}}_tours.html">{{h_type_2}}</a>
				/
				<a href="../{{subject}}.html">{{h_sub_name}}</a>
				/
				Апелляция
			</font>
		</td>
	</tr>
</table>

<center>
	<h1>Подать апелляцию</h1>
	<form action="add_appeal" method="post">
		<p>Код участника: <input type="text" name="code"></p>
		<p>Апеллируемые задачи: <input type="text" name="tasks"></p>
		<p>Причина апелляции:
			<textarea name="description" id="file_text" oninput="textInput(document, 'file_text')"></textarea></p>
		<script>textInput(document, 'file_text')</script>
		{% if error1 %} <p><font color="red">[ {{ error1 }} ]</font></p>
		{% endif %}
		<input type="submit" value="Подать">
	</form>
</center>

{% endblock %}
