{% extends "base.html" %}

{% block content %}
<h1>Панель редактировния ИТИ</h1>
<div class="row">
    <div class="col">
        <h2>Глобальные настройки</h2>
        <ul>
            {% if full %}
            <li><a href="user_edit.html">Пользователи (учителя)</a></li>
            <li><a href="subjects_and_years.html">Создать ИТИ или предмет</a></li>
            <!--<li><a href="#" onclick="edit(document)">Редактировать страницу</a></li>-->
            <li><a href="student_edit.html">Участники (школьники)</a></li>
            <li><a href="settings">Настройки пользователя (и сайта)</a></li>
            {% elif adm %}
            <li><a href="user_edit.html">Пользователи (учителя)</a></li>
            <li><a href="student_edit.html">Участники (школьники)</a></li>
            <li><a href="settings">Настройки пользователя</a></li>
            {% else %}
            <li><a href="student_edit.html">Участники (школьники)</a></li>
            <li><a href="settings">Настройки пользователя</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col">
        <h2>Настройки ИТИ {{ year if year else '' }}</h2>
        {% if not year %}<p>Год ИТИ не выбран</p>
        {% else %}<ul>
            {% if adm %}
            <li><a href="{{ year }}/subjects_for_year.html">Редактировать ИТИ</a></li>
            <li><a href="{{ year }}/team_edit">Команды ИТИ</a></li>
            <li><a href="{{ year }}/codes.html">Коды участников</a></li>
            <li><a href="{{ year }}/history">История операций</a></li>
            {% else %}
            <li><a href="{{ year }}/team_edit">Настройки команд</a></li>
            {% endif %}
            <li><a href="{{ year }}/rating.html">Рейтинг</a></li>
            <li><a href="{{ year }}/teams.html">Команды</a></li>
            <li><a href="{{ year }}/timetable.html">Расписание</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор года</h3>
        {% for y in years %}
            {% if y.year < 0 %}<li><a href="#" onclick="chooseYear({{ y.year }})">ИТИ НШ {{ -y.year }}</a></li>
            {% else %}<li><a href="#" onclick="chooseYear({{ y.year }})">ИТИ ОШ {{ y.year }}</a></li>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col">
        <h2>Настройки предмета {{ subject.name if subject else '' }}</h2>
        {% if not subject %}<p>Предмет не выбран (для выбора предмета должен быть выбран год)</p>
        {% elif not anon and current_user.can_do(subject.id) %}<ul>
            <li><a href="{{ year }}/{{ subject.id }}.html">Результаты</a></li>
            <li><a href="{{ year }}/{{ subject.id }}.html/add_result">Редактировать</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор предмета</h3>
        {% for s in subjects %}
            <li><a href="#" onclick="chooseSubject({{ s.id }})">{{ s.name }}</a></li>
        {% endfor %}
    </div>
</div>
{% endblock %}
