{% extends "base.html" %}

{% block content %}
<h1>Панель редактирования ИТИ</h1>
<div class="row" style="display: flex;">
    <div class="col" style="width: 30%; position: relative; padding: 10px;">
        <h2>Глобальные настройки</h2>
        <ul>
            {% if check_role(roles=[UserRoleGlobal.CHANGE_USER]) %}<li><a href="user_edit">Создать пользователя (учителя)</a></li>{% endif %}
            {% if check_role(roles=[UserRoleGlobal.CHANGE_ITI]) %}<li><a href="years_edit">Создать ИТИ</a></li>{% endif %}
            {% if check_role(roles=[UserRoleGlobal.CHANGE_SUBJECT]) %}<li><a href="subjects_edit">Создать предмет</a></li>{% endif %}
            {% if check_role(roles=[UserRoleGlobal.CHANGE_SCHOOL]) %}<li><a href="school_edit">Создать школу</a></li>{% endif %}
            {% if check_role(roles=[UserRoleGlobal.FULL]) %}<li><a href="upload_excel">Загрузить Excel на сайт</a></li>{% endif %}
            <li><a target="_blank" href="https://drive.google.com/drive/folders/1WF8ALf5ctRKGO5r7q5AP5IopGNHC8Va5?usp=drive_link">Приложение «ИТИ-сканер»</a></li>
            <li><a target="_blank" href="https://github.com/slavashestakov2005/ITI">Github (с описанием всех Excel документов в частности)</a></li>
        </ul>
        <br>
        <a href="/settings" class="danger-text">Настройки пользователя</a>
    </div>
    <div class="col-3" style="width: 30%; position: relative; padding: 10px;">
        <h2>Настройки {% if iti %} {{ iti.name_on_page }}, ID: {{ iti.id }} {% endif %}</h2>
        {% if not iti %}<p>Год ИТИ не выбран</p>
        {% else %}<ul>
            {% if adm %}
            <li><a href="{{ iti.id }}/year_block">Блокировка ИТИ</a></li>
            <li><a href="{{ iti.id }}/subjects_for_year">Предметы и расписание ИТИ</a></li>
            <li><a href="{{ iti.id }}/messages_for_year">Объявления ИТИ (новости на главной странице)</a></li>
            <li><a href="{{ iti.id }}/student_edit">Участники ИТИ (школьники)</a></li>
            <li><a href="{{ iti.id }}/team_edit">Команды ИТИ</a></li>
            <li><a href="{{ iti.id }}/codes">Коды участников</a></li>
            {% if iti.encoding_type == 1 %}<li><a href="{{ iti.id }}/barcodes_edit">Редактирование штрих-кодов работ</a></li>{% endif %}
            <li><a href="{{ iti.id }}/excel">Excel таблицы с данными</a></li>
            <li><a href="/scanner_barcode?iti={{ iti.id }}">Веб-сканер ИТИ штрих-коды</a></li>
            {% endif %}
            {% if check_role(roles=[UserRoleGlobal.CHANGE_USER]) %}<li><a href="{{ iti.id }}/roles_edit">Роли пользователей ИТИ (учителей)</a></li>{% endif %}
            <li><a href="{{ iti.id }}/rating">Рейтинг</a></li>
            <li><a href="{{ iti.id }}/timetable">Расписание</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор года</h3>
        {% for y in itis %}
            <li><a href="#" onclick="chooseYear({{ y.id }})">{{ y.name_in_list }}</a></li>
        {% endfor %}
    </div>
    <div class="col-3" style="width: 30%; position: relative; padding: 10px;">
        <h2>Настройки предмета {% if subject %} {{ subject['subject'].name }}, ID: {{ subject['subject'].id }} {% endif %}</h2>
        {% if not subject %}<p>Предмет не выбран (для выбора предмета должен быть выбран год)</p>
        {% elif check_role(user=current_user, roles=[UserRoleItiSubject.ADD_RESULT, UserRoleItiSubject.EDIT_RESULT, UserRoleItiSubject.EDIT_SCORE, UserRoleItiSubject.DELETE_RESULT, UserRoleItiSubject.SPLIT_CLASS, UserRoleItiSubject.SHARE_RESULT], iti_id=subject['iti_subject'].iti_id, iti_subject_id=subject['iti_subject'].id) %}<ul>
            <li><a href="{{ iti.id }}/{{ subject['subject'].id }}">Результаты</a></li>
            <li><a href="{{ iti.id }}/{{ subject['subject'].id }}/add_result">Редактировать</a></li>
            <li><a href="/scanner_result?iti={{ iti.id }}&subject={{ subject['subject'].id }}">Веб-сканер ИТИ для записи результатов</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор предмета</h3>
        {% for s in subjects %}
            <li><a href="#" onclick="chooseSubject({{ s['id'] }})">{{ s['info'].name }}</a></li>
        {% endfor %}
    </div>
</div>
{% endblock %}
