{% extends "base.html" %}

{% block content %}
<h1>Панель редактировния ИТИ</h1>
<div class="row">
    <div class="col">
        <h2>Глобальные настройки</h2>
        <ul>
            {% if full %}
            <li><a href="user_edit.html">Пользователи (учителя)</a></li>
            <li><a href="years_edit.html">Создать ИТИ</a></li>
            <li><a href="subjects_edit.html">Создать предмет</a></li>
            <li><a href="school_edit.html">Создать школу</a></li>
            <li><a href="settings.html">Настройки пользователя (и сайта)</a></li>
            <li><a href="upload_excel.html">Загрзить Excel на сайт</a></li>
            {% elif adm %}
            <li><a href="user_edit.html">Пользователи (учителя)</a></li>
            <li><a href="school_edit.html">Создать школу</a></li>
            <li><a href="settings.html">Настройки пользователя</a></li>
            {% else %}
            <li><a href="settings.html">Настройки пользователя</a></li>
            {% endif %}
            <li><a target="_blank" href="https://drive.google.com/drive/folders/1WF8ALf5ctRKGO5r7q5AP5IopGNHC8Va5?usp=drive_link">Приложение «ИТИ-сканер»</a></li>
            <li><a target="_blank" href="https://github.com/slavashestakov2005/ITI">Github (с описанием всех Excel документов в частности).</a></li>
        </ul>
    </div>
    <div class="col">
        <h2>Настройки {% if iti %} {{ iti.name_on_page }}, ID: {{ iti.id }} {% endif %}</h2>
        {% if not iti %}<p>Год ИТИ не выбран</p>
        {% else %}<ul>
            {% if full %}
            <li><a href="{{ iti.id }}/year_block">Блокировка ИТИ</a></li>
            {% endif %}
            {% if adm %}
            <li><a href="{{ iti.id }}/subjects_for_year.html">Предметы и расписание ИТИ</a></li>
            <li><a href="{{ iti.id }}/messages_for_year.html">Объявления ИТИ (новости на главной странице)</a></li>
            <li><a href="{{ iti.id }}/student_edit.html">Участники ИТИ (школьники)</a></li>
            <li><a href="{{ iti.id }}/team_edit">Команды ИТИ</a></li>
            <li><a href="{{ iti.id }}/codes.html">Коды участников</a></li>
            <li><a href="{{ iti.id }}/excel.html">Excel таблицы с данными</a></li>
            {% else %}
            <li><a href="{{ iti.id }}/team_edit">Команды ИТИ</a></li>
            {% endif %}
            <li><a href="{{ iti.id }}/rating.html">Рейтинг</a></li>
            <li><a href="{{ iti.id }}/timetable.html">Расписание</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор года</h3>
        {% for y in itis %}
            <li><a href="#" onclick="chooseYear({{ y.id }})">{{ y.name_in_list }}</a></li>
        {% endfor %}
    </div>
    <div class="col">
        <h2>Настройки предмета {% if subject %} {{ subject.name }}, ID: {{ subject.id }} {% endif %}</h2>
        {% if not subject %}<p>Предмет не выбран (для выбора предмета должен быть выбран год)</p>
        {% elif not anon and current_user.can_do(subject.id) %}<ul>
            <li><a href="{{ iti.id }}/{{ subject.id }}.html">Результаты</a></li>
            <li><a href="{{ iti.id }}/{{ subject.id }}.html/add_result">Редактировать</a></li>
        </ul>{% endif %}
        <br>
        <h3>Выбор предмета</h3>
        {% for s in subjects %}
            <li><a href="#" onclick="chooseSubject({{ s.id }})">{{ s.name }}</a></li>
        {% endfor %}
    </div>
</div>
{% endblock %}
