<!DOCTYPE html>
<html lang="ru">
<head>
    {% if current_user.is_anonymous %} {% set anon = True %} {% else %}
    {% set anon = False %}
    {% set adm = (iti and check_role(roles=[UserRoleIti.ADMIN], iti_id=iti.id)) %}
    {% set full = check_role(roles=[UserRoleGlobal.FULL]) %}
    {% endif %}
    <meta charset="utf-8">
    <title>ИТИ</title>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/JS/excel/tableToExcel.js"></script>
    <script src="/JS/scripts.js"></script>
    <script src="/JS/requests.js"></script>
    <script src="/JS/rating_tables.js"></script>
    <!-- <link rel="stylesheet" href="/CSS/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/CSS/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/Images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
</head>


<body style="font-family: 'Geologica', sans-serif;"> 
<div class="wrapper">
    <div class="navigation">
        <div class="content nav-content">
            <div class="links">
                {% if iti %}
                    <a href="/{{iti.id}}">
                        <img class="logo" src="/Images/logo.svg" alt="Интеллектуально творческие игры">
                    </a>
                    <div class="nav-links">
                        <a class="link">{{iti.name_in_list}}</a>
                        <a href="/{{iti.id}}/main#page_end" class="link">Cменить</a>
                    </div>
                {% else%}
                <a href="/">
                    <img class="logo" src="/Images/logo.svg" alt="Интеллектуально творческие игры">
                </a>
                <div class="nav-links">
                    <a class="link">Сайт ИТИ</a>
                </div>
                {% endif %}
            </div>
            <div class="right-side">
                <form method="GET" action="main">
                    <div class="search_res">
                        <input type="search" name="q" placeholder="Фамилия Имя Класс" class="search-inp">
                        <button type="submit" value="" class="search-submit">
                            <img src="/Images/search-icon.svg" alt="">
                        </button>
                    </div>
                </form>
                <div class="login-logout">
                    <a href="/login">
                        <button class="login-btn">
                            <img src="/Images/login-icon.svg" alt="">
                        </button>
                        {% if not anon %}
                        <div class="spacer">
                            <a href="/logout" class="button-logout">Выход</a>
                        </div>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
            {% block content %}{% endblock %}
    
    <div class="footer">
        <div class="container content">
            <div class="footer-boxs">
                <div class="box">
                    О нас:<br>
                    <a href="/Info/organizer.html">Организаторы</a><br>
                    <a href="/Info/author.html">Авторы</a><br>
                    <a href="/Info/thank_us.html">Благодарности</a><br>
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd7FopqmHoR5Ugcg_-ZAs-guy8NHS5PSvvDsx_rYetaPMKxjw/viewform?usp=sf_link">Обратная связь</a><br>
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeORS1_nvUFr8Z2yPB80aAEEVihzZULQcPTbEk5SfUs4JvHWA/viewform?usp=sf_link">Разработка сайта</a><br>
                </div>
                <div class="box">
                    О ИТИ:<br>
                    <a href="/Info/primary_rules.html">Правила НШ</a><br>
                    <a href="/Info/secondary_rules.html">Правила ОШ</a><br>
                    <a href="/Info/iti_history.html">История ИТИ</a><br>
                </div>
                <div class="box">
                    Контакты:<br>
                    <a>г. Красноярск, ул. Корнеева 50</a><br>
                    <a>iti.univers106@gmail.com</a><br>
                    <a href="http://univers.su" target="_blank">МАОУ КУГ №1 «Универс»</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
<script>tablesAttributes();</script>
</body>
</html>
