<!-- login required -->
<!-- -2 -->
{% extends "base.html" %}

{% block content %}
<center>
    <form action="save_file" method="post">
        <h2>Редактирование файла {{ file_name }}</h2>
        <input name="file_name" type="text" value="{{file_name}}" readonly>
        <p><textarea name="file_text" class="js-textarea">{{ file_text }}</textarea></p>
        <script>initTextArea()</script>
        <input type="submit" value="Сохранить">
    </form>
    {% if error %} <p class="error-msg">[ {{ error }} ]</p>
    {% endif %}
</center>
{% endblock %}
