<!-- login required -->
<!-- -2 -->
{% extends "page1.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="index.html">ИТИ</a>
                /
                Редактирование
            </font>
        </td>
    </tr>
</table>

<center>
    <form action="save_file" method="post">
        <h2>Редактирование файла {{ file_name }}</h2>
        <input name="file_name" type="text" value="{{file_name}}" readonly>
        <p><textarea name="file_text" id="file_text" oninput="textInput(document, 'file_text')">{{ file_text }}</textarea></p>
        <script>textInput(document, 'file_text')</script>
        <input type="submit" value="Сохранить">
    </form>
    {% if error %} <p><font color="red">[ {{ error }} ]</font></p>
    {% endif %}
</center>

{% endblock %}
