<!-- login required -->
<!-- -2 -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>ИТИ</title>
        <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
        <link rel="stylesheet" href="CSS/style.css">
        <script src="JS/scripts.js" type="text/javascript"> </script>
    </head>
    <body>
        {% if current_user.is_anonymous %} {% set anon = True %} {% else %} {% set anon = False %} {% endif %}
        {% if not anon and current_user.can_do(-1) %} {% set adm = True %} {% else %} {% set adm = False %} {% endif %}
        {% if not anon and current_user.can_do(-2) %} {% set full = True %} {% else %} {% set full = False %} {% endif %}
        <div class="content">
            <div class="header_space"></div>
            <nav class="navbar fixed-top">
                <div class="row col-lg-12 col-md-12">
                    <div class="col-lg-8 col-md-4 col-sm-4">
                        <center><h1><a href="index.html">ИТИ</a></h1></center>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn0" data-toggle="dropdown">НШ</p>
                        <div class="dropdown-menu" aria-labelledby="btn0">
                            <a class="dropdown-item" href="_index.html">Главная</a>
                            <!-- list of years (-1) -->
							<!-- end -->
                        </div>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn1" data-toggle="dropdown">ОШ</p>
                        <div class="dropdown-menu" aria-labelledby="btn1">
                            <a class="dropdown-item" href="index.html">Главная</a>
                            <!-- list of years (1) -->
							<a class="dropdown-item" href="2019/main.html">ИТИ-2019</a>
							<a class="dropdown-item" href="2020/main.html">ИТИ-2020</a>
							<!-- end -->
                        </div>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn2" data-toggle="dropdown">О нас</p>
                        <div class="dropdown-menu" aria-labelledby="btn2">
                            <a class="dropdown-item" href="Info/_rules.html">Правила НШ</a>
                            <a class="dropdown-item" href="Info/rules.html">Правила ОШ</a>
                            <a class="dropdown-item" href="Info/organizer.html">Организаторы</a>
                            <a class="dropdown-item" href="Info/author.html">Авторы</a>
                            <a class="dropdown-item" href="Info/thank_us.html">Благодарности</a>
                        </div>
                    </div>
                    <div class="dropdiv col-lg-1 col-md-2 col-sm-2">
                        <p class="dropbtn" id="btn3" data-toggle="dropdown">
                            {% if anon %} Аккаунт
                            {% else %} {{ current_user.login }}
                            {% endif %}
                        </p>
                        <div class="dropdown-menu right" aria-labelledby="btn3">
                            {% if anon %}
                                <a class="dropdown-item" href="login.html">Войти</a>
                            {% elif full %}
                                <a class="dropdown-item" href="user_edit.html">Пользователи</a>
                                <a class="dropdown-item" href="subjects_and_years.html">Создать</a>
                                <a class="dropdown-item" href="#" onclick="edit(document)">Редактировать</a>
                                <a class="dropdown-item" href="student_edit.html">Участники</a>
                                <a class="dropdown-item" href="settings">Настройки</a>
                                <a class="dropdown-item" href="logout">Выйти</a>
                            {% elif adm %}
                                <a class="dropdown-item" href="user_edit.html">Пользователи</a>
                                <a class="dropdown-item" href="student_edit.html">Участники</a>
                                <a class="dropdown-item" href="settings">Настройки</a>
                                <a class="dropdown-item" href="logout">Выйти</a>
                            {% else %}
                                <a class="dropdown-item" href="student_edit.html">Участники</a>
                                <a class="dropdown-item" href="settings">Настройки</a>
                                <a class="dropdown-item" href="logout">Выйти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row col"><font size="3">{% block header %}{% endblock %}</font></div>
            </nav>
            {% block content %}{% endblock %}
            <div class="footer_space"></div>
        </div>
        <div class="footer">
            <center>
                <br/>
                Автор: Шестаков Вячеслав Григорьевич 10 «И».<br/>
                Связь: iti.univers106@gmail.com<br/>
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd7FopqmHoR5Ugcg_-ZAs-guy8NHS5PSvvDsx_rYetaPMKxjw/viewform?usp=sf_link">Обратная связь</a>
            </center>
        </div>
    </body>
</html>
