<!-- login required -->
<!-- -2 -->
{% extends "page2.html" %}
{% block content %}

{% block head %}{% endblock %}

<center>
    <h2>Командный зачёт</h2>
    {% block rating_teams %}{% endblock %}
</center>
<br>
<div class="row col-12 justify-content-center">
    {% if adm %}
        <div class="col t-2">
            <center><h2>Суперчемпион</h2></center>
            <table width="100%" border="1">
                <tr>
                    <td width="5%">Место</td>
                    <td width="5%">Класс</td>
                    <td width="10%">Фамилия</td>
                    <td width="10%">Имя</td>
                    <td width="5%">1 места</td>
                    <td width="5%">2 места</td>
                    <td width="5%">3 места</td>
                </tr>
                {% block rating_student %}{% endblock %}
            </table>
        </div>
    {% endif %}
    <div class="col t-3">
        <center><h2>Лучший класс</h2></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_class %}{% endblock %}
        </table>
    </div>
</div>
<br>
<center><H2>Топ параллелей</H2></center>
<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <center><h3>Лучшие пятиклассники</h3><p><a href="rating_5.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="5" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_5 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error5 %} <p><font color="red">[ {{ error5 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие шестиклассники</h3><p><a href="rating_6.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="6" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_6 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error6 %} <p><font color="red">[ {{ error6 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие семиклассники</h3><p><a href="rating_7.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="7" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_7 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error7 %} <p><font color="red">[ {{ error7 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие восьмиклассники</h3><p><a href="rating_8.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="8" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_8 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error8 %} <p><font color="red">[ {{ error8 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
    <div class="col t-3">
        <center><h3>Лучшие девятиклассники</h3><p><a href="rating_9.html">(Все результаты)</a></p></center>
        {% if adm %}
            <form action="save_teams" method="post">
            <input type="text" name="cl" value="9" hidden>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
                {% if adm %}<td width="10%">Команда</td>{% endif %}
            </tr>
            {% block rating_parallel_9 %}{% endblock %}
        </table>
        {% if adm %}
            <center>
                {% if error9 %} <p><font color="red">[ {{ error9 }} ]</font></p>{% endif %}
                <p><input type="submit" value="Сохранить"></p>
            </center></form>
        {% endif %}
    </div>
</div>
<script>find_checkboxes();</script>

{% endblock %}
