<!-- login required -->
<!-- -2 -->
{% extends "page2.html" %}
{% block content %}

{% block head %}{% endblock %}

<center>
    <h2>Командный зачёт</h2>
    {% block rating_teams %}{% endblock %}
</center>
<br>
<div class="row col-12 justify-content-center">
    <div class="col t-2">
        <center><h2>Суперчемпион</h2></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">1 места</td>
                <td width="5%">2 места</td>
                <td width="5%">3 места</td>
            </tr>
            {% block rating_student %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h2>Лучший класс</h2></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_class %}{% endblock %}
        </table>
    </div>
</div>
<br>
<center><H2>Топ параллелей</H2></center>
<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <center><h3>Лучшие пятиклассники</h3><p><a href="rating_5.html">(Все результаты)</a></p></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_parallel_5 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h3>Лучшие шестиклассники</h3><p><a href="rating_6.html">(Все результаты)</a></p></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_parallel_6 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h3>Лучшие семиклассники</h3><p><a href="rating_7.html">(Все результаты)</a></p></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_parallel_7 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h3>Лучшие восьмиклассники</h3><p><a href="rating_8.html">(Все результаты)</a></p></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_parallel_8 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <center><h3>Лучшие девятиклассники</h3><p><a href="rating_9.html">(Все результаты)</a></p></center>
        <table width="100%" border="1">
            <tr>
                <td width="5%">Место</td>
                <td width="5%">Класс</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="10%">Сумма</td>
            </tr>
            {% block rating_parallel_9 %}{% endblock %}
        </table>
    </div>
</div>

{% endblock %}
