<!-- login required -->
{% extends "page1.html" %}

{% block header %}
<a href="index.html">ИТИ</a>
/
Настройки
{% endblock %}

{% block content %}
<center><h1>Настройки пользователя</h1></center>
<div class="row col-12 justify-content-center">
	<div class="col t-3">
		<form action="settings" method="post">
			<p>Логин: {{ current_user.login }} (неизменяем)</p>
			<p>Старый пароль: <input type="password" name="password_old"></p>
			<p>Новый пароль: <input type="password" name="password"></p>
			<p>Подтверждение пароля: <input type="password" name="password2"></p>
			{% if error %} <p><font color="red">[ {{ error }} ]</font></p>
			{% endif %}
			<input type="submit" value="Сохранить">
		</form>
	</div>
	<div class="col t-3">
		{% if not current_user.is_anonymous and current_user.can_do(-2) %}
		<form action="global_settings" method="post">
			<p>Почта: {{ email }} (неизменяема)</p>
			<p>Пароль: <input type="text" name="password" placeholder="{{password}}"></p>
			<p>Получатели: {{ admins }} (неизменяемы)</p>
			{% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Сохранить">
		</form>
		{% endif %}
	</div>
</div>

{% endblock %}
