<!-- login required -->
<!-- -2 -->
{% extends "page1.html" %}
{% block content %}

<center><h1>{% block head %}{% endblock %}</h1></center>

<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            {% block table1 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            {% block table2 %}{% endblock %}
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            {% block table3 %}{% endblock %}
        </table>
    </div>
</div>

{% endblock %}
