<!-- login required -->
{% extends "students_table.html" %}

{% block head %}3 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Агеев</td><td>Игорь</td><td>3А</td><td>М</td></tr>
<tr><td>Барышникова</td><td>Алиса</td><td>3А</td><td>Ж</td></tr>
<tr><td>Белоногов</td><td>Богдан</td><td>3А</td><td>М</td></tr>
<tr><td>Белугина</td><td>Виктория</td><td>3А</td><td>Ж</td></tr>
<tr><td>Бойко</td><td>Екатерина</td><td>3А</td><td>Ж</td></tr>
<tr><td>Виноградова</td><td>Василина</td><td>3А</td><td>Ж</td></tr>
<tr><td>Вишняк</td><td>Валерия</td><td>3А</td><td>Ж</td></tr>
<tr><td>Городкова</td><td>Анастасия</td><td>3А</td><td>Ж</td></tr>
<tr><td>Дмитриев</td><td>Иван</td><td>3А</td><td>М</td></tr>
<tr><td>Жирнов</td><td>Илья</td><td>3А</td><td>М</td></tr>
<tr><td>Замараев</td><td>Даниил</td><td>3А</td><td>М</td></tr>
<tr><td>Каверзин</td><td>Константин</td><td>3А</td><td>М</td></tr>
<tr><td>Каева</td><td>Ксения</td><td>3А</td><td>Ж</td></tr>
<tr><td>Карпенко</td><td>Вера</td><td>3А</td><td>Ж</td></tr>
<tr><td>Карпов</td><td>Михаил</td><td>3А</td><td>М</td></tr>
<tr><td>Ковальчук</td><td>Алиса</td><td>3А</td><td>Ж</td></tr>
<tr><td>Конозакова</td><td>Елизавета</td><td>3А</td><td>Ж</td></tr>
<tr><td>Копылова</td><td>Софья</td><td>3А</td><td>Ж</td></tr>
<tr><td>Корощенко</td><td>Арсений</td><td>3А</td><td>М</td></tr>
<tr><td>Кочкин</td><td>Станислав</td><td>3А</td><td>М</td></tr>
<tr><td>Кочкина</td><td>Виктория</td><td>3А</td><td>Ж</td></tr>
<tr><td>Кочкина</td><td>Полина</td><td>3А</td><td>Ж</td></tr>
<tr><td>Логачева</td><td>Юлия</td><td>3А</td><td>Ж</td></tr>
<tr><td>Логинов</td><td>Данила</td><td>3А</td><td>М</td></tr>
<tr><td>Марышев</td><td>Матвей</td><td>3А</td><td>М</td></tr>
<tr><td>Махнырева</td><td>Анастасия</td><td>3А</td><td>Ж</td></tr>
<tr><td>Нежура</td><td>Иван</td><td>3А</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Константин</td><td>3А</td><td>М</td></tr>
<tr><td>Перепрыгин</td><td>Артём</td><td>3А</td><td>М</td></tr>
<tr><td>Поддубская</td><td>Лилия</td><td>3А</td><td>Ж</td></tr>
<tr><td>Попков</td><td>Матвей</td><td>3А</td><td>М</td></tr>
<tr><td>Саксонов</td><td>Максим</td><td>3А</td><td>М</td></tr>
<tr><td>Синицын</td><td>Олег</td><td>3А</td><td>М</td></tr>
<tr><td>Янсон</td><td>Илья</td><td>3А</td><td>М</td></tr>
<tr><td>Аникина</td><td>Алиса</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Глазков</td><td>Ярослав</td><td>3Б</td><td>М</td></tr>
<tr><td>Глушкова</td><td>Ева</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Думлер</td><td>Полина</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Замараев</td><td>Даниил</td><td>3Б</td><td>М</td></tr>
<tr><td>Зарецкий</td><td>Артём</td><td>3Б</td><td>М</td></tr>
<tr><td>Карапетян</td><td>Микаэль</td><td>3Б</td><td>М</td></tr>
<tr><td>Каршок</td><td>Илья</td><td>3Б</td><td>М</td></tr>
<tr><td>Ковалева</td><td>Наталья</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Кончакова</td><td>Анастасия</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Корнеева</td><td>Ярослава</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Красикова</td><td>Владислава</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Кудинов</td><td>Артемий</td><td>3Б</td><td>М</td></tr>
<tr><td>Лисичкина</td><td>Елизавета</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Мартынова</td><td>Мария</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Назарова</td><td>Анита</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Овчинников</td><td>Александр</td><td>3Б</td><td>М</td></tr>
<tr><td>Орлова</td><td>Софья</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Оюн</td><td>Найдан</td><td>3Б</td><td>М</td></tr>
<tr><td>Покусаева</td><td>Анастасия</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Проценко</td><td>Мирон</td><td>3Б</td><td>М</td></tr>
<tr><td>Радыгин</td><td>Егор</td><td>3Б</td><td>М</td></tr>
<tr><td>Серебрянников</td><td>Иван</td><td>3Б</td><td>М</td></tr>
<tr><td>Синельникова</td><td>Виктория</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Соловьева</td><td>Екатерина</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Торопова</td><td>Маргарита</td><td>3Б</td><td>Ж</td></tr>
<tr><td>Шадрин</td><td>Артём</td><td>3Б</td><td>М</td></tr>
<tr><td>Щербаков</td><td>Илья</td><td>3Б</td><td>М</td></tr>
<tr><td>Абрагам</td><td>Виктория</td><td>3В</td><td>Ж</td></tr>
<tr><td>Алексеева</td><td>Тарика</td><td>3В</td><td>Ж</td></tr>
<tr><td>Асеев</td><td>Кирилл</td><td>3В</td><td>М</td></tr>
<tr><td>Астапова</td><td>Лидия</td><td>3В</td><td>Ж</td></tr>
<tr><td>Баянова</td><td>Елизавета</td><td>3В</td><td>Ж</td></tr>
<tr><td>Близневская</td><td>Анна</td><td>3В</td><td>Ж</td></tr>
<tr><td>Васильев</td><td>Вадим</td><td>3В</td><td>М</td></tr>
<tr><td>Ворохова</td><td>Елизавета</td><td>3В</td><td>Ж</td></tr>
<tr><td>Забуга</td><td>Андрей</td><td>3В</td><td>М</td></tr>
<tr><td>Исакович</td><td>Софья</td><td>3В</td><td>Ж</td></tr>
<tr><td>Ким</td><td>Эрик</td><td>3В</td><td>М</td></tr>
<tr><td>Кушников</td><td>Артемий</td><td>3В</td><td>М</td></tr>
<tr><td>Малошенко</td><td>Татьяна</td><td>3В</td><td>Ж</td></tr>
<tr><td>Мусаев</td><td>Руслан</td><td>3В</td><td>М</td></tr>
<tr><td>Мутовин</td><td>Максим</td><td>3В</td><td>М</td></tr>
<tr><td>Паккаль</td><td>Ярослав</td><td>3В</td><td>М</td></tr>
<tr><td>Подворотников</td><td>Глеб</td><td>3В</td><td>М</td></tr>
<tr><td>Приходько</td><td>Сергей</td><td>3В</td><td>М</td></tr>
<tr><td>Приходько</td><td>Тимофей</td><td>3В</td><td>М</td></tr>
<tr><td>Саломатова</td><td>Ева</td><td>3В</td><td>Ж</td></tr>
<tr><td>Серегин</td><td>Степан</td><td>3В</td><td>М</td></tr>
<tr><td>Соболь</td><td>Евангелина</td><td>3В</td><td>Ж</td></tr>
<tr><td>Цымбал</td><td>Арсения</td><td>3В</td><td>Ж</td></tr>
<tr><td>Чамлик</td><td>Елизавета</td><td>3В</td><td>Ж</td></tr>
<tr><td>Черкашина</td><td>Ева</td><td>3В</td><td>Ж</td></tr>
<tr><td>Чернявская</td><td>Анастасия</td><td>3В</td><td>Ж</td></tr>
<tr><td>Янковская</td><td>Ольга</td><td>3В</td><td>Ж</td></tr>
<tr><td>Ярещенко</td><td>Павел</td><td>3В</td><td>М</td></tr>
<tr><td>Ятченко</td><td>Алёна</td><td>3В</td><td>Ж</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Бердникова</td><td>Алиса</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Бодров</td><td>Кирилл</td><td>3Г</td><td>М</td></tr>
<tr><td>Валинская</td><td>Елена</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Васильев</td><td>Артём</td><td>3Г</td><td>М</td></tr>
<tr><td>Верхозина</td><td>Влада</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Гладкова</td><td>Мария</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Дамов</td><td>Илья</td><td>3Г</td><td>М</td></tr>
<tr><td>Денисова</td><td>Александра</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Евсеева</td><td>Джулия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Кириченко</td><td>Андрей</td><td>3Г</td><td>М</td></tr>
<tr><td>Космич</td><td>Екатерина</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Кочубей</td><td>Владислав</td><td>3Г</td><td>М</td></tr>
<tr><td>Кухаренко</td><td>Никита</td><td>3Г</td><td>М</td></tr>
<tr><td>Микрюкова</td><td>Анастасия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Миняев</td><td>Иван</td><td>3Г</td><td>М</td></tr>
<tr><td>Остапенко</td><td>Екатерина</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Петрова</td><td>Юлия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Попов</td><td>Константин</td><td>3Г</td><td>М</td></tr>
<tr><td>Пригодич</td><td>Злата</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Ралюк</td><td>Константин</td><td>3Г</td><td>М</td></tr>
<tr><td>Сабаева</td><td>Ксения</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Салий</td><td>Валерия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Стефановская</td><td>Варвара</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Ступаков</td><td>Кирилл</td><td>3Г</td><td>М</td></tr>
<tr><td>Ташевская</td><td>Полина</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Титенков</td><td>Антон</td><td>3Г</td><td>М</td></tr>
<tr><td>Чеснокова</td><td>Вера</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Чугаева</td><td>Анастасия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Чуракова</td><td>Валерия</td><td>3Г</td><td>Ж</td></tr>
<tr><td>Береснева</td><td>Варвара</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Буслаева</td><td>Милана</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Вагизова</td><td>Дарья</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Вахитова</td><td>Анастасия</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Воловик</td><td>Иван</td><td>3Д</td><td>М</td></tr>
<tr><td>Ворошилов</td><td>Лев</td><td>3Д</td><td>М</td></tr>
<tr><td>Головина</td><td>Анна</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Денисова</td><td>Елизавета</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Жила</td><td>Алиса</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Жулаев</td><td>Владимир</td><td>3Д</td><td>М</td></tr>
<tr><td>Зуева</td><td>Нелли</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Каппес</td><td>Демьян</td><td>3Д</td><td>М</td></tr>
<tr><td>Корхов</td><td>Филипп</td><td>3Д</td><td>М</td></tr>
<tr><td>Костюк</td><td>Андрей</td><td>3Д</td><td>М</td></tr>
<tr><td>Костюнин</td><td>Захар</td><td>3Д</td><td>М</td></tr>
<tr><td>Куликова</td><td>Таисия</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Кухоль</td><td>Ева</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Ларченко</td><td>Михаил</td><td>3Д</td><td>М</td></tr>
<tr><td>Лопатина</td><td>Ксения</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Лосевской</td><td>Андрей</td><td>3Д</td><td>М</td></tr>
<tr><td>Мурзинова</td><td>Мирослава</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Никифоров</td><td>Максим</td><td>3Д</td><td>М</td></tr>
<tr><td>Петрулевич</td><td>Артём</td><td>3Д</td><td>М</td></tr>
<tr><td>Петухова</td><td>Илона</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Румянцева</td><td>Мишель</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Свиридова</td><td>Эвелина</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Трегубович</td><td>Денис</td><td>3Д</td><td>М</td></tr>
<tr><td>Червова</td><td>Виктория</td><td>3Д</td><td>Ж</td></tr>
<tr><td>Янушкевич</td><td>Диодор</td><td>3Д</td><td>М</td></tr>
<tr><td>Абрамчик</td><td>Никита</td><td>3Е</td><td>М</td></tr>
<tr><td>Белозерова</td><td>Анастасия</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Калашников</td><td>Артём</td><td>3Е</td><td>М</td></tr>
<tr><td>Климов</td><td>Александр</td><td>3Е</td><td>М</td></tr>
<tr><td>Маликова</td><td>Влада</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Мамурков</td><td>Станислав</td><td>3Е</td><td>М</td></tr>
<tr><td>Маслобоев</td><td>Тимур</td><td>3Е</td><td>М</td></tr>
<tr><td>Матвеев</td><td>Артём</td><td>3Е</td><td>М</td></tr>
<tr><td>Минигалиева</td><td>Софья</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Мишенина</td><td>Ксения</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Нагапетян</td><td>Самвел</td><td>3Е</td><td>М</td></tr>
<tr><td>Панченко</td><td>Елизавета</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Парыгин</td><td>Константин</td><td>3Е</td><td>М</td></tr>
<tr><td>Плюснина</td><td>Дарья</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Рикунов</td><td>Никита</td><td>3Е</td><td>М</td></tr>
<tr><td>Розанов</td><td>Роман</td><td>3Е</td><td>М</td></tr>
<tr><td>Романчук</td><td>Андрей</td><td>3Е</td><td>М</td></tr>
<tr><td>Рязанцев</td><td>Илья</td><td>3Е</td><td>М</td></tr>
<tr><td>Савченко</td><td>Полина</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Самигулина</td><td>Арина</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Соколовская</td><td>Анна</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Сучков</td><td>Александр</td><td>3Е</td><td>М</td></tr>
<tr><td>Тягней</td><td>Софья</td><td>3Е</td><td>Ж</td></tr>
<tr><td>Финоченко</td><td>Денис</td><td>3Е</td><td>М</td></tr>
<tr><td>Артеменко</td><td>Анастасия</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Баталова</td><td>Мирослава</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Бобылёва</td><td>Анна</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Боголюбова</td><td>Полина</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Елизаров</td><td>Константин</td><td>3Ж</td><td>М</td></tr>
<tr><td>Кириллова</td><td>Мария</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Кокова</td><td>Амелия</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Кострова</td><td>Дарья</td><td>3Ж</td><td>Ж</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Кропачева</td><td>Анжелика</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Кужлев</td><td>Михаил</td><td>3Ж</td><td>М</td></tr>
<tr><td>Михальчук</td><td>Иван</td><td>3Ж</td><td>М</td></tr>
<tr><td>Мотолыгин</td><td>Михаил</td><td>3Ж</td><td>М</td></tr>
<tr><td>Мясникова</td><td>Анастасия</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Никитин</td><td>Кирилл</td><td>3Ж</td><td>М</td></tr>
<tr><td>Пахомова</td><td>Татьяна</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Сипкин</td><td>Михаил</td><td>3Ж</td><td>М</td></tr>
<tr><td>Тегай</td><td>Никита</td><td>3Ж</td><td>М</td></tr>
<tr><td>Трифоненкова</td><td>Диана</td><td>3Ж</td><td>Ж</td></tr>
<tr><td>Шадрин</td><td>Арсений</td><td>3Ж</td><td>М</td></tr>
<tr><td>Шарыпов</td><td>Тимур</td><td>3Ж</td><td>М</td></tr>
<tr><td>Щеглов</td><td>Егор</td><td>3Ж</td><td>М</td></tr>
<tr><td>Ахланова</td><td>Ксения</td><td>3З</td><td>Ж</td></tr>
<tr><td>Баранова</td><td>София</td><td>3З</td><td>Ж</td></tr>
<tr><td>Герасенко</td><td>Анна</td><td>3З</td><td>Ж</td></tr>
<tr><td>Гололобова</td><td>Виолетта</td><td>3З</td><td>Ж</td></tr>
<tr><td>Гордеева</td><td>Диана</td><td>3З</td><td>Ж</td></tr>
<tr><td>Гордиенко</td><td>Артём</td><td>3З</td><td>М</td></tr>
<tr><td>Гусева</td><td>Анастасия</td><td>3З</td><td>Ж</td></tr>
<tr><td>Заяц</td><td>Артём</td><td>3З</td><td>М</td></tr>
<tr><td>Зинатова</td><td>Софья</td><td>3З</td><td>Ж</td></tr>
<tr><td>Казанцев</td><td>Максим</td><td>3З</td><td>М</td></tr>
<tr><td>Кокоренко</td><td>Демьян</td><td>3З</td><td>М</td></tr>
<tr><td>Кулакова</td><td>Милана</td><td>3З</td><td>Ж</td></tr>
<tr><td>Макеева</td><td>Елизавета</td><td>3З</td><td>Ж</td></tr>
<tr><td>Махинов</td><td>Иван</td><td>3З</td><td>М</td></tr>
<tr><td>Морозов</td><td>Николай</td><td>3З</td><td>М</td></tr>
<tr><td>Пономарев</td><td>Артём</td><td>3З</td><td>М</td></tr>
<tr><td>Потылицина</td><td>Валерия</td><td>3З</td><td>Ж</td></tr>
<tr><td>Романчук</td><td>Игорь</td><td>3З</td><td>М</td></tr>
<tr><td>Рубайло</td><td>Елизавета</td><td>3З</td><td>Ж</td></tr>
<tr><td>Садретдинов</td><td>Артём</td><td>3З</td><td>М</td></tr>
<tr><td>Соколов</td><td>Егор</td><td>3З</td><td>М</td></tr>
<tr><td>Тихонов</td><td>Максим</td><td>3З</td><td>М</td></tr>
<tr><td>Цишкевич</td><td>Георгий</td><td>3З</td><td>М</td></tr>
<tr><td>Чулков</td><td>Юрий</td><td>3З</td><td>М</td></tr>
<tr><td>Шубин</td><td>Михаил</td><td>3З</td><td>М</td></tr>
<tr><td>Анисимова</td><td>Есения</td><td>3И</td><td>Ж</td></tr>
<tr><td>Артемов</td><td>Александр</td><td>3И</td><td>М</td></tr>
<tr><td>Брюханов</td><td>Алексей</td><td>3И</td><td>М</td></tr>
<tr><td>Бунтин</td><td>Егор</td><td>3И</td><td>М</td></tr>
<tr><td>Буренкова</td><td>Екатерина</td><td>3И</td><td>Ж</td></tr>
<tr><td>Воросов</td><td>Владимир</td><td>3И</td><td>М</td></tr>
<tr><td>Гайсарова</td><td>Милана</td><td>3И</td><td>Ж</td></tr>
<tr><td>Головенко</td><td>Егор</td><td>3И</td><td>М</td></tr>
<tr><td>Гуляева</td><td>Арина</td><td>3И</td><td>Ж</td></tr>
<tr><td>Ермилов</td><td>Вячеслав</td><td>3И</td><td>М</td></tr>
<tr><td>Кобзев</td><td>Михаил</td><td>3И</td><td>М</td></tr>
<tr><td>Кувшинова</td><td>Ульяна</td><td>3И</td><td>Ж</td></tr>
<tr><td>Ланчук</td><td>Полина</td><td>3И</td><td>Ж</td></tr>
<tr><td>Лукьянов</td><td>Всеволод</td><td>3И</td><td>М</td></tr>
<tr><td>Мальцев</td><td>Сабир</td><td>3И</td><td>М</td></tr>
<tr><td>Одинец</td><td>Юлия</td><td>3И</td><td>Ж</td></tr>
<tr><td>Осипова</td><td>Екатерина</td><td>3И</td><td>Ж</td></tr>
<tr><td>Парфиненок</td><td>София</td><td>3И</td><td>Ж</td></tr>
<tr><td>Привалихин</td><td>Алексей</td><td>3И</td><td>М</td></tr>
<tr><td>Сегренева</td><td>Амелия</td><td>3И</td><td>Ж</td></tr>
<tr><td>Стонт</td><td>Артём</td><td>3И</td><td>М</td></tr>
<tr><td>Фомин</td><td>Роман</td><td>3И</td><td>М</td></tr>
<tr><td>Халюков</td><td>Максим</td><td>3И</td><td>М</td></tr>
<tr><td>Численко</td><td>Илона</td><td>3И</td><td>Ж</td></tr>
<tr><td>Эдин</td><td>Глеб</td><td>3И</td><td>М</td></tr>
<tr><td>Алиев</td><td>Аслан</td><td>3М</td><td>М</td></tr>
<tr><td>Балюта</td><td>Влада</td><td>3М</td><td>Ж</td></tr>
<tr><td>Васильева</td><td>Ксения</td><td>3М</td><td>Ж</td></tr>
<tr><td>Власова</td><td>Владислава</td><td>3М</td><td>Ж</td></tr>
<tr><td>Волик</td><td>Максим</td><td>3М</td><td>М</td></tr>
<tr><td>Гараев</td><td>Тимур</td><td>3М</td><td>М</td></tr>
<tr><td>Герасимов</td><td>Матвей</td><td>3М</td><td>М</td></tr>
<tr><td>Дидичин</td><td>Александр</td><td>3М</td><td>М</td></tr>
<tr><td>Драницына</td><td>Нелли</td><td>3М</td><td>Ж</td></tr>
<tr><td>Зайцева</td><td>Дарья</td><td>3М</td><td>Ж</td></tr>
<tr><td>Зленко</td><td>Виталина</td><td>3М</td><td>Ж</td></tr>
<tr><td>Иксанова</td><td>Альмира</td><td>3М</td><td>Ж</td></tr>
<tr><td>Имашева</td><td>София</td><td>3М</td><td>Ж</td></tr>
<tr><td>Иордан</td><td>Ева</td><td>3М</td><td>Ж</td></tr>
<tr><td>Кабанова</td><td>Екатерина</td><td>3М</td><td>Ж</td></tr>
<tr><td>Кондрашов</td><td>Иван</td><td>3М</td><td>М</td></tr>
<tr><td>Мухомедзянов</td><td>Мурат</td><td>3М</td><td>М</td></tr>
<tr><td>Прудников</td><td>Макар</td><td>3М</td><td>М</td></tr>
<tr><td>Рабушко</td><td>Станислав</td><td>3М</td><td>М</td></tr>
<tr><td>Романовская</td><td>Анастасия</td><td>3М</td><td>Ж</td></tr>
<tr><td>Скибук</td><td>Маргарита</td><td>3М</td><td>Ж</td></tr>
<tr><td>Тернов</td><td>Лев</td><td>3М</td><td>М</td></tr>
<tr><td>Федоров</td><td>Глеб</td><td>3М</td><td>М</td></tr>
<tr><td>Шмакова</td><td>Есения</td><td>3М</td><td>Ж</td></tr>
<tr><td>Штейгер</td><td>Вероника</td><td>3М</td><td>Ж</td></tr>
<tr><td>Юсубов</td><td>Давид</td><td>3М</td><td>М</td></tr>
<tr><td>Ярунина</td><td>Зоя</td><td>3М</td><td>Ж</td></tr>
<!-- end -->
{% endblock %}
