<!-- login required -->
{% extends "students_table.html" %}

{% block head %}9 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Готовчикова</td><td>Диана</td><td>9</td><td>М</td></tr>
<tr><td>Давыденко</td><td>Александра</td><td>9</td><td>М</td></tr>
<tr><td>Михайлова</td><td>Виктория</td><td>9</td><td>М</td></tr>
<tr><td>Ремизова</td><td>Диана</td><td>9</td><td>М</td></tr>
<tr><td>Агеенко</td><td>Мария</td><td>9А</td><td>М</td></tr>
<tr><td>Адиятов</td><td>Егор</td><td>9А</td><td>М</td></tr>
<tr><td>Алешечкина</td><td>Екатерина</td><td>9А</td><td>М</td></tr>
<tr><td>Астафьева</td><td>Ксения</td><td>9А</td><td>М</td></tr>
<tr><td>Бакшеева</td><td>Мария</td><td>9А</td><td>М</td></tr>
<tr><td>Барышникова</td><td>Алиса</td><td>9А</td><td>М</td></tr>
<tr><td>Беспалов</td><td>Артем</td><td>9А</td><td>М</td></tr>
<tr><td>Богинская</td><td>Татьяна</td><td>9А</td><td>М</td></tr>
<tr><td>Вишняк</td><td>Валерия</td><td>9А</td><td>М</td></tr>
<tr><td>Вожжов</td><td>Даниил</td><td>9А</td><td>М</td></tr>
<tr><td>Галимова</td><td>Вазиля</td><td>9А</td><td>М</td></tr>
<tr><td>Городкова</td><td>Анастасия</td><td>9А</td><td>М</td></tr>
<tr><td>Гущин</td><td>Егор</td><td>9А</td><td>М</td></tr>
<tr><td>Егерь</td><td>Денис</td><td>9А</td><td>М</td></tr>
<tr><td>Иванова</td><td>Софья</td><td>9А</td><td>М</td></tr>
<tr><td>Ипатьева</td><td>Анастасия</td><td>9А</td><td>М</td></tr>
<tr><td>Исаева</td><td>Арина</td><td>9А</td><td>М</td></tr>
<tr><td>Канищев</td><td>Ярослав</td><td>9А</td><td>М</td></tr>
<tr><td>Килейников</td><td>Владислав</td><td>9А</td><td>М</td></tr>
<tr><td>Корощенко</td><td>Арсений</td><td>9А</td><td>М</td></tr>
<tr><td>Корчук</td><td>Елизавета</td><td>9А</td><td>М</td></tr>
<tr><td>Красков</td><td>Михаил</td><td>9А</td><td>М</td></tr>
<tr><td>Кудрявцева</td><td>Майя</td><td>9А</td><td>М</td></tr>
<tr><td>Куликов</td><td>Алексей</td><td>9А</td><td>М</td></tr>
<tr><td>Курбангалеев</td><td>Александр</td><td>9А</td><td>М</td></tr>
<tr><td>Лавренова</td><td>Анна</td><td>9А</td><td>М</td></tr>
<tr><td>Лапухин</td><td>Тихомир</td><td>9А</td><td>М</td></tr>
<tr><td>Лисовец</td><td>Валентина</td><td>9А</td><td>М</td></tr>
<tr><td>Логинов</td><td>Данила</td><td>9А</td><td>М</td></tr>
<tr><td>Майстренко</td><td>Ульяна</td><td>9А</td><td>М</td></tr>
<tr><td>Малахова</td><td>Александра</td><td>9А</td><td>М</td></tr>
<tr><td>Малинина</td><td>Валерия</td><td>9А</td><td>М</td></tr>
<tr><td>Малишевская</td><td>Виктория</td><td>9А</td><td>М</td></tr>
<tr><td>Молдобаева</td><td>Полина</td><td>9А</td><td>М</td></tr>
<tr><td>Мотков</td><td>Олег</td><td>9А</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Константин</td><td>9А</td><td>М</td></tr>
<tr><td>Однолько</td><td>Прохор</td><td>9А</td><td>М</td></tr>
<tr><td>Охотникова</td><td>Александра</td><td>9А</td><td>М</td></tr>
<tr><td>Панченко</td><td>Артем</td><td>9А</td><td>М</td></tr>
<tr><td>Погодаева</td><td>Полина</td><td>9А</td><td>М</td></tr>
<tr><td>Потекаева</td><td>Арина</td><td>9А</td><td>М</td></tr>
<tr><td>Ревякин</td><td>Михаил</td><td>9А</td><td>М</td></tr>
<tr><td>Романов</td><td>Роман</td><td>9А</td><td>М</td></tr>
<tr><td>Руденко</td><td>Арина</td><td>9А</td><td>М</td></tr>
<tr><td>Санакоев</td><td>Ацамаз</td><td>9А</td><td>М</td></tr>
<tr><td>Сбродова</td><td>Анастасия</td><td>9А</td><td>М</td></tr>
<tr><td>Скретнева</td><td>Анастасия</td><td>9А</td><td>М</td></tr>
<tr><td>Соя</td><td>Константин</td><td>9А</td><td>М</td></tr>
<tr><td>Темеров</td><td>Елисей</td><td>9А</td><td>М</td></tr>
<tr><td>Урцегов</td><td>Артём</td><td>9А</td><td>М</td></tr>
<tr><td>Хабибулин</td><td>Игорь</td><td>9А</td><td>М</td></tr>
<tr><td>Черняева</td><td>Анастасия</td><td>9А</td><td>М</td></tr>
<tr><td>Шестакова</td><td>Евгения</td><td>9А</td><td>М</td></tr>
<tr><td>Агафонова</td><td>Анна</td><td>9Б</td><td>М</td></tr>
<tr><td>Алексеенко</td><td>Анна</td><td>9Б</td><td>М</td></tr>
<tr><td>Антоненко</td><td>Полина</td><td>9Б</td><td>М</td></tr>
<tr><td>Арешонкова</td><td>Вита</td><td>9Б</td><td>М</td></tr>
<tr><td>Арсенян</td><td>Никита</td><td>9Б</td><td>М</td></tr>
<tr><td>Богданович</td><td>Егор</td><td>9Б</td><td>М</td></tr>
<tr><td>Бородай</td><td>Семён</td><td>9Б</td><td>М</td></tr>
<tr><td>Васильев</td><td>Даниил</td><td>9Б</td><td>М</td></tr>
<tr><td>Волков</td><td>Егор</td><td>9Б</td><td>М</td></tr>
<tr><td>Гайратов</td><td>Тимур</td><td>9Б</td><td>М</td></tr>
<tr><td>Данилина</td><td>Маргарита</td><td>9Б</td><td>Ж</td></tr>
<tr><td>Данилов</td><td>Артем</td><td>9Б</td><td>М</td></tr>
<tr><td>Дюков</td><td>Борис</td><td>9Б</td><td>М</td></tr>
<tr><td>Егоров</td><td>Георгий</td><td>9Б</td><td>М</td></tr>
<tr><td>Заманова</td><td>Ксения</td><td>9Б</td><td>М</td></tr>
<tr><td>Захаров</td><td>Максим</td><td>9Б</td><td>М</td></tr>
<tr><td>Звягинцев</td><td>Максим</td><td>9Б</td><td>М</td></tr>
<tr><td>Иванов</td><td>Даниил</td><td>9Б</td><td>М</td></tr>
<tr><td>Иванов</td><td>Олег</td><td>9Б</td><td>М</td></tr>
<tr><td>Климина</td><td>Полина</td><td>9Б</td><td>М</td></tr>
<tr><td>Ковалева</td><td>Анастасия</td><td>9Б</td><td>М</td></tr>
<tr><td>Кузякин</td><td>Артём</td><td>9Б</td><td>М</td></tr>
<tr><td>Кутьин</td><td>Никита</td><td>9Б</td><td>М</td></tr>
<tr><td>Ларионова</td><td>Юнона</td><td>9Б</td><td>М</td></tr>
<tr><td>Лашакова</td><td>Ярослава</td><td>9Б</td><td>М</td></tr>
<tr><td>Лузганова</td><td>Арина</td><td>9Б</td><td>М</td></tr>
<tr><td>Лунина</td><td>Ирина</td><td>9Б</td><td>М</td></tr>
<tr><td>Лядова</td><td>Александра</td><td>9Б</td><td>М</td></tr>
<tr><td>Лёвина</td><td>Валерия</td><td>9Б</td><td>М</td></tr>
<tr><td>Мальцев</td><td>Данил</td><td>9Б</td><td>М</td></tr>
<tr><td>Мустаева</td><td>Яна</td><td>9Б</td><td>М</td></tr>
<tr><td>Наумцева</td><td>Екатерина</td><td>9Б</td><td>М</td></tr>
<tr><td>Плотникова</td><td>Варвара</td><td>9Б</td><td>М</td></tr>
<tr><td>Присухина</td><td>Дарья</td><td>9Б</td><td>М</td></tr>
<tr><td>Пургин</td><td>Павел</td><td>9Б</td><td>М</td></tr>
<tr><td>Пучкова</td><td>Ксения</td><td>9Б</td><td>М</td></tr>
<tr><td>Савельева</td><td>Валерия</td><td>9Б</td><td>М</td></tr>
<tr><td>Самойлик</td><td>Нина</td><td>9Б</td><td>М</td></tr>
<tr><td>Самоний</td><td>Виолетта</td><td>9Б</td><td>М</td></tr>
<tr><td>Сарапулова</td><td>Екатерина</td><td>9Б</td><td>М</td></tr>
<tr><td>Свищев</td><td>Виктор</td><td>9Б</td><td>М</td></tr>
<tr><td>Семенкович</td><td>Ксения</td><td>9Б</td><td>М</td></tr>
<tr><td>Скляр</td><td>Богдан</td><td>9Б</td><td>М</td></tr>
<tr><td>Сконечная</td><td>Маргарита</td><td>9Б</td><td>М</td></tr>
<tr><td>Стыркова</td><td>Яна</td><td>9Б</td><td>М</td></tr>
<tr><td>Тихий</td><td>Владимир</td><td>9Б</td><td>М</td></tr>
<tr><td>Туруханов</td><td>Максим</td><td>9Б</td><td>М</td></tr>
<tr><td>Усынина</td><td>Виктория</td><td>9Б</td><td>М</td></tr>
<tr><td>Хабарова</td><td>Иветта</td><td>9Б</td><td>М</td></tr>
<tr><td>Чернышева</td><td>Алёна</td><td>9Б</td><td>М</td></tr>
<tr><td>Юшков</td><td>Даниил</td><td>9Б</td><td>М</td></tr>
<tr><td>Ёжкина</td><td>Вера</td><td>9В</td><td>М</td></tr>
<tr><td>Аликперова</td><td>Вероника</td><td>9В</td><td>М</td></tr>
<tr><td>Аликперова</td><td>Ульяна</td><td>9В</td><td>М</td></tr>
<tr><td>Бегишева</td><td>Алина</td><td>9В</td><td>М</td></tr>
<tr><td>Бедарева</td><td>Мария</td><td>9В</td><td>М</td></tr>
<tr><td>Белоусов</td><td>Семен</td><td>9В</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Бердышева</td><td>Кристина</td><td>9В</td><td>М</td></tr>
<tr><td>Бескорсая</td><td>Анастасия</td><td>9В</td><td>М</td></tr>
<tr><td>Бондарева</td><td>Анна</td><td>9В</td><td>М</td></tr>
<tr><td>Бутылкина</td><td>Яна</td><td>9В</td><td>М</td></tr>
<tr><td>Валова</td><td>Виктория</td><td>9В</td><td>М</td></tr>
<tr><td>Верхотурова</td><td>Софья</td><td>9В</td><td>М</td></tr>
<tr><td>Головенко</td><td>Олег</td><td>9В</td><td>М</td></tr>
<tr><td>Гутьяр</td><td>Алексей</td><td>9В</td><td>М</td></tr>
<tr><td>Дергач</td><td>Дарья</td><td>9В</td><td>М</td></tr>
<tr><td>Дидичина</td><td>Дарья</td><td>9В</td><td>М</td></tr>
<tr><td>Долиденок</td><td>Елизавета</td><td>9В</td><td>М</td></tr>
<tr><td>Зеленцова</td><td>София</td><td>9В</td><td>М</td></tr>
<tr><td>Изгаршев</td><td>Тимофей</td><td>9В</td><td>М</td></tr>
<tr><td>Ишьяров</td><td>Давид</td><td>9В</td><td>М</td></tr>
<tr><td>Кайгородов</td><td>Ярослав</td><td>9В</td><td>М</td></tr>
<tr><td>Карева</td><td>Виктория</td><td>9В</td><td>М</td></tr>
<tr><td>Кифер</td><td>Кристина</td><td>9В</td><td>М</td></tr>
<tr><td>Книга</td><td>Юлия</td><td>9В</td><td>М</td></tr>
<tr><td>Козлов</td><td>Илья</td><td>9В</td><td>М</td></tr>
<tr><td>Козлова</td><td>Ксения</td><td>9В</td><td>М</td></tr>
<tr><td>Кондратьев</td><td>Семен</td><td>9В</td><td>М</td></tr>
<tr><td>Курбанова</td><td>Марина</td><td>9В</td><td>М</td></tr>
<tr><td>Левицкий</td><td>Артём</td><td>9В</td><td>М</td></tr>
<tr><td>Лопатина</td><td>Екатерина</td><td>9В</td><td>М</td></tr>
<tr><td>Лютин</td><td>Никита</td><td>9В</td><td>М</td></tr>
<tr><td>Макаренко</td><td>Александр</td><td>9В</td><td>М</td></tr>
<tr><td>Макеева</td><td>Ева</td><td>9В</td><td>М</td></tr>
<tr><td>Маратканова</td><td>Арина</td><td>9В</td><td>М</td></tr>
<tr><td>Марков</td><td>Кирилл</td><td>9В</td><td>М</td></tr>
<tr><td>Милехина</td><td>Екатерина</td><td>9В</td><td>М</td></tr>
<tr><td>Осипова</td><td>Ольга</td><td>9В</td><td>М</td></tr>
<tr><td>Петрова</td><td>Марина</td><td>9В</td><td>М</td></tr>
<tr><td>Петровская</td><td>Виолетта</td><td>9В</td><td>М</td></tr>
<tr><td>Пиенко</td><td>Зоя</td><td>9В</td><td>М</td></tr>
<tr><td>Похабова</td><td>Ангелина</td><td>9В</td><td>М</td></tr>
<tr><td>Прудникова</td><td>Софья</td><td>9В</td><td>М</td></tr>
<tr><td>Рудешко</td><td>Яков</td><td>9В</td><td>М</td></tr>
<tr><td>Рыжков</td><td>Роман</td><td>9В</td><td>М</td></tr>
<tr><td>Рыжова</td><td>Алина</td><td>9В</td><td>М</td></tr>
<tr><td>Саморокова</td><td>Алина</td><td>9В</td><td>М</td></tr>
<tr><td>Скибина</td><td>Ирина</td><td>9В</td><td>М</td></tr>
<tr><td>Соловьев</td><td>Владимир</td><td>9В</td><td>М</td></tr>
<tr><td>Суров</td><td>Владислав</td><td>9В</td><td>М</td></tr>
<tr><td>Сурсяков</td><td>Максим</td><td>9В</td><td>М</td></tr>
<tr><td>Труш</td><td>Майя</td><td>9В</td><td>М</td></tr>
<tr><td>Ускова</td><td>Ирина</td><td>9В</td><td>М</td></tr>
<tr><td>Федорченко</td><td>Екатерина</td><td>9В</td><td>М</td></tr>
<tr><td>Фондов</td><td>Станислав</td><td>9В</td><td>М</td></tr>
<tr><td>Чумакова</td><td>Софья</td><td>9В</td><td>М</td></tr>
<tr><td>Шадрина</td><td>Софья</td><td>9В</td><td>М</td></tr>
<tr><td>Шевченко</td><td>Леонид</td><td>9В</td><td>М</td></tr>
<tr><td>Шипилин</td><td>Кирилл</td><td>9В</td><td>М</td></tr>
<tr><td>Антипин</td><td>Кирилл</td><td>9Г</td><td>М</td></tr>
<tr><td>Антипина</td><td>Ксения</td><td>9Г</td><td>М</td></tr>
<tr><td>Артамонова</td><td>Арина</td><td>9Г</td><td>М</td></tr>
<tr><td>Байкова</td><td>Полина</td><td>9Г</td><td>М</td></tr>
<tr><td>Баландин</td><td>Илья</td><td>9Г</td><td>М</td></tr>
<tr><td>Балундз</td><td>Лев</td><td>9Г</td><td>М</td></tr>
<tr><td>Бовтюк</td><td>Кристина</td><td>9Г</td><td>М</td></tr>
<tr><td>Бурмагин</td><td>Виталий</td><td>9Г</td><td>М</td></tr>
<tr><td>Буслович</td><td>Артём</td><td>9Г</td><td>М</td></tr>
<tr><td>Вовк</td><td>Артур</td><td>9Г</td><td>М</td></tr>
<tr><td>Гавриляк</td><td>Дарья</td><td>9Г</td><td>М</td></tr>
<tr><td>Гапанович</td><td>Елизавета</td><td>9Г</td><td>М</td></tr>
<tr><td>Голубев</td><td>Егор</td><td>9Г</td><td>М</td></tr>
<tr><td>Гребнева</td><td>Елизавета</td><td>9Г</td><td>М</td></tr>
<tr><td>Громик</td><td>Мария</td><td>9Г</td><td>М</td></tr>
<tr><td>Гусев</td><td>Данил</td><td>9Г</td><td>М</td></tr>
<tr><td>Дудко</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Ермакова</td><td>Юлия</td><td>9Г</td><td>М</td></tr>
<tr><td>Зайцева</td><td>Дарья</td><td>9Г</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алиса</td><td>9Г</td><td>М</td></tr>
<tr><td>Иванчук</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Ивлева</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Каверзин</td><td>Арсений</td><td>9Г</td><td>М</td></tr>
<tr><td>Кардашова</td><td>Юлия</td><td>9Г</td><td>М</td></tr>
<tr><td>Кацер</td><td>Диана</td><td>9Г</td><td>М</td></tr>
<tr><td>Кондратьев</td><td>Глеб</td><td>9Г</td><td>М</td></tr>
<tr><td>Копнова</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Костина</td><td>Алина</td><td>9Г</td><td>М</td></tr>
<tr><td>Криволуцкая</td><td>Татьяна</td><td>9Г</td><td>М</td></tr>
<tr><td>Куницына</td><td>Ксения</td><td>9Г</td><td>М</td></tr>
<tr><td>Куприянова</td><td>Софья</td><td>9Г</td><td>М</td></tr>
<tr><td>Лапшина</td><td>Янина</td><td>9Г</td><td>М</td></tr>
<tr><td>Литвинович</td><td>Лика</td><td>9Г</td><td>М</td></tr>
<tr><td>Медведский</td><td>Олег</td><td>9Г</td><td>М</td></tr>
<tr><td>Наговский</td><td>Даниил</td><td>9Г</td><td>М</td></tr>
<tr><td>Неер</td><td>Ева</td><td>9Г</td><td>М</td></tr>
<tr><td>Пинегин</td><td>Марк</td><td>9Г</td><td>М</td></tr>
<tr><td>Пищур</td><td>Софья</td><td>9Г</td><td>М</td></tr>
<tr><td>Похабов</td><td>Дмитрий</td><td>9Г</td><td>М</td></tr>
<tr><td>Сидорова</td><td>Марьяна</td><td>9Г</td><td>М</td></tr>
<tr><td>Слаек</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Сонич</td><td>Анна</td><td>9Г</td><td>М</td></tr>
<tr><td>Сонич</td><td>Илья</td><td>9Г</td><td>М</td></tr>
<tr><td>Хабаров</td><td>Никита</td><td>9Г</td><td>М</td></tr>
<tr><td>Хайров</td><td>Тимур</td><td>9Г</td><td>М</td></tr>
<tr><td>Хрестинина</td><td>Елизавета</td><td>9Г</td><td>М</td></tr>
<tr><td>Шошкина</td><td>Елизавета</td><td>9Г</td><td>М</td></tr>
<tr><td>Шубадеров</td><td>Андрей</td><td>9Г</td><td>М</td></tr>
<tr><td>Яровикова</td><td>Анастасия</td><td>9Г</td><td>М</td></tr>
<tr><td>Яровых</td><td>Николай</td><td>9Г</td><td>М</td></tr>
<tr><td>Акулова</td><td>Полина</td><td>9Д</td><td>М</td></tr>
<tr><td>Ахремюк</td><td>Валерия</td><td>9Д</td><td>М</td></tr>
<tr><td>Брензович</td><td>Самуил</td><td>9Д</td><td>М</td></tr>
<tr><td>Бурлаков</td><td>Константин</td><td>9Д</td><td>М</td></tr>
<tr><td>Висляев</td><td>Евгений</td><td>9Д</td><td>М</td></tr>
<tr><td>Голощапова</td><td>Дарья</td><td>9Д</td><td>М</td></tr>
<tr><td>Гончарова</td><td>Александра</td><td>9Д</td><td>М</td></tr>
<tr><td>Горявина</td><td>Полина</td><td>9Д</td><td>М</td></tr>
<tr><td>Грибкова</td><td>Анастасия</td><td>9Д</td><td>М</td></tr>
<tr><td>Демина</td><td>Алена</td><td>9Д</td><td>М</td></tr>
<tr><td>Джафарова</td><td>Айшан</td><td>9Д</td><td>М</td></tr>
<tr><td>Дыгало</td><td>Александра</td><td>9Д</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Житина</td><td>Таина</td><td>9Д</td><td>М</td></tr>
<tr><td>Инютина</td><td>Екатерина</td><td>9Д</td><td>М</td></tr>
<tr><td>Канина</td><td>Анастасия</td><td>9Д</td><td>М</td></tr>
<tr><td>Коморовский</td><td>Андрей</td><td>9Д</td><td>М</td></tr>
<tr><td>Купер</td><td>Арина</td><td>9Д</td><td>М</td></tr>
<tr><td>Мандрик</td><td>Дарья</td><td>9Д</td><td>М</td></tr>
<tr><td>Моисеенко</td><td>Ольга</td><td>9Д</td><td>М</td></tr>
<tr><td>Пономарева</td><td>Дарья</td><td>9Д</td><td>М</td></tr>
<tr><td>Соседов</td><td>Максим</td><td>9Д</td><td>М</td></tr>
<tr><td>Старков</td><td>Юрий</td><td>9Д</td><td>М</td></tr>
<tr><td>Тараканов</td><td>Илья</td><td>9Д</td><td>М</td></tr>
<tr><td>Шалькова</td><td>Арина</td><td>9Д</td><td>М</td></tr>
<tr><td>Шевелкин</td><td>Евгений</td><td>9Д</td><td>М</td></tr>
<tr><td>Шмидт</td><td>Никита</td><td>9Д</td><td>М</td></tr>
<tr><td>Гнездилова</td><td>Дарья</td><td>9Е</td><td>М</td></tr>
<tr><td>Ковальчук</td><td>Богдана</td><td>9Е</td><td>М</td></tr>
<tr><td>Крыловская</td><td>Полина</td><td>9Е</td><td>М</td></tr>
<tr><td>Кульба</td><td>Антон</td><td>9Е</td><td>М</td></tr>
<tr><td>Кучумова</td><td>Александра</td><td>9Е</td><td>М</td></tr>
<tr><td>Лазарев</td><td>Леонид</td><td>9Е</td><td>М</td></tr>
<tr><td>Майкут</td><td>Александр</td><td>9Е</td><td>М</td></tr>
<tr><td>Махамбетов</td><td>Максим</td><td>9Е</td><td>М</td></tr>
<tr><td>Носова</td><td>Анна</td><td>9Е</td><td>М</td></tr>
<tr><td>Панина</td><td>Анастасия</td><td>9Е</td><td>М</td></tr>
<tr><td>Подымаева</td><td>Екатерина</td><td>9Е</td><td>М</td></tr>
<tr><td>Поповская</td><td>Анастасия</td><td>9Е</td><td>М</td></tr>
<tr><td>Прошин</td><td>Никита</td><td>9Е</td><td>М</td></tr>
<tr><td>Радушева</td><td>Елизавета</td><td>9Е</td><td>М</td></tr>
<tr><td>Рыбалкина</td><td>Валерия</td><td>9Е</td><td>М</td></tr>
<tr><td>Самылина</td><td>Яна</td><td>9Е</td><td>М</td></tr>
<tr><td>Синицына</td><td>Ульяна</td><td>9Е</td><td>М</td></tr>
<tr><td>Смолянинов</td><td>Евгений</td><td>9Е</td><td>М</td></tr>
<tr><td>Титов</td><td>Павел</td><td>9Е</td><td>М</td></tr>
<tr><td>Уманская</td><td>Елизавета</td><td>9Е</td><td>М</td></tr>
<tr><td>Чижова</td><td>Софья</td><td>9Е</td><td>М</td></tr>
<tr><td>Шеметько</td><td>Виктория</td><td>9Е</td><td>М</td></tr>
<tr><td>Шестопалова</td><td>Кристина</td><td>9Е</td><td>М</td></tr>
<tr><td>Абрамов</td><td>Александр</td><td>9И</td><td>М</td></tr>
<tr><td>Александров</td><td>Лев</td><td>9И</td><td>М</td></tr>
<tr><td>Ворзонина</td><td>Арина</td><td>9И</td><td>М</td></tr>
<tr><td>Гусев</td><td>Даниил</td><td>9И</td><td>М</td></tr>
<tr><td>Димитришина</td><td>Маргарита</td><td>9И</td><td>М</td></tr>
<tr><td>Злочевская</td><td>София</td><td>9И</td><td>М</td></tr>
<tr><td>Иванова</td><td>Кира</td><td>9И</td><td>М</td></tr>
<tr><td>Казаков</td><td>Максим</td><td>9И</td><td>М</td></tr>
<tr><td>Казанцева</td><td>Лили</td><td>9И</td><td>М</td></tr>
<tr><td>Карпова</td><td>Анастасия</td><td>9И</td><td>М</td></tr>
<tr><td>Карпович</td><td>Александр</td><td>9И</td><td>М</td></tr>
<tr><td>Коляда</td><td>Вадим</td><td>9И</td><td>М</td></tr>
<tr><td>Литвинцев</td><td>Пётр</td><td>9И</td><td>М</td></tr>
<tr><td>Мальцев</td><td>Павел</td><td>9И</td><td>М</td></tr>
<tr><td>Медведев</td><td>Александр</td><td>9И</td><td>М</td></tr>
<tr><td>Меркулов</td><td>Илья</td><td>9И</td><td>М</td></tr>
<tr><td>Молошенко</td><td>Ксения</td><td>9И</td><td>М</td></tr>
<tr><td>Морозов</td><td>Виктор</td><td>9И</td><td>М</td></tr>
<tr><td>Осипов</td><td>Макар</td><td>9И</td><td>М</td></tr>
<tr><td>Петрухина</td><td>Светлана</td><td>9И</td><td>М</td></tr>
<tr><td>Провалинский</td><td>Владимир</td><td>9И</td><td>М</td></tr>
<tr><td>Савчиц</td><td>Алиса</td><td>9И</td><td>М</td></tr>
<tr><td>Смирнова</td><td>Эва</td><td>9И</td><td>М</td></tr>
<tr><td>Сюсина</td><td>Светлана</td><td>9И</td><td>М</td></tr>
<tr><td>Трегубович</td><td>Андрей</td><td>9И</td><td>М</td></tr>
<tr><td>Фалалеев</td><td>Святослав</td><td>9И</td><td>М</td></tr>
<tr><td>Хромов</td><td>Александр</td><td>9И</td><td>М</td></tr>
<tr><td>Шатров</td><td>Ярослав</td><td>9И</td><td>М</td></tr>
<tr><td>Шушпанова</td><td>Мария</td><td>9И</td><td>М</td></tr>
<tr><td>Алпацкий</td><td>Андрей</td><td>9М</td><td>М</td></tr>
<tr><td>Баранова</td><td>Анастасия</td><td>9М</td><td>М</td></tr>
<tr><td>Блохина</td><td>Александра</td><td>9М</td><td>М</td></tr>
<tr><td>Бобошин</td><td>Данила</td><td>9М</td><td>М</td></tr>
<tr><td>Борзых</td><td>Софья</td><td>9М</td><td>М</td></tr>
<tr><td>Булыкин</td><td>Алексей</td><td>9М</td><td>М</td></tr>
<tr><td>Бурцева</td><td>Анастасия</td><td>9М</td><td>М</td></tr>
<tr><td>Василевская</td><td>Елизавета</td><td>9М</td><td>М</td></tr>
<tr><td>Волошина</td><td>Екатерина</td><td>9М</td><td>М</td></tr>
<tr><td>Глебов</td><td>Ярослав</td><td>9М</td><td>М</td></tr>
<tr><td>Дедов</td><td>Кирилл</td><td>9М</td><td>М</td></tr>
<tr><td>Дружинин</td><td>Даниил</td><td>9М</td><td>М</td></tr>
<tr><td>Дуда</td><td>Анна</td><td>9М</td><td>М</td></tr>
<tr><td>Дудина</td><td>Диана</td><td>9М</td><td>М</td></tr>
<tr><td>Заец</td><td>Александр</td><td>9М</td><td>М</td></tr>
<tr><td>Иванов</td><td>Андрей</td><td>9М</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алина</td><td>9М</td><td>М</td></tr>
<tr><td>Ивочкина</td><td>Анна</td><td>9М</td><td>М</td></tr>
<tr><td>Карнаухова</td><td>Ксения</td><td>9М</td><td>М</td></tr>
<tr><td>Комарук</td><td>Максим</td><td>9М</td><td>М</td></tr>
<tr><td>Коневский</td><td>Феликс</td><td>9М</td><td>М</td></tr>
<tr><td>Коробкина</td><td>Елизавета</td><td>9М</td><td>М</td></tr>
<tr><td>Легейда</td><td>Екатерина</td><td>9М</td><td>М</td></tr>
<tr><td>Мальцев</td><td>Ярослав</td><td>9М</td><td>М</td></tr>
<tr><td>Манько</td><td>Ярослав</td><td>9М</td><td>М</td></tr>
<tr><td>Мозговая</td><td>Ева</td><td>9М</td><td>М</td></tr>
<tr><td>Молтянский</td><td>Михаил</td><td>9М</td><td>М</td></tr>
<tr><td>Мясников</td><td>Михаил</td><td>9М</td><td>М</td></tr>
<tr><td>Ниткин</td><td>Никита</td><td>9М</td><td>М</td></tr>
<tr><td>Овсянкина</td><td>Диана</td><td>9М</td><td>М</td></tr>
<tr><td>Приеде</td><td>Ян</td><td>9М</td><td>М</td></tr>
<tr><td>Пятина</td><td>Анна</td><td>9М</td><td>М</td></tr>
<tr><td>Раков</td><td>Марк</td><td>9М</td><td>М</td></tr>
<tr><td>Рахимова</td><td>Согдиана</td><td>9М</td><td>М</td></tr>
<tr><td>Репка</td><td>Мария</td><td>9М</td><td>М</td></tr>
<tr><td>Решонов</td><td>Максим</td><td>9М</td><td>М</td></tr>
<tr><td>Романенко</td><td>Иван</td><td>9М</td><td>М</td></tr>
<tr><td>Самсонова</td><td>Алисия</td><td>9М</td><td>М</td></tr>
<tr><td>Сиротинин</td><td>Геннадий</td><td>9М</td><td>М</td></tr>
<tr><td>Солодилов</td><td>Егор</td><td>9М</td><td>М</td></tr>
<tr><td>Соломкин</td><td>Никита</td><td>9М</td><td>М</td></tr>
<tr><td>Таптыгин</td><td>Кирилл</td><td>9М</td><td>М</td></tr>
<tr><td>Терентьева</td><td>Ольга</td><td>9М</td><td>М</td></tr>
<tr><td>Шевченко</td><td>Максим</td><td>9М</td><td>М</td></tr>
<tr><td>Шелест</td><td>Матвей</td><td>9М</td><td>М</td></tr>
<tr><td>Штурова</td><td>Виктория</td><td>9М</td><td>М</td></tr>
<tr><td>Ященко</td><td>Полина</td><td>9М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
