<!-- login required -->
{% extends "students_table.html" %}

{% block head %}5 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Антонов</td><td>Максим</td><td>5</td><td>М</td></tr>
<tr><td>Вершинина</td><td>Елизавета</td><td>5</td><td>М</td></tr>
<tr><td>Каньшин</td><td>Иван</td><td>5</td><td>М</td></tr>
<tr><td>Куменков</td><td>Максим</td><td>5</td><td>М</td></tr>
<tr><td>Астафьева</td><td>Ксения</td><td>5А</td><td>М</td></tr>
<tr><td>Баженов</td><td>Егор</td><td>5А</td><td>М</td></tr>
<tr><td>Барышева</td><td>Дарья</td><td>5А</td><td>М</td></tr>
<tr><td>Барышникова</td><td>Алиса</td><td>5А</td><td>М</td></tr>
<tr><td>Белоногов</td><td>Артём</td><td>5А</td><td>М</td></tr>
<tr><td>Белянина</td><td>Дарья</td><td>5А</td><td>М</td></tr>
<tr><td>Богинская</td><td>Татьяна</td><td>5А</td><td>М</td></tr>
<tr><td>Бойко</td><td>Анастасия</td><td>5А</td><td>М</td></tr>
<tr><td>Васильев</td><td>Илья</td><td>5А</td><td>М</td></tr>
<tr><td>Вишняк</td><td>Валерия</td><td>5А</td><td>М</td></tr>
<tr><td>Вожжов</td><td>Даниил</td><td>5А</td><td>М</td></tr>
<tr><td>Воропаев</td><td>Кирилл</td><td>5А</td><td>М</td></tr>
<tr><td>Галимова</td><td>Вазиля</td><td>5А</td><td>М</td></tr>
<tr><td>Голубев</td><td>Михаил</td><td>5А</td><td>М</td></tr>
<tr><td>Городкова</td><td>Анастасия</td><td>5А</td><td>М</td></tr>
<tr><td>Дадаян</td><td>Эвелина</td><td>5А</td><td>М</td></tr>
<tr><td>Зубкова</td><td>Елизавета</td><td>5А</td><td>М</td></tr>
<tr><td>Зубкова</td><td>Софья</td><td>5А</td><td>М</td></tr>
<tr><td>Ипатьева</td><td>Анастасия</td><td>5А</td><td>М</td></tr>
<tr><td>Казак</td><td>Полина</td><td>5А</td><td>М</td></tr>
<tr><td>Каунова</td><td>Виктория</td><td>5А</td><td>М</td></tr>
<tr><td>Колесникова</td><td>Дарья</td><td>5А</td><td>М</td></tr>
<tr><td>Корж</td><td>Константин</td><td>5А</td><td>М</td></tr>
<tr><td>Корощенко</td><td>Арсений</td><td>5А</td><td>М</td></tr>
<tr><td>Космич</td><td>Елизавета</td><td>5А</td><td>М</td></tr>
<tr><td>Кравцов</td><td>Владислав</td><td>5А</td><td>М</td></tr>
<tr><td>Кривецкая</td><td>Полина</td><td>5А</td><td>М</td></tr>
<tr><td>Кудрявцева</td><td>Майя</td><td>5А</td><td>М</td></tr>
<tr><td>Логинов</td><td>Данила</td><td>5А</td><td>М</td></tr>
<tr><td>Малахова</td><td>Александра</td><td>5А</td><td>М</td></tr>
<tr><td>Маняпов</td><td>Марат</td><td>5А</td><td>М</td></tr>
<tr><td>Меркулов</td><td>Илья</td><td>5А</td><td>М</td></tr>
<tr><td>Москвин</td><td>Григорий</td><td>5А</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Константин</td><td>5А</td><td>М</td></tr>
<tr><td>Погодаева</td><td>Полина</td><td>5А</td><td>М</td></tr>
<tr><td>Поповская</td><td>Виктория</td><td>5А</td><td>М</td></tr>
<tr><td>Пустыгин</td><td>Михаил</td><td>5А</td><td>М</td></tr>
<tr><td>Романов</td><td>Роман</td><td>5А</td><td>М</td></tr>
<tr><td>Руденко</td><td>Арина</td><td>5А</td><td>Ж</td></tr>
<tr><td>Савенкова</td><td>Алиса</td><td>5А</td><td>М</td></tr>
<tr><td>Саломатова</td><td>Эмилия</td><td>5А</td><td>М</td></tr>
<tr><td>Светлицкий</td><td>Илья</td><td>5А</td><td>М</td></tr>
<tr><td>Синькина</td><td>Дарья</td><td>5А</td><td>М</td></tr>
<tr><td>Ситченко</td><td>Арина</td><td>5А</td><td>Ж</td></tr>
<tr><td>Соляник</td><td>Ольга</td><td>5А</td><td>М</td></tr>
<tr><td>Соя</td><td>Константин</td><td>5А</td><td>М</td></tr>
<tr><td>Ступаков</td><td>Илья</td><td>5А</td><td>М</td></tr>
<tr><td>Темеров</td><td>Елисей</td><td>5А</td><td>М</td></tr>
<tr><td>Тетерина</td><td>Алёна</td><td>5А</td><td>Ж</td></tr>
<tr><td>Торганова</td><td>Злата</td><td>5А</td><td>М</td></tr>
<tr><td>Трегубович</td><td>Андрей</td><td>5А</td><td>М</td></tr>
<tr><td>Хабибулин</td><td>Игорь</td><td>5А</td><td>М</td></tr>
<tr><td>Чекмасова</td><td>Софья</td><td>5А</td><td>М</td></tr>
<tr><td>Шапран</td><td>Александр</td><td>5А</td><td>М</td></tr>
<tr><td>Шемелина</td><td>Анастасия</td><td>5А</td><td>М</td></tr>
<tr><td>Шестакова</td><td>Евгения</td><td>5А</td><td>Ж</td></tr>
<tr><td>Юстус</td><td>Алена</td><td>5А</td><td>М</td></tr>
<tr><td>Абрамов</td><td>Александр</td><td>5Б</td><td>М</td></tr>
<tr><td>Антонова</td><td>Анастасия</td><td>5Б</td><td>М</td></tr>
<tr><td>Арешонкова</td><td>Вита</td><td>5Б</td><td>Ж</td></tr>
<tr><td>Арсенян</td><td>Никита</td><td>5Б</td><td>М</td></tr>
<tr><td>Базранова</td><td>Алиса</td><td>5Б</td><td>М</td></tr>
<tr><td>Библий</td><td>Даниил</td><td>5Б</td><td>М</td></tr>
<tr><td>Богданович</td><td>Егор</td><td>5Б</td><td>М</td></tr>
<tr><td>Бородай</td><td>Семён</td><td>5Б</td><td>М</td></tr>
<tr><td>Булаева</td><td>Татьяна</td><td>5Б</td><td>М</td></tr>
<tr><td>Буслаев</td><td>Василий</td><td>5Б</td><td>М</td></tr>
<tr><td>Васильева</td><td>Мария</td><td>5Б</td><td>М</td></tr>
<tr><td>Волков</td><td>Егор</td><td>5Б</td><td>М</td></tr>
<tr><td>Врублевская</td><td>Елизавета</td><td>5Б</td><td>М</td></tr>
<tr><td>Вычужанина</td><td>Екатерина</td><td>5Б</td><td>М</td></tr>
<tr><td>Гайратова</td><td>Амина</td><td>5Б</td><td>М</td></tr>
<tr><td>Гапиенко</td><td>Георгий</td><td>5Б</td><td>М</td></tr>
<tr><td>Герменчук</td><td>Дарья</td><td>5Б</td><td>М</td></tr>
<tr><td>Гирич</td><td>Таисия</td><td>5Б</td><td>М</td></tr>
<tr><td>Данилин</td><td>Владимир</td><td>5Б</td><td>М</td></tr>
<tr><td>Данилина</td><td>Маргарита</td><td>5Б</td><td>Ж</td></tr>
<tr><td>Дорошенко</td><td>Лев</td><td>5Б</td><td>М</td></tr>
<tr><td>Дюков</td><td>Борис</td><td>5Б</td><td>М</td></tr>
<tr><td>Единчук</td><td>Ульяна</td><td>5Б</td><td>М</td></tr>
<tr><td>Заманова</td><td>Ксения</td><td>5Б</td><td>М</td></tr>
<tr><td>Захарова</td><td>София</td><td>5Б</td><td>М</td></tr>
<tr><td>Злочевская</td><td>София</td><td>5Б</td><td>М</td></tr>
<tr><td>Иванов</td><td>Даниил</td><td>5Б</td><td>М</td></tr>
<tr><td>Иванова</td><td>Кира</td><td>5Б</td><td>М</td></tr>
<tr><td>Казанцева</td><td>Лили</td><td>5Б</td><td>М</td></tr>
<tr><td>Ковалева</td><td>Анастасия</td><td>5Б</td><td>М</td></tr>
<tr><td>Кокшина</td><td>Мишель</td><td>5Б</td><td>М</td></tr>
<tr><td>Красикова</td><td>Диана</td><td>5Б</td><td>М</td></tr>
<tr><td>Кузякин</td><td>Артём</td><td>5Б</td><td>М</td></tr>
<tr><td>Кухта</td><td>Александра</td><td>5Б</td><td>М</td></tr>
<tr><td>Лебедев</td><td>Егор</td><td>5Б</td><td>М</td></tr>
<tr><td>Лунина</td><td>Ирина</td><td>5Б</td><td>М</td></tr>
<tr><td>Лёвина</td><td>Валерия</td><td>5Б</td><td>М</td></tr>
<tr><td>Мальцев</td><td>Павел</td><td>5Б</td><td>М</td></tr>
<tr><td>Молошенко</td><td>Ксения</td><td>5Б</td><td>М</td></tr>
<tr><td>Мустаева</td><td>Яна</td><td>5Б</td><td>М</td></tr>
<tr><td>Наумцева</td><td>Екатерина</td><td>5Б</td><td>М</td></tr>
<tr><td>Никифорова</td><td>Маргарита</td><td>5Б</td><td>М</td></tr>
<tr><td>Парфенова</td><td>Арина</td><td>5Б</td><td>М</td></tr>
<tr><td>Пасенко</td><td>Полина</td><td>5Б</td><td>М</td></tr>
<tr><td>Плотникова</td><td>Варвара</td><td>5Б</td><td>М</td></tr>
<tr><td>Пургин</td><td>Павел</td><td>5Б</td><td>М</td></tr>
<tr><td>Распопина</td><td>Вероника</td><td>5Б</td><td>М</td></tr>
<tr><td>Рыженков</td><td>Семён</td><td>5Б</td><td>М</td></tr>
<tr><td>Свищев</td><td>Виктор</td><td>5Б</td><td>М</td></tr>
<tr><td>Слапкова</td><td>Арина</td><td>5Б</td><td>М</td></tr>
<tr><td>Ткач</td><td>Богдан</td><td>5Б</td><td>М</td></tr>
<tr><td>Трухан</td><td>Артём</td><td>5Б</td><td>М</td></tr>
<tr><td>Туруханов</td><td>Максим</td><td>5Б</td><td>М</td></tr>
<tr><td>Чепурных</td><td>Ева</td><td>5Б</td><td>М</td></tr>
<tr><td>Чернышева</td><td>Алёна</td><td>5Б</td><td>М</td></tr>
<tr><td>Южанникова</td><td>Полина</td><td>5Б</td><td>М</td></tr>
<tr><td>Аликперова</td><td>Ульяна</td><td>5В</td><td>М</td></tr>
<tr><td>Ахалгорели</td><td>Валерия</td><td>5В</td><td>М</td></tr>
<tr><td>Баянова</td><td>Таисия</td><td>5В</td><td>М</td></tr>
<tr><td>Бегишева</td><td>Алина</td><td>5В</td><td>М</td></tr>
<tr><td>Беспалов</td><td>Арсений</td><td>5В</td><td>М</td></tr>
<tr><td>Бурбела</td><td>Софья</td><td>5В</td><td>М</td></tr>
<tr><td>Буртасова</td><td>София</td><td>5В</td><td>М</td></tr>
<tr><td>Валова</td><td>Виктория</td><td>5В</td><td>М</td></tr>
<tr><td>Вальков</td><td>Никита</td><td>5В</td><td>М</td></tr>
<tr><td>Верхотурова</td><td>Софья</td><td>5В</td><td>М</td></tr>
<tr><td>Воронина</td><td>Екатерина</td><td>5В</td><td>М</td></tr>
<tr><td>Головенко</td><td>Олег</td><td>5В</td><td>М</td></tr>
<tr><td>Горностаева</td><td>Ксения</td><td>5В</td><td>М</td></tr>
<tr><td>Даций</td><td>Марк</td><td>5В</td><td>М</td></tr>
<tr><td>Дегтярев</td><td>Артём</td><td>5В</td><td>М</td></tr>
<tr><td>Дергач</td><td>Дарья</td><td>5В</td><td>М</td></tr>
<tr><td>Дидичина</td><td>Дарья</td><td>5В</td><td>М</td></tr>
<tr><td>Долгушев</td><td>Дмитрий</td><td>5В</td><td>М</td></tr>
<tr><td>Изгаршев</td><td>Тимофей</td><td>5В</td><td>М</td></tr>
<tr><td>Казаков</td><td>Максим</td><td>5В</td><td>М</td></tr>
<tr><td>Кайгородов</td><td>Ярослав</td><td>5В</td><td>М</td></tr>
<tr><td>Каппес</td><td>Артём</td><td>5В</td><td>М</td></tr>
<tr><td>Карпович</td><td>Александр</td><td>5В</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Козлова</td><td>Ксения</td><td>5В</td><td>М</td></tr>
<tr><td>Кондратьев</td><td>Александр</td><td>5В</td><td>М</td></tr>
<tr><td>Коржов</td><td>Роман</td><td>5В</td><td>М</td></tr>
<tr><td>Курбанова</td><td>Виктория</td><td>5В</td><td>М</td></tr>
<tr><td>Курбанова</td><td>Марина</td><td>5В</td><td>М</td></tr>
<tr><td>Литвинцев</td><td>Пётр</td><td>5В</td><td>М</td></tr>
<tr><td>Лютин</td><td>Никита</td><td>5В</td><td>М</td></tr>
<tr><td>Максименко</td><td>Мария</td><td>5В</td><td>М</td></tr>
<tr><td>Макушина</td><td>Анастасия</td><td>5В</td><td>М</td></tr>
<tr><td>Мелешко</td><td>Кира</td><td>5В</td><td>М</td></tr>
<tr><td>Насс</td><td>Юлия</td><td>5В</td><td>М</td></tr>
<tr><td>Осипова</td><td>Ольга</td><td>5В</td><td>М</td></tr>
<tr><td>Петров</td><td>Владислав</td><td>5В</td><td>М</td></tr>
<tr><td>Похабова</td><td>Ангелина</td><td>5В</td><td>М</td></tr>
<tr><td>Провалинский</td><td>Владимир</td><td>5В</td><td>М</td></tr>
<tr><td>Прокопкин</td><td>Андрей</td><td>5В</td><td>М</td></tr>
<tr><td>Пятницкий</td><td>Константин</td><td>5В</td><td>М</td></tr>
<tr><td>Рудешко</td><td>Яков</td><td>5В</td><td>М</td></tr>
<tr><td>Рыжков</td><td>Роман</td><td>5В</td><td>М</td></tr>
<tr><td>Скибина</td><td>Ирина</td><td>5В</td><td>М</td></tr>
<tr><td>Сюсина</td><td>Светлана</td><td>5В</td><td>М</td></tr>
<tr><td>Тарабанько</td><td>Лада</td><td>5В</td><td>М</td></tr>
<tr><td>Темеров</td><td>Алексей</td><td>5В</td><td>М</td></tr>
<tr><td>Темерова</td><td>Ольга</td><td>5В</td><td>М</td></tr>
<tr><td>Труш</td><td>Майя</td><td>5В</td><td>М</td></tr>
<tr><td>Ускова</td><td>Ирина</td><td>5В</td><td>М</td></tr>
<tr><td>Федорченко</td><td>Екатерина</td><td>5В</td><td>М</td></tr>
<tr><td>Хомяков</td><td>Давид</td><td>5В</td><td>М</td></tr>
<tr><td>Шадрина</td><td>Софья</td><td>5В</td><td>М</td></tr>
<tr><td>Шадрина</td><td>Ульяна</td><td>5В</td><td>М</td></tr>
<tr><td>Шатров</td><td>Ярослав</td><td>5В</td><td>М</td></tr>
<tr><td>Шевченко</td><td>Леонид</td><td>5В</td><td>М</td></tr>
<tr><td>Шушпанова</td><td>Мария</td><td>5В</td><td>М</td></tr>
<tr><td>Ятченко</td><td>Ольга</td><td>5В</td><td>М</td></tr>
<tr><td>Антипина</td><td>Ксения</td><td>5Г</td><td>М</td></tr>
<tr><td>Архипова</td><td>Таисия</td><td>5Г</td><td>М</td></tr>
<tr><td>Баженова</td><td>Варвара</td><td>5Г</td><td>М</td></tr>
<tr><td>Балдин</td><td>Александр</td><td>5Г</td><td>М</td></tr>
<tr><td>Балундз</td><td>Лев</td><td>5Г</td><td>М</td></tr>
<tr><td>Блаховская</td><td>Арина</td><td>5Г</td><td>М</td></tr>
<tr><td>Бовтюк</td><td>Кристина</td><td>5Г</td><td>М</td></tr>
<tr><td>Буслович</td><td>Артём</td><td>5Г</td><td>М</td></tr>
<tr><td>Варкулевич</td><td>Вадим</td><td>5Г</td><td>М</td></tr>
<tr><td>Вдовиченко</td><td>Роман</td><td>5Г</td><td>М</td></tr>
<tr><td>Вишняков</td><td>Иван</td><td>5Г</td><td>М</td></tr>
<tr><td>Власов</td><td>Роман</td><td>5Г</td><td>М</td></tr>
<tr><td>Вовк</td><td>Артур</td><td>5Г</td><td>М</td></tr>
<tr><td>Глумов</td><td>Данил</td><td>5Г</td><td>М</td></tr>
<tr><td>Голубев</td><td>Егор</td><td>5Г</td><td>М</td></tr>
<tr><td>Граматунов</td><td>Даниил</td><td>5Г</td><td>М</td></tr>
<tr><td>Демиденко</td><td>Иван</td><td>5Г</td><td>М</td></tr>
<tr><td>Дудко</td><td>Анна</td><td>5Г</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алиса</td><td>5Г</td><td>М</td></tr>
<tr><td>Исаев</td><td>Александр</td><td>5Г</td><td>М</td></tr>
<tr><td>Кардашова</td><td>Юлия</td><td>5Г</td><td>М</td></tr>
<tr><td>Кириллова</td><td>София</td><td>5Г</td><td>М</td></tr>
<tr><td>Киричкова</td><td>Ульяна</td><td>5Г</td><td>М</td></tr>
<tr><td>Коляда</td><td>Вадим</td><td>5Г</td><td>М</td></tr>
<tr><td>Комарова</td><td>Ярослава</td><td>5Г</td><td>М</td></tr>
<tr><td>Кондратьев</td><td>Глеб</td><td>5Г</td><td>М</td></tr>
<tr><td>Кондратьева</td><td>Анастасия</td><td>5Г</td><td>М</td></tr>
<tr><td>Конева</td><td>Милана</td><td>5Г</td><td>М</td></tr>
<tr><td>Корягина</td><td>Афина</td><td>5Г</td><td>М</td></tr>
<tr><td>Костина</td><td>Алина</td><td>5Г</td><td>М</td></tr>
<tr><td>Косьмина</td><td>Маргарита</td><td>5Г</td><td>М</td></tr>
<tr><td>Криволуцкая</td><td>Татьяна</td><td>5Г</td><td>М</td></tr>
<tr><td>Куницына</td><td>Ксения</td><td>5Г</td><td>М</td></tr>
<tr><td>Куприянова</td><td>Софья</td><td>5Г</td><td>М</td></tr>
<tr><td>Куров</td><td>Дмитрий</td><td>5Г</td><td>М</td></tr>
<tr><td>Ланкина</td><td>Елизавета</td><td>5Г</td><td>М</td></tr>
<tr><td>Лапшина</td><td>Янина</td><td>5Г</td><td>М</td></tr>
<tr><td>Лебедева</td><td>Ульяна</td><td>5Г</td><td>М</td></tr>
<tr><td>Маркевич</td><td>Виктория</td><td>5Г</td><td>М</td></tr>
<tr><td>Марченко</td><td>Ярослава</td><td>5Г</td><td>М</td></tr>
<tr><td>Нам</td><td>Вероника</td><td>5Г</td><td>М</td></tr>
<tr><td>Орлова</td><td>Кира</td><td>5Г</td><td>М</td></tr>
<tr><td>Прошина</td><td>Александра</td><td>5Г</td><td>М</td></tr>
<tr><td>Романов</td><td>Кирилл</td><td>5Г</td><td>М</td></tr>
<tr><td>Ростовцев</td><td>Артемий</td><td>5Г</td><td>М</td></tr>
<tr><td>Сидорова</td><td>Марьяна</td><td>5Г</td><td>М</td></tr>
<tr><td>Сонич</td><td>Анна</td><td>5Г</td><td>М</td></tr>
<tr><td>Стратейчук</td><td>Ульяна</td><td>5Г</td><td>М</td></tr>
<tr><td>Танкушин</td><td>Валерий</td><td>5Г</td><td>М</td></tr>
<tr><td>Тауснев</td><td>Вадим</td><td>5Г</td><td>М</td></tr>
<tr><td>Тимошкова</td><td>Мария</td><td>5Г</td><td>М</td></tr>
<tr><td>Хрестинина</td><td>Елизавета</td><td>5Г</td><td>М</td></tr>
<tr><td>Черепнина</td><td>Анна</td><td>5Г</td><td>М</td></tr>
<tr><td>Шитиков</td><td>Дмитрий</td><td>5Г</td><td>М</td></tr>
<tr><td>Шошкина</td><td>Елизавета</td><td>5Г</td><td>М</td></tr>
<tr><td>Юдин</td><td>Александр</td><td>5Г</td><td>М</td></tr>
<tr><td>Яровых</td><td>Николай</td><td>5Г</td><td>М</td></tr>
<tr><td>Адибекян</td><td>Тигран</td><td>5Д</td><td>М</td></tr>
<tr><td>Антоненко</td><td>Полина</td><td>5Д</td><td>М</td></tr>
<tr><td>Бердышева</td><td>Кристина</td><td>5Д</td><td>М</td></tr>
<tr><td>Бескорсая</td><td>Анастасия</td><td>5Д</td><td>М</td></tr>
<tr><td>Бориевская</td><td>Стефания</td><td>5Д</td><td>М</td></tr>
<tr><td>Брензович</td><td>Кира</td><td>5Д</td><td>М</td></tr>
<tr><td>Булыкин</td><td>Алексей</td><td>5Д</td><td>М</td></tr>
<tr><td>Валинский</td><td>Иван</td><td>5Д</td><td>М</td></tr>
<tr><td>Ворзонина</td><td>Арина</td><td>5Д</td><td>М</td></tr>
<tr><td>Гапанович</td><td>Елизавета</td><td>5Д</td><td>М</td></tr>
<tr><td>Глушков</td><td>Лев</td><td>5Д</td><td>М</td></tr>
<tr><td>Гулиева</td><td>Ева</td><td>5Д</td><td>М</td></tr>
<tr><td>Гусева</td><td>Виктория</td><td>5Д</td><td>М</td></tr>
<tr><td>Гущин</td><td>Егор</td><td>5Д</td><td>М</td></tr>
<tr><td>Дегтярева</td><td>Вера</td><td>5Д</td><td>М</td></tr>
<tr><td>Димитришина</td><td>Маргарита</td><td>5Д</td><td>М</td></tr>
<tr><td>Долиденок</td><td>Елизавета</td><td>5Д</td><td>М</td></tr>
<tr><td>Егерь</td><td>Денис</td><td>5Д</td><td>М</td></tr>
<tr><td>Егошина</td><td>Вероника</td><td>5Д</td><td>М</td></tr>
<tr><td>Заруба</td><td>Ярослав</td><td>5Д</td><td>М</td></tr>
<tr><td>Карпова</td><td>Анастасия</td><td>5Д</td><td>М</td></tr>
<tr><td>Кротов</td><td>Алексей</td><td>5Д</td><td>М</td></tr>
<tr><td>Левицкий</td><td>Артём</td><td>5Д</td><td>М</td></tr>
<tr><td>Лукатина</td><td>Яна</td><td>5Д</td><td>М</td></tr>
<tr><td>Макеев</td><td>Иван</td><td>5Д</td><td>М</td></tr>
<tr><td>Макеева</td><td>Ева</td><td>5Д</td><td>М</td></tr>
<tr><td>Михеева</td><td>Таисия</td><td>5Д</td><td>М</td></tr>
<tr><td>Мишин</td><td>Александр</td><td>5Д</td><td>М</td></tr>
<tr><td>Морозов</td><td>Виктор</td><td>5Д</td><td>М</td></tr>
<tr><td>Мухаметов</td><td>Максим</td><td>5Д</td><td>М</td></tr>
<tr><td>Однолько</td><td>Прохор</td><td>5Д</td><td>М</td></tr>
<tr><td>Пиенко</td><td>Зоя</td><td>5Д</td><td>М</td></tr>
<tr><td>Позднякова</td><td>Яна</td><td>5Д</td><td>М</td></tr>
<tr><td>Полуянова</td><td>Анна</td><td>5Д</td><td>М</td></tr>
<tr><td>Похабов</td><td>Гордей</td><td>5Д</td><td>М</td></tr>
<tr><td>Присухина</td><td>Дарья</td><td>5Д</td><td>М</td></tr>
<tr><td>Проничева</td><td>Полина</td><td>5Д</td><td>М</td></tr>
<tr><td>Росляков</td><td>Артём</td><td>5Д</td><td>М</td></tr>
<tr><td>Савчиц</td><td>Алиса</td><td>5Д</td><td>М</td></tr>
<tr><td>Сапунова</td><td>Олеся</td><td>5Д</td><td>М</td></tr>
<tr><td>Скворцова</td><td>Злата</td><td>5Д</td><td>М</td></tr>
<tr><td>Скитилягина</td><td>Полина</td><td>5Д</td><td>М</td></tr>
<tr><td>Скляр</td><td>Богдан</td><td>5Д</td><td>М</td></tr>
<tr><td>Скурихина</td><td>Ульяна</td><td>5Д</td><td>М</td></tr>
<tr><td>Соклакова</td><td>Таисия</td><td>5Д</td><td>М</td></tr>
<tr><td>Сучкова</td><td>Алёна</td><td>5Д</td><td>М</td></tr>
<tr><td>Тарасенко</td><td>Илья</td><td>5Д</td><td>М</td></tr>
<tr><td>Тихий</td><td>Владимир</td><td>5Д</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Тишковец</td><td>Георгий</td><td>5Д</td><td>М</td></tr>
<tr><td>Урцегов</td><td>Артём</td><td>5Д</td><td>М</td></tr>
<tr><td>Фалалеев</td><td>Святослав</td><td>5Д</td><td>М</td></tr>
<tr><td>Хайров</td><td>Тимур</td><td>5Д</td><td>М</td></tr>
<tr><td>Цветков</td><td>Никита</td><td>5Д</td><td>М</td></tr>
<tr><td>Чугунеков</td><td>Матвей</td><td>5Д</td><td>М</td></tr>
<tr><td>Шипилин</td><td>Кирилл</td><td>5Д</td><td>М</td></tr>
<tr><td>Яровикова</td><td>Анастасия</td><td>5Д</td><td>М</td></tr>
<tr><td>Антамошкин</td><td>Фёдор</td><td>5Е</td><td>М</td></tr>
<tr><td>Бибикова</td><td>Виктория</td><td>5Е</td><td>М</td></tr>
<tr><td>Богданов</td><td>Никита</td><td>5Е</td><td>М</td></tr>
<tr><td>Борисова</td><td>Дарина</td><td>5Е</td><td>М</td></tr>
<tr><td>Вирт</td><td>Ева</td><td>5Е</td><td>М</td></tr>
<tr><td>Дермичева</td><td>Дарья</td><td>5Е</td><td>М</td></tr>
<tr><td>Десюков</td><td>Роман</td><td>5Е</td><td>М</td></tr>
<tr><td>Дорогавцева</td><td>Елизавета</td><td>5Е</td><td>М</td></tr>
<tr><td>Егоров</td><td>Илья</td><td>5Е</td><td>М</td></tr>
<tr><td>Ермолаев</td><td>Семён</td><td>5Е</td><td>М</td></tr>
<tr><td>Зильберман</td><td>Лев</td><td>5Е</td><td>М</td></tr>
<tr><td>Игнатенко</td><td>Виктор</td><td>5Е</td><td>М</td></tr>
<tr><td>Кудреватых</td><td>Янита</td><td>5Е</td><td>М</td></tr>
<tr><td>Лавриненко</td><td>Елена</td><td>5Е</td><td>М</td></tr>
<tr><td>Манжула</td><td>Кира</td><td>5Е</td><td>М</td></tr>
<tr><td>Махнырев</td><td>Никита</td><td>5Е</td><td>М</td></tr>
<tr><td>Мухомедзянова</td><td>Эльмира</td><td>5Е</td><td>М</td></tr>
<tr><td>Нифонтова</td><td>Альбина</td><td>5Е</td><td>М</td></tr>
<tr><td>Овчинников</td><td>Всеволод</td><td>5Е</td><td>М</td></tr>
<tr><td>Полторак</td><td>Елизавета</td><td>5Е</td><td>М</td></tr>
<tr><td>Потылицын</td><td>Назар</td><td>5Е</td><td>М</td></tr>
<tr><td>Рассказов</td><td>Фёдор</td><td>5Е</td><td>М</td></tr>
<tr><td>Сабуров</td><td>Ермолай</td><td>5Е</td><td>М</td></tr>
<tr><td>Семерков</td><td>Егор</td><td>5Е</td><td>М</td></tr>
<tr><td>Танкушин</td><td>Арсений</td><td>5Е</td><td>М</td></tr>
<tr><td>Чудаев</td><td>Алексей</td><td>5Е</td><td>М</td></tr>
<tr><td>Аторва</td><td>Арсений</td><td>5Ж</td><td>М</td></tr>
<tr><td>Волкова</td><td>Ангелина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Воронковская</td><td>Алёна</td><td>5Ж</td><td>М</td></tr>
<tr><td>Давиденко</td><td>Ирина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Давиденко</td><td>Марина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Дасевич</td><td>Арсентий</td><td>5Ж</td><td>М</td></tr>
<tr><td>Зорина</td><td>Анна</td><td>5Ж</td><td>М</td></tr>
<tr><td>Зражевская</td><td>Полина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Ишакова</td><td>Полина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Кокоренко</td><td>Александр</td><td>5Ж</td><td>М</td></tr>
<tr><td>Кулай</td><td>Анастасия</td><td>5Ж</td><td>М</td></tr>
<tr><td>Кулай</td><td>Яна</td><td>5Ж</td><td>М</td></tr>
<tr><td>Лялин</td><td>Василий</td><td>5Ж</td><td>М</td></tr>
<tr><td>Михайлова</td><td>Мария</td><td>5Ж</td><td>М</td></tr>
<tr><td>Мурашкина</td><td>Анфиса</td><td>5Ж</td><td>М</td></tr>
<tr><td>Огер</td><td>Софья</td><td>5Ж</td><td>М</td></tr>
<tr><td>Орлов</td><td>Александр</td><td>5Ж</td><td>М</td></tr>
<tr><td>Осипова</td><td>Ольга</td><td>5Ж</td><td>М</td></tr>
<tr><td>Рогачев</td><td>Георгий</td><td>5Ж</td><td>М</td></tr>
<tr><td>Ромашевская</td><td>Ксения</td><td>5Ж</td><td>М</td></tr>
<tr><td>Сабанская</td><td>Кристина</td><td>5Ж</td><td>М</td></tr>
<tr><td>Савина</td><td>Анна</td><td>5Ж</td><td>М</td></tr>
<tr><td>Салий</td><td>Матвей</td><td>5Ж</td><td>М</td></tr>
<tr><td>Сенькин</td><td>Роман</td><td>5Ж</td><td>М</td></tr>
<tr><td>Чернышев</td><td>Павел</td><td>5Ж</td><td>М</td></tr>
<tr><td>Чумакова</td><td>Виктория</td><td>5Ж</td><td>М</td></tr>
<tr><td>Шевцов</td><td>Артемий</td><td>5Ж</td><td>М</td></tr>
<tr><td>Бадьина</td><td>Яна</td><td>5З</td><td>М</td></tr>
<tr><td>Баньщикова</td><td>Полина</td><td>5З</td><td>М</td></tr>
<tr><td>Глассон</td><td>Дарья</td><td>5З</td><td>М</td></tr>
<tr><td>Горовенко</td><td>Дарья</td><td>5З</td><td>М</td></tr>
<tr><td>Григорьев</td><td>Никита</td><td>5З</td><td>М</td></tr>
<tr><td>Демиденко</td><td>Анастасия</td><td>5З</td><td>М</td></tr>
<tr><td>Дроздов</td><td>Максим</td><td>5З</td><td>М</td></tr>
<tr><td>Ермакова</td><td>Арина</td><td>5З</td><td>М</td></tr>
<tr><td>Конторович</td><td>Милана</td><td>5З</td><td>М</td></tr>
<tr><td>Кузменкова</td><td>Станислава</td><td>5З</td><td>М</td></tr>
<tr><td>Кузнецов</td><td>Остап</td><td>5З</td><td>М</td></tr>
<tr><td>Кузнецова</td><td>Мария</td><td>5З</td><td>М</td></tr>
<tr><td>Курносов</td><td>Владимир</td><td>5З</td><td>М</td></tr>
<tr><td>Малышев</td><td>Артём</td><td>5З</td><td>М</td></tr>
<tr><td>Нестеренко</td><td>Ксения</td><td>5З</td><td>М</td></tr>
<tr><td>Огородов</td><td>Денис</td><td>5З</td><td>М</td></tr>
<tr><td>Пименова</td><td>Мария</td><td>5З</td><td>М</td></tr>
<tr><td>Попов</td><td>Владимир</td><td>5З</td><td>М</td></tr>
<tr><td>Рябуха</td><td>Тимофей</td><td>5З</td><td>М</td></tr>
<tr><td>Рябушкина</td><td>Варвара</td><td>5З</td><td>М</td></tr>
<tr><td>Соседов</td><td>Андрей</td><td>5З</td><td>М</td></tr>
<tr><td>Старцева</td><td>Дарья</td><td>5З</td><td>М</td></tr>
<tr><td>Султанкулова</td><td>Аэлита</td><td>5З</td><td>М</td></tr>
<tr><td>Терещенко</td><td>Кира</td><td>5З</td><td>М</td></tr>
<tr><td>Трепачёв</td><td>Алексей</td><td>5З</td><td>М</td></tr>
<tr><td>Фомина</td><td>Екатерина</td><td>5З</td><td>М</td></tr>
<tr><td>Христенко</td><td>Анастасия</td><td>5З</td><td>М</td></tr>
<tr><td>Шумихина</td><td>Валерия</td><td>5З</td><td>М</td></tr>
<tr><td>Блохина</td><td>Александра</td><td>5М</td><td>М</td></tr>
<tr><td>Бобошин</td><td>Данила</td><td>5М</td><td>М</td></tr>
<tr><td>Борисова</td><td>Анастасия</td><td>5М</td><td>М</td></tr>
<tr><td>Быкова</td><td>Алиса</td><td>5М</td><td>М</td></tr>
<tr><td>Востров</td><td>Иван</td><td>5М</td><td>М</td></tr>
<tr><td>Герасимов</td><td>Мирон</td><td>5М</td><td>М</td></tr>
<tr><td>Главинский</td><td>Дмитрий</td><td>5М</td><td>М</td></tr>
<tr><td>Городилова</td><td>Мария</td><td>5М</td><td>М</td></tr>
<tr><td>Громов</td><td>Артём</td><td>5М</td><td>М</td></tr>
<tr><td>Гусев</td><td>Даниил</td><td>5М</td><td>М</td></tr>
<tr><td>Дмитриева</td><td>Кира</td><td>5М</td><td>М</td></tr>
<tr><td>Егоров</td><td>Константин</td><td>5М</td><td>М</td></tr>
<tr><td>Жукова</td><td>Мария</td><td>5М</td><td>М</td></tr>
<tr><td>Зазвонов</td><td>Прохор</td><td>5М</td><td>М</td></tr>
<tr><td>Иванов</td><td>Андрей</td><td>5М</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алина</td><td>5М</td><td>М</td></tr>
<tr><td>Калинин</td><td>Александр</td><td>5М</td><td>М</td></tr>
<tr><td>Ковальчук</td><td>Иван</td><td>5М</td><td>М</td></tr>
<tr><td>Комарук</td><td>Максим</td><td>5М</td><td>М</td></tr>
<tr><td>Кондрашова</td><td>Екатерина</td><td>5М</td><td>М</td></tr>
<tr><td>Коневский</td><td>Феликс</td><td>5М</td><td>М</td></tr>
<tr><td>Крайт</td><td>Антон</td><td>5М</td><td>М</td></tr>
<tr><td>Лопатько</td><td>Алексей</td><td>5М</td><td>М</td></tr>
<tr><td>Лощенко</td><td>Кира</td><td>5М</td><td>М</td></tr>
<tr><td>Манько</td><td>Ярослав</td><td>5М</td><td>М</td></tr>
<tr><td>Мозговая</td><td>Ева</td><td>5М</td><td>М</td></tr>
<tr><td>Никитина</td><td>Арина</td><td>5М</td><td>М</td></tr>
<tr><td>Овсянкина</td><td>Диана</td><td>5М</td><td>М</td></tr>
<tr><td>Одинцев</td><td>Егор</td><td>5М</td><td>М</td></tr>
<tr><td>Петрова</td><td>Ольга</td><td>5М</td><td>М</td></tr>
<tr><td>Приходько</td><td>София</td><td>5М</td><td>М</td></tr>
<tr><td>Провоторов</td><td>Платон</td><td>5М</td><td>М</td></tr>
<tr><td>Рабушко</td><td>Вероника</td><td>5М</td><td>М</td></tr>
<tr><td>Рахимова</td><td>Согдиана</td><td>5М</td><td>М</td></tr>
<tr><td>Репка</td><td>Мария</td><td>5М</td><td>М</td></tr>
<tr><td>Решонов</td><td>Максим</td><td>5М</td><td>М</td></tr>
<tr><td>Романенко</td><td>Иван</td><td>5М</td><td>М</td></tr>
<tr><td>Самсонова</td><td>Алисия</td><td>5М</td><td>М</td></tr>
<tr><td>Семенова</td><td>Миланика</td><td>5М</td><td>М</td></tr>
<tr><td>Солодилов</td><td>Егор</td><td>5М</td><td>М</td></tr>
<tr><td>Соломкин</td><td>Никита</td><td>5М</td><td>М</td></tr>
<tr><td>Сомова</td><td>Ксения</td><td>5М</td><td>М</td></tr>
<tr><td>Суворов</td><td>Василий</td><td>5М</td><td>М</td></tr>
<tr><td>Терентьева</td><td>Ольга</td><td>5М</td><td>М</td></tr>
<tr><td>Федюхина</td><td>Юлия</td><td>5М</td><td>М</td></tr>
<tr><td>Чувычилова</td><td>Софья</td><td>5М</td><td>М</td></tr>
<tr><td>Шелевая</td><td>Алёна</td><td>5М</td><td>М</td></tr>
<tr><td>Шелест</td><td>Матвей</td><td>5М</td><td>М</td></tr>
<tr><td>Штурова</td><td>Виктория</td><td>5М</td><td>М</td></tr>
<tr><td>Штурова</td><td>Софья</td><td>5М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
