<!-- login required -->
{% extends "students_table.html" %}

{% block head %}4 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Бакшеев</td><td>Григорий</td><td>4А</td><td>М</td></tr>
<tr><td>Белоногов</td><td>Артём</td><td>4А</td><td>М</td></tr>
<tr><td>Белоусова</td><td>Виктория</td><td>4А</td><td>Ж</td></tr>
<tr><td>Вожжов</td><td>Даниил</td><td>4А</td><td>М</td></tr>
<tr><td>Волконицкая</td><td>Варвара</td><td>4А</td><td>Ж</td></tr>
<tr><td>Дадаян</td><td>Эвелина</td><td>4А</td><td>Ж</td></tr>
<tr><td>Денискина</td><td>Валерия</td><td>4А</td><td>Ж</td></tr>
<tr><td>Дорофеева</td><td>Дарья</td><td>4А</td><td>Ж</td></tr>
<tr><td>Жихарев</td><td>Давид</td><td>4А</td><td>М</td></tr>
<tr><td>Кандалов</td><td>Егор</td><td>4А</td><td>М</td></tr>
<tr><td>Кожемякина</td><td>Мария</td><td>4А</td><td>Ж</td></tr>
<tr><td>Кравцов</td><td>Владислав</td><td>4А</td><td>М</td></tr>
<tr><td>Лаптев</td><td>Иван</td><td>4А</td><td>М</td></tr>
<tr><td>Лапунов</td><td>Глеб</td><td>4А</td><td>М</td></tr>
<tr><td>Магаррамов</td><td>Руслан</td><td>4А</td><td>М</td></tr>
<tr><td>Малахова</td><td>Александра</td><td>4А</td><td>Ж</td></tr>
<tr><td>Мацус</td><td>Владислав</td><td>4А</td><td>М</td></tr>
<tr><td>Молчанова</td><td>Екатерина</td><td>4А</td><td>Ж</td></tr>
<tr><td>Нечепуренко</td><td>Екатерина</td><td>4А</td><td>Ж</td></tr>
<tr><td>Погодаева</td><td>Полина</td><td>4А</td><td>Ж</td></tr>
<tr><td>Пушкарева</td><td>Диана</td><td>4А</td><td>Ж</td></tr>
<tr><td>Рожкова</td><td>Анастасия</td><td>4А</td><td>Ж</td></tr>
<tr><td>Рыбалкина</td><td>Вероника</td><td>4А</td><td>Ж</td></tr>
<tr><td>Салдушев</td><td>Кирилл</td><td>4А</td><td>М</td></tr>
<tr><td>Сахарова</td><td>Кира</td><td>4А</td><td>Ж</td></tr>
<tr><td>Свистунов</td><td>Марк</td><td>4А</td><td>М</td></tr>
<tr><td>Соц</td><td>Арина</td><td>4А</td><td>Ж</td></tr>
<tr><td>Стрюков</td><td>Иван</td><td>4А</td><td>М</td></tr>
<tr><td>Сушенцев</td><td>Кирилл</td><td>4А</td><td>М</td></tr>
<tr><td>Фараонова</td><td>Вероника</td><td>4А</td><td>Ж</td></tr>
<tr><td>Анастасов</td><td>Вячеслав</td><td>4Б</td><td>М</td></tr>
<tr><td>Антипова</td><td>Софья</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Байбакова</td><td>Екатерина</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Барышников</td><td>Марк</td><td>4Б</td><td>М</td></tr>
<tr><td>Бауэр</td><td>Таисия</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Белянин</td><td>Денис</td><td>4Б</td><td>М</td></tr>
<tr><td>Ваньков</td><td>Марк</td><td>4Б</td><td>М</td></tr>
<tr><td>Гармашова</td><td>Диана</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Голубова</td><td>Екатерина</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Григорьев</td><td>Ярослав</td><td>4Б</td><td>М</td></tr>
<tr><td>Димитришин</td><td>Дмитрий</td><td>4Б</td><td>М</td></tr>
<tr><td>Доценко</td><td>Снежана</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Жмурин</td><td>Константин</td><td>4Б</td><td>М</td></tr>
<tr><td>Иванова</td><td>Милана</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Куницын</td><td>Потап</td><td>4Б</td><td>М</td></tr>
<tr><td>Лаптева</td><td>Эвелина</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Мамаева</td><td>Ксения</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Обходимова</td><td>Анастасия</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Пиндюрова</td><td>Анна</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Родионова</td><td>Анастасия</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Серебрякова</td><td>Софья</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Слепцов</td><td>Роман</td><td>4Б</td><td>М</td></tr>
<tr><td>Смолянинова</td><td>Виктория</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Соколов</td><td>Владимир</td><td>4Б</td><td>М</td></tr>
<tr><td>Солдатов</td><td>Александр</td><td>4Б</td><td>М</td></tr>
<tr><td>Станоткина</td><td>Валерия</td><td>4Б</td><td>Ж</td></tr>
<tr><td>Шереметьев</td><td>Иван</td><td>4Б</td><td>М</td></tr>
<tr><td>Антошина</td><td>Виолетта</td><td>4В</td><td>Ж</td></tr>
<tr><td>Антошкина</td><td>Яна</td><td>4В</td><td>Ж</td></tr>
<tr><td>Аргазов</td><td>Александр</td><td>4В</td><td>М</td></tr>
<tr><td>Ашихмина</td><td>Алиса</td><td>4В</td><td>Ж</td></tr>
<tr><td>Бетехтина</td><td>Таисия</td><td>4В</td><td>Ж</td></tr>
<tr><td>Василенко</td><td>Александр</td><td>4В</td><td>М</td></tr>
<tr><td>Волчок</td><td>Елизавета</td><td>4В</td><td>Ж</td></tr>
<tr><td>Гимранов</td><td>Денис</td><td>4В</td><td>М</td></tr>
<tr><td>Дельвер</td><td>Варвара</td><td>4В</td><td>Ж</td></tr>
<tr><td>Доценко</td><td>Алексей</td><td>4В</td><td>М</td></tr>
<tr><td>Калашникова</td><td>Ярослава</td><td>4В</td><td>Ж</td></tr>
<tr><td>Кассал</td><td>Полина</td><td>4В</td><td>Ж</td></tr>
<tr><td>Кинева</td><td>Кира</td><td>4В</td><td>Ж</td></tr>
<tr><td>Кобяков</td><td>Илья</td><td>4В</td><td>М</td></tr>
<tr><td>Кулагина</td><td>Кристина</td><td>4В</td><td>Ж</td></tr>
<tr><td>Липатова</td><td>Екатерина</td><td>4В</td><td>Ж</td></tr>
<tr><td>Лунев</td><td>Константин</td><td>4В</td><td>М</td></tr>
<tr><td>Лунина</td><td>Надежда</td><td>4В</td><td>Ж</td></tr>
<tr><td>Лысенко</td><td>Полина</td><td>4В</td><td>Ж</td></tr>
<tr><td>Макаров</td><td>Роман</td><td>4В</td><td>М</td></tr>
<tr><td>Мамурков</td><td>Владислав</td><td>4В</td><td>М</td></tr>
<tr><td>Мархель</td><td>Арсений</td><td>4В</td><td>М</td></tr>
<tr><td>Пузырёва</td><td>Елизавета</td><td>4В</td><td>Ж</td></tr>
<tr><td>Тищенко</td><td>Алина</td><td>4В</td><td>Ж</td></tr>
<tr><td>Хохлова</td><td>Диана</td><td>4В</td><td>Ж</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Астраханцев</td><td>Фёдор</td><td>4Г</td><td>М</td></tr>
<tr><td>Гамм</td><td>Евгений</td><td>4Г</td><td>М</td></tr>
<tr><td>Голев</td><td>Макар</td><td>4Г</td><td>М</td></tr>
<tr><td>Гришакова</td><td>Варвара</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Звягинцева</td><td>Ксения</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Иванова</td><td>Алиса</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Ильин</td><td>Назар</td><td>4Г</td><td>М</td></tr>
<tr><td>Ковалева</td><td>Валерия</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Козырева</td><td>Валерия</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Коноплева</td><td>Ксения</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Кухаренко</td><td>Михаил</td><td>4Г</td><td>М</td></tr>
<tr><td>Лапырева</td><td>Алёна</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Литовченко</td><td>Мирослава</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Мальцева</td><td>Юлия</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Молотков</td><td>Владислав</td><td>4Г</td><td>М</td></tr>
<tr><td>Морозова</td><td>Олеся</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Несов</td><td>Владимир</td><td>4Г</td><td>М</td></tr>
<tr><td>Новиков</td><td>Андрей</td><td>4Г</td><td>М</td></tr>
<tr><td>Нячко</td><td>Дарья</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Первухин</td><td>Андрей</td><td>4Г</td><td>М</td></tr>
<tr><td>Половинкин</td><td>Дмитрий</td><td>4Г</td><td>М</td></tr>
<tr><td>Ревкуц</td><td>Виталий</td><td>4Г</td><td>М</td></tr>
<tr><td>Савина</td><td>Яна</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Ситдиков</td><td>Тимур</td><td>4Г</td><td>М</td></tr>
<tr><td>Холодков</td><td>Илья</td><td>4Г</td><td>М</td></tr>
<tr><td>Черепахина</td><td>Валерия</td><td>4Г</td><td>Ж</td></tr>
<tr><td>Шумков</td><td>Ярослав</td><td>4Г</td><td>М</td></tr>
<tr><td>Агеенко</td><td>Ярослав</td><td>4Д</td><td>М</td></tr>
<tr><td>Арешонкова</td><td>Ника</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Бойко</td><td>Артём</td><td>4Д</td><td>М</td></tr>
<tr><td>Грачева</td><td>Милания</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Гуляева</td><td>Маргарита</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Дергунова</td><td>Алиса</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Ермакова</td><td>Алиса</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Жеребор</td><td>Максим</td><td>4Д</td><td>М</td></tr>
<tr><td>Ивакина</td><td>Елена</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Карпушенко</td><td>Денис</td><td>4Д</td><td>М</td></tr>
<tr><td>Костюк</td><td>Маргарита</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Левченко</td><td>Всеволод</td><td>4Д</td><td>М</td></tr>
<tr><td>Лищук</td><td>Леонид</td><td>4Д</td><td>М</td></tr>
<tr><td>Пак</td><td>Алексей</td><td>4Д</td><td>М</td></tr>
<tr><td>Подгоецкий</td><td>Максим</td><td>4Д</td><td>М</td></tr>
<tr><td>Попов</td><td>Максим</td><td>4Д</td><td>М</td></tr>
<tr><td>Пынько</td><td>Алёна</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Русских</td><td>Александр</td><td>4Д</td><td>М</td></tr>
<tr><td>Рылкина</td><td>Виктория</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Савченко</td><td>Алексей</td><td>4Д</td><td>М</td></tr>
<tr><td>Салтыкова</td><td>Алиса</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Соколик</td><td>Тимофей</td><td>4Д</td><td>М</td></tr>
<tr><td>Темных</td><td>Иван</td><td>4Д</td><td>М</td></tr>
<tr><td>Усова</td><td>Мария</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Фаттахова</td><td>Златамира</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Филимонов</td><td>Константин</td><td>4Д</td><td>М</td></tr>
<tr><td>Чумакова</td><td>Дарья</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Шикова</td><td>Арина</td><td>4Д</td><td>Ж</td></tr>
<tr><td>Бозылев</td><td>Михаил</td><td>4Е</td><td>М</td></tr>
<tr><td>Гаврилов</td><td>Никита</td><td>4Е</td><td>М</td></tr>
<tr><td>Голубев</td><td>Глеб</td><td>4Е</td><td>М</td></tr>
<tr><td>Григорьев</td><td>Демид</td><td>4Е</td><td>М</td></tr>
<tr><td>Григорьева</td><td>Виктория</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Даркин</td><td>Алексей</td><td>4Е</td><td>М</td></tr>
<tr><td>Захаров</td><td>Сергей</td><td>4Е</td><td>М</td></tr>
<tr><td>Колодина</td><td>Вероника</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Кондратенко</td><td>Мария</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Косов</td><td>Владислав</td><td>4Е</td><td>М</td></tr>
<tr><td>Кошурникова</td><td>Дарья</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Ли</td><td>Татьяна</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Медведев</td><td>Тимофей</td><td>4Е</td><td>М</td></tr>
<tr><td>Медведева</td><td>Анна</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Московских</td><td>Елисей</td><td>4Е</td><td>М</td></tr>
<tr><td>Павилич</td><td>Валентина</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Паршин</td><td>Никита</td><td>4Е</td><td>М</td></tr>
<tr><td>Поляков</td><td>Тимофей</td><td>4Е</td><td>М</td></tr>
<tr><td>Соколов</td><td>Дмитрий</td><td>4Е</td><td>М</td></tr>
<tr><td>Сурков</td><td>Кирилл</td><td>4Е</td><td>М</td></tr>
<tr><td>Сытюгина</td><td>Вера</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Сычевская</td><td>Валерия</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Тюкавкин</td><td>Александр</td><td>4Е</td><td>М</td></tr>
<tr><td>Учаева</td><td>Анастасия</td><td>4Е</td><td>Ж</td></tr>
<tr><td>Базаев</td><td>Евгений</td><td>4Ж</td><td>М</td></tr>
<tr><td>Блаховский</td><td>Лев</td><td>4Ж</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Бруер</td><td>Ксения</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Бычкова</td><td>Елизавета</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Данилов</td><td>Александр</td><td>4Ж</td><td>М</td></tr>
<tr><td>Иванив</td><td>Милана</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Коробейникова</td><td>Екатерина</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Мальцева</td><td>Варвара</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Мурыгин</td><td>Егор</td><td>4Ж</td><td>М</td></tr>
<tr><td>Пинегина</td><td>Софья</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Полякова</td><td>Варвара</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Романенко</td><td>Александра</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Рычкова</td><td>Алиса</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Савельева</td><td>Милана</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Светлицкая</td><td>Алёна</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Свириденко</td><td>Елизавета</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Сенкевич</td><td>Елизавета</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Сергеев</td><td>Евгений</td><td>4Ж</td><td>М</td></tr>
<tr><td>Сиренко</td><td>Георгий</td><td>4Ж</td><td>М</td></tr>
<tr><td>Скачков</td><td>Михаил</td><td>4Ж</td><td>М</td></tr>
<tr><td>Смирнов</td><td>Александр</td><td>4Ж</td><td>М</td></tr>
<tr><td>Стародубцев</td><td>Максим</td><td>4Ж</td><td>М</td></tr>
<tr><td>Судаков</td><td>Матвей</td><td>4Ж</td><td>М</td></tr>
<tr><td>Фальковская</td><td>Екатерина</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Федянина</td><td>Дарья</td><td>4Ж</td><td>Ж</td></tr>
<tr><td>Халтурин</td><td>Семён</td><td>4Ж</td><td>М</td></tr>
<tr><td>Хлопов</td><td>Андрей</td><td>4Ж</td><td>М</td></tr>
<tr><td>Яньков</td><td>Сергей</td><td>4Ж</td><td>М</td></tr>
<tr><td>Ярыгин</td><td>Валентин</td><td>4Ж</td><td>М</td></tr>
<tr><td>Антипенко</td><td>Богдан</td><td>4З</td><td>М</td></tr>
<tr><td>Антипенко</td><td>Глеб</td><td>4З</td><td>М</td></tr>
<tr><td>Бузин</td><td>Макар</td><td>4З</td><td>М</td></tr>
<tr><td>Бурмистров</td><td>Максим</td><td>4З</td><td>М</td></tr>
<tr><td>Васильева</td><td>Софья</td><td>4З</td><td>Ж</td></tr>
<tr><td>Высоцкая</td><td>Рада</td><td>4З</td><td>Ж</td></tr>
<tr><td>Герасименюк</td><td>Марк</td><td>4З</td><td>М</td></tr>
<tr><td>Голубева</td><td>Ульяна</td><td>4З</td><td>Ж</td></tr>
<tr><td>Грош</td><td>Владислав</td><td>4З</td><td>М</td></tr>
<tr><td>Жаткин</td><td>Всеволод</td><td>4З</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алина</td><td>4З</td><td>Ж</td></tr>
<tr><td>Кривошеев</td><td>Ярослав</td><td>4З</td><td>М</td></tr>
<tr><td>Курагин</td><td>Семён</td><td>4З</td><td>М</td></tr>
<tr><td>Лукашевич</td><td>Ольга</td><td>4З</td><td>Ж</td></tr>
<tr><td>Лыкова</td><td>Маргарита</td><td>4З</td><td>Ж</td></tr>
<tr><td>Матосян</td><td>Марк</td><td>4З</td><td>М</td></tr>
<tr><td>Миткевич</td><td>Мария</td><td>4З</td><td>Ж</td></tr>
<tr><td>Петрушков</td><td>Матвей</td><td>4З</td><td>М</td></tr>
<tr><td>Плахотников</td><td>Роман</td><td>4З</td><td>М</td></tr>
<tr><td>Скляр</td><td>Матвей</td><td>4З</td><td>М</td></tr>
<tr><td>Тимашев</td><td>Степан</td><td>4З</td><td>М</td></tr>
<tr><td>Тихомолова</td><td>Кира</td><td>4З</td><td>Ж</td></tr>
<tr><td>Федоринина</td><td>Мария</td><td>4З</td><td>Ж</td></tr>
<tr><td>Филиппова</td><td>Марина</td><td>4З</td><td>Ж</td></tr>
<tr><td>Шандараева</td><td>Софья</td><td>4З</td><td>Ж</td></tr>
<tr><td>Юдина</td><td>Екатерина</td><td>4З</td><td>Ж</td></tr>
<tr><td>Юшкова</td><td>Вероника</td><td>4З</td><td>Ж</td></tr>
<tr><td>Васильев</td><td>Данил</td><td>4М</td><td>М</td></tr>
<tr><td>Вострова</td><td>Алёна</td><td>4М</td><td>Ж</td></tr>
<tr><td>Горельский</td><td>Александр</td><td>4М</td><td>М</td></tr>
<tr><td>Громова</td><td>Татьяна</td><td>4М</td><td>Ж</td></tr>
<tr><td>Жадовец</td><td>Анастасия</td><td>4М</td><td>Ж</td></tr>
<tr><td>Жадовец</td><td>Виталий</td><td>4М</td><td>М</td></tr>
<tr><td>Зуева</td><td>Мария</td><td>4М</td><td>Ж</td></tr>
<tr><td>Капля</td><td>Николай</td><td>4М</td><td>М</td></tr>
<tr><td>Кожуховский</td><td>Дмитрий</td><td>4М</td><td>М</td></tr>
<tr><td>Комарук</td><td>Анна</td><td>4М</td><td>Ж</td></tr>
<tr><td>Корнев</td><td>Данил</td><td>4М</td><td>М</td></tr>
<tr><td>Кузьмин</td><td>Ефим</td><td>4М</td><td>М</td></tr>
<tr><td>Лепухов</td><td>Роман</td><td>4М</td><td>М</td></tr>
<tr><td>Милехин</td><td>Герман</td><td>4М</td><td>М</td></tr>
<tr><td>Митрофанов</td><td>Матвей</td><td>4М</td><td>М</td></tr>
<tr><td>Морозова</td><td>Софья</td><td>4М</td><td>Ж</td></tr>
<tr><td>Озереденко</td><td>Яна</td><td>4М</td><td>Ж</td></tr>
<tr><td>Паршенцева</td><td>Арина</td><td>4М</td><td>Ж</td></tr>
<tr><td>Плишкина</td><td>Анастасия</td><td>4М</td><td>Ж</td></tr>
<tr><td>Руденко</td><td>Михаил</td><td>4М</td><td>М</td></tr>
<tr><td>Рыбка</td><td>Диана</td><td>4М</td><td>Ж</td></tr>
<tr><td>Сабурова</td><td>Софья</td><td>4М</td><td>Ж</td></tr>
<tr><td>Сайко</td><td>Аркадий</td><td>4М</td><td>М</td></tr>
<tr><td>Симаков</td><td>Елисей</td><td>4М</td><td>М</td></tr>
<tr><td>Сотникова</td><td>Ева</td><td>4М</td><td>Ж</td></tr>
<tr><td>Фролова</td><td>Алёна</td><td>4М</td><td>Ж</td></tr>
<tr><td>Черныш</td><td>Матвей</td><td>4М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
