<!-- login required -->
{% extends "students_table.html" %}

{% block head %}7 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Кейм</td><td>Владислав</td><td>7</td><td>М</td></tr>
<tr><td>Павлов</td><td>Илья</td><td>7</td><td>М</td></tr>
<tr><td>Урчукова</td><td>Алина</td><td>7</td><td>М</td></tr>
<tr><td>Черепанова</td><td>Галина</td><td>7</td><td>М</td></tr>
<tr><td>Агаев</td><td>Васиф</td><td>7А</td><td>М</td></tr>
<tr><td>Агеенко</td><td>Алена</td><td>7А</td><td>М</td></tr>
<tr><td>Архентов</td><td>Антон</td><td>7А</td><td>М</td></tr>
<tr><td>Барыбин</td><td>Вячеслав</td><td>7А</td><td>М</td></tr>
<tr><td>Бирюков</td><td>Андрей</td><td>7А</td><td>М</td></tr>
<tr><td>Бойков</td><td>Александр</td><td>7А</td><td>М</td></tr>
<tr><td>Видишева</td><td>Мария</td><td>7А</td><td>М</td></tr>
<tr><td>Воробей</td><td>Андрей</td><td>7А</td><td>М</td></tr>
<tr><td>Воронина</td><td>Анастасия</td><td>7А</td><td>М</td></tr>
<tr><td>Гасымов</td><td>Эдвард</td><td>7А</td><td>М</td></tr>
<tr><td>Гачаева</td><td>Фарида</td><td>7А</td><td>М</td></tr>
<tr><td>Горенская</td><td>Влада</td><td>7А</td><td>М</td></tr>
<tr><td>Гришина</td><td>Дарья</td><td>7А</td><td>М</td></tr>
<tr><td>Гришков</td><td>Кирилл</td><td>7А</td><td>М</td></tr>
<tr><td>Донцов</td><td>Андрей</td><td>7А</td><td>М</td></tr>
<tr><td>Дроздова</td><td>Мария</td><td>7А</td><td>М</td></tr>
<tr><td>Дюдин</td><td>Артём</td><td>7А</td><td>М</td></tr>
<tr><td>Егорова</td><td>Владислава</td><td>7А</td><td>М</td></tr>
<tr><td>Егоян</td><td>Владислав</td><td>7А</td><td>М</td></tr>
<tr><td>Железная</td><td>Александра</td><td>7А</td><td>М</td></tr>
<tr><td>Зинченко</td><td>Ксения</td><td>7А</td><td>М</td></tr>
<tr><td>Зыкова</td><td>Виктория</td><td>7А</td><td>М</td></tr>
<tr><td>Исаков</td><td>Филипп</td><td>7А</td><td>М</td></tr>
<tr><td>Киреева</td><td>Лада</td><td>7А</td><td>М</td></tr>
<tr><td>Кокоренко</td><td>Дарья</td><td>7А</td><td>М</td></tr>
<tr><td>Кудрявцев</td><td>Никита</td><td>7А</td><td>М</td></tr>
<tr><td>Кузнецов</td><td>Виталий</td><td>7А</td><td>М</td></tr>
<tr><td>Кулык</td><td>Владимир</td><td>7А</td><td>М</td></tr>
<tr><td>Кускова</td><td>Яна</td><td>7А</td><td>М</td></tr>
<tr><td>Кутьин</td><td>Кирилл</td><td>7А</td><td>М</td></tr>
<tr><td>Леванов</td><td>Владимир</td><td>7А</td><td>М</td></tr>
<tr><td>Левченков</td><td>Виталий</td><td>7А</td><td>М</td></tr>
<tr><td>Леонкина</td><td>Светлана</td><td>7А</td><td>М</td></tr>
<tr><td>Лушникова</td><td>Елизавета</td><td>7А</td><td>М</td></tr>
<tr><td>Мысливец</td><td>Ева</td><td>7А</td><td>М</td></tr>
<tr><td>Нагапетян</td><td>Элина</td><td>7А</td><td>М</td></tr>
<tr><td>Поснова</td><td>Дарья</td><td>7А</td><td>М</td></tr>
<tr><td>Привалихин</td><td>Дмитрий</td><td>7А</td><td>М</td></tr>
<tr><td>Привалихин</td><td>Федор</td><td>7А</td><td>М</td></tr>
<tr><td>Протопопов</td><td>Арсений</td><td>7А</td><td>М</td></tr>
<tr><td>Сараев</td><td>Марк</td><td>7А</td><td>М</td></tr>
<tr><td>Синицын</td><td>Данил</td><td>7А</td><td>М</td></tr>
<tr><td>Скворцов</td><td>Александра</td><td>7А</td><td>М</td></tr>
<tr><td>Смирнов</td><td>Владимир</td><td>7А</td><td>М</td></tr>
<tr><td>Сочнев</td><td>Леонид</td><td>7А</td><td>М</td></tr>
<tr><td>Такаев</td><td>Александр</td><td>7А</td><td>М</td></tr>
<tr><td>Твитина</td><td>Валерия</td><td>7А</td><td>М</td></tr>
<tr><td>Твитина</td><td>Евгения</td><td>7А</td><td>М</td></tr>
<tr><td>Тихонов</td><td>Александр</td><td>7А</td><td>М</td></tr>
<tr><td>Урванцева</td><td>Алина</td><td>7А</td><td>М</td></tr>
<tr><td>Федорищева</td><td>Виталина</td><td>7А</td><td>М</td></tr>
<tr><td>Цветкова</td><td>Полина</td><td>7А</td><td>М</td></tr>
<tr><td>Аблова</td><td>Анастасия</td><td>7Б</td><td>М</td></tr>
<tr><td>Алексеев</td><td>Алексей</td><td>7Б</td><td>М</td></tr>
<tr><td>Астраханцев</td><td>Глеб</td><td>7Б</td><td>М</td></tr>
<tr><td>Бояринов</td><td>Иван</td><td>7Б</td><td>М</td></tr>
<tr><td>Вайман</td><td>Константин</td><td>7Б</td><td>М</td></tr>
<tr><td>Варачев</td><td>Никита</td><td>7Б</td><td>М</td></tr>
<tr><td>Вологжанина</td><td>Анна</td><td>7Б</td><td>М</td></tr>
<tr><td>Воронова</td><td>Арина</td><td>7Б</td><td>М</td></tr>
<tr><td>Гвоздев</td><td>Константин</td><td>7Б</td><td>М</td></tr>
<tr><td>Гетманенко</td><td>Артём</td><td>7Б</td><td>М</td></tr>
<tr><td>Дорогова</td><td>София</td><td>7Б</td><td>М</td></tr>
<tr><td>Елкин</td><td>Вадим</td><td>7Б</td><td>М</td></tr>
<tr><td>Журавлев</td><td>Василий</td><td>7Б</td><td>М</td></tr>
<tr><td>Зайковский</td><td>Артём</td><td>7Б</td><td>М</td></tr>
<tr><td>Карпушенко</td><td>Софья</td><td>7Б</td><td>М</td></tr>
<tr><td>Кибанова</td><td>Дарья</td><td>7Б</td><td>М</td></tr>
<tr><td>Кириченко</td><td>Ксения</td><td>7Б</td><td>М</td></tr>
<tr><td>Коваленко</td><td>Ангелина</td><td>7Б</td><td>М</td></tr>
<tr><td>Колпакова</td><td>Мария</td><td>7Б</td><td>М</td></tr>
<tr><td>Кривогорницына</td><td>Виктороия</td><td>7Б</td><td>М</td></tr>
<tr><td>Кузнецова</td><td>Инга</td><td>7Б</td><td>М</td></tr>
<tr><td>Литвинцев</td><td>Владимир</td><td>7Б</td><td>М</td></tr>
<tr><td>Мишанина</td><td>Елена</td><td>7Б</td><td>М</td></tr>
<tr><td>Мунгалов</td><td>Артемий</td><td>7Б</td><td>М</td></tr>
<tr><td>Мутовина</td><td>Стефания</td><td>7Б</td><td>М</td></tr>
<tr><td>Назар</td><td>Варвара</td><td>7Б</td><td>М</td></tr>
<tr><td>Немировская</td><td>Алиса</td><td>7Б</td><td>М</td></tr>
<tr><td>Никулин</td><td>Егор</td><td>7Б</td><td>М</td></tr>
<tr><td>Огнев</td><td>Андрей</td><td>7Б</td><td>М</td></tr>
<tr><td>Огнева</td><td>Олеся</td><td>7Б</td><td>М</td></tr>
<tr><td>Орлов</td><td>Илья</td><td>7Б</td><td>М</td></tr>
<tr><td>Остапенко</td><td>Михаил</td><td>7Б</td><td>М</td></tr>
<tr><td>Павлова</td><td>Татьяна</td><td>7Б</td><td>М</td></tr>
<tr><td>Парфенов</td><td>Кирилл</td><td>7Б</td><td>М</td></tr>
<tr><td>Пеляницин</td><td>Всеволод</td><td>7Б</td><td>М</td></tr>
<tr><td>Полтавцова</td><td>Алиса</td><td>7Б</td><td>М</td></tr>
<tr><td>Потехин</td><td>Степан</td><td>7Б</td><td>М</td></tr>
<tr><td>Ревкуц</td><td>Вероника</td><td>7Б</td><td>М</td></tr>
<tr><td>Ризберг</td><td>Мария</td><td>7Б</td><td>М</td></tr>
<tr><td>Сахаров</td><td>Александр</td><td>7Б</td><td>М</td></tr>
<tr><td>Семесько</td><td>Ксения</td><td>7Б</td><td>М</td></tr>
<tr><td>Соколов</td><td>Вадим</td><td>7Б</td><td>М</td></tr>
<tr><td>Спиридонова</td><td>Варвара</td><td>7Б</td><td>М</td></tr>
<tr><td>Стрюков</td><td>Марк</td><td>7Б</td><td>М</td></tr>
<tr><td>Ткаченко</td><td>Семён</td><td>7Б</td><td>М</td></tr>
<tr><td>Уйманова</td><td>Анастасия</td><td>7Б</td><td>М</td></tr>
<tr><td>Филиппов</td><td>Дмитрий</td><td>7Б</td><td>М</td></tr>
<tr><td>Фролов</td><td>Артём</td><td>7Б</td><td>М</td></tr>
<tr><td>Ченченко</td><td>Даниил</td><td>7Б</td><td>М</td></tr>
<tr><td>Червова</td><td>Алёна</td><td>7Б</td><td>М</td></tr>
<tr><td>Чернова</td><td>Дарья</td><td>7Б</td><td>М</td></tr>
<tr><td>Черных</td><td>Артём</td><td>7Б</td><td>М</td></tr>
<tr><td>Шакирова</td><td>Кристина</td><td>7Б</td><td>М</td></tr>
<tr><td>Шкаробурова</td><td>Дарья</td><td>7Б</td><td>М</td></tr>
<tr><td>Щеглюк</td><td>Дмитрий</td><td>7Б</td><td>М</td></tr>
<tr><td>Щельницкий</td><td>Родион</td><td>7Б</td><td>М</td></tr>
<tr><td>Азаров</td><td>Артём</td><td>7В</td><td>М</td></tr>
<tr><td>Аникеева</td><td>Ульяна</td><td>7В</td><td>М</td></tr>
<tr><td>Атылин</td><td>Александр</td><td>7В</td><td>М</td></tr>
<tr><td>Афер</td><td>Диана</td><td>7В</td><td>М</td></tr>
<tr><td>Беккер</td><td>Арина</td><td>7В</td><td>М</td></tr>
<tr><td>Болелова</td><td>Ирина</td><td>7В</td><td>М</td></tr>
<tr><td>Бугрей</td><td>Артём</td><td>7В</td><td>М</td></tr>
<tr><td>Будкевич</td><td>Екатерина</td><td>7В</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Воропаева</td><td>Екатерина</td><td>7В</td><td>М</td></tr>
<tr><td>Гаврик</td><td>Млада</td><td>7В</td><td>М</td></tr>
<tr><td>Годовалова</td><td>Полина</td><td>7В</td><td>М</td></tr>
<tr><td>Гусева</td><td>Арина</td><td>7В</td><td>М</td></tr>
<tr><td>Дурнев</td><td>Максим</td><td>7В</td><td>М</td></tr>
<tr><td>Дьякова</td><td>Элина</td><td>7В</td><td>М</td></tr>
<tr><td>Желтова</td><td>Елизавета</td><td>7В</td><td>М</td></tr>
<tr><td>Засим</td><td>Максим</td><td>7В</td><td>М</td></tr>
<tr><td>Захаров</td><td>Богдан</td><td>7В</td><td>М</td></tr>
<tr><td>Зобков</td><td>Никита</td><td>7В</td><td>М</td></tr>
<tr><td>Иванова</td><td>Екатерина</td><td>7В</td><td>М</td></tr>
<tr><td>Казакова</td><td>Татьяна</td><td>7В</td><td>М</td></tr>
<tr><td>Киприна</td><td>Ангелина</td><td>7В</td><td>М</td></tr>
<tr><td>Логачева</td><td>Алена</td><td>7В</td><td>М</td></tr>
<tr><td>Лунина</td><td>Вероника</td><td>7В</td><td>М</td></tr>
<tr><td>Лысенко</td><td>Георгий</td><td>7В</td><td>М</td></tr>
<tr><td>Манжула</td><td>Дарья</td><td>7В</td><td>М</td></tr>
<tr><td>Неверли</td><td>Яна</td><td>7В</td><td>М</td></tr>
<tr><td>Пекшева</td><td>Мария</td><td>7В</td><td>М</td></tr>
<tr><td>Перов</td><td>Максим</td><td>7В</td><td>М</td></tr>
<tr><td>Подколзин</td><td>Илья</td><td>7В</td><td>М</td></tr>
<tr><td>Поликша</td><td>Илья</td><td>7В</td><td>М</td></tr>
<tr><td>Поликша</td><td>Роман</td><td>7В</td><td>М</td></tr>
<tr><td>Политик</td><td>Василий</td><td>7В</td><td>М</td></tr>
<tr><td>Светличный</td><td>Михаил</td><td>7В</td><td>М</td></tr>
<tr><td>Скрипникова</td><td>Арина</td><td>7В</td><td>М</td></tr>
<tr><td>Снеткова</td><td>Татьяна</td><td>7В</td><td>М</td></tr>
<tr><td>Стариков</td><td>Арсентий</td><td>7В</td><td>М</td></tr>
<tr><td>Сурков</td><td>Даниил</td><td>7В</td><td>М</td></tr>
<tr><td>Суровцев</td><td>Вадим</td><td>7В</td><td>М</td></tr>
<tr><td>Суханов</td><td>Иван</td><td>7В</td><td>М</td></tr>
<tr><td>Табунцов</td><td>Матвей</td><td>7В</td><td>М</td></tr>
<tr><td>Торощин</td><td>Антон</td><td>7В</td><td>М</td></tr>
<tr><td>Уманская</td><td>Евгения</td><td>7В</td><td>М</td></tr>
<tr><td>Усынина</td><td>Полина</td><td>7В</td><td>М</td></tr>
<tr><td>Фальковская</td><td>Анастасия</td><td>7В</td><td>М</td></tr>
<tr><td>Фурманова</td><td>Каролина</td><td>7В</td><td>М</td></tr>
<tr><td>Халеков</td><td>Тимур</td><td>7В</td><td>М</td></tr>
<tr><td>Хрестинин</td><td>Артём</td><td>7В</td><td>М</td></tr>
<tr><td>Хрущёв</td><td>Степан</td><td>7В</td><td>М</td></tr>
<tr><td>Чепурная</td><td>Софья</td><td>7В</td><td>М</td></tr>
<tr><td>Чулков</td><td>Арсений</td><td>7В</td><td>М</td></tr>
<tr><td>Шахова</td><td>Алина</td><td>7В</td><td>М</td></tr>
<tr><td>Шоноров</td><td>Владислав</td><td>7В</td><td>М</td></tr>
<tr><td>Шуппо</td><td>Александра</td><td>7В</td><td>М</td></tr>
<tr><td>Шуруха</td><td>Василина</td><td>7В</td><td>М</td></tr>
<tr><td>Щербакова</td><td>Александра</td><td>7В</td><td>М</td></tr>
<tr><td>Юстус</td><td>Михаил</td><td>7В</td><td>М</td></tr>
<tr><td>Аневич</td><td>Марк</td><td>7Г</td><td>М</td></tr>
<tr><td>Баннов</td><td>Вячеслав</td><td>7Г</td><td>М</td></tr>
<tr><td>Барышев</td><td>Данила</td><td>7Г</td><td>М</td></tr>
<tr><td>Бежкинёв</td><td>Михаил</td><td>7Г</td><td>М</td></tr>
<tr><td>Белоногов</td><td>Дмитрий</td><td>7Г</td><td>М</td></tr>
<tr><td>Буркова</td><td>Кира</td><td>7Г</td><td>М</td></tr>
<tr><td>Вабищевич</td><td>Юлия</td><td>7Г</td><td>М</td></tr>
<tr><td>Гаврикова</td><td>Екатерина</td><td>7Г</td><td>М</td></tr>
<tr><td>Ганджалиева</td><td>Мелтем</td><td>7Г</td><td>М</td></tr>
<tr><td>Гапиенко</td><td>Анастасия</td><td>7Г</td><td>М</td></tr>
<tr><td>Гостюхина</td><td>Екатерина</td><td>7Г</td><td>М</td></tr>
<tr><td>Гусев</td><td>Илья</td><td>7Г</td><td>М</td></tr>
<tr><td>Достовалова</td><td>Анастасия</td><td>7Г</td><td>М</td></tr>
<tr><td>Дьяков</td><td>Андрей</td><td>7Г</td><td>М</td></tr>
<tr><td>Дьякова</td><td>Арина</td><td>7Г</td><td>М</td></tr>
<tr><td>Елизарьев</td><td>Никита</td><td>7Г</td><td>М</td></tr>
<tr><td>Ефимова</td><td>Анна</td><td>7Г</td><td>М</td></tr>
<tr><td>Жданович</td><td>Василиса</td><td>7Г</td><td>М</td></tr>
<tr><td>Зыков</td><td>Руслан</td><td>7Г</td><td>М</td></tr>
<tr><td>Иванов</td><td>Михаил</td><td>7Г</td><td>М</td></tr>
<tr><td>Ильюшина</td><td>София</td><td>7Г</td><td>М</td></tr>
<tr><td>Козлова</td><td>Ксения</td><td>7Г</td><td>М</td></tr>
<tr><td>Коленченко</td><td>Артемий</td><td>7Г</td><td>М</td></tr>
<tr><td>Кононихина</td><td>Мария</td><td>7Г</td><td>М</td></tr>
<tr><td>Конуркина</td><td>Наталья</td><td>7Г</td><td>М</td></tr>
<tr><td>Кузнецова</td><td>Анна</td><td>7Г</td><td>М</td></tr>
<tr><td>Кузоватов</td><td>Семён</td><td>7Г</td><td>М</td></tr>
<tr><td>Курдюмов</td><td>Александр</td><td>7Г</td><td>М</td></tr>
<tr><td>Липчинская</td><td>Виктиория</td><td>7Г</td><td>М</td></tr>
<tr><td>Мамирова</td><td>Софья</td><td>7Г</td><td>М</td></tr>
<tr><td>Мутовин</td><td>Андрей</td><td>7Г</td><td>М</td></tr>
<tr><td>Орлов</td><td>Алексей</td><td>7Г</td><td>М</td></tr>
<tr><td>Панчехин</td><td>Артём</td><td>7Г</td><td>М</td></tr>
<tr><td>Пасенко</td><td>Алекандра</td><td>7Г</td><td>М</td></tr>
<tr><td>Пахомова</td><td>Елизавета</td><td>7Г</td><td>М</td></tr>
<tr><td>Пачковский</td><td>Данила</td><td>7Г</td><td>М</td></tr>
<tr><td>Перепечко</td><td>Арина</td><td>7Г</td><td>М</td></tr>
<tr><td>Разинова</td><td>Елизавета</td><td>7Г</td><td>М</td></tr>
<tr><td>Раскин</td><td>Андрей</td><td>7Г</td><td>М</td></tr>
<tr><td>Рудых</td><td>Глеб</td><td>7Г</td><td>М</td></tr>
<tr><td>Рыбиков</td><td>Лев</td><td>7Г</td><td>М</td></tr>
<tr><td>Свиридов</td><td>Артем</td><td>7Г</td><td>М</td></tr>
<tr><td>Сергеева</td><td>Полина</td><td>7Г</td><td>М</td></tr>
<tr><td>Синипостол</td><td>Светлана</td><td>7Г</td><td>М</td></tr>
<tr><td>Синицына</td><td>Лия</td><td>7Г</td><td>М</td></tr>
<tr><td>Снигирёва</td><td>Диана</td><td>7Г</td><td>М</td></tr>
<tr><td>Сысуев</td><td>Никита</td><td>7Г</td><td>М</td></tr>
<tr><td>Тимашева</td><td>Арина</td><td>7Г</td><td>М</td></tr>
<tr><td>Угрюмова</td><td>Елизавета</td><td>7Г</td><td>М</td></tr>
<tr><td>Улько</td><td>Маргарита</td><td>7Г</td><td>М</td></tr>
<tr><td>Цимбалов</td><td>Артём</td><td>7Г</td><td>М</td></tr>
<tr><td>Чижова</td><td>Анастасия</td><td>7Г</td><td>М</td></tr>
<tr><td>Чугуненкова</td><td>Алёна</td><td>7Г</td><td>М</td></tr>
<tr><td>Шеметько</td><td>Полина</td><td>7Г</td><td>М</td></tr>
<tr><td>Автушенко</td><td>Михаил</td><td>7Д</td><td>М</td></tr>
<tr><td>Андреева</td><td>Майя</td><td>7Д</td><td>М</td></tr>
<tr><td>Антамошкина</td><td>Влада</td><td>7Д</td><td>М</td></tr>
<tr><td>Бакеев</td><td>Даниил</td><td>7Д</td><td>М</td></tr>
<tr><td>Беляева</td><td>Ксения</td><td>7Д</td><td>М</td></tr>
<tr><td>Бояринов</td><td>Михаил</td><td>7Д</td><td>М</td></tr>
<tr><td>Буряк</td><td>Анна</td><td>7Д</td><td>М</td></tr>
<tr><td>Вибе</td><td>Мария</td><td>7Д</td><td>М</td></tr>
<tr><td>Вилисова</td><td>Анна</td><td>7Д</td><td>М</td></tr>
<tr><td>Герман</td><td>Даниил</td><td>7Д</td><td>М</td></tr>
<tr><td>Грибачев</td><td>Григорий</td><td>7Д</td><td>М</td></tr>
<tr><td>Гринюк</td><td>Дарина</td><td>7Д</td><td>М</td></tr>
<tr><td>Дамова</td><td>Виктория</td><td>7Д</td><td>М</td></tr>
<tr><td>Дергач</td><td>Софья</td><td>7Д</td><td>М</td></tr>
<tr><td>Диденко</td><td>Алина</td><td>7Д</td><td>М</td></tr>
<tr><td>Диденко</td><td>Кирилл</td><td>7Д</td><td>М</td></tr>
<tr><td>Дорохина</td><td>Ульяна</td><td>7Д</td><td>М</td></tr>
<tr><td>Дырин</td><td>Данил</td><td>7Д</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Ильюшкин</td><td>Матвей</td><td>7Д</td><td>М</td></tr>
<tr><td>Камзалакова</td><td>Злата</td><td>7Д</td><td>М</td></tr>
<tr><td>Каримов</td><td>Руслан</td><td>7Д</td><td>М</td></tr>
<tr><td>Карпинский</td><td>Ян</td><td>7Д</td><td>М</td></tr>
<tr><td>Ким</td><td>Артем</td><td>7Д</td><td>М</td></tr>
<tr><td>Костюнин</td><td>Егор</td><td>7Д</td><td>М</td></tr>
<tr><td>Котов</td><td>Константин</td><td>7Д</td><td>М</td></tr>
<tr><td>Красовский</td><td>Лев</td><td>7Д</td><td>М</td></tr>
<tr><td>Кузнецова</td><td>София</td><td>7Д</td><td>М</td></tr>
<tr><td>Либренц</td><td>Ярослав</td><td>7Д</td><td>М</td></tr>
<tr><td>Ляднов</td><td>Сергей</td><td>7Д</td><td>М</td></tr>
<tr><td>Малашкина</td><td>Софья</td><td>7Д</td><td>М</td></tr>
<tr><td>Малюгин</td><td>Павел</td><td>7Д</td><td>М</td></tr>
<tr><td>Махамбетова</td><td>Карина</td><td>7Д</td><td>М</td></tr>
<tr><td>Мизина</td><td>Яна</td><td>7Д</td><td>М</td></tr>
<tr><td>Молянов</td><td>Илья</td><td>7Д</td><td>М</td></tr>
<tr><td>Мягкова</td><td>Кира</td><td>7Д</td><td>М</td></tr>
<tr><td>Неговоров</td><td>Олег</td><td>7Д</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Никита</td><td>7Д</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Ярослав</td><td>7Д</td><td>М</td></tr>
<tr><td>Петько</td><td>Марк</td><td>7Д</td><td>М</td></tr>
<tr><td>Плешаков</td><td>Андрей</td><td>7Д</td><td>М</td></tr>
<tr><td>Поддубецкий</td><td>Антон</td><td>7Д</td><td>М</td></tr>
<tr><td>Самусенко</td><td>Арсений</td><td>7Д</td><td>М</td></tr>
<tr><td>Скворцова</td><td>Арина</td><td>7Д</td><td>М</td></tr>
<tr><td>Соколова</td><td>Анастасия</td><td>7Д</td><td>М</td></tr>
<tr><td>Степанова</td><td>Дарья</td><td>7Д</td><td>М</td></tr>
<tr><td>Темных</td><td>Кирилл</td><td>7Д</td><td>М</td></tr>
<tr><td>Тимофеева</td><td>Валентина</td><td>7Д</td><td>М</td></tr>
<tr><td>Трегубов</td><td>Роман</td><td>7Д</td><td>М</td></tr>
<tr><td>Федорова</td><td>Софья</td><td>7Д</td><td>М</td></tr>
<tr><td>Филиппова</td><td>Дарина</td><td>7Д</td><td>М</td></tr>
<tr><td>Фризоргер</td><td>Екатерина</td><td>7Д</td><td>М</td></tr>
<tr><td>Фролов</td><td>Лев</td><td>7Д</td><td>М</td></tr>
<tr><td>Шадрина</td><td>Варвара</td><td>7Д</td><td>М</td></tr>
<tr><td>Шатных</td><td>Дарья</td><td>7Д</td><td>М</td></tr>
<tr><td>Шелудько</td><td>Мария</td><td>7Д</td><td>М</td></tr>
<tr><td>Шемелева</td><td>Анжелика</td><td>7Д</td><td>М</td></tr>
<tr><td>Адамовский</td><td>Фёдор</td><td>7Е</td><td>М</td></tr>
<tr><td>Акилина</td><td>Варвара</td><td>7Е</td><td>М</td></tr>
<tr><td>Аляшкин</td><td>Иван</td><td>7Е</td><td>М</td></tr>
<tr><td>Гулюта</td><td>Мариам</td><td>7Е</td><td>М</td></tr>
<tr><td>Денисов</td><td>Владимир</td><td>7Е</td><td>М</td></tr>
<tr><td>Дербенева</td><td>Дарья</td><td>7Е</td><td>М</td></tr>
<tr><td>Деревенько</td><td>Семён</td><td>7Е</td><td>М</td></tr>
<tr><td>Емельянова</td><td>Алёна</td><td>7Е</td><td>М</td></tr>
<tr><td>Земкина</td><td>Елена</td><td>7Е</td><td>М</td></tr>
<tr><td>Иконников</td><td>Никита</td><td>7Е</td><td>М</td></tr>
<tr><td>Кобзев</td><td>Тимофей</td><td>7Е</td><td>М</td></tr>
<tr><td>Козлов</td><td>Алексей</td><td>7Е</td><td>М</td></tr>
<tr><td>Криволуцкий</td><td>Георгий</td><td>7Е</td><td>М</td></tr>
<tr><td>Ленивкин</td><td>Владислав</td><td>7Е</td><td>М</td></tr>
<tr><td>Поторочин</td><td>Егор</td><td>7Е</td><td>М</td></tr>
<tr><td>Рожкова</td><td>Виктория</td><td>7Е</td><td>М</td></tr>
<tr><td>Романова</td><td>Елизавета</td><td>7Е</td><td>М</td></tr>
<tr><td>Ромулов</td><td>Тимур</td><td>7Е</td><td>М</td></tr>
<tr><td>Северян</td><td>Кирилл</td><td>7Е</td><td>М</td></tr>
<tr><td>Семёнов</td><td>Егор</td><td>7Е</td><td>М</td></tr>
<tr><td>Скоробогатько</td><td>Елизавета</td><td>7Е</td><td>М</td></tr>
<tr><td>Степанов</td><td>Данил</td><td>7Е</td><td>М</td></tr>
<tr><td>Шамов</td><td>Владислав</td><td>7Е</td><td>М</td></tr>
<tr><td>Шатохин</td><td>Данил</td><td>7Е</td><td>М</td></tr>
<tr><td>Шугалей</td><td>Александра</td><td>7Е</td><td>М</td></tr>
<tr><td>Балабченко</td><td>Милана</td><td>7М</td><td>М</td></tr>
<tr><td>Борисов</td><td>Демид</td><td>7М</td><td>М</td></tr>
<tr><td>Брагин</td><td>Георгий</td><td>7М</td><td>М</td></tr>
<tr><td>Гаврилова</td><td>Елизавета</td><td>7М</td><td>М</td></tr>
<tr><td>Герман</td><td>Тимофей</td><td>7М</td><td>М</td></tr>
<tr><td>Гудин</td><td>Жан</td><td>7М</td><td>М</td></tr>
<tr><td>Давыдова</td><td>Полина</td><td>7М</td><td>М</td></tr>
<tr><td>Данилова</td><td>Дарья</td><td>7М</td><td>М</td></tr>
<tr><td>Дмитриев</td><td>Артём</td><td>7М</td><td>М</td></tr>
<tr><td>Жадаева</td><td>Варвара</td><td>7М</td><td>М</td></tr>
<tr><td>Жулина</td><td>Алина</td><td>7М</td><td>М</td></tr>
<tr><td>Зиновьев</td><td>Егор</td><td>7М</td><td>М</td></tr>
<tr><td>Золотая</td><td>Дарья</td><td>7М</td><td>М</td></tr>
<tr><td>Иванькина</td><td>Полина</td><td>7М</td><td>М</td></tr>
<tr><td>Калинина</td><td>Евгения</td><td>7М</td><td>М</td></tr>
<tr><td>Каменева</td><td>Юлия</td><td>7М</td><td>М</td></tr>
<tr><td>Карнаухова</td><td>Арина</td><td>7М</td><td>М</td></tr>
<tr><td>Коденко</td><td>Всеволод</td><td>7М</td><td>М</td></tr>
<tr><td>Козлова</td><td>Ярослава</td><td>7М</td><td>М</td></tr>
<tr><td>Кондратьев</td><td>Артём</td><td>7М</td><td>М</td></tr>
<tr><td>Коропачинская</td><td>Анна</td><td>7М</td><td>М</td></tr>
<tr><td>Кузьмина</td><td>Татьяна</td><td>7М</td><td>М</td></tr>
<tr><td>Кухта</td><td>Михаил</td><td>7М</td><td>М</td></tr>
<tr><td>Локтионова</td><td>Майя</td><td>7М</td><td>М</td></tr>
<tr><td>Лю</td><td>Валерий</td><td>7М</td><td>М</td></tr>
<tr><td>Микитин</td><td>Иван</td><td>7М</td><td>М</td></tr>
<tr><td>Михайлюк</td><td>Эрнест</td><td>7М</td><td>М</td></tr>
<tr><td>Намаконова</td><td>Арина</td><td>7М</td><td>М</td></tr>
<tr><td>Недодел</td><td>Яна</td><td>7М</td><td>М</td></tr>
<tr><td>Овчинников</td><td>Максим</td><td>7М</td><td>М</td></tr>
<tr><td>Оробец</td><td>Никита</td><td>7М</td><td>М</td></tr>
<tr><td>Павлючек</td><td>Серафима</td><td>7М</td><td>М</td></tr>
<tr><td>Павлючёк</td><td>Дарья</td><td>7М</td><td>М</td></tr>
<tr><td>Перетрухина</td><td>Софья</td><td>7М</td><td>М</td></tr>
<tr><td>Полежаева</td><td>Маргарита</td><td>7М</td><td>М</td></tr>
<tr><td>Потылицына</td><td>Софья</td><td>7М</td><td>М</td></tr>
<tr><td>Поченков</td><td>Денис</td><td>7М</td><td>М</td></tr>
<tr><td>Рубцова</td><td>Алана</td><td>7М</td><td>М</td></tr>
<tr><td>Рыбка</td><td>Дмитрий</td><td>7М</td><td>М</td></tr>
<tr><td>Рябинин</td><td>Илья</td><td>7М</td><td>М</td></tr>
<tr><td>Саенко</td><td>Полина</td><td>7М</td><td>М</td></tr>
<tr><td>Самандасюк</td><td>Алексей</td><td>7М</td><td>М</td></tr>
<tr><td>Самандасюк</td><td>Вера</td><td>7М</td><td>М</td></tr>
<tr><td>Саросек</td><td>Никита</td><td>7М</td><td>М</td></tr>
<tr><td>Сергеев</td><td>Михаил</td><td>7М</td><td>М</td></tr>
<tr><td>Создаев</td><td>Илья</td><td>7М</td><td>М</td></tr>
<tr><td>Соломко</td><td>Елизавета</td><td>7М</td><td>М</td></tr>
<tr><td>Суворова</td><td>Елизавета</td><td>7М</td><td>М</td></tr>
<tr><td>Суровцева</td><td>Екатерина</td><td>7М</td><td>М</td></tr>
<tr><td>Тимофеева</td><td>Валерия</td><td>7М</td><td>М</td></tr>
<tr><td>Требушевская</td><td>Диана</td><td>7М</td><td>М</td></tr>
<tr><td>Турусин</td><td>Давид</td><td>7М</td><td>М</td></tr>
<tr><td>Усатов</td><td>Тимофей</td><td>7М</td><td>М</td></tr>
<tr><td>Харькова</td><td>Дарья</td><td>7М</td><td>М</td></tr>
<tr><td>Храпатая</td><td>Софья</td><td>7М</td><td>М</td></tr>
<tr><td>Шапортов</td><td>Андрей</td><td>7М</td><td>М</td></tr>
<tr><td>Швецов</td><td>Егор</td><td>7М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
