<!-- login required -->
{% extends "students_table.html" %}

{% block head %}8 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Артёмов</td><td>Роман</td><td>8</td><td>М</td></tr>
<tr><td>Даллакян</td><td>Нарек</td><td>8</td><td>М</td></tr>
<tr><td>Новиков</td><td>Владислав</td><td>8</td><td>М</td></tr>
<tr><td>Худолей</td><td>Елена</td><td>8</td><td>М</td></tr>
<tr><td>Ардальонов</td><td>Святослав</td><td>8А</td><td>М</td></tr>
<tr><td>Артюшкин</td><td>Даниил</td><td>8А</td><td>М</td></tr>
<tr><td>Березина</td><td>Арина</td><td>8А</td><td>М</td></tr>
<tr><td>Бородина</td><td>Мария</td><td>8А</td><td>М</td></tr>
<tr><td>Вараксина</td><td>Дарья</td><td>8А</td><td>М</td></tr>
<tr><td>Вернидуб</td><td>Ксения</td><td>8А</td><td>М</td></tr>
<tr><td>Ворошилова</td><td>Василина</td><td>8А</td><td>М</td></tr>
<tr><td>Глазырина</td><td>Ксения</td><td>8А</td><td>М</td></tr>
<tr><td>Гончаров</td><td>Дмитрий</td><td>8А</td><td>М</td></tr>
<tr><td>Григорьева</td><td>Татьяна</td><td>8А</td><td>М</td></tr>
<tr><td>Григорян</td><td>Кристина</td><td>8А</td><td>М</td></tr>
<tr><td>Денисова</td><td>Софья</td><td>8А</td><td>М</td></tr>
<tr><td>Дрокин</td><td>Владимир</td><td>8А</td><td>М</td></tr>
<tr><td>Дубинникова</td><td>Алиса</td><td>8А</td><td>М</td></tr>
<tr><td>Дурасевич</td><td>Виктория</td><td>8А</td><td>М</td></tr>
<tr><td>Егорова</td><td>Екатерина</td><td>8А</td><td>М</td></tr>
<tr><td>Зеленина</td><td>Анастасия</td><td>8А</td><td>М</td></tr>
<tr><td>Зорин</td><td>Илья</td><td>8А</td><td>М</td></tr>
<tr><td>Иванова</td><td>Алина</td><td>8А</td><td>М</td></tr>
<tr><td>Иванова</td><td>Дарья</td><td>8А</td><td>М</td></tr>
<tr><td>Коломыцев</td><td>Владимир</td><td>8А</td><td>М</td></tr>
<tr><td>Копытин</td><td>Владимир</td><td>8А</td><td>М</td></tr>
<tr><td>Корж</td><td>Елизавета</td><td>8А</td><td>М</td></tr>
<tr><td>Крикунова</td><td>Олеся</td><td>8А</td><td>М</td></tr>
<tr><td>Кругаль</td><td>Анна</td><td>8А</td><td>М</td></tr>
<tr><td>Куимова</td><td>Марина</td><td>8А</td><td>М</td></tr>
<tr><td>Курагин</td><td>Роман</td><td>8А</td><td>М</td></tr>
<tr><td>Лебедев</td><td>Иван</td><td>8А</td><td>М</td></tr>
<tr><td>Мандажи</td><td>Анжелика</td><td>8А</td><td>М</td></tr>
<tr><td>Марченко</td><td>Мария</td><td>8А</td><td>М</td></tr>
<tr><td>Наймушин</td><td>Никита</td><td>8А</td><td>М</td></tr>
<tr><td>Нарковская</td><td>Юлия</td><td>8А</td><td>М</td></tr>
<tr><td>Низова</td><td>Софья</td><td>8А</td><td>М</td></tr>
<tr><td>Никифоров</td><td>Максим</td><td>8А</td><td>М</td></tr>
<tr><td>Ногина</td><td>Мария</td><td>8А</td><td>М</td></tr>
<tr><td>Пахомова</td><td>Анастасия</td><td>8А</td><td>М</td></tr>
<tr><td>Привалихин</td><td>Иван</td><td>8А</td><td>М</td></tr>
<tr><td>Пугачёва</td><td>Алиса</td><td>8А</td><td>М</td></tr>
<tr><td>Пугин</td><td>Леонид</td><td>8А</td><td>М</td></tr>
<tr><td>Ревякина</td><td>Ирина</td><td>8А</td><td>М</td></tr>
<tr><td>Рудых</td><td>Владислав</td><td>8А</td><td>М</td></tr>
<tr><td>Рузматов</td><td>Данил</td><td>8А</td><td>М</td></tr>
<tr><td>Сидоренко</td><td>Анна</td><td>8А</td><td>М</td></tr>
<tr><td>Сурсяков</td><td>Семён</td><td>8А</td><td>М</td></tr>
<tr><td>Тарасов</td><td>Владислав</td><td>8А</td><td>М</td></tr>
<tr><td>Тихонова</td><td>Маргарита</td><td>8А</td><td>М</td></tr>
<tr><td>Ткаченко</td><td>Вероника</td><td>8А</td><td>М</td></tr>
<tr><td>Фролов</td><td>Владислав</td><td>8А</td><td>М</td></tr>
<tr><td>Халиповский</td><td>Дмитрий</td><td>8А</td><td>М</td></tr>
<tr><td>Черепнин</td><td>Максим</td><td>8А</td><td>М</td></tr>
<tr><td>Чумак</td><td>Дарья</td><td>8А</td><td>М</td></tr>
<tr><td>Шалавина</td><td>Кира</td><td>8А</td><td>М</td></tr>
<tr><td>Шаратская</td><td>Ольга</td><td>8А</td><td>М</td></tr>
<tr><td>Шестаков</td><td>Никита</td><td>8А</td><td>М</td></tr>
<tr><td>Юрченко</td><td>Степан</td><td>8А</td><td>М</td></tr>
<tr><td>Абалымова</td><td>Ульяна</td><td>8Б</td><td>М</td></tr>
<tr><td>Агаев</td><td>Вагиф</td><td>8Б</td><td>М</td></tr>
<tr><td>Андреев</td><td>Константин</td><td>8Б</td><td>М</td></tr>
<tr><td>Асеева</td><td>Софья</td><td>8Б</td><td>М</td></tr>
<tr><td>Бахрачёва</td><td>Лэя</td><td>8Б</td><td>М</td></tr>
<tr><td>Бородкина</td><td>Ирина</td><td>8Б</td><td>М</td></tr>
<tr><td>Варфоломеева</td><td>Екатерина</td><td>8Б</td><td>М</td></tr>
<tr><td>Вовк</td><td>Юлия</td><td>8Б</td><td>М</td></tr>
<tr><td>Захарова</td><td>Злата</td><td>8Б</td><td>М</td></tr>
<tr><td>Иваньев</td><td>Артем</td><td>8Б</td><td>М</td></tr>
<tr><td>Ильина</td><td>Вероника</td><td>8Б</td><td>М</td></tr>
<tr><td>Канавкина</td><td>Ариана</td><td>8Б</td><td>М</td></tr>
<tr><td>Кацер</td><td>Екатерина</td><td>8Б</td><td>М</td></tr>
<tr><td>Квятковский</td><td>Артём</td><td>8Б</td><td>М</td></tr>
<tr><td>Кириллова</td><td>Алиса</td><td>8Б</td><td>М</td></tr>
<tr><td>Кишмерешкина</td><td>Анна</td><td>8Б</td><td>М</td></tr>
<tr><td>Колесников</td><td>Владислав</td><td>8Б</td><td>М</td></tr>
<tr><td>Кормин</td><td>Максим</td><td>8Б</td><td>М</td></tr>
<tr><td>Корнеев</td><td>Иван</td><td>8Б</td><td>М</td></tr>
<tr><td>Литвинова</td><td>Мария</td><td>8Б</td><td>М</td></tr>
<tr><td>Лысенков</td><td>Филипп</td><td>8Б</td><td>М</td></tr>
<tr><td>Макаров</td><td>Иван</td><td>8Б</td><td>М</td></tr>
<tr><td>Макеев</td><td>Вадим</td><td>8Б</td><td>М</td></tr>
<tr><td>Макиенко</td><td>Александр</td><td>8Б</td><td>М</td></tr>
<tr><td>Марьясов</td><td>Илья</td><td>8Б</td><td>М</td></tr>
<tr><td>Мельников</td><td>Даниил</td><td>8Б</td><td>М</td></tr>
<tr><td>Мельникова</td><td>Дарья</td><td>8Б</td><td>М</td></tr>
<tr><td>Мельникова</td><td>Ксения</td><td>8Б</td><td>М</td></tr>
<tr><td>Мечеткина</td><td>Дарья</td><td>8Б</td><td>М</td></tr>
<tr><td>Минеева</td><td>Ульяна</td><td>8Б</td><td>М</td></tr>
<tr><td>Моргушко</td><td>Юлиана</td><td>8Б</td><td>М</td></tr>
<tr><td>Моткова</td><td>Ольга</td><td>8Б</td><td>М</td></tr>
<tr><td>Мохова</td><td>Анастасия</td><td>8Б</td><td>М</td></tr>
<tr><td>Мурзинова</td><td>Екатерина</td><td>8Б</td><td>М</td></tr>
<tr><td>Пиндюрова</td><td>Ангелина</td><td>8Б</td><td>М</td></tr>
<tr><td>Платонова</td><td>Анна</td><td>8Б</td><td>М</td></tr>
<tr><td>Рябушкин</td><td>Данил</td><td>8Б</td><td>М</td></tr>
<tr><td>Савельев</td><td>Дмитрий</td><td>8Б</td><td>М</td></tr>
<tr><td>Сержан</td><td>Элина</td><td>8Б</td><td>М</td></tr>
<tr><td>Скопцова</td><td>Светлана</td><td>8Б</td><td>М</td></tr>
<tr><td>Сомов</td><td>Максим</td><td>8Б</td><td>М</td></tr>
<tr><td>Стребкова</td><td>Светлана</td><td>8Б</td><td>М</td></tr>
<tr><td>Суздалева</td><td>Татьяна</td><td>8Б</td><td>М</td></tr>
<tr><td>Сушенцева</td><td>Дарина</td><td>8Б</td><td>М</td></tr>
<tr><td>Турбин</td><td>Данил</td><td>8Б</td><td>М</td></tr>
<tr><td>Хорунжий</td><td>Виктория</td><td>8Б</td><td>М</td></tr>
<tr><td>Чупров</td><td>Степан</td><td>8Б</td><td>М</td></tr>
<tr><td>Шереметов</td><td>Александр</td><td>8Б</td><td>М</td></tr>
<tr><td>Шестаков</td><td>Данил</td><td>8Б</td><td>М</td></tr>
<tr><td>Ягупова</td><td>Дана</td><td>8Б</td><td>М</td></tr>
<tr><td>Яценко</td><td>Степан</td><td>8Б</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Виктория</td><td>8В</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Мария</td><td>8В</td><td>М</td></tr>
<tr><td>Бабаян</td><td>Алина</td><td>8В</td><td>М</td></tr>
<tr><td>Беккер</td><td>Маргарита</td><td>8В</td><td>М</td></tr>
<tr><td>Булыкина</td><td>Анна</td><td>8В</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Бутрин</td><td>Мирослав</td><td>8В</td><td>М</td></tr>
<tr><td>Васильев</td><td>Валерий</td><td>8В</td><td>М</td></tr>
<tr><td>Васильев</td><td>Михаил</td><td>8В</td><td>М</td></tr>
<tr><td>Горковская</td><td>Дарья</td><td>8В</td><td>М</td></tr>
<tr><td>Гурьева</td><td>Яна</td><td>8В</td><td>М</td></tr>
<tr><td>Дмух</td><td>Елизавета</td><td>8В</td><td>М</td></tr>
<tr><td>Долиденок</td><td>Даниил</td><td>8В</td><td>М</td></tr>
<tr><td>Дюкова</td><td>Маргарита</td><td>8В</td><td>М</td></tr>
<tr><td>Журавкова</td><td>Кристина</td><td>8В</td><td>М</td></tr>
<tr><td>Журавлева</td><td>Кристина</td><td>8В</td><td>М</td></tr>
<tr><td>Инютин</td><td>Никита</td><td>8В</td><td>М</td></tr>
<tr><td>Карпачева</td><td>Софья</td><td>8В</td><td>М</td></tr>
<tr><td>Клабукова</td><td>София</td><td>8В</td><td>М</td></tr>
<tr><td>Ковалевский</td><td>Матвей</td><td>8В</td><td>М</td></tr>
<tr><td>Козюлин</td><td>Вячеслав</td><td>8В</td><td>М</td></tr>
<tr><td>Кузугашев</td><td>Максим</td><td>8В</td><td>М</td></tr>
<tr><td>Лапунова</td><td>Анастасия</td><td>8В</td><td>М</td></tr>
<tr><td>Лунина</td><td>Алёна</td><td>8В</td><td>М</td></tr>
<tr><td>Лысенко</td><td>Маргарита</td><td>8В</td><td>М</td></tr>
<tr><td>Майоров</td><td>Владислав</td><td>8В</td><td>М</td></tr>
<tr><td>Малиновская</td><td>Ксения</td><td>8В</td><td>М</td></tr>
<tr><td>Марьин</td><td>Никита</td><td>8В</td><td>М</td></tr>
<tr><td>Масанова</td><td>Вера</td><td>8В</td><td>М</td></tr>
<tr><td>Мельник</td><td>Яна</td><td>8В</td><td>М</td></tr>
<tr><td>Надарян</td><td>Карен</td><td>8В</td><td>М</td></tr>
<tr><td>Огурцов</td><td>Артём</td><td>8В</td><td>М</td></tr>
<tr><td>Пальчиков</td><td>Николай</td><td>8В</td><td>М</td></tr>
<tr><td>Патюкова</td><td>Екатерина</td><td>8В</td><td>М</td></tr>
<tr><td>Подворотников</td><td>Сергей</td><td>8В</td><td>М</td></tr>
<tr><td>Поремский</td><td>Никита</td><td>8В</td><td>М</td></tr>
<tr><td>Потехин</td><td>Артём</td><td>8В</td><td>М</td></tr>
<tr><td>Протасова</td><td>София</td><td>8В</td><td>М</td></tr>
<tr><td>Романов</td><td>Вадим</td><td>8В</td><td>М</td></tr>
<tr><td>Русяев</td><td>Дмитрий</td><td>8В</td><td>М</td></tr>
<tr><td>Савельев</td><td>Андрей</td><td>8В</td><td>М</td></tr>
<tr><td>Сикорская</td><td>Алина</td><td>8В</td><td>М</td></tr>
<tr><td>Синяков</td><td>Ярослав</td><td>8В</td><td>М</td></tr>
<tr><td>Скокова</td><td>Анастасия</td><td>8В</td><td>М</td></tr>
<tr><td>Трепачева</td><td>Елизавета</td><td>8В</td><td>М</td></tr>
<tr><td>Чачина</td><td>София</td><td>8В</td><td>М</td></tr>
<tr><td>Черепанов</td><td>Константин</td><td>8В</td><td>М</td></tr>
<tr><td>Черникова</td><td>Таисия</td><td>8В</td><td>М</td></tr>
<tr><td>Шангин</td><td>Никита</td><td>8В</td><td>М</td></tr>
<tr><td>Шандыбаева</td><td>Элина</td><td>8В</td><td>М</td></tr>
<tr><td>Эйде</td><td>Егор</td><td>8В</td><td>М</td></tr>
<tr><td>Эльзезер</td><td>Кира</td><td>8В</td><td>М</td></tr>
<tr><td>Ярещенко</td><td>Семён</td><td>8В</td><td>М</td></tr>
<tr><td>Аванесов</td><td>Александр</td><td>8Г</td><td>М</td></tr>
<tr><td>Антропова</td><td>Вероника</td><td>8Г</td><td>М</td></tr>
<tr><td>Астраханцев</td><td>Михаил</td><td>8Г</td><td>М</td></tr>
<tr><td>Афанасьева</td><td>Елизавета</td><td>8Г</td><td>М</td></tr>
<tr><td>Афанасьева</td><td>Софья</td><td>8Г</td><td>М</td></tr>
<tr><td>Бояринова</td><td>Анна</td><td>8Г</td><td>М</td></tr>
<tr><td>Будяк</td><td>Даниил</td><td>8Г</td><td>М</td></tr>
<tr><td>Бушуева</td><td>Софья</td><td>8Г</td><td>М</td></tr>
<tr><td>Виноградов</td><td>Кирилл</td><td>8Г</td><td>М</td></tr>
<tr><td>Войнова</td><td>Дарья</td><td>8Г</td><td>М</td></tr>
<tr><td>Воронина</td><td>Анастасия</td><td>8Г</td><td>М</td></tr>
<tr><td>Галлингер</td><td>Виолетта</td><td>8Г</td><td>М</td></tr>
<tr><td>Григорьева</td><td>Арина</td><td>8Г</td><td>М</td></tr>
<tr><td>Ефимов</td><td>Илья</td><td>8Г</td><td>М</td></tr>
<tr><td>Зоренко</td><td>Ксения</td><td>8Г</td><td>М</td></tr>
<tr><td>Исаева</td><td>Вероника</td><td>8Г</td><td>М</td></tr>
<tr><td>Кацер</td><td>Арина</td><td>8Г</td><td>М</td></tr>
<tr><td>Кириллова</td><td>Ульяна</td><td>8Г</td><td>М</td></tr>
<tr><td>Климович</td><td>Матвей</td><td>8Г</td><td>М</td></tr>
<tr><td>Колесников</td><td>Даниил</td><td>8Г</td><td>М</td></tr>
<tr><td>Коляда</td><td>Дарья</td><td>8Г</td><td>М</td></tr>
<tr><td>Кротова</td><td>Анастасия</td><td>8Г</td><td>М</td></tr>
<tr><td>Кузакова</td><td>Анастасия</td><td>8Г</td><td>М</td></tr>
<tr><td>Кузменков</td><td>Иван</td><td>8Г</td><td>М</td></tr>
<tr><td>Кузоватова</td><td>Елизавета</td><td>8Г</td><td>М</td></tr>
<tr><td>Максименко</td><td>Роман</td><td>8Г</td><td>М</td></tr>
<tr><td>Мезит</td><td>Роман</td><td>8Г</td><td>М</td></tr>
<tr><td>Мельник</td><td>Дарья</td><td>8Г</td><td>М</td></tr>
<tr><td>Милицина</td><td>Полина</td><td>8Г</td><td>М</td></tr>
<tr><td>Моисеева</td><td>Юлия</td><td>8Г</td><td>М</td></tr>
<tr><td>Неумержицкая</td><td>Екатерина</td><td>8Г</td><td>М</td></tr>
<tr><td>Облов</td><td>Владимир</td><td>8Г</td><td>М</td></tr>
<tr><td>Подсошкина</td><td>Кристина</td><td>8Г</td><td>М</td></tr>
<tr><td>Попова</td><td>Полина</td><td>8Г</td><td>М</td></tr>
<tr><td>Прокопьева</td><td>Елизавета</td><td>8Г</td><td>М</td></tr>
<tr><td>Прошина</td><td>Валерия</td><td>8Г</td><td>М</td></tr>
<tr><td>Руденко</td><td>Олеся</td><td>8Г</td><td>М</td></tr>
<tr><td>Сабуров</td><td>Кирилл</td><td>8Г</td><td>М</td></tr>
<tr><td>Селиванов</td><td>Максим</td><td>8Г</td><td>М</td></tr>
<tr><td>Стефановский</td><td>Никанор</td><td>8Г</td><td>М</td></tr>
<tr><td>Сургутская</td><td>Янина</td><td>8Г</td><td>М</td></tr>
<tr><td>Сурина</td><td>Мария</td><td>8Г</td><td>М</td></tr>
<tr><td>Суханов</td><td>Дмитрий</td><td>8Г</td><td>М</td></tr>
<tr><td>Трегубов</td><td>Андрей</td><td>8Г</td><td>М</td></tr>
<tr><td>Фалалеев</td><td>Дмитрий</td><td>8Г</td><td>М</td></tr>
<tr><td>Фурцева</td><td>Екатерина</td><td>8Г</td><td>М</td></tr>
<tr><td>Хомяков</td><td>Иосиф</td><td>8Г</td><td>М</td></tr>
<tr><td>Черногубова</td><td>Вероника</td><td>8Г</td><td>М</td></tr>
<tr><td>Ческидов</td><td>Даниил</td><td>8Г</td><td>М</td></tr>
<tr><td>Шаповал</td><td>Анна</td><td>8Г</td><td>М</td></tr>
<tr><td>Шаповалова</td><td>Анна</td><td>8Г</td><td>М</td></tr>
<tr><td>Шемелин</td><td>Никита</td><td>8Г</td><td>М</td></tr>
<tr><td>Шорохов</td><td>Глеб</td><td>8Г</td><td>М</td></tr>
<tr><td>Юдина</td><td>Яна</td><td>8Г</td><td>М</td></tr>
<tr><td>Ядыкин</td><td>Роман</td><td>8Г</td><td>М</td></tr>
<tr><td>Афонин</td><td>Кирилл</td><td>8Д</td><td>М</td></tr>
<tr><td>Барышников</td><td>Алексей</td><td>8Д</td><td>М</td></tr>
<tr><td>Белоусов</td><td>Олег</td><td>8Д</td><td>М</td></tr>
<tr><td>Березовая</td><td>София</td><td>8Д</td><td>М</td></tr>
<tr><td>Биниман</td><td>Елизавета</td><td>8Д</td><td>М</td></tr>
<tr><td>Бледных</td><td>Илья</td><td>8Д</td><td>М</td></tr>
<tr><td>Веревкина</td><td>Анна</td><td>8Д</td><td>М</td></tr>
<tr><td>Волков</td><td>Владислав</td><td>8Д</td><td>М</td></tr>
<tr><td>Грязнова</td><td>Анастасия</td><td>8Д</td><td>М</td></tr>
<tr><td>Дороганич</td><td>Данил</td><td>8Д</td><td>М</td></tr>
<tr><td>Емельянов</td><td>Артём</td><td>8Д</td><td>М</td></tr>
<tr><td>Ербягина</td><td>Наталья</td><td>8Д</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Колесникова</td><td>Анастасия</td><td>8Д</td><td>М</td></tr>
<tr><td>Конюков</td><td>Илья</td><td>8Д</td><td>М</td></tr>
<tr><td>Кочеткова</td><td>Полина</td><td>8Д</td><td>М</td></tr>
<tr><td>Крупская</td><td>Вероника</td><td>8Д</td><td>М</td></tr>
<tr><td>Леусенко</td><td>София</td><td>8Д</td><td>М</td></tr>
<tr><td>Миронов</td><td>Владимир</td><td>8Д</td><td>М</td></tr>
<tr><td>Немкова</td><td>Екатерина</td><td>8Д</td><td>М</td></tr>
<tr><td>Панасюк</td><td>Лолита</td><td>8Д</td><td>М</td></tr>
<tr><td>Свалов</td><td>Никита</td><td>8Д</td><td>М</td></tr>
<tr><td>Старикова</td><td>Анастасия</td><td>8Д</td><td>М</td></tr>
<tr><td>Фадеева</td><td>Елена</td><td>8Д</td><td>М</td></tr>
<tr><td>Федирко</td><td>Людмила</td><td>8Д</td><td>М</td></tr>
<tr><td>Фефелова</td><td>Василина</td><td>8Д</td><td>М</td></tr>
<tr><td>Фролов</td><td>Семен</td><td>8Д</td><td>М</td></tr>
<tr><td>Шафикова</td><td>Раиса</td><td>8Д</td><td>М</td></tr>
<tr><td>Анастасов</td><td>Юрий</td><td>8И</td><td>М</td></tr>
<tr><td>Андреев</td><td>Артем</td><td>8И</td><td>М</td></tr>
<tr><td>Арсенян</td><td>Артём</td><td>8И</td><td>М</td></tr>
<tr><td>Бражников</td><td>Роман</td><td>8И</td><td>М</td></tr>
<tr><td>Будяк</td><td>Дмитрий</td><td>8И</td><td>М</td></tr>
<tr><td>Бурмистров</td><td>Тимофей</td><td>8И</td><td>М</td></tr>
<tr><td>Ван</td><td>Алексей</td><td>8И</td><td>М</td></tr>
<tr><td>Ван</td><td>Михаил</td><td>8И</td><td>М</td></tr>
<tr><td>Видьманов</td><td>Георгий</td><td>8И</td><td>М</td></tr>
<tr><td>Виинапуу</td><td>Ян</td><td>8И</td><td>М</td></tr>
<tr><td>Глушков</td><td>Артём</td><td>8И</td><td>М</td></tr>
<tr><td>Глушков</td><td>Степан</td><td>8И</td><td>М</td></tr>
<tr><td>Гордеев</td><td>Кирилл</td><td>8И</td><td>М</td></tr>
<tr><td>Гузова</td><td>Полина</td><td>8И</td><td>М</td></tr>
<tr><td>Гуляева</td><td>Мирослава</td><td>8И</td><td>М</td></tr>
<tr><td>Гуревич</td><td>Михаил</td><td>8И</td><td>М</td></tr>
<tr><td>Дмитриев</td><td>Дмитрий</td><td>8И</td><td>М</td></tr>
<tr><td>Ефремов</td><td>Емельян</td><td>8И</td><td>М</td></tr>
<tr><td>Загородний</td><td>Илья</td><td>8И</td><td>М</td></tr>
<tr><td>Зверева</td><td>Лада</td><td>8И</td><td>М</td></tr>
<tr><td>Земцов</td><td>Андрей</td><td>8И</td><td>М</td></tr>
<tr><td>Капля</td><td>Иван</td><td>8И</td><td>М</td></tr>
<tr><td>Карчава</td><td>Стефания</td><td>8И</td><td>М</td></tr>
<tr><td>Клочнев</td><td>Павел</td><td>8И</td><td>М</td></tr>
<tr><td>Коновалова</td><td>София</td><td>8И</td><td>М</td></tr>
<tr><td>Коротков</td><td>Фёдор</td><td>8И</td><td>М</td></tr>
<tr><td>Леонтьев</td><td>Дмитрий</td><td>8И</td><td>М</td></tr>
<tr><td>Лыков</td><td>Александр</td><td>8И</td><td>М</td></tr>
<tr><td>Масленников</td><td>Никита</td><td>8И</td><td>М</td></tr>
<tr><td>Михеева</td><td>Владислава</td><td>8И</td><td>М</td></tr>
<tr><td>Моисеева</td><td>Елизавета</td><td>8И</td><td>М</td></tr>
<tr><td>Мордосевич</td><td>Андрей</td><td>8И</td><td>М</td></tr>
<tr><td>Морозова</td><td>Анастасия</td><td>8И</td><td>М</td></tr>
<tr><td>Нурмаметова</td><td>Лия</td><td>8И</td><td>М</td></tr>
<tr><td>Обходимов</td><td>Андрей</td><td>8И</td><td>М</td></tr>
<tr><td>Осипова</td><td>Мария</td><td>8И</td><td>М</td></tr>
<tr><td>Пархоменко</td><td>Анна</td><td>8И</td><td>М</td></tr>
<tr><td>Перикова</td><td>Лада</td><td>8И</td><td>М</td></tr>
<tr><td>Пожидаев</td><td>Денис</td><td>8И</td><td>М</td></tr>
<tr><td>Рылкина</td><td>Есения</td><td>8И</td><td>М</td></tr>
<tr><td>Савкин</td><td>Данил</td><td>8И</td><td>М</td></tr>
<tr><td>Скрипко</td><td>Игорь</td><td>8И</td><td>М</td></tr>
<tr><td>Снегур</td><td>Даниил</td><td>8И</td><td>М</td></tr>
<tr><td>Соловьёв</td><td>Валентин</td><td>8И</td><td>М</td></tr>
<tr><td>Табаков</td><td>Станислав</td><td>8И</td><td>М</td></tr>
<tr><td>Таскин</td><td>Николай</td><td>8И</td><td>М</td></tr>
<tr><td>Тонких</td><td>Дмитрий</td><td>8И</td><td>М</td></tr>
<tr><td>Торганова</td><td>Елизавета</td><td>8И</td><td>М</td></tr>
<tr><td>Чупров</td><td>Артем</td><td>8И</td><td>М</td></tr>
<tr><td>Чурилина</td><td>Ольга</td><td>8И</td><td>М</td></tr>
<tr><td>Щукин</td><td>Владислав</td><td>8И</td><td>М</td></tr>
<tr><td>Ахметова</td><td>Екатерина</td><td>8М</td><td>М</td></tr>
<tr><td>Барановская</td><td>Варвара</td><td>8М</td><td>М</td></tr>
<tr><td>Белова</td><td>Анастасия</td><td>8М</td><td>М</td></tr>
<tr><td>Боровская</td><td>Алёна</td><td>8М</td><td>М</td></tr>
<tr><td>Васильев</td><td>Иван</td><td>8М</td><td>М</td></tr>
<tr><td>Ведерников</td><td>Ярослав</td><td>8М</td><td>М</td></tr>
<tr><td>Вороненков</td><td>Кирилл</td><td>8М</td><td>М</td></tr>
<tr><td>Гараев</td><td>Владимир</td><td>8М</td><td>М</td></tr>
<tr><td>Громова</td><td>Александра</td><td>8М</td><td>М</td></tr>
<tr><td>Гурина</td><td>Елизавета</td><td>8М</td><td>М</td></tr>
<tr><td>Гусарова</td><td>Софья</td><td>8М</td><td>М</td></tr>
<tr><td>Данилин</td><td>Олег</td><td>8М</td><td>М</td></tr>
<tr><td>Егоров</td><td>Егор</td><td>8М</td><td>М</td></tr>
<tr><td>Зима</td><td>Мария</td><td>8М</td><td>М</td></tr>
<tr><td>Камоцкая</td><td>Дарья</td><td>8М</td><td>М</td></tr>
<tr><td>Каручок</td><td>Константин</td><td>8М</td><td>М</td></tr>
<tr><td>Клочнева</td><td>Анастасия</td><td>8М</td><td>М</td></tr>
<tr><td>Ковальков</td><td>Илья</td><td>8М</td><td>М</td></tr>
<tr><td>Липский</td><td>Даниил</td><td>8М</td><td>М</td></tr>
<tr><td>Лукина</td><td>София</td><td>8М</td><td>М</td></tr>
<tr><td>Лысюк</td><td>Зарина</td><td>8М</td><td>М</td></tr>
<tr><td>Михеев</td><td>Богдан</td><td>8М</td><td>М</td></tr>
<tr><td>Неводничев</td><td>Никита</td><td>8М</td><td>М</td></tr>
<tr><td>Никифорова</td><td>Настасья</td><td>8М</td><td>М</td></tr>
<tr><td>Ноздрина</td><td>Алиса</td><td>8М</td><td>М</td></tr>
<tr><td>Островерх</td><td>Артемий</td><td>8М</td><td>М</td></tr>
<tr><td>Панченко</td><td>Мария</td><td>8М</td><td>М</td></tr>
<tr><td>Пистер</td><td>Алёна</td><td>8М</td><td>М</td></tr>
<tr><td>Поляхов</td><td>Семен</td><td>8М</td><td>М</td></tr>
<tr><td>Приеде</td><td>Владислав</td><td>8М</td><td>М</td></tr>
<tr><td>Протасов</td><td>Григорий</td><td>8М</td><td>М</td></tr>
<tr><td>Рассказов</td><td>Семен</td><td>8М</td><td>М</td></tr>
<tr><td>Ресмятова</td><td>Софья</td><td>8М</td><td>М</td></tr>
<tr><td>Родзыш</td><td>Владислава</td><td>8М</td><td>М</td></tr>
<tr><td>Романов</td><td>Ярослав</td><td>8М</td><td>М</td></tr>
<tr><td>Старцев</td><td>Никита</td><td>8М</td><td>М</td></tr>
<tr><td>Стуканова</td><td>Алисия</td><td>8М</td><td>М</td></tr>
<tr><td>Суздальницкий</td><td>Лев</td><td>8М</td><td>М</td></tr>
<tr><td>Тростянская</td><td>Вероника</td><td>8М</td><td>М</td></tr>
<tr><td>Тростянский</td><td>Вениамин</td><td>8М</td><td>М</td></tr>
<tr><td>Усольцева</td><td>Ксения</td><td>8М</td><td>М</td></tr>
<tr><td>Федотова</td><td>Ксения</td><td>8М</td><td>М</td></tr>
<tr><td>Филиппова</td><td>Мария</td><td>8М</td><td>М</td></tr>
<tr><td>Фогель</td><td>Полина</td><td>8М</td><td>М</td></tr>
<tr><td>Целлер</td><td>Илья</td><td>8М</td><td>М</td></tr>
<tr><td>Чернова</td><td>Валентина</td><td>8М</td><td>М</td></tr>
<tr><td>Шейченко</td><td>Роман</td><td>8М</td><td>М</td></tr>
<tr><td>Шитиков</td><td>Артём</td><td>8М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
