<!-- login required -->
{% extends "base.html" %}

{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col-lg-4 col-md-6 col-sm-12">
		<h1>Новый участник</h1>
		<form onsubmit="student_registration(this); return false;">
			<p>Имя: <input type="text" name="name2"></p>
			<p>Фамилия: <input type="text" name="name1"></p>
			<p>Класс (номер и буква): <input type="text" name="class"></p>
			<p>Пол: <input name="gender" type="radio" value="0" checked>М&nbsp;&nbsp;<input name="gender" type="radio" value="1">Ж</p>
			<input type="submit" value="Создать">
			<p>Первая буква имени, фамилии и буква класса автоматически переводятся в верхний регистр.
				Все остальные буквы — в нижний.</p>
		</form>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<h1>Изменить участника</h1>
		<form onsubmit="student_edit(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<p>Имя: <input type="text" name="name2"></p>
			<p>Фамилия: <input type="text" name="name1"></p>
			<p>Класс (номер и буква): <input type="text" name="class"></p>
			<p>Пол: <input name="gender" type="radio" value="0">М&nbsp;&nbsp;<input name="gender" type="radio" value="1">Ж</p>
			<input type="submit" value="Изменить">
			<p>Если поля новых данных оставить пустыми, то информация не изменится.</p>
		</form>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-12">
		<h1>Удалить участника из класса</h1>
		<form onsubmit="student_class_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
		<br>
		<h1>Удалить участника (совсем)</h1>
		<form onsubmit="student_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
	</div>
	<div class="w-100"></div>
	<div class="col-auto"><center>
		<h1>Списки участников</h1>
		<p>Для просмотра списка всех участников перейдите по ссылкам:</p>
		<div class="row justify-content-center">
			{% if year_info and year_info.school1() %}
			<div class="col-auto">
				<center>НШ:</center>
				{% for c in '234' %}
				{% if c in year_info.classes %}<p><a href="students_{{ c }}.html">{{ c }}&nbsp;класс</a></p>{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			{% if year_info and year_info.school2() %}
			<div class="col-auto">
				<center>ОШ:</center>
				{% for c in '56789' %}
				{% if c in year_info.classes %}<p><a href="students_{{ c }}.html">{{ c }}&nbsp;класс</a></p>{% endif %}
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{% if adm %}
		<p><a href="create_students_lists">Сгенерировать списки участников</a></p>
		{% endif %}
		{% if error4 %} <p class="error-msg">[ {{ error4 }} ]</p>
		{% endif %}
	</center></div>
</div>

{% endblock %}
