<!-- login required -->
{% extends "students_table.html" %}

{% block head %}6 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>Воробьев</td><td>Александр</td><td>6</td><td>М</td></tr>
<tr><td>Решетникова</td><td>Елизавета</td><td>6</td><td>М</td></tr>
<tr><td>Рябченок</td><td>Владислав</td><td>6</td><td>М</td></tr>
<tr><td>Тагаев</td><td>Иван</td><td>6</td><td>М</td></tr>
<tr><td>Алябьев</td><td>Алексей</td><td>6А</td><td>М</td></tr>
<tr><td>Артишевский</td><td>Андрей</td><td>6А</td><td>М</td></tr>
<tr><td>Астахов</td><td>Семён</td><td>6А</td><td>М</td></tr>
<tr><td>Ацута</td><td>Жанна</td><td>6А</td><td>М</td></tr>
<tr><td>Бабушкин</td><td>Антон</td><td>6А</td><td>М</td></tr>
<tr><td>Батурина</td><td>Софья</td><td>6А</td><td>М</td></tr>
<tr><td>Белов</td><td>Кирилл</td><td>6А</td><td>М</td></tr>
<tr><td>Бетехтин</td><td>Тимофей</td><td>6А</td><td>М</td></tr>
<tr><td>Боешко</td><td>Софья</td><td>6А</td><td>М</td></tr>
<tr><td>Вайник</td><td>Савелий</td><td>6А</td><td>М</td></tr>
<tr><td>Васильева</td><td>Яна</td><td>6А</td><td>М</td></tr>
<tr><td>Воловик</td><td>Степан</td><td>6А</td><td>М</td></tr>
<tr><td>Гаврик</td><td>Мария</td><td>6А</td><td>М</td></tr>
<tr><td>Гордовенко</td><td>Глеб</td><td>6А</td><td>М</td></tr>
<tr><td>Грищенко</td><td>Софья</td><td>6А</td><td>М</td></tr>
<tr><td>Громыко</td><td>Кира</td><td>6А</td><td>М</td></tr>
<tr><td>Дадаян</td><td>Давид</td><td>6А</td><td>М</td></tr>
<tr><td>Ефимова</td><td>Анастасия</td><td>6А</td><td>М</td></tr>
<tr><td>Жукова</td><td>Полина</td><td>6А</td><td>М</td></tr>
<tr><td>Зинченко</td><td>Маргарита</td><td>6А</td><td>М</td></tr>
<tr><td>Иванов</td><td>Иван</td><td>6А</td><td>М</td></tr>
<tr><td>Иванова</td><td>Дарья</td><td>6А</td><td>М</td></tr>
<tr><td>Кожухов</td><td>Ярослав</td><td>6А</td><td>М</td></tr>
<tr><td>Копыткова</td><td>Таисия</td><td>6А</td><td>М</td></tr>
<tr><td>Коркина</td><td>Анастасия</td><td>6А</td><td>М</td></tr>
<tr><td>Корякина</td><td>Ирина</td><td>6А</td><td>М</td></tr>
<tr><td>Кужель</td><td>Вероника</td><td>6А</td><td>М</td></tr>
<tr><td>Ламберг</td><td>Оскар</td><td>6А</td><td>М</td></tr>
<tr><td>Леонкин</td><td>Константин</td><td>6А</td><td>М</td></tr>
<tr><td>Лободырова</td><td>Юлия</td><td>6А</td><td>М</td></tr>
<tr><td>Мастыкина</td><td>Александра</td><td>6А</td><td>М</td></tr>
<tr><td>Миронов</td><td>Матвей</td><td>6А</td><td>М</td></tr>
<tr><td>Мицкевич</td><td>Владислава</td><td>6А</td><td>М</td></tr>
<tr><td>Моисеева</td><td>Екатерина</td><td>6А</td><td>М</td></tr>
<tr><td>Морозов</td><td>Тимофей</td><td>6А</td><td>М</td></tr>
<tr><td>Мошкина</td><td>Елизавета</td><td>6А</td><td>М</td></tr>
<tr><td>Муковозчик</td><td>Артём</td><td>6А</td><td>М</td></tr>
<tr><td>Нечаев</td><td>Михаил</td><td>6А</td><td>М</td></tr>
<tr><td>Нечипоров</td><td>Владислав</td><td>6А</td><td>М</td></tr>
<tr><td>Нитавская</td><td>Анна</td><td>6А</td><td>М</td></tr>
<tr><td>Ореховская</td><td>Мария</td><td>6А</td><td>М</td></tr>
<tr><td>Пестова</td><td>Ульяна</td><td>6А</td><td>М</td></tr>
<tr><td>Платонов</td><td>Александр</td><td>6А</td><td>М</td></tr>
<tr><td>Попова</td><td>Дарья</td><td>6А</td><td>М</td></tr>
<tr><td>Рыбалко</td><td>Захар</td><td>6А</td><td>М</td></tr>
<tr><td>Савченко</td><td>Алина</td><td>6А</td><td>М</td></tr>
<tr><td>Сенькин</td><td>Максим</td><td>6А</td><td>М</td></tr>
<tr><td>Сенькина</td><td>Анастасия</td><td>6А</td><td>М</td></tr>
<tr><td>Сизасова</td><td>Александра</td><td>6А</td><td>М</td></tr>
<tr><td>Слюсарев</td><td>Егор</td><td>6А</td><td>М</td></tr>
<tr><td>Тимошков</td><td>Александр</td><td>6А</td><td>М</td></tr>
<tr><td>Тихий</td><td>Андрей</td><td>6А</td><td>М</td></tr>
<tr><td>Трегубович</td><td>Максим</td><td>6А</td><td>М</td></tr>
<tr><td>Федченко</td><td>Богдан</td><td>6А</td><td>М</td></tr>
<tr><td>Филатов</td><td>Дмитрий</td><td>6А</td><td>М</td></tr>
<tr><td>Шестаков</td><td>Егор</td><td>6А</td><td>М</td></tr>
<tr><td>Якубяк</td><td>Михаил</td><td>6А</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Александра</td><td>6Б</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Влада</td><td>6Б</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Майя</td><td>6Б</td><td>М</td></tr>
<tr><td>Алексеенко</td><td>Ирина</td><td>6Б</td><td>М</td></tr>
<tr><td>Андреева</td><td>Полина</td><td>6Б</td><td>М</td></tr>
<tr><td>Антонова</td><td>Виктория</td><td>6Б</td><td>М</td></tr>
<tr><td>Ахметов</td><td>Ростислав</td><td>6Б</td><td>М</td></tr>
<tr><td>Бакшаева</td><td>Ника</td><td>6Б</td><td>М</td></tr>
<tr><td>Беляева</td><td>Анастасия</td><td>6Б</td><td>М</td></tr>
<tr><td>Благодарова</td><td>Юлия</td><td>6Б</td><td>М</td></tr>
<tr><td>Бурмистров</td><td>Иван</td><td>6Б</td><td>М</td></tr>
<tr><td>Васильева</td><td>Дарья</td><td>6Б</td><td>М</td></tr>
<tr><td>Вычеров</td><td>Вадим</td><td>6Б</td><td>М</td></tr>
<tr><td>Гайдук</td><td>Дарья</td><td>6Б</td><td>М</td></tr>
<tr><td>Гнатюк</td><td>Ярослава</td><td>6Б</td><td>М</td></tr>
<tr><td>Дмух</td><td>Екатерина</td><td>6Б</td><td>М</td></tr>
<tr><td>Драчева</td><td>Дарья</td><td>6Б</td><td>М</td></tr>
<tr><td>Ефимович</td><td>Елизавета</td><td>6Б</td><td>М</td></tr>
<tr><td>Жарова</td><td>Алиса</td><td>6Б</td><td>М</td></tr>
<tr><td>Жданов</td><td>Алексей</td><td>6Б</td><td>М</td></tr>
<tr><td>Жукова</td><td>Дарья</td><td>6Б</td><td>М</td></tr>
<tr><td>Ивенсен</td><td>Вячеслав</td><td>6Б</td><td>М</td></tr>
<tr><td>Изъянова</td><td>Софья</td><td>6Б</td><td>М</td></tr>
<tr><td>Кабак</td><td>Савва</td><td>6Б</td><td>М</td></tr>
<tr><td>Карпов</td><td>Никита</td><td>6Б</td><td>М</td></tr>
<tr><td>Клешкова</td><td>Софья</td><td>6Б</td><td>М</td></tr>
<tr><td>Кондратенко</td><td>Илья</td><td>6Б</td><td>М</td></tr>
<tr><td>Кураева</td><td>Анна</td><td>6Б</td><td>М</td></tr>
<tr><td>Кураева</td><td>Екатерина</td><td>6Б</td><td>М</td></tr>
<tr><td>Лисюткин</td><td>Александр</td><td>6Б</td><td>М</td></tr>
<tr><td>Лищук</td><td>Михаил</td><td>6Б</td><td>М</td></tr>
<tr><td>Мачина</td><td>Екатерина</td><td>6Б</td><td>М</td></tr>
<tr><td>Микрюков</td><td>Вадим</td><td>6Б</td><td>М</td></tr>
<tr><td>Момотов</td><td>Илья</td><td>6Б</td><td>М</td></tr>
<tr><td>Морозова</td><td>Анастасия</td><td>6Б</td><td>М</td></tr>
<tr><td>Наговицын</td><td>Ярослав</td><td>6Б</td><td>М</td></tr>
<tr><td>Неверов</td><td>Егор</td><td>6Б</td><td>М</td></tr>
<tr><td>Нисивкин</td><td>Егор</td><td>6Б</td><td>М</td></tr>
<tr><td>Орлова</td><td>София</td><td>6Б</td><td>М</td></tr>
<tr><td>Пензякова</td><td>Анжела</td><td>6Б</td><td>М</td></tr>
<tr><td>Петров</td><td>Глеб</td><td>6Б</td><td>М</td></tr>
<tr><td>Петухов</td><td>Григорий</td><td>6Б</td><td>М</td></tr>
<tr><td>Савенков</td><td>Иван</td><td>6Б</td><td>М</td></tr>
<tr><td>Сивкова</td><td>Мария</td><td>6Б</td><td>М</td></tr>
<tr><td>Смагулова</td><td>Дарья</td><td>6Б</td><td>М</td></tr>
<tr><td>Соловьев</td><td>Артём</td><td>6Б</td><td>М</td></tr>
<tr><td>Старовойтов</td><td>Никита</td><td>6Б</td><td>М</td></tr>
<tr><td>Степурко</td><td>Алиса</td><td>6Б</td><td>М</td></tr>
<tr><td>Толмачева</td><td>Ника</td><td>6Б</td><td>М</td></tr>
<tr><td>Тонких</td><td>Данил</td><td>6Б</td><td>М</td></tr>
<tr><td>Утенкова</td><td>Полина</td><td>6Б</td><td>М</td></tr>
<tr><td>Фролов</td><td>Станислав</td><td>6Б</td><td>М</td></tr>
<tr><td>Хатьков</td><td>Егор</td><td>6Б</td><td>М</td></tr>
<tr><td>Ходаковский</td><td>Артём</td><td>6Б</td><td>М</td></tr>
<tr><td>Чащина</td><td>Полина</td><td>6Б</td><td>М</td></tr>
<tr><td>Черемных</td><td>Арина</td><td>6Б</td><td>М</td></tr>
<tr><td>Чудаев</td><td>Дмитрий</td><td>6Б</td><td>М</td></tr>
<tr><td>Чупрова</td><td>Анастасия</td><td>6Б</td><td>М</td></tr>
<tr><td>Чуяшенко</td><td>Роман</td><td>6Б</td><td>М</td></tr>
<tr><td>Шаякубов</td><td>Тимур</td><td>6Б</td><td>М</td></tr>
<tr><td>Агеева</td><td>Алина</td><td>6В</td><td>М</td></tr>
<tr><td>Андреева</td><td>Светлана</td><td>6В</td><td>М</td></tr>
<tr><td>Аникутин</td><td>Михаил</td><td>6В</td><td>М</td></tr>
<tr><td>Анциферов</td><td>Игорь</td><td>6В</td><td>М</td></tr>
<tr><td>Беспалова</td><td>Яна</td><td>6В</td><td>М</td></tr>
<tr><td>Вдовиченко</td><td>Полина</td><td>6В</td><td>М</td></tr>
<tr><td>Верхозина</td><td>Алёна</td><td>6В</td><td>М</td></tr>
<tr><td>Веселкова</td><td>Ульяна</td><td>6В</td><td>М</td></tr>
<tr><td>Гарт</td><td>Марианна</td><td>6В</td><td>М</td></tr>
<tr><td>Глушков</td><td>Илья</td><td>6В</td><td>М</td></tr>
<tr><td>Грек</td><td>Маргарита</td><td>6В</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Задереева</td><td>Мария</td><td>6В</td><td>М</td></tr>
<tr><td>Зверева</td><td>Валерия</td><td>6В</td><td>М</td></tr>
<tr><td>Золотухин</td><td>Андрей</td><td>6В</td><td>М</td></tr>
<tr><td>Иванова</td><td>Кира</td><td>6В</td><td>М</td></tr>
<tr><td>Иванова</td><td>Ксения</td><td>6В</td><td>М</td></tr>
<tr><td>Ильяненко</td><td>Анастасия</td><td>6В</td><td>М</td></tr>
<tr><td>Каменев</td><td>Даниил</td><td>6В</td><td>М</td></tr>
<tr><td>Карнаухова</td><td>Вероника</td><td>6В</td><td>М</td></tr>
<tr><td>Квятковский</td><td>Ярослав</td><td>6В</td><td>М</td></tr>
<tr><td>Ковалев</td><td>Ярослав</td><td>6В</td><td>М</td></tr>
<tr><td>Копылова</td><td>Дарья</td><td>6В</td><td>М</td></tr>
<tr><td>Кузьмина</td><td>Елизавета</td><td>6В</td><td>М</td></tr>
<tr><td>Лазарев</td><td>Виктор</td><td>6В</td><td>М</td></tr>
<tr><td>Лазненко</td><td>Данила</td><td>6В</td><td>М</td></tr>
<tr><td>Леваньков</td><td>Ярослав</td><td>6В</td><td>М</td></tr>
<tr><td>Ли</td><td>Дмитрий</td><td>6В</td><td>М</td></tr>
<tr><td>Матосян</td><td>Елизавета</td><td>6В</td><td>М</td></tr>
<tr><td>Мезенин</td><td>Алексей</td><td>6В</td><td>М</td></tr>
<tr><td>Мельников</td><td>Александр</td><td>6В</td><td>М</td></tr>
<tr><td>Мизгирева</td><td>Елизавета</td><td>6В</td><td>М</td></tr>
<tr><td>Мирончикова</td><td>Милена</td><td>6В</td><td>М</td></tr>
<tr><td>Моисеева</td><td>Диана</td><td>6В</td><td>М</td></tr>
<tr><td>Морозов</td><td>Василий</td><td>6В</td><td>М</td></tr>
<tr><td>Москвин</td><td>Михаил</td><td>6В</td><td>М</td></tr>
<tr><td>Надикова</td><td>Марина</td><td>6В</td><td>М</td></tr>
<tr><td>Никифирова</td><td>Ирина</td><td>6В</td><td>М</td></tr>
<tr><td>Новикова</td><td>Елена</td><td>6В</td><td>М</td></tr>
<tr><td>Орлов</td><td>Никита</td><td>6В</td><td>М</td></tr>
<tr><td>Орлова</td><td>Екатерина</td><td>6В</td><td>М</td></tr>
<tr><td>Рычкова</td><td>Ксения</td><td>6В</td><td>М</td></tr>
<tr><td>Сабанский</td><td>Александр</td><td>6В</td><td>М</td></tr>
<tr><td>Сапожников</td><td>Максим</td><td>6В</td><td>М</td></tr>
<tr><td>Семенченко</td><td>Нелли</td><td>6В</td><td>М</td></tr>
<tr><td>Соколовская</td><td>Александра</td><td>6В</td><td>М</td></tr>
<tr><td>Тарасов</td><td>Данил</td><td>6В</td><td>М</td></tr>
<tr><td>Урусов</td><td>Артур</td><td>6В</td><td>М</td></tr>
<tr><td>Фадеев</td><td>Антон</td><td>6В</td><td>М</td></tr>
<tr><td>Ховякова</td><td>Екатерина</td><td>6В</td><td>М</td></tr>
<tr><td>Черемных</td><td>Виктория</td><td>6В</td><td>М</td></tr>
<tr><td>Черных</td><td>Данил</td><td>6В</td><td>М</td></tr>
<tr><td>Шандыбаева</td><td>Ольга</td><td>6В</td><td>М</td></tr>
<tr><td>Шишацкий</td><td>Иван</td><td>6В</td><td>М</td></tr>
<tr><td>Шмидт</td><td>Алина</td><td>6В</td><td>М</td></tr>
<tr><td>Шмидт</td><td>Анастасия</td><td>6В</td><td>М</td></tr>
<tr><td>Янышев</td><td>Никита</td><td>6В</td><td>М</td></tr>
<tr><td>Ярошевич</td><td>Дарья</td><td>6В</td><td>М</td></tr>
<tr><td>Андреев</td><td>Константин</td><td>6Г</td><td>М</td></tr>
<tr><td>Аникеева</td><td>Марина</td><td>6Г</td><td>М</td></tr>
<tr><td>Антонов</td><td>Максим</td><td>6Г</td><td>М</td></tr>
<tr><td>Барышников</td><td>Георгий</td><td>6Г</td><td>М</td></tr>
<tr><td>Боковиков</td><td>Леонид</td><td>6Г</td><td>М</td></tr>
<tr><td>Борзых</td><td>Владислав</td><td>6Г</td><td>М</td></tr>
<tr><td>Величко</td><td>Кирилл</td><td>6Г</td><td>М</td></tr>
<tr><td>Веревкин</td><td>Артемий</td><td>6Г</td><td>М</td></tr>
<tr><td>Видьманова</td><td>Анастасия</td><td>6Г</td><td>М</td></tr>
<tr><td>Вислобокова</td><td>Кира</td><td>6Г</td><td>М</td></tr>
<tr><td>Гасанова</td><td>Камилла</td><td>6Г</td><td>М</td></tr>
<tr><td>Делеган</td><td>Арина</td><td>6Г</td><td>М</td></tr>
<tr><td>Дмитриев</td><td>Дмитрий</td><td>6Г</td><td>М</td></tr>
<tr><td>Дмитриенко</td><td>Лидия</td><td>6Г</td><td>М</td></tr>
<tr><td>Евсеева</td><td>Елизавета</td><td>6Г</td><td>М</td></tr>
<tr><td>Еремин</td><td>Артём</td><td>6Г</td><td>М</td></tr>
<tr><td>Землякова</td><td>София</td><td>6Г</td><td>М</td></tr>
<tr><td>Иванова</td><td>Анна</td><td>6Г</td><td>М</td></tr>
<tr><td>Клёнин</td><td>Артём</td><td>6Г</td><td>М</td></tr>
<tr><td>Комаров</td><td>Иван</td><td>6Г</td><td>М</td></tr>
<tr><td>Коновалова</td><td>Таисия</td><td>6Г</td><td>М</td></tr>
<tr><td>Космачев</td><td>Никита</td><td>6Г</td><td>М</td></tr>
<tr><td>Кругаль</td><td>Николай</td><td>6Г</td><td>М</td></tr>
<tr><td>Крылова</td><td>Арина</td><td>6Г</td><td>М</td></tr>
<tr><td>Ларченко</td><td>Елена</td><td>6Г</td><td>М</td></tr>
<tr><td>Лобынцева</td><td>Дарья</td><td>6Г</td><td>М</td></tr>
<tr><td>Магарламов</td><td>Эльдар</td><td>6Г</td><td>М</td></tr>
<tr><td>Макиевская</td><td>Кристина</td><td>6Г</td><td>М</td></tr>
<tr><td>Маркова</td><td>Ангелина</td><td>6Г</td><td>М</td></tr>
<tr><td>Мигунов</td><td>Александр</td><td>6Г</td><td>М</td></tr>
<tr><td>Мирошниченко</td><td>Виктория</td><td>6Г</td><td>М</td></tr>
<tr><td>Михеев</td><td>Максим</td><td>6Г</td><td>М</td></tr>
<tr><td>Молчанов</td><td>Никита</td><td>6Г</td><td>М</td></tr>
<tr><td>Нелюбина</td><td>Яна</td><td>6Г</td><td>М</td></tr>
<tr><td>Овчинникова</td><td>Дарья</td><td>6Г</td><td>М</td></tr>
<tr><td>Перминов</td><td>Никита</td><td>6Г</td><td>М</td></tr>
<tr><td>Пестеров</td><td>Роман</td><td>6Г</td><td>М</td></tr>
<tr><td>Пиндюрова</td><td>Алёна</td><td>6Г</td><td>М</td></tr>
<tr><td>Пинчук</td><td>Иван</td><td>6Г</td><td>М</td></tr>
<tr><td>Пинчук</td><td>Матвей</td><td>6Г</td><td>М</td></tr>
<tr><td>Подмарькова</td><td>Кристина</td><td>6Г</td><td>М</td></tr>
<tr><td>Полярусова</td><td>Софья</td><td>6Г</td><td>М</td></tr>
<tr><td>Приходько</td><td>Виктория</td><td>6Г</td><td>М</td></tr>
<tr><td>Распопин</td><td>Даниил</td><td>6Г</td><td>М</td></tr>
<tr><td>Сарычева</td><td>Полина</td><td>6Г</td><td>М</td></tr>
<tr><td>Сепач</td><td>Виктория</td><td>6Г</td><td>М</td></tr>
<tr><td>Серяльникова</td><td>Анастасия</td><td>6Г</td><td>М</td></tr>
<tr><td>Ташевская</td><td>Валерия</td><td>6Г</td><td>М</td></tr>
<tr><td>Трепачёва</td><td>Софья</td><td>6Г</td><td>М</td></tr>
<tr><td>Трухан</td><td>Никита</td><td>6Г</td><td>М</td></tr>
<tr><td>Фаст</td><td>Ева</td><td>6Г</td><td>М</td></tr>
<tr><td>Федотов</td><td>Матвей</td><td>6Г</td><td>М</td></tr>
<tr><td>Шиханов</td><td>Максим</td><td>6Г</td><td>М</td></tr>
<tr><td>Шубников</td><td>Вадим</td><td>6Г</td><td>М</td></tr>
<tr><td>Яковчук</td><td>Александра</td><td>6Г</td><td>М</td></tr>
<tr><td>Якушев</td><td>Гордей</td><td>6Г</td><td>М</td></tr>
<tr><td>Янсон</td><td>Владимир</td><td>6Г</td><td>М</td></tr>
<tr><td>Андреева</td><td>Валерия</td><td>6Д</td><td>М</td></tr>
<tr><td>Антошкина</td><td>Алина</td><td>6Д</td><td>М</td></tr>
<tr><td>Астапов</td><td>Василий</td><td>6Д</td><td>М</td></tr>
<tr><td>Ахметханова</td><td>Таисия</td><td>6Д</td><td>М</td></tr>
<tr><td>Богданов</td><td>Олег</td><td>6Д</td><td>М</td></tr>
<tr><td>Васильев</td><td>Игорь</td><td>6Д</td><td>М</td></tr>
<tr><td>Данилова</td><td>Анастасия</td><td>6Д</td><td>М</td></tr>
<tr><td>Девятков</td><td>Игорь</td><td>6Д</td><td>М</td></tr>
<tr><td>Емельянова</td><td>Ульяна</td><td>6Д</td><td>М</td></tr>
<tr><td>Ефимов</td><td>Алексей</td><td>6Д</td><td>М</td></tr>
<tr><td>Жереб</td><td>Олеся</td><td>6Д</td><td>М</td></tr>
<tr><td>Житин</td><td>Фёдор</td><td>6Д</td><td>М</td></tr>
<tr><td>Жихарева</td><td>Елизавета</td><td>6Д</td><td>М</td></tr>
<tr><td>Жуков</td><td>Егор</td><td>6Д</td><td>М</td></tr>
<tr><td>Жукова</td><td>Полина</td><td>6Д</td><td>М</td></tr>
<tr><td>Журавлева</td><td>Яна</td><td>6Д</td><td>М</td></tr>
<tr><td>Иванчук</td><td>Евгения</td><td>6Д</td><td>М</td></tr>
<tr><td>Кабардин</td><td>Олег</td><td>6Д</td><td>М</td></tr>
<tr><td>Камаев</td><td>Лев</td><td>6Д</td><td>М</td></tr>
<tr><td>Камаева</td><td>Эмилия</td><td>6Д</td><td>М</td></tr>
<tr><td>Канавкин</td><td>Генрих</td><td>6Д</td><td>М</td></tr>
<tr><td>Кассал</td><td>Кирилл</td><td>6Д</td><td>М</td></tr>
<tr><td>Кифер</td><td>Екатерина</td><td>6Д</td><td>М</td></tr>
<tr><td>Кожемякин</td><td>Александр</td><td>6Д</td><td>М</td></tr>
<tr><td>Козлов</td><td>Захар</td><td>6Д</td><td>М</td></tr>
<tr><td>Кольк</td><td>Егор</td><td>6Д</td><td>М</td></tr>
<tr><td>Комов</td><td>Михаил</td><td>6Д</td><td>М</td></tr>
<tr><td>Копнова</td><td>Мария</td><td>6Д</td><td>М</td></tr>
<tr><td>Копылова</td><td>Елизавета</td><td>6Д</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Коробейникова</td><td>Анастасия</td><td>6Д</td><td>М</td></tr>
<tr><td>Костюк</td><td>Виктор</td><td>6Д</td><td>М</td></tr>
<tr><td>Красовская</td><td>Варвара</td><td>6Д</td><td>М</td></tr>
<tr><td>Кривецкая</td><td>Таисия</td><td>6Д</td><td>М</td></tr>
<tr><td>Лаврик</td><td>Глафира</td><td>6Д</td><td>М</td></tr>
<tr><td>Лель</td><td>Кирилл</td><td>6Д</td><td>М</td></tr>
<tr><td>Маслобоева</td><td>Алина</td><td>6Д</td><td>М</td></tr>
<tr><td>Мехоношин</td><td>Никита</td><td>6Д</td><td>М</td></tr>
<tr><td>Михеева</td><td>Маргарита</td><td>6Д</td><td>М</td></tr>
<tr><td>Назарова</td><td>Кристина</td><td>6Д</td><td>М</td></tr>
<tr><td>Никишанова</td><td>Диана</td><td>6Д</td><td>М</td></tr>
<tr><td>Одинец</td><td>София</td><td>6Д</td><td>М</td></tr>
<tr><td>Омылов</td><td>Тимофей</td><td>6Д</td><td>М</td></tr>
<tr><td>Песегова</td><td>Мирослава</td><td>6Д</td><td>М</td></tr>
<tr><td>Петрулевич</td><td>Павел</td><td>6Д</td><td>М</td></tr>
<tr><td>Попов</td><td>Вячеслав</td><td>6Д</td><td>М</td></tr>
<tr><td>Почекутов</td><td>Даниил</td><td>6Д</td><td>М</td></tr>
<tr><td>Прокофьева</td><td>Екатерина</td><td>6Д</td><td>М</td></tr>
<tr><td>Пустовалов</td><td>Денис</td><td>6Д</td><td>М</td></tr>
<tr><td>Рахинский</td><td>Ярослав</td><td>6Д</td><td>М</td></tr>
<tr><td>Токарев</td><td>Максим</td><td>6Д</td><td>М</td></tr>
<tr><td>Томилов</td><td>Илья</td><td>6Д</td><td>М</td></tr>
<tr><td>Цымбал</td><td>Анастасия</td><td>6Д</td><td>М</td></tr>
<tr><td>Чудакова</td><td>Ксения</td><td>6Д</td><td>М</td></tr>
<tr><td>Чуднова</td><td>София</td><td>6Д</td><td>М</td></tr>
<tr><td>Шалаев</td><td>Артур</td><td>6Д</td><td>М</td></tr>
<tr><td>Шестаков</td><td>Вячеслав</td><td>6Д</td><td>М</td></tr>
<tr><td>Шестакова</td><td>Ольга</td><td>6Д</td><td>М</td></tr>
<tr><td>Ячменев</td><td>Евгений</td><td>6Д</td><td>М</td></tr>
<tr><td>Абрамович</td><td>Леонид</td><td>6Е</td><td>М</td></tr>
<tr><td>Агапова</td><td>Мария</td><td>6Е</td><td>М</td></tr>
<tr><td>Аристова</td><td>Дарья</td><td>6Е</td><td>М</td></tr>
<tr><td>Безруких</td><td>Георгий</td><td>6Е</td><td>М</td></tr>
<tr><td>Бутрин</td><td>Владимир</td><td>6Е</td><td>М</td></tr>
<tr><td>Василенко</td><td>Полина</td><td>6Е</td><td>М</td></tr>
<tr><td>Васильев</td><td>Данила</td><td>6Е</td><td>М</td></tr>
<tr><td>Волков</td><td>Никита</td><td>6Е</td><td>М</td></tr>
<tr><td>Габец</td><td>Илья</td><td>6Е</td><td>М</td></tr>
<tr><td>Гернего</td><td>Александр</td><td>6Е</td><td>М</td></tr>
<tr><td>Голик</td><td>Роман</td><td>6Е</td><td>М</td></tr>
<tr><td>Горовенко</td><td>Ульяна</td><td>6Е</td><td>М</td></tr>
<tr><td>Гришкова</td><td>Екатерина</td><td>6Е</td><td>М</td></tr>
<tr><td>Гурьянов</td><td>Михаил</td><td>6Е</td><td>М</td></tr>
<tr><td>Гурьянов</td><td>Фёдор</td><td>6Е</td><td>М</td></tr>
<tr><td>Егоров</td><td>Кирилл</td><td>6Е</td><td>М</td></tr>
<tr><td>Елистратов</td><td>Иван</td><td>6Е</td><td>М</td></tr>
<tr><td>Заяц</td><td>Дарья</td><td>6Е</td><td>М</td></tr>
<tr><td>Зленко</td><td>Дмитрий</td><td>6Е</td><td>М</td></tr>
<tr><td>Ильюшкина</td><td>Варвара</td><td>6Е</td><td>М</td></tr>
<tr><td>Ким</td><td>Никита</td><td>6Е</td><td>М</td></tr>
<tr><td>Коваль</td><td>Александр</td><td>6Е</td><td>М</td></tr>
<tr><td>Куйбида</td><td>Алёна</td><td>6Е</td><td>М</td></tr>
<tr><td>Лабойко</td><td>Александр</td><td>6Е</td><td>М</td></tr>
<tr><td>Люкшина</td><td>Вероника</td><td>6Е</td><td>М</td></tr>
<tr><td>Мухомедзянова</td><td>Рената</td><td>6Е</td><td>М</td></tr>
<tr><td>Мясников</td><td>Михаил</td><td>6Е</td><td>М</td></tr>
<tr><td>Нелюбин</td><td>Никита</td><td>6Е</td><td>М</td></tr>
<tr><td>Овчинникова</td><td>Карина</td><td>6Е</td><td>М</td></tr>
<tr><td>Осадчук</td><td>Влада</td><td>6Е</td><td>М</td></tr>
<tr><td>Пидкарчемная</td><td>Елизавета</td><td>6Е</td><td>М</td></tr>
<tr><td>Пинегин</td><td>Марк</td><td>6Е</td><td>М</td></tr>
<tr><td>Привалихина</td><td>Мария</td><td>6Е</td><td>М</td></tr>
<tr><td>Прокопенко</td><td>Карина</td><td>6Е</td><td>М</td></tr>
<tr><td>Ралюк</td><td>Виктория</td><td>6Е</td><td>М</td></tr>
<tr><td>Самсонова</td><td>Александра</td><td>6Е</td><td>М</td></tr>
<tr><td>Свищева</td><td>Кира</td><td>6Е</td><td>М</td></tr>
<tr><td>Серебренникова</td><td>Елена</td><td>6Е</td><td>М</td></tr>
<tr><td>Соковнина</td><td>Екатерина</td><td>6Е</td><td>М</td></tr>
<tr><td>Солодилов</td><td>Тимофей</td><td>6Е</td><td>М</td></tr>
<tr><td>Талантаева</td><td>Полина</td><td>6Е</td><td>М</td></tr>
<tr><td>Устюгов</td><td>Максим</td><td>6Е</td><td>М</td></tr>
<tr><td>Файзулина</td><td>Мария</td><td>6Е</td><td>М</td></tr>
<tr><td>Харьков</td><td>Дмитрий</td><td>6Е</td><td>М</td></tr>
<tr><td>Цимбалова</td><td>Дарья</td><td>6Е</td><td>М</td></tr>
<tr><td>Шахов</td><td>Егор</td><td>6Е</td><td>М</td></tr>
<tr><td>Шахова</td><td>Дарья</td><td>6Е</td><td>М</td></tr>
<tr><td>Шумакова</td><td>Алина</td><td>6Е</td><td>М</td></tr>
<tr><td>Щербина</td><td>Георгий</td><td>6Е</td><td>М</td></tr>
<tr><td>Ямаев</td><td>Марат</td><td>6Е</td><td>М</td></tr>
<tr><td>Ячменев</td><td>Алексей</td><td>6Е</td><td>М</td></tr>
<tr><td>Акулова</td><td>Алиса</td><td>6М</td><td>М</td></tr>
<tr><td>Алпацкий</td><td>Степан</td><td>6М</td><td>М</td></tr>
<tr><td>Алымова</td><td>Анастасия</td><td>6М</td><td>М</td></tr>
<tr><td>Березинский</td><td>Данил</td><td>6М</td><td>М</td></tr>
<tr><td>Бушланова</td><td>Дарья</td><td>6М</td><td>М</td></tr>
<tr><td>Варенюк</td><td>Марьяна</td><td>6М</td><td>М</td></tr>
<tr><td>Герасимова</td><td>Елизавета</td><td>6М</td><td>М</td></tr>
<tr><td>Горяйнова</td><td>Екатерина</td><td>6М</td><td>М</td></tr>
<tr><td>Доть</td><td>Анастасия</td><td>6М</td><td>М</td></tr>
<tr><td>Егоров</td><td>Владимир</td><td>6М</td><td>М</td></tr>
<tr><td>Зарецкая</td><td>Варвара</td><td>6М</td><td>М</td></tr>
<tr><td>Злобин</td><td>Тимофей</td><td>6М</td><td>М</td></tr>
<tr><td>Иваненков</td><td>Глеб</td><td>6М</td><td>М</td></tr>
<tr><td>Иксанов</td><td>Дамир</td><td>6М</td><td>М</td></tr>
<tr><td>Кобзева</td><td>София</td><td>6М</td><td>М</td></tr>
<tr><td>Ковалев</td><td>Иван</td><td>6М</td><td>М</td></tr>
<tr><td>Кондратьева</td><td>Валерия</td><td>6М</td><td>М</td></tr>
<tr><td>Кононов</td><td>Максим</td><td>6М</td><td>М</td></tr>
<tr><td>Коротких</td><td>Маргарита</td><td>6М</td><td>М</td></tr>
<tr><td>Кравченко</td><td>Константин</td><td>6М</td><td>М</td></tr>
<tr><td>Курдюкова</td><td>Ксения</td><td>6М</td><td>М</td></tr>
<tr><td>Ланко</td><td>Олег</td><td>6М</td><td>М</td></tr>
<tr><td>Ларина</td><td>Елизавета</td><td>6М</td><td>М</td></tr>
<tr><td>Лузганова</td><td>Таисия</td><td>6М</td><td>М</td></tr>
<tr><td>Михайличенко</td><td>Дарья</td><td>6М</td><td>М</td></tr>
<tr><td>Мозговой</td><td>Матвей</td><td>6М</td><td>М</td></tr>
<tr><td>Морозова</td><td>Екатерина</td><td>6М</td><td>М</td></tr>
<tr><td>Моторин</td><td>Даниил</td><td>6М</td><td>М</td></tr>
<tr><td>Навородцкий</td><td>Богдан</td><td>6М</td><td>М</td></tr>
<tr><td>Наймушин</td><td>Илья</td><td>6М</td><td>М</td></tr>
<tr><td>Невзорова</td><td>София</td><td>6М</td><td>М</td></tr>
<tr><td>Олюнин</td><td>Данила</td><td>6М</td><td>М</td></tr>
<tr><td>Осадчий</td><td>Матвей</td><td>6М</td><td>М</td></tr>
<tr><td>Остапчук</td><td>Ксения</td><td>6М</td><td>М</td></tr>
<tr><td>Остапчук</td><td>Степан</td><td>6М</td><td>М</td></tr>
<tr><td>Полетаева</td><td>Лика</td><td>6М</td><td>М</td></tr>
<tr><td>Полетаева</td><td>Полина</td><td>6М</td><td>М</td></tr>
<tr><td>Русанов</td><td>Марк</td><td>6М</td><td>М</td></tr>
<tr><td>Рычков</td><td>Дмитрий</td><td>6М</td><td>М</td></tr>
<tr><td>Сапожков</td><td>Игорь</td><td>6М</td><td>М</td></tr>
<tr><td>Семукова</td><td>Анфиса</td><td>6М</td><td>М</td></tr>
<tr><td>Сенченко</td><td>Максим</td><td>6М</td><td>М</td></tr>
<tr><td>Сенченко</td><td>Мария</td><td>6М</td><td>М</td></tr>
<tr><td>Соломенцев</td><td>Тихон</td><td>6М</td><td>М</td></tr>
<tr><td>Старовойтова</td><td>Екатерина</td><td>6М</td><td>М</td></tr>
<tr><td>Таптыгин</td><td>Лев</td><td>6М</td><td>М</td></tr>
<tr><td>Турова</td><td>София</td><td>6М</td><td>М</td></tr>
<tr><td>Филатов</td><td>Иван</td><td>6М</td><td>М</td></tr>
<tr><td>Хитрун</td><td>Полина</td><td>6М</td><td>М</td></tr>
<tr><td>Чебоксарова</td><td>Вероника</td><td>6М</td><td>М</td></tr>
<tr><td>Шадрина</td><td>Алина</td><td>6М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
