<!-- login required -->
{% extends "students_table.html" %}

{% block head %}2 класс{% endblock %}

{% block table1 %}
<!-- students_table 1 -->
<tr><td>111</td><td>222</td><td>2А</td><td>М</td></tr>
<tr><td>Астафьева</td><td>Ксения</td><td>2А</td><td>Ж</td></tr>
<tr><td>Богинская</td><td>Татьяна</td><td>2А</td><td>Ж</td></tr>
<tr><td>Буртасова</td><td>Анна</td><td>2А</td><td>Ж</td></tr>
<tr><td>Воронковский</td><td>Андрей</td><td>2А</td><td>М</td></tr>
<tr><td>Вычужанин</td><td>Михаил</td><td>2А</td><td>М</td></tr>
<tr><td>Галимова</td><td>Вазиля</td><td>2А</td><td>Ж</td></tr>
<tr><td>Горковский</td><td>Даниил</td><td>2А</td><td>М</td></tr>
<tr><td>Гришечко</td><td>Богдан</td><td>2А</td><td>М</td></tr>
<tr><td>Данилов</td><td>Алексей</td><td>2А</td><td>М</td></tr>
<tr><td>Зуев</td><td>Фёдор</td><td>2А</td><td>М</td></tr>
<tr><td>Ипатьева</td><td>Анастасия</td><td>2А</td><td>Ж</td></tr>
<tr><td>Казак</td><td>Михаил</td><td>2А</td><td>М</td></tr>
<tr><td>Карташова</td><td>Варвара</td><td>2А</td><td>Ж</td></tr>
<tr><td>Климнюк</td><td>Александра</td><td>2А</td><td>Ж</td></tr>
<tr><td>Кудрявцева</td><td>Майя</td><td>2А</td><td>Ж</td></tr>
<tr><td>Лусникова</td><td>Алла</td><td>2А</td><td>Ж</td></tr>
<tr><td>Макушин</td><td>Никита</td><td>2А</td><td>М</td></tr>
<tr><td>Марченко</td><td>Дарья</td><td>2А</td><td>Ж</td></tr>
<tr><td>Мачула</td><td>Василиса</td><td>2А</td><td>Ж</td></tr>
<tr><td>Меркулов</td><td>Илья</td><td>2А</td><td>М</td></tr>
<tr><td>Михеева</td><td>Дарья</td><td>2А</td><td>Ж</td></tr>
<tr><td>Мурыгина</td><td>Вероника</td><td>2А</td><td>Ж</td></tr>
<tr><td>Неговоров</td><td>Игорь</td><td>2А</td><td>М</td></tr>
<tr><td>Нечепуренко</td><td>Ксения</td><td>2А</td><td>Ж</td></tr>
<tr><td>Перевалова</td><td>Кира</td><td>2А</td><td>Ж</td></tr>
<tr><td>Поповская</td><td>Виктория</td><td>2А</td><td>Ж</td></tr>
<tr><td>Проничева</td><td>Дарья</td><td>2А</td><td>Ж</td></tr>
<tr><td>Романов</td><td>Роман</td><td>2А</td><td>М</td></tr>
<tr><td>Романюк</td><td>Ярослав</td><td>2А</td><td>М</td></tr>
<tr><td>Русских</td><td>Ксения</td><td>2А</td><td>Ж</td></tr>
<tr><td>Савельев</td><td>Виктор</td><td>2А</td><td>М</td></tr>
<tr><td>Сеитов</td><td>Назар</td><td>2А</td><td>М</td></tr>
<tr><td>Смоленков</td><td>Михаил</td><td>2А</td><td>М</td></tr>
<tr><td>Солдатов</td><td>Михаил</td><td>2А</td><td>М</td></tr>
<tr><td>Тюкавкина</td><td>Елизавета</td><td>2А</td><td>Ж</td></tr>
<tr><td>Бурухин</td><td>Ярослав</td><td>2Б</td><td>М</td></tr>
<tr><td>Вагнер</td><td>Максим</td><td>2Б</td><td>М</td></tr>
<tr><td>Гаманович</td><td>Марк</td><td>2Б</td><td>М</td></tr>
<tr><td>Гутьеррес</td><td>Фицай</td><td>2Б</td><td>М</td></tr>
<tr><td>Ещенко</td><td>Потап</td><td>2Б</td><td>М</td></tr>
<tr><td>Жолобова</td><td>Анна</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Качигин</td><td>Александр</td><td>2Б</td><td>М</td></tr>
<tr><td>Кондратенко</td><td>Алёна</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Лихтин</td><td>Сергей</td><td>2Б</td><td>М</td></tr>
<tr><td>Лыкова</td><td>Юлия</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Маслов</td><td>Павел</td><td>2Б</td><td>М</td></tr>
<tr><td>Морозова</td><td>Софья</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Орлова</td><td>Софья</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Пинаков</td><td>Дмитрий</td><td>2Б</td><td>М</td></tr>
<tr><td>Романова</td><td>Надежда</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Рязанцева</td><td>Анна</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Соломкин</td><td>Николай</td><td>2Б</td><td>М</td></tr>
<tr><td>Соломкина</td><td>Екатерина</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Токарев</td><td>Егор</td><td>2Б</td><td>М</td></tr>
<tr><td>Туруханов</td><td>Леонид</td><td>2Б</td><td>М</td></tr>
<tr><td>Усманов</td><td>Игорь</td><td>2Б</td><td>М</td></tr>
<tr><td>Хмельницкая</td><td>Рада</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Худойдодова</td><td>Камилла</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Ширякова</td><td>Ксения</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Ямщикова</td><td>Полина</td><td>2Б</td><td>Ж</td></tr>
<tr><td>Аксютина</td><td>Алина</td><td>2В</td><td>Ж</td></tr>
<tr><td>Беспалов</td><td>Макар</td><td>2В</td><td>М</td></tr>
<tr><td>Булыкина</td><td>Полина</td><td>2В</td><td>Ж</td></tr>
<tr><td>Великжанин</td><td>Андрей</td><td>2В</td><td>М</td></tr>
<tr><td>Вещев</td><td>Григорий</td><td>2В</td><td>М</td></tr>
<tr><td>Гаврилов</td><td>Иван</td><td>2В</td><td>М</td></tr>
<tr><td>Данго</td><td>Ксения</td><td>2В</td><td>Ж</td></tr>
<tr><td>Кириллов</td><td>Макар</td><td>2В</td><td>М</td></tr>
<tr><td>Корягин</td><td>Александр</td><td>2В</td><td>М</td></tr>
<tr><td>Лукатин</td><td>Марк</td><td>2В</td><td>М</td></tr>
<tr><td>Лыско</td><td>Дарья</td><td>2В</td><td>Ж</td></tr>
<tr><td>Матонина</td><td>Агния</td><td>2В</td><td>Ж</td></tr>
<tr><td>Мухлыгина</td><td>София</td><td>2В</td><td>Ж</td></tr>
<tr><td>Пантелеева</td><td>Ариана</td><td>2В</td><td>Ж</td></tr>
<tr><td>Потылицын</td><td>Никита</td><td>2В</td><td>М</td></tr>
<tr><td>Рудых</td><td>Тимофей</td><td>2В</td><td>М</td></tr>
<tr><td>Сонич</td><td>Артемий</td><td>2В</td><td>М</td></tr>
<tr><td>Сташкова</td><td>Александра</td><td>2В</td><td>Ж</td></tr>
<tr><td>Страхов</td><td>Григорий</td><td>2В</td><td>М</td></tr>
<tr><td>Сурдо</td><td>Григорий</td><td>2В</td><td>М</td></tr>
<tr><td>Тимошова</td><td>Ульяна</td><td>2В</td><td>Ж</td></tr>
<!-- end -->
{% endblock %}

{% block table2 %}
<!-- students_table 2 -->
<tr><td>Шарымов</td><td>Семён</td><td>2В</td><td>М</td></tr>
<tr><td>Шатных</td><td>Елизавета</td><td>2В</td><td>Ж</td></tr>
<tr><td>Шматалюк</td><td>Александр</td><td>2В</td><td>М</td></tr>
<tr><td>Шорохова</td><td>Каролина</td><td>2В</td><td>Ж</td></tr>
<tr><td>Бабкин</td><td>Артём</td><td>2Г</td><td>М</td></tr>
<tr><td>Бабкина</td><td>Вероника</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Белоусова</td><td>Ольга</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Берёза</td><td>Анастасия</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Влавацкий</td><td>Алексей</td><td>2Г</td><td>М</td></tr>
<tr><td>Герасимов</td><td>Иван</td><td>2Г</td><td>М</td></tr>
<tr><td>Дмитроченко</td><td>Дарьяна</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Зверкович</td><td>Елизавета</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Козлов</td><td>Святослав</td><td>2Г</td><td>М</td></tr>
<tr><td>Кошевой</td><td>Максим</td><td>2Г</td><td>М</td></tr>
<tr><td>Лукачев</td><td>Иван</td><td>2Г</td><td>М</td></tr>
<tr><td>Любицкая</td><td>Злата</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Машкунов</td><td>Никита</td><td>2Г</td><td>М</td></tr>
<tr><td>Патрушев</td><td>Егор</td><td>2Г</td><td>М</td></tr>
<tr><td>Привалихина</td><td>Юлия</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Пурик</td><td>Руслан</td><td>2Г</td><td>М</td></tr>
<tr><td>Рукомасов</td><td>Ярослав</td><td>2Г</td><td>М</td></tr>
<tr><td>Савенков</td><td>Максим</td><td>2Г</td><td>М</td></tr>
<tr><td>Скибин</td><td>Артём</td><td>2Г</td><td>М</td></tr>
<tr><td>Сочнев</td><td>Серафим</td><td>2Г</td><td>М</td></tr>
<tr><td>Толстиков</td><td>Роман</td><td>2Г</td><td>М</td></tr>
<tr><td>Халиповская</td><td>Полина</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Хахалина</td><td>Софья</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Шевченко</td><td>Илья</td><td>2Г</td><td>М</td></tr>
<tr><td>Якушева</td><td>Арина</td><td>2Г</td><td>Ж</td></tr>
<tr><td>Абрамова</td><td>Анастасия</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Адрианов</td><td>Фёдор</td><td>2Д</td><td>М</td></tr>
<tr><td>Алексеева</td><td>Мила</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Архентова</td><td>Алиса</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Вершинина</td><td>Виктория</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Волков</td><td>Арсений</td><td>2Д</td><td>М</td></tr>
<tr><td>Гордеева</td><td>Ариана</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Дегтярева</td><td>Дарьяна</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Ильин</td><td>Савелий</td><td>2Д</td><td>М</td></tr>
<tr><td>Колпакова</td><td>Василиса</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Кондратьев</td><td>Алексей</td><td>2Д</td><td>М</td></tr>
<tr><td>Коноплев</td><td>Филипп</td><td>2Д</td><td>М</td></tr>
<tr><td>Короткова</td><td>Елена</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Кутявина</td><td>Софья</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Мартьянова</td><td>Александра</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Меркулов</td><td>Алексей</td><td>2Д</td><td>М</td></tr>
<tr><td>Мещерякова</td><td>Таисия</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Никитин</td><td>Константин</td><td>2Д</td><td>М</td></tr>
<tr><td>Пензякова</td><td>Алиса</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Покацкий</td><td>Артём</td><td>2Д</td><td>М</td></tr>
<tr><td>Проконич</td><td>Мирослава</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Соколова</td><td>Элина</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Спиридонова</td><td>Маргарита</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Стефановский</td><td>Яромир</td><td>2Д</td><td>М</td></tr>
<tr><td>Тарабанько</td><td>Надежда</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Трешин</td><td>Михаил</td><td>2Д</td><td>М</td></tr>
<tr><td>Тяпкин</td><td>Тимофей</td><td>2Д</td><td>М</td></tr>
<tr><td>Чубакова</td><td>Мария</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Яблонская</td><td>Анастасия</td><td>2Д</td><td>Ж</td></tr>
<tr><td>Абрамович</td><td>Лев</td><td>2Е</td><td>М</td></tr>
<tr><td>Авходиева</td><td>Алсу</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Беспалова</td><td>Александра</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Бородин</td><td>Тихон</td><td>2Е</td><td>М</td></tr>
<tr><td>Васильева</td><td>Юлия</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Воробьев</td><td>Борис</td><td>2Е</td><td>М</td></tr>
<tr><td>Галимов</td><td>Антон</td><td>2Е</td><td>М</td></tr>
<tr><td>Гусаров</td><td>Никита</td><td>2Е</td><td>М</td></tr>
<tr><td>Дмитриев</td><td>Никита</td><td>2Е</td><td>М</td></tr>
<tr><td>Дорогавцев</td><td>Кирилл</td><td>2Е</td><td>М</td></tr>
<tr><td>Иванов</td><td>Константин</td><td>2Е</td><td>М</td></tr>
<tr><td>Карчмит</td><td>Лука</td><td>2Е</td><td>М</td></tr>
<tr><td>Клейман</td><td>Эдуард</td><td>2Е</td><td>М</td></tr>
<tr><td>Кондратьева</td><td>Арина</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Курак</td><td>Никита</td><td>2Е</td><td>М</td></tr>
<tr><td>Маско</td><td>Кирилл</td><td>2Е</td><td>М</td></tr>
<tr><td>Молянов</td><td>Михаил</td><td>2Е</td><td>М</td></tr>
<tr><td>Орлова</td><td>Милана</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Пидкарчемный</td><td>Елисей</td><td>2Е</td><td>М</td></tr>
<tr><td>Радьков</td><td>Владислав</td><td>2Е</td><td>М</td></tr>
<tr><td>Рычков</td><td>Александр</td><td>2Е</td><td>М</td></tr>
<tr><td>Савокина</td><td>Арина</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Сафонова</td><td>Николь</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Старовойтов</td><td>Пётр</td><td>2Е</td><td>М</td></tr>
<!-- end -->
{% endblock %}

{% block table3 %}
<!-- students_table 3 -->
<tr><td>Тарасова</td><td>Дарья</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Токарев</td><td>Сергей</td><td>2Е</td><td>М</td></tr>
<tr><td>Фролов</td><td>Макар</td><td>2Е</td><td>М</td></tr>
<tr><td>Чудаева</td><td>Анастасия</td><td>2Е</td><td>Ж</td></tr>
<tr><td>Бурмистров</td><td>Артём</td><td>2Ж</td><td>М</td></tr>
<tr><td>Васильева</td><td>Ульяна</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Газенкамф</td><td>Лада</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Гудзенко</td><td>Мария</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Делеган</td><td>Анна</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Иванов</td><td>Олег</td><td>2Ж</td><td>М</td></tr>
<tr><td>Кокина</td><td>Анастасия</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Куницкий</td><td>Илья</td><td>2Ж</td><td>М</td></tr>
<tr><td>Лебедев</td><td>Дмитрий</td><td>2Ж</td><td>М</td></tr>
<tr><td>Максимова</td><td>Алина</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Мерецкий</td><td>Матвей</td><td>2Ж</td><td>М</td></tr>
<tr><td>Никифорова</td><td>Алёна</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Овсянкина</td><td>Мария</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Петрушков</td><td>Артём</td><td>2Ж</td><td>М</td></tr>
<tr><td>Присухина</td><td>Ксения</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Рыбалко</td><td>Мария</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Савостьянова</td><td>Анастасия</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Стегайло</td><td>Дарья</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Стегайло</td><td>Мария</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Тарасевич</td><td>Елизавета</td><td>2Ж</td><td>Ж</td></tr>
<tr><td>Федоров</td><td>Никита</td><td>2Ж</td><td>М</td></tr>
<tr><td>Хуторской</td><td>Марк</td><td>2Ж</td><td>М</td></tr>
<tr><td>Чаплин</td><td>Савелий</td><td>2Ж</td><td>М</td></tr>
<tr><td>Юдин</td><td>Матвей</td><td>2Ж</td><td>М</td></tr>
<tr><td>Бетонов</td><td>Максим</td><td>2З</td><td>М</td></tr>
<tr><td>Гуленок</td><td>Константин</td><td>2З</td><td>М</td></tr>
<tr><td>Долгов</td><td>Александр</td><td>2З</td><td>М</td></tr>
<tr><td>Ермолаев</td><td>Иван</td><td>2З</td><td>М</td></tr>
<tr><td>Зиборева</td><td>Дарья</td><td>2З</td><td>Ж</td></tr>
<tr><td>Зюряева</td><td>Полина</td><td>2З</td><td>Ж</td></tr>
<tr><td>Изосимова</td><td>Аксинья</td><td>2З</td><td>Ж</td></tr>
<tr><td>Калинихин</td><td>Михаил</td><td>2З</td><td>М</td></tr>
<tr><td>Кассал</td><td>Арсений</td><td>2З</td><td>М</td></tr>
<tr><td>Коков</td><td>Захар</td><td>2З</td><td>М</td></tr>
<tr><td>Крыжановская</td><td>Виктория</td><td>2З</td><td>Ж</td></tr>
<tr><td>Лалетина</td><td>Ксения</td><td>2З</td><td>Ж</td></tr>
<tr><td>Мешечкин</td><td>Алексей</td><td>2З</td><td>М</td></tr>
<tr><td>Нахатакян</td><td>Саят</td><td>2З</td><td>М</td></tr>
<tr><td>Новашев</td><td>Дмитрий</td><td>2З</td><td>М</td></tr>
<tr><td>Петушкова</td><td>Диана</td><td>2З</td><td>Ж</td></tr>
<tr><td>Петько</td><td>Ярослав</td><td>2З</td><td>М</td></tr>
<tr><td>Покусаев</td><td>Александр</td><td>2З</td><td>М</td></tr>
<tr><td>Розина</td><td>Вероника</td><td>2З</td><td>Ж</td></tr>
<tr><td>Садовская</td><td>София</td><td>2З</td><td>Ж</td></tr>
<tr><td>Седых</td><td>Вера</td><td>2З</td><td>Ж</td></tr>
<tr><td>Смекалина</td><td>Милана</td><td>2З</td><td>Ж</td></tr>
<tr><td>Тархов</td><td>Михаил</td><td>2З</td><td>М</td></tr>
<tr><td>Трушкова</td><td>Ирина</td><td>2З</td><td>Ж</td></tr>
<tr><td>Черненко</td><td>Маргарита</td><td>2З</td><td>Ж</td></tr>
<tr><td>Шевченко</td><td>Маргарита</td><td>2З</td><td>Ж</td></tr>
<tr><td>Бахлов</td><td>Александр</td><td>2М</td><td>М</td></tr>
<tr><td>Волкова</td><td>Таисия</td><td>2М</td><td>Ж</td></tr>
<tr><td>Галеева</td><td>Аделина</td><td>2М</td><td>Ж</td></tr>
<tr><td>Гаун</td><td>Юрий</td><td>2М</td><td>М</td></tr>
<tr><td>Голубева</td><td>Виктория</td><td>2М</td><td>Ж</td></tr>
<tr><td>Гудкова</td><td>Яна</td><td>2М</td><td>Ж</td></tr>
<tr><td>Данилова</td><td>Варвара</td><td>2М</td><td>Ж</td></tr>
<tr><td>Довжанская</td><td>Диана</td><td>2М</td><td>Ж</td></tr>
<tr><td>Калугина</td><td>Софья</td><td>2М</td><td>Ж</td></tr>
<tr><td>Камоцкая</td><td>Марина</td><td>2М</td><td>Ж</td></tr>
<tr><td>Лопатько</td><td>Мария</td><td>2М</td><td>Ж</td></tr>
<tr><td>Масляков</td><td>Максим</td><td>2М</td><td>М</td></tr>
<tr><td>Мурадян</td><td>Арина</td><td>2М</td><td>Ж</td></tr>
<tr><td>Рыжова</td><td>Евгения</td><td>2М</td><td>Ж</td></tr>
<tr><td>Садовская</td><td>София</td><td>2М</td><td>Ж</td></tr>
<tr><td>Субботина</td><td>Полина</td><td>2М</td><td>Ж</td></tr>
<tr><td>Сушинский</td><td>Максим</td><td>2М</td><td>М</td></tr>
<tr><td>Тишкова</td><td>София</td><td>2М</td><td>Ж</td></tr>
<tr><td>Турусин</td><td>Антон</td><td>2М</td><td>М</td></tr>
<tr><td>Тыченко</td><td>Александр</td><td>2М</td><td>М</td></tr>
<tr><td>Умаев</td><td>Пётр</td><td>2М</td><td>М</td></tr>
<tr><td>Федюнина</td><td>Эльвира</td><td>2М</td><td>Ж</td></tr>
<tr><td>Фомичева</td><td>Варвара</td><td>2М</td><td>Ж</td></tr>
<tr><td>Хлавич</td><td>Тимофей</td><td>2М</td><td>М</td></tr>
<tr><td>Чернов</td><td>Захар</td><td>2М</td><td>М</td></tr>
<tr><td>Штукарин</td><td>Павел</td><td>2М</td><td>М</td></tr>
<tr><td>Юрчелло</td><td>Алексей</td><td>2М</td><td>М</td></tr>
<!-- end -->
{% endblock %}
