<!-- login required -->
<!-- -2 -->
{% extends "base.html" %}{% block content %}
<center><h1>2 класс</h1></center>

<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">ID</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            
                <tr>
                    <td>1858</td>
                    <td>111</td>
                    <td>222</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1</td>
                    <td>Астафьева</td>
                    <td>Ксения</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>4</td>
                    <td>Богинская</td>
                    <td>Татьяна</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2148</td>
                    <td>Буртасова</td>
                    <td>Анна</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2604</td>
                    <td>Воронковский</td>
                    <td>Андрей</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2024</td>
                    <td>Вычужанин</td>
                    <td>Михаил</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>7</td>
                    <td>Галимова</td>
                    <td>Вазиля</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1930</td>
                    <td>Горковский</td>
                    <td>Даниил</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1933</td>
                    <td>Гришечко</td>
                    <td>Богдан</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1940</td>
                    <td>Данилов</td>
                    <td>Алексей</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2528</td>
                    <td>Зуев</td>
                    <td>Фёдор</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>10</td>
                    <td>Ипатьева</td>
                    <td>Анастасия</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2516</td>
                    <td>Казак</td>
                    <td>Михаил</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2036</td>
                    <td>Карташова</td>
                    <td>Варвара</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2210</td>
                    <td>Климнюк</td>
                    <td>Александра</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>13</td>
                    <td>Кудрявцева</td>
                    <td>Майя</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2565</td>
                    <td>Лусникова</td>
                    <td>Алла</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2470</td>
                    <td>Макушин</td>
                    <td>Никита</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2380</td>
                    <td>Марченко</td>
                    <td>Дарья</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2488</td>
                    <td>Мачула</td>
                    <td>Василиса</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>16</td>
                    <td>Меркулов</td>
                    <td>Илья</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2084</td>
                    <td>Михеева</td>
                    <td>Дарья</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2001</td>
                    <td>Мурыгина</td>
                    <td>Вероника</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2506</td>
                    <td>Неговоров</td>
                    <td>Игорь</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2557</td>
                    <td>Нечепуренко</td>
                    <td>Ксения</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2323</td>
                    <td>Перевалова</td>
                    <td>Кира</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>19</td>
                    <td>Поповская</td>
                    <td>Виктория</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2178</td>
                    <td>Проничева</td>
                    <td>Дарья</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>20</td>
                    <td>Романов</td>
                    <td>Роман</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2009</td>
                    <td>Романюк</td>
                    <td>Ярослав</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2384</td>
                    <td>Русских</td>
                    <td>Ксения</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2428</td>
                    <td>Савельев</td>
                    <td>Виктор</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1882</td>
                    <td>Сеитов</td>
                    <td>Назар</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2337</td>
                    <td>Смоленков</td>
                    <td>Михаил</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2081</td>
                    <td>Солдатов</td>
                    <td>Михаил</td>
                    <td>2А</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2258</td>
                    <td>Тюкавкина</td>
                    <td>Елизавета</td>
                    <td>2А</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2593</td>
                    <td>Бурухин</td>
                    <td>Ярослав</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2590</td>
                    <td>Вагнер</td>
                    <td>Максим</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1922</td>
                    <td>Гаманович</td>
                    <td>Марк</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1931</td>
                    <td>Гутьеррес</td>
                    <td>Фицай</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2104</td>
                    <td>Ещенко</td>
                    <td>Потап</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1984</td>
                    <td>Жолобова</td>
                    <td>Анна</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2073</td>
                    <td>Качигин</td>
                    <td>Александр</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2495</td>
                    <td>Кондратенко</td>
                    <td>Алёна</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1927</td>
                    <td>Лихтин</td>
                    <td>Сергей</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2222</td>
                    <td>Лыкова</td>
                    <td>Юлия</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2008</td>
                    <td>Маслов</td>
                    <td>Павел</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2259</td>
                    <td>Морозова</td>
                    <td>Софья</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2490</td>
                    <td>Орлова</td>
                    <td>Софья</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1879</td>
                    <td>Пинаков</td>
                    <td>Дмитрий</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2016</td>
                    <td>Романова</td>
                    <td>Надежда</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1893</td>
                    <td>Рязанцева</td>
                    <td>Анна</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2563</td>
                    <td>Соломкин</td>
                    <td>Николай</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2561</td>
                    <td>Соломкина</td>
                    <td>Екатерина</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2538</td>
                    <td>Токарев</td>
                    <td>Егор</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2252</td>
                    <td>Туруханов</td>
                    <td>Леонид</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2072</td>
                    <td>Усманов</td>
                    <td>Игорь</td>
                    <td>2Б</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2493</td>
                    <td>Хмельницкая</td>
                    <td>Рада</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2028</td>
                    <td>Худойдодова</td>
                    <td>Камилла</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2332</td>
                    <td>Ширякова</td>
                    <td>Ксения</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2010</td>
                    <td>Ямщикова</td>
                    <td>Полина</td>
                    <td>2Б</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2157</td>
                    <td>Аксютина</td>
                    <td>Алина</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1905</td>
                    <td>Беспалов</td>
                    <td>Макар</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2580</td>
                    <td>Булыкина</td>
                    <td>Полина</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2114</td>
                    <td>Великжанин</td>
                    <td>Андрей</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2595</td>
                    <td>Вещев</td>
                    <td>Григорий</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2615</td>
                    <td>Гаврилов</td>
                    <td>Иван</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1942</td>
                    <td>Данго</td>
                    <td>Ксения</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2404</td>
                    <td>Кириллов</td>
                    <td>Макар</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2467</td>
                    <td>Корягин</td>
                    <td>Александр</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2436</td>
                    <td>Лукатин</td>
                    <td>Марк</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2026</td>
                    <td>Лыско</td>
                    <td>Дарья</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2463</td>
                    <td>Матонина</td>
                    <td>Агния</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2522</td>
                    <td>Мухлыгина</td>
                    <td>София</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2266</td>
                    <td>Пантелеева</td>
                    <td>Ариана</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2357</td>
                    <td>Потылицын</td>
                    <td>Никита</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1896</td>
                    <td>Рудых</td>
                    <td>Тимофей</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2347</td>
                    <td>Сонич</td>
                    <td>Артемий</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2065</td>
                    <td>Сташкова</td>
                    <td>Александра</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2130</td>
                    <td>Страхов</td>
                    <td>Григорий</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2139</td>
                    <td>Сурдо</td>
                    <td>Григорий</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2110</td>
                    <td>Тимошова</td>
                    <td>Ульяна</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">ID</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            
                <tr>
                    <td>1946</td>
                    <td>Шарымов</td>
                    <td>Семён</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2288</td>
                    <td>Шатных</td>
                    <td>Елизавета</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2014</td>
                    <td>Шматалюк</td>
                    <td>Александр</td>
                    <td>2В</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2381</td>
                    <td>Шорохова</td>
                    <td>Каролина</td>
                    <td>2В</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2509</td>
                    <td>Бабкин</td>
                    <td>Артём</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2533</td>
                    <td>Бабкина</td>
                    <td>Вероника</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2546</td>
                    <td>Белоусова</td>
                    <td>Ольга</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2579</td>
                    <td>Берёза</td>
                    <td>Анастасия</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2609</td>
                    <td>Влавацкий</td>
                    <td>Алексей</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1914</td>
                    <td>Герасимов</td>
                    <td>Иван</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1964</td>
                    <td>Дмитроченко</td>
                    <td>Дарьяна</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1992</td>
                    <td>Зверкович</td>
                    <td>Елизавета</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2532</td>
                    <td>Козлов</td>
                    <td>Святослав</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1895</td>
                    <td>Кошевой</td>
                    <td>Максим</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2030</td>
                    <td>Лукачев</td>
                    <td>Иван</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2172</td>
                    <td>Любицкая</td>
                    <td>Злата</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2328</td>
                    <td>Машкунов</td>
                    <td>Никита</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1908</td>
                    <td>Патрушев</td>
                    <td>Егор</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2111</td>
                    <td>Привалихина</td>
                    <td>Юлия</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2199</td>
                    <td>Пурик</td>
                    <td>Руслан</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2215</td>
                    <td>Рукомасов</td>
                    <td>Ярослав</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1883</td>
                    <td>Савенков</td>
                    <td>Максим</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2325</td>
                    <td>Скибин</td>
                    <td>Артём</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2562</td>
                    <td>Сочнев</td>
                    <td>Серафим</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2050</td>
                    <td>Толстиков</td>
                    <td>Роман</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1951</td>
                    <td>Халиповская</td>
                    <td>Полина</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2131</td>
                    <td>Хахалина</td>
                    <td>Софья</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2372</td>
                    <td>Шевченко</td>
                    <td>Илья</td>
                    <td>2Г</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1949</td>
                    <td>Якушева</td>
                    <td>Арина</td>
                    <td>2Г</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2183</td>
                    <td>Абрамова</td>
                    <td>Анастасия</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2124</td>
                    <td>Адрианов</td>
                    <td>Фёдор</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2393</td>
                    <td>Алексеева</td>
                    <td>Мила</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2303</td>
                    <td>Архентова</td>
                    <td>Алиса</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2597</td>
                    <td>Вершинина</td>
                    <td>Виктория</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2608</td>
                    <td>Волков</td>
                    <td>Арсений</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1917</td>
                    <td>Гордеева</td>
                    <td>Ариана</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1957</td>
                    <td>Дегтярева</td>
                    <td>Дарьяна</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2174</td>
                    <td>Ильин</td>
                    <td>Савелий</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2315</td>
                    <td>Колпакова</td>
                    <td>Василиса</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2487</td>
                    <td>Кондратьев</td>
                    <td>Алексей</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2170</td>
                    <td>Коноплев</td>
                    <td>Филипп</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2479</td>
                    <td>Короткова</td>
                    <td>Елена</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2283</td>
                    <td>Кутявина</td>
                    <td>Софья</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2108</td>
                    <td>Мартьянова</td>
                    <td>Александра</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2122</td>
                    <td>Меркулов</td>
                    <td>Алексей</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2349</td>
                    <td>Мещерякова</td>
                    <td>Таисия</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2405</td>
                    <td>Никитин</td>
                    <td>Константин</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2125</td>
                    <td>Пензякова</td>
                    <td>Алиса</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2439</td>
                    <td>Покацкий</td>
                    <td>Артём</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2419</td>
                    <td>Проконич</td>
                    <td>Мирослава</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2082</td>
                    <td>Соколова</td>
                    <td>Элина</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2523</td>
                    <td>Спиридонова</td>
                    <td>Маргарита</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2442</td>
                    <td>Стефановский</td>
                    <td>Яромир</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2345</td>
                    <td>Тарабанько</td>
                    <td>Надежда</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2416</td>
                    <td>Трешин</td>
                    <td>Михаил</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2043</td>
                    <td>Тяпкин</td>
                    <td>Тимофей</td>
                    <td>2Д</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2511</td>
                    <td>Чубакова</td>
                    <td>Мария</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2309</td>
                    <td>Яблонская</td>
                    <td>Анастасия</td>
                    <td>2Д</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2437</td>
                    <td>Абрамович</td>
                    <td>Лев</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2118</td>
                    <td>Авходиева</td>
                    <td>Алсу</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2154</td>
                    <td>Беспалова</td>
                    <td>Александра</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2578</td>
                    <td>Бородин</td>
                    <td>Тихон</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2600</td>
                    <td>Васильева</td>
                    <td>Юлия</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2605</td>
                    <td>Воробьев</td>
                    <td>Борис</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1926</td>
                    <td>Галимов</td>
                    <td>Антон</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1938</td>
                    <td>Гусаров</td>
                    <td>Никита</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1959</td>
                    <td>Дмитриев</td>
                    <td>Никита</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1968</td>
                    <td>Дорогавцев</td>
                    <td>Кирилл</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2079</td>
                    <td>Иванов</td>
                    <td>Константин</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2529</td>
                    <td>Карчмит</td>
                    <td>Лука</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1950</td>
                    <td>Клейман</td>
                    <td>Эдуард</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2447</td>
                    <td>Кондратьева</td>
                    <td>Арина</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2162</td>
                    <td>Курак</td>
                    <td>Никита</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2366</td>
                    <td>Маско</td>
                    <td>Кирилл</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2212</td>
                    <td>Молянов</td>
                    <td>Михаил</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2294</td>
                    <td>Орлова</td>
                    <td>Милана</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2240</td>
                    <td>Пидкарчемный</td>
                    <td>Елисей</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2420</td>
                    <td>Радьков</td>
                    <td>Владислав</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2451</td>
                    <td>Рычков</td>
                    <td>Александр</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2017</td>
                    <td>Савокина</td>
                    <td>Арина</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2260</td>
                    <td>Сафонова</td>
                    <td>Николь</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2472</td>
                    <td>Старовойтов</td>
                    <td>Пётр</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
        </table>
    </div>
    <div class="col t-3">
        <table width="100%" border="1">
            <tr>
                <td width="5%">ID</td>
                <td width="10%">Фамилия</td>
                <td width="10%">Имя</td>
                <td width="5%">Класс</td>
                <td width="5%">Пол</td>
            </tr>
            
                <tr>
                    <td>1955</td>
                    <td>Тарасова</td>
                    <td>Дарья</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2078</td>
                    <td>Токарев</td>
                    <td>Сергей</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2482</td>
                    <td>Фролов</td>
                    <td>Макар</td>
                    <td>2Е</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2425</td>
                    <td>Чудаева</td>
                    <td>Анастасия</td>
                    <td>2Е</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2296</td>
                    <td>Бурмистров</td>
                    <td>Артём</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2004</td>
                    <td>Васильева</td>
                    <td>Ульяна</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2616</td>
                    <td>Газенкамф</td>
                    <td>Лада</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1935</td>
                    <td>Гудзенко</td>
                    <td>Мария</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1966</td>
                    <td>Делеган</td>
                    <td>Анна</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2158</td>
                    <td>Иванов</td>
                    <td>Олег</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2150</td>
                    <td>Кокина</td>
                    <td>Анастасия</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2270</td>
                    <td>Куницкий</td>
                    <td>Илья</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2044</td>
                    <td>Лебедев</td>
                    <td>Дмитрий</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2015</td>
                    <td>Максимова</td>
                    <td>Алина</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2521</td>
                    <td>Мерецкий</td>
                    <td>Матвей</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2464</td>
                    <td>Никифорова</td>
                    <td>Алёна</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2032</td>
                    <td>Овсянкина</td>
                    <td>Мария</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1999</td>
                    <td>Петрушков</td>
                    <td>Артём</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2052</td>
                    <td>Присухина</td>
                    <td>Ксения</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2102</td>
                    <td>Рыбалко</td>
                    <td>Мария</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2481</td>
                    <td>Савостьянова</td>
                    <td>Анастасия</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2440</td>
                    <td>Стегайло</td>
                    <td>Дарья</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2167</td>
                    <td>Стегайло</td>
                    <td>Мария</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2203</td>
                    <td>Тарасевич</td>
                    <td>Елизавета</td>
                    <td>2Ж</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2501</td>
                    <td>Федоров</td>
                    <td>Никита</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2194</td>
                    <td>Хуторской</td>
                    <td>Марк</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2061</td>
                    <td>Чаплин</td>
                    <td>Савелий</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2502</td>
                    <td>Юдин</td>
                    <td>Матвей</td>
                    <td>2Ж</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2370</td>
                    <td>Бетонов</td>
                    <td>Максим</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1932</td>
                    <td>Гуленок</td>
                    <td>Константин</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2247</td>
                    <td>Долгов</td>
                    <td>Александр</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1973</td>
                    <td>Ермолаев</td>
                    <td>Иван</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2003</td>
                    <td>Зиборева</td>
                    <td>Дарья</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1991</td>
                    <td>Зюряева</td>
                    <td>Полина</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2302</td>
                    <td>Изосимова</td>
                    <td>Аксинья</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2049</td>
                    <td>Калинихин</td>
                    <td>Михаил</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2355</td>
                    <td>Кассал</td>
                    <td>Арсений</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2234</td>
                    <td>Коков</td>
                    <td>Захар</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2327</td>
                    <td>Крыжановская</td>
                    <td>Виктория</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2462</td>
                    <td>Лалетина</td>
                    <td>Ксения</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2192</td>
                    <td>Мешечкин</td>
                    <td>Алексей</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2365</td>
                    <td>Нахатакян</td>
                    <td>Саят</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2051</td>
                    <td>Новашев</td>
                    <td>Дмитрий</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2226</td>
                    <td>Петушкова</td>
                    <td>Диана</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2193</td>
                    <td>Петько</td>
                    <td>Ярослав</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2284</td>
                    <td>Покусаев</td>
                    <td>Александр</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1904</td>
                    <td>Розина</td>
                    <td>Вероника</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2268</td>
                    <td>Садовская</td>
                    <td>София</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2209</td>
                    <td>Седых</td>
                    <td>Вера</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2151</td>
                    <td>Смекалина</td>
                    <td>Милана</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2244</td>
                    <td>Тархов</td>
                    <td>Михаил</td>
                    <td>2З</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2505</td>
                    <td>Трушкова</td>
                    <td>Ирина</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2185</td>
                    <td>Черненко</td>
                    <td>Маргарита</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2585</td>
                    <td>Шевченко</td>
                    <td>Маргарита</td>
                    <td>2З</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2550</td>
                    <td>Бахлов</td>
                    <td>Александр</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2610</td>
                    <td>Волкова</td>
                    <td>Таисия</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2145</td>
                    <td>Галеева</td>
                    <td>Аделина</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1924</td>
                    <td>Гаун</td>
                    <td>Юрий</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1921</td>
                    <td>Голубева</td>
                    <td>Виктория</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1934</td>
                    <td>Гудкова</td>
                    <td>Яна</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1937</td>
                    <td>Данилова</td>
                    <td>Варвара</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>1961</td>
                    <td>Довжанская</td>
                    <td>Диана</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2524</td>
                    <td>Калугина</td>
                    <td>Софья</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2029</td>
                    <td>Камоцкая</td>
                    <td>Марина</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2418</td>
                    <td>Лопатько</td>
                    <td>Мария</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2267</td>
                    <td>Масляков</td>
                    <td>Максим</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2168</td>
                    <td>Мурадян</td>
                    <td>Арина</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2088</td>
                    <td>Рыжова</td>
                    <td>Евгения</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2195</td>
                    <td>Садовская</td>
                    <td>София</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2356</td>
                    <td>Субботина</td>
                    <td>Полина</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2188</td>
                    <td>Сушинский</td>
                    <td>Максим</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2395</td>
                    <td>Тишкова</td>
                    <td>София</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2500</td>
                    <td>Турусин</td>
                    <td>Антон</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>1890</td>
                    <td>Тыченко</td>
                    <td>Александр</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2354</td>
                    <td>Умаев</td>
                    <td>Пётр</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2040</td>
                    <td>Федюнина</td>
                    <td>Эльвира</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2242</td>
                    <td>Фомичева</td>
                    <td>Варвара</td>
                    <td>2М</td>
                    <td>Ж</td>
                </tr>
            
                <tr>
                    <td>2000</td>
                    <td>Хлавич</td>
                    <td>Тимофей</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2005</td>
                    <td>Чернов</td>
                    <td>Захар</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2471</td>
                    <td>Штукарин</td>
                    <td>Павел</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
                <tr>
                    <td>2293</td>
                    <td>Юрчелло</td>
                    <td>Алексей</td>
                    <td>2М</td>
                    <td>М</td>
                </tr>
            
        </table>
    </div>
</div>
{% endblock %}
