<!-- login required -->
<!-- -2 -->
{% extends "base.html" %}

{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col t-3">
		<h1>Добавить ИТИ</h1>
		<form action="add_year" method="post">
			<p>Год: <input type="text" name="name"></p>
			{% if error1 %} <p class="error-msg">[ {{ error1 }} ]</p>
			{% endif %}
			<input type="submit" value="Добавить">
		</form>
		<br>
		<h1>Удалить ИТИ</h1>
		<form action="delete_year" method="post">
			<p>Год: <input type="text" name="year"></p>
			{% if error6 %} <p class="error-msg">[ {{ error6 }} ]</p>
			{% endif %}
			<input type="submit" value="Удалить">
		</form>
		<br>
		<h1>Загрузить данные</h1>
		<form action="load_data_from_excel" method="post" enctype=multipart/form-data>
			<p>Год: <input type="text" name="year"></p>
			<p>Таблица: <input type="file" name="file"></p>
			<p><input type="radio" name="type" value="1" checked>Всё</p>
			<p><input type="radio" name="type" value="2">Список школьников</p>
			{% if error5 %} <p class="error-msg">[ {{ error5 }} ]</p>
			{% endif %}
			<input type="submit" value="Загрузить">
		</form>
		<br>
		<form action="load_data_from_excel" method="get">
			<input type="submit" value="Обновить">
		</form>
	</div>
	<div class="col t-3">
		<h1>Добавить предмет</h1>
		<form action="add_subject" method="post">
			<p>Название: <input type="text" name="name"></p>
			<p>Короткое название: <input type="text" name="short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="type"></p>
			<p>Текст диплома: <textarea type="text" id="diploma" name="diploma" class="slim" oninput="textInput(document, 'diploma')"></textarea></p>
			<p>Текст новости: <textarea type="text" id="msg" name="msg" class="slim" oninput="textInput(document, 'msg')"></textarea></p>
			<script>textInput(document, 'diploma'); textInput(document, 'msg');</script>
			{% if error2 %} <p class="error-msg">[ {{ error2 }} ]</p>
			{% endif %}
			<input type="submit" value="Добавить">
		</form>
		<h1>Редактировать предмет</h1>
		<form action="edit_subject" method="post">
			<p>Номер: <input type="text" name="id"></p>
			<p>Название: <input type="text" name="new_name"></p>
			<p>Короткое название: <input type="text" name="new_short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="new_type"></p>
			<p>Текст диплома: <textarea type="text" id="new_diploma" name="new_diploma" class="slim" oninput="textInput(document, 'new_diploma')"></textarea></p>
			<p>Текст новости: <textarea type="text" id="new_msg" name="new_msg" class="slim" oninput="textInput(document, 'new_msg')"></textarea></p>
			<script>textInput(document, 'new_diploma');textInput(document, 'new_msg');</script>
			Если оставить поле пустым, то данные не изменятся.
			{% if error3 %} <p class="error-msg">[ {{ error3 }} ]</p>
			{% endif %}
			<input type="submit" value="Сохранить">
		</form>
		<h1>Удалить предмет</h1>
		<form action="delete_subject" method="post">
			<p>Номер: <input type="text" name="id"></p>
			{% if error4 %} <p class="error-msg">[ {{ error4 }} ]</p>
			{% endif %}
			<input type="submit" value="Удалить">
		</form>
	</div>
	<div class="col t-3">
		<h1>Список предметов</h1>
		<h2>Индивидуальные</h2>
		<!-- list of individual tours (2) -->
            <p>[ 2 ] История (Ист.) — в индивидуальном туре<br>по истории — по истории</p>
            <p>[ 3 ] Английский язык (Анг.) — в индивидуальном туре<br>по английскому языку — по английскому языку</p>
            <p>[ 4 ] Русский язык (Рус.) — в индивидуальном туре<br>по русскому языку — по русскому языку</p>
            <p>[ 5 ] Информатика (Инф.) — в индивидуальном туре<br>по информатике — по информатике</p>
            <p>[ 6 ] ИЦН (ИЦН) — в индивидуальном туре<br>по ИЦН — по ИЦН</p>
            <p>[ 7 ] Математика (Мат.) — в индивидуальном туре<br>по математике — по математике</p>
            <p>[ 8 ] Обществознание (Общ.) — в индивидуальном туре<br>по обществознанию — по обществознанию</p>
            <p>[ 9 ] Естествознание (Ест.) — в индивидуальном туре<br>по естествознанию — по естествознанию</p>
            <p>[ 10 ] Литература (Лит.) — в индивидуальном туре<br>по литературе — по литературе</p>
            <p>[ 11 ] Искусство (Иск.) — в индивидуальном туре<br>по искусству — по искусству</p>
            <p>[ 20 ] Окружающий мир (Окр. мир) — в индивидуальном туре<br>по окружающему миру — по окружающему миру</p>
            <p>[ 21 ] Искусство 5-6 (Иск.) — в индивидуальном туре<br>по искусству — по искусству среди 5-6 классов</p>
            <p>[ 22 ] Искусство 7-9 (Иск.) — в индивидуальном туре<br>по искусству — по искусству среди 7-9 классов</p>
        <!-- end -->
		<h2>Групповые</h2>
		<!-- list of group tours (2) -->
            <p>[ 12 ] Карусель (Карус.) — в карусели — карусели</p>
            <p>[ 13 ] Естественно-научные бои (Е-н. бои) — в естественно-научных боях — ествественно-научных боёв</p>
            <p>[ 14 ] Коммуникативные бои (Ком. бои) — в коммуникативных боях — коммуникативных боёв</p>
            <p>[ 15 ]  Литература (Пар. лит.) — в групповом туре<br>по литературе — по литературе (групповой тур)</p>
            <p>[ 16 ]  Английский язык (Пар. анг.) — в групповом туре<br>по английскому языку — по английскому языку (групповой тур)</p>
            <p>[ 17 ] Театр (Театр) — в театре — театра</p>
            <p>[ 18 ] Конструкторская задача (Констр.) — в конструкторской задаче — конструкторской задачи</p>
            <p>[ 19 ]  Информатика (Пар. инф.) — в групповом туре<br>по информатике — по информатике (групповой тур)</p>
            <p>[ 23 ] Настольные игры (Наст.) — в настольных играх — настольных игр</p>
            <p>[ 24 ] Бонус (Бонус) — бонусном туре — выставления бонусных баллов за публичную защиту</p>
            <p>[ 25 ] «Зри в корень» («Зри...») — в групповом туре<br>«Зри в корень» — игры «Зри в корень»</p>
        <!-- end -->
		<h2>Другие</h2>
		<!-- list of another tours (2) -->
            <p>[ 1 ] Командный тур (Команд.) — в командном туре — командного тура</p>
        <!-- end -->
	</div>
</div>

{% endblock %}
