<!-- login required -->
<!-- -2 -->
{% extends "page1.html" %}

{% block header %}
<a href="/">ИТИ</a>
/
Предметы и ИТИ
{% endblock %}

{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col t-3">
		<h1>Добавить ИТИ</h1>
		<form action="add_year" method="post">
			<p>Год: <input type="text" name="name"></p>
			{% if error1 %} <p><font color="red">[ {{ error1 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Добавить">
		</form>
		<br>
		<h1>Удалить ИТИ</h1>
		<form action="delete_year" method="post">
			<p>Год: <input type="text" name="year"></p>
			{% if error6 %} <p><font color="red">[ {{ error6 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Удалить">
		</form>
		<br>
		<h1>Загрузить данные</h1>
		<form action="load_data_from_excel" method="post" enctype=multipart/form-data>
			<p>Год: <input type="text" name="year"></p>
			<p>Таблица: <input type="file" name="file"></p>
			<p><input type="radio" name="type" value="1" checked>Всё</p>
			<p><input type="radio" name="type" value="2">Список школьников</p>
			{% if error5 %} <p><font color="red">[ {{ error5 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Загрузить">
		</form>
		<br>
		<form action="load_data_from_excel" method="get">
			<input type="submit" value="Обновить">
		</form>
	</div>
	<div class="col t-3">
		<h1>Добавить предмет</h1>
		<form action="add_subject" method="post">
			<p>Название: <input type="text" name="name"></p>
			<p>Короткое название: <input type="text" name="short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="type"></p>
			{% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Добавить">
		</form>
		<h1>Редактировать предмет</h1>
		<form action="edit_subject" method="post">
			<p>Номер: <input type="text" name="id"></p>
			<p>Название: <input type="text" name="new_name"></p>
			<p>Короткое название: <input type="text" name="new_short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="new_type"></p>
			{% if error3 %} <p><font color="red">[ {{ error3 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Сохранить">
		</form>
		<h1>Удалить предмет</h1>
		<form action="delete_subject" method="post">
			<p>Номер: <input type="text" name="id"></p>
			{% if error4 %} <p><font color="red">[ {{ error4 }} ]</font></p>
			{% endif %}
			<input type="submit" value="Удалить">
		</form>
	</div>
	<div class="col t-3">
		<h1>Список предметов</h1>
		<h2>Индивидуальные</h2>
		<!-- list of individual tours (2) -->
            <p>[ 2 ] История (Ист.)</p>
            <p>[ 3 ] Английский язык (Анг.)</p>
            <p>[ 4 ] Русский язык (Рус.)</p>
            <p>[ 5 ] Информатика (Инф.)</p>
            <p>[ 6 ] ИЦН (ИЦН)</p>
            <p>[ 7 ] Математика (Мат.)</p>
            <p>[ 8 ] Обществознание (Общ.)</p>
            <p>[ 9 ] Естествознание (Ест.)</p>
            <p>[ 10 ] Литература (Лит.)</p>
            <p>[ 11 ] Искусство (Иск.)</p>
        <!-- end -->
		<h2>Групповые</h2>
		<!-- list of group tours (2) -->
            <p>[ 12 ] Карусель (Карус.)</p>
            <p>[ 13 ] Естественно-научные бои (Е-н. бои)</p>
            <p>[ 14 ] Коммуникативные бои (Ком. бои)</p>
            <p>[ 15 ]  Литература (Пар. лит.)</p>
            <p>[ 16 ]  Английский язык (Пар. анг.)</p>
            <p>[ 17 ] Театр (Театр)</p>
            <p>[ 18 ] Изобретательство (Изобр.)</p>
        <!-- end -->
		<h2>Другие</h2>
		<!-- list of another tours (2) -->
            <p>[ 1 ] Командный тур (Команд.)</p>
        <!-- end -->
	</div>
</div>

{% endblock %}
