<!-- login required -->
<!-- -2 -->

<h2>Роли:</h2>
<table width="100%">
    <tr>
        <td width="50%" valign="top">
            <h3>Индивидуальные туры:</h3>
               
                <p><input type="checkbox" name="status" value="2">История</p>
              
                <p><input type="checkbox" name="status" value="3">Английский язык</p>
              
                <p><input type="checkbox" name="status" value="4">Русский язык</p>
              
                <p><input type="checkbox" name="status" value="5">Информатика</p>
              
                <p><input type="checkbox" name="status" value="6">ИЦН</p>
              
                <p><input type="checkbox" name="status" value="7">Математика</p>
              
                <p><input type="checkbox" name="status" value="8">Обществознание</p>
              
                <p><input type="checkbox" name="status" value="9">Естествознание</p>
              
                <p><input type="checkbox" name="status" value="10">Литература</p>
              
                <p><input type="checkbox" name="status" value="11">Искусство</p>
                              
                <p><input type="checkbox" name="status" value="20">Окружающий мир</p>
              
                <p><input type="checkbox" name="status" value="21">Искусство 5-6</p>
              
                <p><input type="checkbox" name="status" value="22">Искусство 7-9</p>
                        
                <p><input type="checkbox" name="status" value="29">Технология 7-8</p>
              
                <p><input type="checkbox" name="status" value="30">Финансовая грамотность</p>
              
                <p><input type="checkbox" name="status" value="31">Технология 5-6</p>
              
                <p><input type="checkbox" name="status" value="32">Литературное чтение</p>
                   
        </td>
        <td width="50%" valign="top">
            <h3>Групповые туры:</h3>
                                   
                <p><input type="checkbox" name="status" value="12">Карусель</p>
              
                <p><input type="checkbox" name="status" value="13">Естественно-научные бои</p>
              
                <p><input type="checkbox" name="status" value="14">Коммуникативные бои</p>
              
                <p><input type="checkbox" name="status" value="15"> Литература</p>
              
                <p><input type="checkbox" name="status" value="16"> Английский язык</p>
              
                <p><input type="checkbox" name="status" value="17">Театр</p>
              
                <p><input type="checkbox" name="status" value="18">Изобретательство</p>
              
                <p><input type="checkbox" name="status" value="19"> Информатика</p>
                    
                <p><input type="checkbox" name="status" value="23">Настольные игры</p>
                
                <p><input type="checkbox" name="status" value="25">«Зри в корень»</p>
                          
                <p><input type="checkbox" name="status" value="33">«Мастер Шеф»</p>
              
                <p><input type="checkbox" name="status" value="34">Конструкторская задача</p>
              
                <p><input type="checkbox" name="status" value="35">Проектная задача</p>
             
            <h3>Другое:</h3>
             
                <p><input type="checkbox" name="status" value="1">Командный тур</p>
                                                          
                <p><input type="checkbox" name="status" value="24">Бонус</p>
                
                <p><input type="checkbox" name="status" value="26">Групповой тур</p>
              
                <p><input type="checkbox" name="status" value="27">Учёт индивидуальных результатов</p>
                           
            <p><input type="checkbox" name="status" value="-1">Администратор</p>
            <p><input type="checkbox" name="status" value="-3">Сканер штрих-кодов</p>
        </td>
    </tr>
</table>
<p>Если пользователь является администратором, то у него есть права для всех остальных туров.</p>