<!-- login required -->
<!-- -2 -->
{% extends "base.html" %}{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<h1>Добавить предмет</h1>
		<form onsubmit="subject_add(this); return false;">
			<p>Название: <input type="text" name="name"></p>
			<p>Короткое название: <input type="text" name="short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="type"></p>
			<p>Текст диплома: <textarea type="text" id="diploma" name="diploma" class="slim" oninput="textInput(document, 'diploma')"></textarea></p>
			<p>Текст новости: <textarea type="text" id="msg" name="msg" class="slim" oninput="textInput(document, 'msg')"></textarea></p>
			<script>textInput(document, 'diploma'); textInput(document, 'msg');</script>
			<input type="submit" value="Добавить">
		</form>
		<h1>Редактировать предмет</h1>
		<form onsubmit="subject_edit(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<p>Название: <input type="text" name="name"></p>
			<p>Короткое название: <input type="text" name="short_name"></p>
			<p>Тип (i / g / a): <input type="text" name="type"></p>
			<p>Текст диплома: <textarea type="text" id="new_diploma" name="diploma" class="slim" oninput="textInput(document, 'new_diploma')"></textarea></p>
			<p>Текст новости: <textarea type="text" id="new_msg" name="msg" class="slim" oninput="textInput(document, 'new_msg')"></textarea></p>
			<script>textInput(document, 'new_diploma');textInput(document, 'new_msg');</script>
			Если оставить поле пустым, то данные не изменятся.
			<input type="submit" value="Сохранить">
		</form>
		<h1>Удалить предмет</h1>
		<form onsubmit="subject_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
	</div>
	<div class="w-100"></div>
	<div class="col-sm-12 col-md-10 col-lg-6">
		<h1>Список предметов</h1>
		<table width="100%" border="1">
			<tr>
				<td width="5%">Тип</td>
				<td width="5%">ID</td>
				<td width="15%">Название</td>
				<td width="10%">Короткое название</td>
				<td width="15%">Текст диплома</td>
				<td width="15%">Текст новости</td>
			</tr>
			
				<tr>
					<td>i</td>
					<td>2</td>
					<td>История</td>
					<td>Ист.</td>
					<td>в индивидуальном туре<br>по истории</td>
					<td>по истории</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>3</td>
					<td>Английский язык</td>
					<td>Анг.</td>
					<td>в индивидуальном туре<br>по английскому языку</td>
					<td>по английскому языку</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>4</td>
					<td>Русский язык</td>
					<td>Рус.</td>
					<td>в индивидуальном туре<br>по русскому языку</td>
					<td>по русскому языку</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>5</td>
					<td>Информатика</td>
					<td>Инф.</td>
					<td>в индивидуальном туре<br>по информатике</td>
					<td>по информатике</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>6</td>
					<td>ИЦН</td>
					<td>ИЦН</td>
					<td>в индивидуальном туре<br>по ИЦН</td>
					<td>по ИЦН</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>7</td>
					<td>Математика</td>
					<td>Мат.</td>
					<td>в индивидуальном туре<br>по математике</td>
					<td>по математике</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>8</td>
					<td>Обществознание</td>
					<td>Общ.</td>
					<td>в индивидуальном туре<br>по обществознанию</td>
					<td>по обществознанию</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>9</td>
					<td>Естествознание</td>
					<td>Ест.</td>
					<td>в индивидуальном туре<br>по естествознанию</td>
					<td>по естествознанию</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>10</td>
					<td>Литература</td>
					<td>Лит.</td>
					<td>в индивидуальном туре<br>по литературе</td>
					<td>по литературе</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>11</td>
					<td>Искусство</td>
					<td>Иск.</td>
					<td>в индивидуальном туре<br>по искусству</td>
					<td>по искусству</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>20</td>
					<td>Окружающий мир</td>
					<td>Окр. мир</td>
					<td>в индивидуальном туре<br>по окружающему миру</td>
					<td>по окружающему миру</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>21</td>
					<td>Искусство 5-6</td>
					<td>Иск.</td>
					<td>в индивидуальном туре<br>по искусству</td>
					<td>по искусству среди 5-6 классов</td>
				</tr>
			
				<tr>
					<td>i</td>
					<td>22</td>
					<td>Искусство 7-9</td>
					<td>Иск.</td>
					<td>в индивидуальном туре<br>по искусству</td>
					<td>по искусству среди 7-9 классов</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>12</td>
					<td>Карусель</td>
					<td>Карус.</td>
					<td>в карусели</td>
					<td>карусели</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>13</td>
					<td>Естественно-научные бои</td>
					<td>Е&#8209;н. бои</td>
					<td>в естественно-научных боях</td>
					<td>ествественно-научных боёв</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>14</td>
					<td>Коммуникативные бои</td>
					<td>Ком. бои</td>
					<td>в коммуникативных боях</td>
					<td>коммуникативных боёв</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>15</td>
					<td> Литература</td>
					<td>Пар. лит.</td>
					<td>в групповом туре<br>по литературе</td>
					<td>по литературе (групповой тур)</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>16</td>
					<td> Английский язык</td>
					<td>Пар. анг.</td>
					<td>в групповом туре<br>по английскому языку</td>
					<td>по английскому языку (групповой тур)</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>17</td>
					<td>Театр</td>
					<td>Театр</td>
					<td>в театре</td>
					<td>театра</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>18</td>
					<td>Конструкторская задача</td>
					<td>Констр.</td>
					<td>в конструкторской задаче</td>
					<td>конструкторской задачи</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>19</td>
					<td> Информатика</td>
					<td>Пар. инф.</td>
					<td>в групповом туре<br>по информатике</td>
					<td>по информатике (групповой тур)</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>23</td>
					<td>Настольные игры</td>
					<td>Наст.</td>
					<td>в настольных играх</td>
					<td>настольных игр</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>24</td>
					<td>Бонус</td>
					<td>Бонус</td>
					<td>бонусном туре</td>
					<td>выставления бонусных баллов за публичную защиту</td>
				</tr>
			
				<tr>
					<td>g</td>
					<td>25</td>
					<td>«Зри в корень»</td>
					<td>«Зри...»</td>
					<td>в групповом туре<br>«Зри в корень»</td>
					<td>игры «Зри в корень»</td>
				</tr>
			
				<tr>
					<td>a</td>
					<td>1</td>
					<td>Командный тур</td>
					<td>Команд.</td>
					<td>в командном туре</td>
					<td>командного тура</td>
				</tr>
			
		</table>
	</div>
</div>
{% endblock %}
