<!-- login required -->
<!-- -2 -->

<h2>Роли:</h2>
<table width="100%">
    <tr>
        <td width="50%" valign="top">
            <h3>Индивидуальные туры:</h3>
            <!-- list of individual tours (1) -->
                <p><input type="checkbox" name="status" value="1">1</p>
            <!-- end -->
        </td>
        <td width="50%" valign="top">
            <h3>Групповые туры:</h3>
            <!-- list of group tours (1) -->
            <!-- end -->
            <h3>Другое:</h3>
            <!-- list of another tours (1) -->
            <!-- end -->
            <p><input type="checkbox" name="status" value="-1">Администратор</p>
            <p><input type="checkbox" name="status" value="-3">Сканер штрих-кодов</p>
        </td>
    </tr>
</table>
<p>Если пользователь является администратором, то у него есть права для всех остальных туров.</p>
