{% extends "base.html" %}{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col table-col-450px">
		<h1>Новый пользователь</h1>
		<form onsubmit="user_add(this); return false;">
			<p>Логин: <input type="text" name="login"></p>
			<p>Пароль: <input type="text" name="password"></p>
			<p>Подтверждение пароля: <input type="text" name="password2"></p>
			{% include "subjects.html" %}
			<input type="submit" value="Создать">
		</form>
	</div>
	<div class="col table-col-450px">
		<h1>Изменить роль</h1>
		<form onsubmit="user_edit_status(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			{% include "subjects.html" %}
			<input type="submit" value="Изменить">
		</form>
	</div>
	<div class="col table-col-450px">
		<h1>Удалить пользователя</h1>
		<form onsubmit="user_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
		<br>
		<table border="1">
			<thead><tr>
				<th width="5%">ID</th>
				<th width="10%">Логин</th>
				<th width="10%">Статус</th>
			</tr></thead>
			
			<tr>
				<td>2</td>
				<td>Savokina</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>3</td>
				<td>Prokhodskii</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>4</td>
				<td>Martynova</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>5</td>
				<td>Grachev</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>6</td>
				<td>Scaner-1</td>
				<td>scaner</td>
			</tr>
			
			<tr>
				<td>7</td>
				<td>matem</td>
				<td>Мат.</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>english</td>
				<td>Анг.</td>
			</tr>
			
			<tr>
				<td>9</td>
				<td>iso</td>
				<td>Иск.; Иск.</td>
			</tr>
			
			<tr>
				<td>10</td>
				<td>tehnolog</td>
				<td>Тех.; Тех.</td>
			</tr>
			
			<tr>
				<td>11</td>
				<td>istor</td>
				<td>Общ.</td>
			</tr>
			
			<tr>
				<td>12</td>
				<td>slovo</td>
				<td>Лит.; Рус.</td>
			</tr>
			
			<tr>
				<td>13</td>
				<td>est</td>
				<td>Ест.</td>
			</tr>
			
			<tr>
				<td>14</td>
				<td>info</td>
				<td>Инф.</td>
			</tr>
			
			<tr>
				<td>15</td>
				<td>fingr</td>
				<td>Фин.</td>
			</tr>
			
			<tr>
				<td>16</td>
				<td>itsn</td>
				<td>ИЦН</td>
			</tr>
			
		</table>
	</div>
</div>
{% endblock %}
