{% extends "base.html" %}{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col t-3">
		<h1>Новый пользователь</h1>
		<form onsubmit="user_add(this); return false;">
			<p>Логин: <input type="text" name="login"></p>
			<p>Пароль: <input type="text" name="password"></p>
			<p>Подтверждение пароля: <input type="text" name="password2"></p>
			{% include "subjects.html" %}
			<input type="submit" value="Создать">
		</form>
	</div>
	<div class="col t-3">
		<h1>Изменить роль</h1>
		<form onsubmit="user_edit_status(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			{% include "subjects.html" %}
			<input type="submit" value="Изменить">
		</form>
	</div>
	<div class="col t-3">
		<h1>Удалить пользователя</h1>
		<form onsubmit="user_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
		<br>
		<table border="1">
			<thead><tr>
				<th width="5%">ID</th>
				<th width="10%">Логин</th>
				<th width="10%">Статус</th>
			</tr></thead>
			
			<tr>
				<td>2</td>
				<td>Савокина</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>3</td>
				<td>Проходский</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>4</td>
				<td>НШ</td>
				<td>admin</td>
			</tr>
			
			<tr>
				<td>5</td>
				<td>Грачёв</td>
				<td>admin</td>
			</tr>
			
		</table>
	</div>
</div>
{% endblock %}
