<!-- login required -->
<!-- -1 -->
{% extends "page1.html" %}
{% block content %}

<table width="99%">
	<tr>
		<td width="33%" valign="top">
			<h1>Новый пользователь</h1>
			<form action="registration" method="post">
				{% if login1 %} <p>Логин: <input type="text" name="login" value="{{login1}}"></p>
				{% else %} <p>Логин: <input type="text" name="login"></p>
				{% endif %}
				<p>Пароль: <input type="text" name="password"></p>
				<p>Подтверждение пароля: <input type="text" name="password2"></p>
				{% include "subjects.html" %}
				{% if error1 %} <p><font color="red">[ {{ error1 }} ]</font></p>
				{% endif %}
				<input type="submit" value="Создать">
			</form>
		</td>
		<td width="33%" valign="top">
			<h1>Изменить роль</h1>
			<form action="edit_status" method="post">
				{% if login2 %} <p>Логин: <input type="text" name="login" value="{{login2}}"></p>
				{% else %} <p>Логин: <input type="text" name="login"></p>
				{% endif %}
				{% include "subjects.html" %}
				{% if error2 %} <p><font color="red">[ {{ error2 }} ]</font></p>
				{% endif %}
				<input type="submit" value="Изменить">
			</form>
		</td>
		<td width="33%" valign="top">
			<h1>Удалить пользователя</h1>
			<form action="delete" method="post">
				{% if login3 %} <p>Логин: <input type="text" name="login" value="{{login3}}"></p>
				{% else %} <p>Логин: <input type="text" name="login"></p>
				{% endif %}
				{% if error3 %} <p><font color="red">[ {{ error3 }} ]</font></p>
				{% endif %}
				<input type="submit" value="Удалить">
			</form>
		</td>
	</tr>
</table>

{% endblock %}
