<!-- login required -->
<!-- -2 -->
{% extends "base.html" %}{% block content %}
<div class="row col-12 justify-content-center">
	<div class="col-sm-6 col-md-6 col-lg-4">
		<h1>Добавить ИТИ</h1>
		<form onsubmit="iti_add(this); return false">
			<p>Название в списке ИТИ: <input type="text" name="name_in_list"></p>
			<p>Название на страницах: <input type="text" name="name_on_page"></p>
			<p>Участвующие классы: <input type="text" name="classes"></p>
			<p>Количество индивидуальных дней: <input type="text" name="ind_days"></p>
			<p>Максимальный балл за индивидуальный тур: <input type="text" name="default_ind_score"></p>
			<p>Формула вычисления балла в рейтинг за индивидуальный тур: <input type="text" name="net_score_formula"></p>
			<p>Количество индивидуальных предметов из одного дня в рейтинг: <input type="text" name="sum_ind_to_rating"></p>
			<p>Обязательно ли есть все призовые места: <input type="text" name="ind_prize_policy"></p>
			<p>Алгоритм распределения на команды: <input type="text" name="automatic_division"></p>
			<p>Названия автоматических команд: <input type="text" name="auto_teams"></p>
			<p>Суммировать индивидуальные предметы в рейтинг команд: <input type="text" name="sum_ind_to_team"></p>
			<p>Суммировать групповые предметы в рейтинг суперчемпиона: <input type="text" name="sum_gr_to_super"></p>
			<p>Школьников с одной параллели в команде: <input type="text" name="students_in_team"></p>
			<p>Тип кодировки: <input type="text" name="encoding_type"></p>
			<p>Описание, только для просмотра администраторами:</p>
			<p><textarea type="text" id="description_1" name="description" class="slim" oninput="textInput(document, 'description_1')"></textarea></p>
			<script>textInput(document, 'description_1');</script>
			<input type="submit" value="Добавить">
		</form>
		<br>
		<h1>Редактировать ИТИ</h1>
		<form onsubmit="iti_edit(this); return false">
			<p>ID: <input type="text" name="id"></p>
			<p>Название в списке ИТИ: <input type="text" name="name_in_list"></p>
			<p>Название на страницах: <input type="text" name="name_on_page"></p>
			<p>Участвующие классы: <input type="text" name="classes"></p>
			<p>Количество индивидуальных дней: <input type="text" name="ind_days"></p>
			<p>Максимальный балл за индивидуальный тур: <input type="text" name="default_ind_score"></p>
			<p>Формула вычисления балла в рейтинг за индивидуальный тур: <input type="text" name="net_score_formula"></p>
			<p>Количество индивидуальных предметов из одного дня в рейтинг: <input type="text" name="sum_ind_to_rating"></p>
			<p>Обязательно ли есть все призовые места: <input type="text" name="ind_prize_policy"></p>
			<p>Алгоритм распределения на команды: <input type="text" name="automatic_division"></p>
			<p>Названия автоматических команд: <input type="text" name="auto_teams"></p>
			<p>Суммировать индивидуальные предметы в рейтинг команд: <input type="text" name="sum_ind_to_team"></p>
			<p>Суммировать групповые предметы в рейтинг суперчемпиона: <input type="text" name="sum_gr_to_super"></p>
			<p>Школьников с одной параллели в команде: <input type="text" name="students_in_team"></p>
			<p>Тип кодировки: <input type="text" name="encoding_type"></p>
			<p>Описание, только для просмотра администраторами:</p>
			<p><textarea type="text" id="description_2" name="description" class="slim" oninput="textInput(document, 'description_2')"></textarea></p>
			<script>textInput(document, 'description_2');</script>
			<input type="submit" value="Сохранить">
		</form>
		<br>
		<h1>Удалить ИТИ</h1>
		<form onsubmit="iti_delete(this); return false;">
			<p>ID: <input type="text" name="id"></p>
			<input type="submit" value="Удалить">
		</form>
	</div>
	<div class="w-100"></div>
	<div class="col-12"><center>
		<h1>Список ИТИ</h1>
		<table width="100%" style="table-layout:fixed;">
			<thead><tr>
				<th width="5%">ID</th>
				<th width="5%">Название в списке</th>
				<th width="5%">Название на страницах</th>
				<th width="5%">Участвующие классы</th>
				<th width="5%">Кол-во инд. дней</th>
				<th width="5%">Макс. балл за инд. тур</th>
				<th width="5%">Фор-ла выч. балла в ретинг</th>
				<th width="5%">Инд. предметов в зачёт за день</th>
				<th width="5%">Обяз. ли все приз. места</th>
				<th width="5%">Распределение по командам</th>
				<th width="5%">Названия для авт. команд</th>
				<th width="5%">Сумм. инд. предметы командам</th>
				<th width="5%">Сумм. гр. дни суперчемпиону</th>
				<th width="5%">Школьников в команде</th>
				<th width="5%">Тип кодировки</th>
				<th width="5%">Описание</th>
				<th width="5%">Заблокировано? (0 - нет, 1 - да)</th>
			</tr></thead>
			
			<tr>
				<td>1</td>
				<td>ИТИ ОШ-2019</td>
				<td>ИТИ-2019</td>
				<td>5 6 7 8 9</td>
				<td>2</td>
				<td>30</td>
				<td>0</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>-</td>
				<td>1</td>
				<td>1</td>
				<td>5</td>
				<td>0</td>
				<td>Только призовые места, дизайн №1</td>
				<td>1</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>ИТИ ОШ-2020</td>
				<td>ИТИ-2020</td>
				<td>5 6 7 8 9</td>
				<td>2</td>
				<td>30</td>
				<td>0</td>
				<td>2</td>
				<td>0</td>
				<td>0</td>
				<td>-</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
				<td>0</td>
				<td>Только призовые места, дизайн №1</td>
				<td>1</td>
			</tr>
			
			<tr>
				<td>3</td>
				<td>ИТИ ОШ-2021</td>
				<td>ИТИ-2021</td>
				<td>5 6 7 8 9</td>
				<td>2</td>
				<td>30</td>
				<td>0</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>1 2 3 4 5 6</td>
				<td>0</td>
				<td>1</td>
				<td>4</td>
				<td>0</td>
				<td>Всё сохранено, дизайн №1</td>
				<td>1</td>
			</tr>
			
			<tr>
				<td>4</td>
				<td>ИТИ НШ-2022</td>
				<td>ИТИ-2022</td>
				<td>2 3 4</td>
				<td>3</td>
				<td>30</td>
				<td>1</td>
				<td>2</td>
				<td>1</td>
				<td>2</td>
				<td>А Б В Г Д Е Ж З И М</td>
				<td>0</td>
				<td>1</td>
				<td>4</td>
				<td>0</td>
				<td>Всё сохранено, дизайн №1</td>
				<td>1</td>
			</tr>
			
			<tr>
				<td>5</td>
				<td>ИТИ ОШ-2022</td>
				<td>ИТИ-2022</td>
				<td>5 6 7 8 9</td>
				<td>2</td>
				<td>30</td>
				<td>0</td>
				<td>2</td>
				<td>0</td>
				<td>1</td>
				<td>1 2 3 4 5 6</td>
				<td>0</td>
				<td>1</td>
				<td>5</td>
				<td>0</td>
				<td>Всё сохранено, дизайн №2</td>
				<td>1</td>
			</tr>
			
			<tr>
				<td>6</td>
				<td>ИТИ НШ-2023</td>
				<td>ИТИ-2023</td>
				<td>2 3 4</td>
				<td>4</td>
				<td>30</td>
				<td>1</td>
				<td>2</td>
				<td>1</td>
				<td>2</td>
				<td>А Б В Г Д Е Ж З И М</td>
				<td>1</td>
				<td>0</td>
				<td>4</td>
				<td>0</td>
				<td>Всё сохранено, дизайн №2</td>
				<td>1</td>
			</tr>
			
		</table>
	</center></div>
</div>
{% endblock %}
