/* colors */
:root {
    --dark-grey-color: #d3d3d3;
    --dark2-grey-color: #dddddd;
    --light-grey-color: #f1f1f1;
    --light-blue-color: #5b64e1;
    --dark-blue-color: #3f48cc;
    --footer-color: #d0daee;
    --footer-height: 150px;
    --footer-height-p10: 160px;
    --box-shadow: 0 0 4px rgba(0,0,0,0.6);
}
body{
    margin: 0;
    padding: 0;
}

.current_year { color: blue; }
.p1 { background: #ffd700; }
.p2 { background: #c0c0c0; }
.p3 { background: #efa540; }



/* lines */
.white-line-50px {
    background-color: transparent;
    text-align: center;
    padding: 2px;
    height: 50px;
}



/* elements */
h1{ font-size: 24pt; }
h2{ font-size: 18pt; }
h3{ font-size: 15pt; }
h4{ font-size: 12pt; }

.error-msg {
    color: red;
}

.invisible {
    display: none;
    visibility: hidden;
}

.textarea-multiline-red {
    display: block;
    width: 50%;
    margin-left: 130px;
    margin-top: -20px;
    box-sizing: border-box;
    border: solid 2px #e06969;
    background-color: #fff;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
    resize: none;
}


.content{
    max-width: 81rem;
    padding-inline: 2rem;
    margin-inline: auto;
}

.danger-text{
    color: red;
}

/* js elements */
.js-textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 2px var(--light-blue-color);
    background-color: white;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    resize: none;
}

.input{
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
    border: 1px solid #666;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
