@media screen and (max-width: 800px) {
    .header-text-p {
        font-size: 19pt;
    }
}

@media screen and (max-width: 710px){
    .header-text-div {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 550px){
    :root{
        --footer-height: 250px;
        --footer-height-p10: 260px;
    }

    .footer-left {
        text-align: center;
    }

    .footer-right {
        text-align: center;
    }
}

@media screen and (max-width: 450px){
    .dropbtn {
        width: 130px;
        height: 50px;
        margin: 5px;
        border-radius: 5px;
        font-size: 10pt;
    }
    .dropdown-item {
        font-size: 10pt;
    }
    .header-logo-img {
        height: 50px;
    }
    .dropdown-menu {
        min-width: 140px;
        width: 140px;
    }
}

@media screen and (max-width: 315px){
    :root{
        --footer-height: 350px;
        --footer-height-p10: 360px;
    }
}


@media screen and (orientation: portrait) {
    .header-white-line {
        height: 20px;
    }
}
