/* page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    background-color: transparent;
    position: relative;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    padding-bottom: var(--footer-height-p10);
}



/* footer */
.footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--footer-height);
    background-color: var(--footer-color);
}

.footer-left {
    width: 130px;
    text-align: left;
}

.footer-center {
    width: 130px;
    text-align: center;
}

.footer-right {
    text-align: right;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* dropdown */
.dropbtn {
    width: 200px;
    height: 80px;
    text-align: center;
    background-color: var(--dark-blue-color);
    color: white;
    margin: 10px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 15pt;
    font-weight: bold;
}

.dropbtn:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--light-grey-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
    right: 0;
}

.dropdown-item {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-radius: 5px;
}

.dropdown-menu a:hover { background-color: var(--dark2-grey-color); }
.dropdown:hover .dropdown-menu { display: block;  margin-top: 0; }
.dropdown:hover .dropbtn { background-color: var(--dark-blue-color); }
