:root {
    --dark-grey-color: #d3d3d3;
    --dark2-grey-color: #dddddd;
    --light-grey-color: #f1f1f1;
    --light-blue-color: #5b64e1;
    --dark-blue-color: #3f48cc;
    --footer-color: #d0daee;
    --footer-height: 150px;
    --footer-height-p10: 160px;
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* text*/
.headtext {
    font-size: 25pt;
    text-align: center;
    visibility: visible;
    display: block;
}



/* lines */
.white-line {
    background-color: transparent;
    text-align: center;
    padding: 2px;
    height: 50px;
}


h1{ font-size: 24pt; text-align: center; }
h2{ font-size: 18pt; }
h3{ font-size: 15pt; }
h4{ font-size: 12pt; }

.error-msg {
    color: red;
}



/* messages */
.message {
    margin-left: 0;
    margin-right: 0;
}

.message-item {
    background-color: var(--light-grey-color);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.message-item:hover {
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.message-title {
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
}

.message-date {
    font-size: 10pt;
}

.message-content {
    font-size: 12pt;
}




/* js elements */
.js-textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 2px var(--light-blue-color);
    background-color: white;
    min-height: 54px;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 auto;
    resize: none;
}
