<!-- login required -->
<!-- -1 -->
{% extends "codes_table.html" %}

{% block header %}
<a href="main.html">ИТИ-2021</a>
/
Коды участников
{% endblock %}

{% block head %}
<center>
    <h1>Коды участников</h1>
    <p><a href="create_codes">Присвоить коды</a></p>
    <p><a href="print_codes">Вывести таблицу</a></p>
    {% if error %} <p><font color="red">[ {{ error }} ]</font></p> {% endif %}
</center>
{% endblock %}

{% block codes_table1 %}
<!-- codes_table 1 -->
<tr><td>5Я</td><td>Место 1</td><td>Имя5</td><td>9998</td></tr>
<tr><td>7Е</td><td>Место1</td><td>Имя7</td><td>9995</td></tr>
<tr><td>8Г</td><td>Место1</td><td>Имя8</td><td>9999</td></tr>
<!-- end -->
{% endblock %}

{% block codes_table2 %}
<!-- codes_table 2 -->
<tr><td>8Д</td><td>Место2</td><td>Имя8</td><td>9994</td></tr>
<tr><td>9А</td><td>Место 1</td><td>Имя</td><td>9997</td></tr>
<!-- end -->
{% endblock %}

{% block codes_table3 %}
<!-- codes_table 3 -->
<tr><td>9Б</td><td>Место 2</td><td>Имя</td><td>9993</td></tr>
<tr><td>9В</td><td>Место 3</td><td>Имя</td><td>9996</td></tr>
<!-- end -->
{% endblock %}
