<!-- login required -->
<!-- -1 -->
{% extends "codes_table.html" %}

{% block head %}
<center>
    <h1><!-- year -->ИТИ-2021<!-- end -->. Коды участников</h1><br>
    <a href="print_codes">Сгенерировать</a>
</center>
{% endblock %}

{% block codes_table1 %}
<!-- codes_table 1 -->
<tr><td>9t</td><td>surname</td><td>name</td><td>9998</td></tr><!-- end -->
{% endblock %}

{% block codes_table2 %}
<!-- codes_table 2 -->
<tr><td>9Ж</td><td>Фамилия__</td><td>Имя__</td><td>9997</td></tr><!-- end -->
{% endblock %}

{% block codes_table3 %}
<!-- codes_table 3 -->
<tr><td>9Ё</td><td>Фамилия__</td><td>Имя__</td><td>9999</td></tr><!-- end -->
{% endblock %}
