{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year -->ИТИ-2021<!-- end --></a>
                /
                <a href="rating.html">Рейтинг</a>
                /
                6 класс
            </font>
        </td>
    </tr>
</table>

<center><h1>Рейтинг 6 класс</h1></center>

<table width="100%">
    <tr>
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
    </tr>
    <tr>
        <!-- results --><tr>
</tr>
<!-- end -->
</table>

{% endblock %}
