{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2021</a>
/
<a href="rating.html">Рейтинг</a>
/
8 класс
{% endblock %}

{% block content %}
<center><h1>Рейтинг 8 класс</h1></center>

<div class="row col-12 justify-content-center">
    <!-- results -->
        <div class="col t-3">
            <center><h3>8Г</h3></center>
            <table width="100%" border="1">
                <tr>
                    <td width="10%">Место</td>
                    <td width="40%">Фамилия</td>
                    <td width="40%">Имя</td>
                    <td width="10%">Сумма</td>
                </tr>
                <tr class="p1"><td>1</td><td>Место1</td><td>Имя8</td><td>198</td></tr>
            </table>
        </div>
        <div class="col t-3">
            <center><h3>8Д</h3></center>
            <table width="100%" border="1">
                <tr>
                    <td width="10%">Место</td>
                    <td width="40%">Фамилия</td>
                    <td width="40%">Имя</td>
                    <td width="10%">Сумма</td>
                </tr>
                <tr class="p1"><td>1</td><td>Место2</td><td>Имя8</td><td>60</td></tr>
            </table>
        </div>
    <!-- end -->
</div>

{% endblock %}
