{% extends "rating_table.html" %}

{% block head %}
<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html"><!-- year -->ИТИ-2021<!-- end --></a>
                /
                Рейтинг
            </font>
        </td>
    </tr>
</table>
<center>
    <h1>Рейтинг</h1>
    {% if not current_user.is_anonymous and current_user.can_do(-1) %}
    <p><a href="ratings_update">Обновить рейтинг</a></p>
    {% if error %} <p><font color="red">[ {{ error }} ]</font></p>{% endif %}
    {% endif %}
</center>
{% endblock %}

{% block rating_teams %}
<!-- rating_student -->
<!-- end -->
{% endblock %}

{% block rating_student %}
<!-- rating_student -->
<!-- end -->
{% endblock %}

{% block rating_class %}
<!-- rating_class --><tr><td>1</td><td>8Г</td><td>149</td></tr>
<tr><td>2</td><td>9А</td><td>107</td></tr>
<tr><td>3</td><td>7Е</td><td>100</td></tr>
<tr><td>4</td><td>9В</td><td>90</td></tr>
<tr><td>5</td><td>9Б</td><td>80</td></tr>
<tr><td>6</td><td>5Я</td><td>43</td></tr>
<tr><td>7</td><td>8Д</td><td>30</td></tr>
<!-- end -->
{% endblock %}

{% block rating_parallel_5 %}
<!-- rating_parallel_5 --><tr><td>1</td><td>5Я</td><td>Место 1</td><td>Имя5</td><td>43</td></tr>
<!-- end -->
{% endblock %}

{% block rating_parallel_6 %}
<!-- rating_parallel_6 --><!-- end -->
{% endblock %}

{% block rating_parallel_7 %}
<!-- rating_parallel_7 --><tr><td>1</td><td>7Е</td><td>Место1</td><td>Имя7</td><td>100</td></tr>
<!-- end -->
{% endblock %}

{% block rating_parallel_8 %}
<!-- rating_parallel_8 --><tr><td>1</td><td>8Г</td><td>Место1</td><td>Имя8</td><td>149</td></tr>
<tr><td>2</td><td>8Д</td><td>Место2</td><td>Имя8</td><td>30</td></tr>
<!-- end -->
{% endblock %}

{% block rating_parallel_9 %}
<!-- rating_parallel_9 --><tr><td>1</td><td>9А</td><td>Место 1</td><td>Имя</td><td>107</td></tr>
<tr><td>2</td><td>9В</td><td>Место 3</td><td>Имя</td><td>90</td></tr>
<tr><td>3</td><td>9Б</td><td>Место 2</td><td>Имя</td><td>80</td></tr>
<!-- end -->
{% endblock %}
