{% extends "page2.html" %}
{% block content %}

<table width="100%">
    <tr>
        <td>
            <font size="3">
                <a href="main.html">ИТИ-2021</a>
                /
                Команды
            </font>
        </td>
    </tr>
</table>

<center>
    <h1>Команды</h1>
    <table width="30%" border="1">
        <tr>
            <td width="10%"><center>Вертикаль</center></td>
            <td width="90%"><center>Название</center></td>
        </tr>
        <!-- list of teams --><tr><td>А</td><td>Апельсин</td></tr>
<tr><td>Б</td><td>Бобры</td></tr>
<!-- end -->
    </table>
</center>
<br>
<table width="100%">
    <tr>
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
        <td width="5%" />
        <td width="30%" />
    </tr>
    <!-- list of students_in_team --><tr><td valign="top"><center><h2>Апельсин</h2></center>
            <table width="100%" border="1">
                <tr>
                    <td width="10%">Класс</td>
                    <td width="45%">Фамилия</td>
                    <td width="45%">Имя</td>
                </tr>
                <tr><td>5Я</td><td>Место 1</td><td>Имя5</td></tr>
<tr><td>7Е</td><td>Место1</td><td>Имя7</td></tr>
<tr><td>8Д</td><td>Место2</td><td>Имя8</td></tr>
<tr><td>9А</td><td>Место 1</td><td>Имя</td></tr>
</table></td>
<td/>
<td valign="top"><center><h2>Бобры</h2></center>
            <table width="100%" border="1">
                <tr>
                    <td width="10%">Класс</td>
                    <td width="45%">Фамилия</td>
                    <td width="45%">Имя</td>
                </tr>
                <tr><td>9Б</td><td>Место 2</td><td>Имя</td></tr>
</table></td>
<!-- end -->
</table>

{% endblock %}
