{% extends "page2.html" %}

{% block header %}
<a href="main.html">ИТИ-2021</a>
/
Расписание
{% endblock %}

{% block content %}
<center><h1>Расписание</h1></center>
<table width="100%" border="1">
    <tr>
        <td width="10%">Дата</td>
        <td width="25%">Предмет</td>
        <td width="10%">Классы</td>
        <td width="10%">Начало</td>
        <td width="10%">Конец</td>
        <td width="35%">Кабинеты</td>
    </tr>
    <!-- timetable -->
<tr><td>2021-08-01</td><td>Командный тур</td><td>5-9</td><td>10:00</td><td>14:00</td><td>Актовый зал</td></tr>
<tr><td>2021-08-01</td><td>Изобретательство</td><td>568</td><td>10:00</td><td>12:00</td><td>Техноцентр</td></tr>
<!-- end -->
</table>

<!-- message -->
<center><h1>Объявления</h1></center>
<p>Размещайте здесь свои объявления. Например:</p>
<ul>
    <li>Первое место в групповом туре по литературе не занял никто.</li>
    <li>Каждая команда должна набрать 6 пятиклассников...</li>
</ul>
<!-- end -->

{% endblock %}
