<!-- login required -->
<!-- -1 -->

{% extends "base.html" %}

{% block content %}
<center><h1>Настройки ИТИ</h1></center>

<div class="row col-12 justify-content-center">
    <div class="col t-3">
        <form action="subject_year" method="post"><center>
            <h2>Предметы:</h2>
            <table width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <h3>Индивидуальные туры:</h3>
                        <!-- list of year_individual tours --><!-- end -->
                    </td>
                    <td width="50%" valign="top">
                        <h3>Групповые туры:</h3>
                        <!-- list of year_group tours --><!-- end -->
                        <h3>Другое:</h3>
                        <!-- list of year_another tours --><!-- end -->
                    </td>
                </tr>
            </table>
            {% if error1 %} <p class="error-msg">[ {{ error1 }} ]</p>
            {% endif %}
            <input type="submit" value="Сохранить">
        </center></form>
    </div>
    <div class="col t-3"><center>
        <h2>Расписание:</h2>
        <form action="subject_description" method="post"><center>
            <p>Предмет (номер): <input type="text" name="subject"></p>
            <p>Классы: <input type="text" name="classes"></p>
            <p>Кабинет: <input type="text" name="place" size="40"></p>
            <p>
                День: <input type="date" name="date">
                Номер: <input type="text" name="n_d" size="5">
            </p>
            <p>
                Начало: <input type="time" name="start">
                Конец: <input type="time" name="end">
            </p>
            {% if error6 %} <p class="error-msg">[ {{ error6 }} ]</p>
            {% endif %}
            <p><input type="submit" value="Сохранить"></p>
        </center></form>
        <br>
        <h2><a href="public_description">Опубликовать расписание</a></h2>
        {% if error11 %} <p class="error-msg">[ {{ error11 }} ]</p>{% endif %}
        <br>
        {% if full %}
        <h2>Блокировка:</h2>
        <form onsubmit="year_block(this); return false;"><center>
            <!-- is_block -->
                <p><input type="radio" name="block" value="0" checked>Разблокировано</p>
                <p><input type="radio" name="block" value="1">Заблокировано</p>
            <!-- end -->
            <p><input type="submit" value="Сохранить"></p>
        </center></form>
        {% endif %}
    </center></div>
    <div class="col td-2"><center>
        <h2>Объявления:</h2>
        <table border="1">
            <tr>
                <td width="5%">ID</td>
                <td width="20%">Заголовок</td>
                <td width="50%">Содержимое</td>
                <td width="15%">Время</td>
            </tr>
            {% for msg in messages %}
            <tr>
                <td>{{ msg.id }}</td>
                <td>{{ msg.title }}</td>
                <td>{{ msg.content }}</td>
                <td>{{ msg.time_str(True) }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Добавить:</h3>
        <form action="add_message" method="post"><center>
            <p><textarea name="title" class="js-textarea" placeholder="Заголовок"></textarea></p>
            <p><textarea name="content" class="js-textarea" placeholder="Содержимое"></textarea></p>
            <p>Время публикации (текущее по умолчанию):
                <input type="date" name="date">
                <input type="time" name="time">
            </p>
            {% if error7 %} <p class="error-msg">[ {{ error7 }} ]</p>
            {% endif %}
            <p><input type="submit" value="Добавить"></p>
        </center></form>
        <br>
        <h3>Редактировать:</h3>
        <form action="edit_message" method="post"><center>
            <p>Номер: <input type="text" name="id"></p>
            <p><textarea name="title" class="js-textarea" placeholder="Заголовок"></textarea></p>
            <p><textarea name="content" class="js-textarea" placeholder="Содержимое"></textarea></p>
            <p>Время публикации:
                <input type="date" name="date">
                <input type="time" name="time">
            </p>
            <p>Если поле оставить пустым, то измения этого параметра не произойдёт.</p>
            {% if error9 %} <p class="error-msg">[ {{ error9 }} ]</p>
            {% endif %}
            <p><input type="submit" value="Сохранить"></p>
        </center></form>
        <br>
        <h3>Удалить:</h3>
        <form action="delete_message" method="post"><center>
            <p>Номер: <input type="text" name="id"></p>
            {% if error10 %} <p class="error-msg">[ {{ error10 }} ]</p>
            {% endif %}
            <p><input type="submit" value="Удалить"></p>
        </center></form>
    </center></div>
</div>
<br>
{% if adm %}
<a href="download_excel">Скачать все данные за год в формате Excel.</a>
{% endif %}

<script>initTextArea()</script>
{% endblock %}
