<!-- login required -->

{% extends "base.html" %}

{% block content %}
<center>
    <h1>Настройки команд</h1>
    {% if adm %}
        <br>
        <h3><a href="automatic_division">Автоматическое распределение</a></h3>
        {% if error9 %} <p class="error-msg">[ {{ error9 }} ]</p> {% endif %}
    {% endif %}
</center>
<br>

<div class="row col-12 justify-content-center">
    {% if adm %}
    <div class="col t-3"><center>
        <h2>Команды:</h2>
        <table width="85%" border="1">
            <tr>
                <td width="5%"><center>Номер</center></td>
                <td width="5%"><center>Вертикаль</center></td>
                <td width="30%"><center>Название</center></td>
            </tr>
            <!-- list of teams (full) -->
            <!-- end -->
        </table>
        <form onsubmit="team_add(this); return false;"><center>
            <h3>Новая команда:</h3>
            <p>Название: <input type="text" name="name"></p>
            <p>Вертикаль: <input type="text" name="later"></p>
            <input type="submit" value="Добавить">
            <p>Первая буква вертикали автоматически переводится в верхний регистр.</p>
        </center></form>
        <form onsubmit="team_edit(this); return false;"><center>
            <h3>Изменить команду:</h3>
            <p>ID: <input type="text" name="id"></p>
            <p>Новое название: <input type="text" name="name"></p>
            <p>Новая вертикаль: <input type="text" name="later"></p>
            <input type="submit" value="Обновить">
        </center></form>
        <form onsubmit="team_delete(this); return false;"><center>
            <h3>Удалить команду:</h3>
            <p>ID: <input type="text" name="id"></p>
            <input type="submit" value="Удалить">
        </center></form>
    </center></div>
    <div class="col t-3"><center>
        <h2>Участники команд:</h2>
        <form onsubmit="team_student_add(this); return false;"><center>
            <h3>Новый участник:</h3>
            <p>Команда (ID): <input type="text" name="team"></p>
            <p>Участник (ID): <input type="text" name="student"></p>
            <input type="submit" value="Добавить">
        </center></form>
        <form onsubmit="team_student_delete(this); return false;"><center>
            <h3>Удалить участника:</h3>
            <p>Команда (ID): <input type="text" name="team"></p>
            <p>Участник (ID): <input type="text" name="student"></p>
            <input type="submit" value="Удалить">
        </center></form>
    </center></div>
    {% endif %}
    <div class="col t-2"><center>
        <h2>Ваши команды:</h2>
        {% for team in teams %}
            <form onsubmit="subject_student_save(this); return false;"><center>
                <h3>{{ team[0] }}</h3>
                <table border="1">
                    <tr>
                        <td width="10%">Класс</td>
                        <td width="45%">Фамилия</td>
                        <td width="45%">Имя</td>
                        {% if team[0] != 'Отказ' %}
                            {% for subject in subjects %}
                                <td width="5%">{{subject}}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% for x in team[1] %}
                        <tr>
                            {% for y in x %}{% if team[0] != 'Отказ' or not y[0] %}<td>
                                {% if not y[0] %} {{ y[1] }}
                                {% elif y[2] %}
                                    <input type="checkbox" name="subject" value="{{ y[0] }}_{{ y[1] }}" checked>
                                    <input type="checkbox" name="old_subject" value="{{ y[0] }}_{{ y[1] }}" checked hidden>
                                {% else %}
                                    <input type="checkbox" name="subject" value="{{ y[0] }}_{{ y[1] }}">
                                    <input type="checkbox" name="old_subject" value="{{ y[0] }}_{{ y[1] }}" hidden>
                                {% endif %}
                            </td>{% endif %}{% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <input type="submit" value="Сохранить">
            </center></form>
            <br>
        {% endfor %}
        {% if error5 %} <p class="error-msg">[ {{ error5 }} ]</p>
        {% endif %}
    </center></div>
</div>

{% endblock %}
