{% extends "base.html" %}

{% block content %}
<center>
    <h1>Расписание</h1>
    <table border="1" class="td-1">
        <tr>
            <td width="6%">День</td>
            <td width="14%">Дата</td>
            <td width="21%">Предмет</td>
            <td width="10%">Классы</td>
            <td width="8%">Начало</td>
            <td width="8%">Конец</td>
            <td width="35%">Кабинеты</td>
        </tr>
        <!-- timetable --><!-- end -->
    </table>
</center>
<br>
<!-- message --><!-- end -->

{% endblock %}
